Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: libraries, module, database, vector, raster, raster3d, temporal, imagery, GUI, Windows, macOS, Linux, docker, RFC, translation, CI, Python, C, C++, CSS, HTML, JavaScript

compute granularity from time tuples
  python/grass/temporal/temporal_granularity.py
Labels: libraries, Python

update metadata from DB
  python/grass/temporal/abstract_space_time_dataset.py
Labels: libraries, Python

black
  python/grass/temporal/abstract_space_time_dataset.py
Labels: libraries, Python

flake8
  python/grass/temporal/temporal_granularity.py
Labels: libraries, Python

more flake8
  python/grass/temporal/abstract_space_time_dataset.py
Labels: libraries, Python

wxGUI/vdigit: fix close frame if Vector Digitizer is run as standalone app (#2456)
  gui/wxpython/gui_core/mapdisp.py
Labels: GUI, Python

wxGUI: Avoid overlapping module parameters in Graphical modeler (#2991)
  gui/wxpython/gmodeler/frame.py
Labels: GUI, Python

wxGUI/iclass: fix showing scatter plots (#3169)
  gui/wxpython/iscatt/plots.py
Labels: GUI, Python

grass.script: ensure memmap content is flushed before writing to a raster (#3206)
  python/grass/script/array.py
Labels: libraries, Python

wxGUI/dbmgr: fix removing map table layer and layer related Browse data and Manage tables page (tab) (#2422)
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/widgets.py
Labels: GUI, Python

wxGUI/psmap: fix show correct error message if Ghostscript isn't installed (#2420)
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/g.gui.psmap.html
Labels: GUI, Python, HTML

wxGUI/mapswipe: fix saving display to file (#3185)
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/psmap/frame.py
Labels: GUI, Python

docker: implement multi-stage-builds for ubuntu (#3170)
  .dockerignore
  docker/testdata/test_docker_image.sh
  docker/testdata/test_grass_python.py
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
Labels: docker, Python

wxGUI/iclass: fix zoom to scatter plot extend (#3184)
  gui/wxpython/iscatt/plots.py
Labels: GUI, Python

wxGUI/gmodeler: fix storing current model settings to model file (#3188)
  gui/wxpython/gmodeler/frame.py
Labels: GUI, Python

wxGUI/iclass: fix closing scatter plot pane via x button (#3172)
  gui/wxpython/iscatt/frame.py
  gui/wxpython/iscatt/plots.py
Labels: GUI, Python

manual: r.sunmask and i.topo.corr improvements (#3159)
  imagery/i.topo.corr/i.topo.corr.html
  raster/r.sunmask/r.sunmask.html
Labels: module, raster, imagery, HTML

wxGUI/psmap: fix showing image map element preview (#3193)
  gui/wxpython/psmap/dialogs.py
Labels: GUI, Python

wxGUI/dbmgr: update Browse data page Simple SQL Query WHERE ComboBox widget column names choices (#2438)
  gui/wxpython/dbmgr/base.py
Labels: GUI, Python

i.signatures: Add imagery classifier signature management module (#3008)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/xml/toolboxes.xml
  imagery/Makefile
  imagery/i.gensig/i.gensig.html
  imagery/i.gensigset/i.gensigset.html
  imagery/i.signatures/Makefile
  imagery/i.signatures/i.signatures.html
  imagery/i.signatures/main.c
  imagery/i.signatures/testsuite/test_i_signatures.py
  lib/imagery/manage_signatures.c
Labels: libraries, module, imagery, GUI, Python, C, HTML

wxGUI/nviz: make tools panel verically and horizontally scrollable (#3089)
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

wxGUI/psmap: fix simple point graphic recalculate position (#3164)
  gui/wxpython/psmap/frame.py
Labels: GUI, Python

wxGUI/preferences: fix setting command output font (#3187)
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python

utils: fix clang-format version check (#3186)
  utils/grass_clang_format.sh
Labels: none

wxGUI/psmap: fix vector map properties dialog correct typing the name of the vector map (#3087)
  gui/wxpython/psmap/dialogs.py
Labels: GUI, Python

manual: i.ortho.* update broken module references (#3175)
  imagery/i.ortho.photo/i.ortho.camera/i.ortho.camera.html
  imagery/i.ortho.photo/i.ortho.elev/i.ortho.elev.html
  imagery/i.ortho.photo/i.ortho.init/i.ortho.init.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.ortho.photo/i.ortho.target/i.ortho.target.html
  imagery/i.ortho.photo/lib/conz_points.c
Labels: module, imagery, C, HTML

wxGUI/iclass: fix activating scatter plot pane toolbar tools (#3182)
  gui/wxpython/iscatt/toolbars.py
Labels: GUI, Python

t.rast.univar: Add region_relation option for spatial filtering STDS by computational region (#2793)
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.html
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  temporal/temporalintro.html
Labels: libraries, module, temporal, Python, HTML

wxGUI/psmap: fix vector line map props dialog PenStyleComboBox widget drawing items (#3162)
  gui/wxpython/psmap/dialogs.py
Labels: GUI, Python

Update v.reclass.html: either 'rules' or 'column' option must be specified (#3067)
  vector/v.reclass/v.reclass.html
Labels: module, vector, HTML

docs: update and cleanup of infrastructure.md (#3157)
  doc/infrastructure.md
Labels: none

g.extension: fix registration addon with module name start with 2 chars (#3168)
  scripts/g.extension/g.extension.py
Labels: module, Python

wxGUI/main_window: add and use custom SingleWindowAuiManager class (#3177)
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/dbmgr: do not modify layer settings if settings have not changed (#3143)
  gui/wxpython/dbmgr/base.py
Labels: GUI, Python

g.extension: fix installing addons on the OS MS Windows (#3166)
  scripts/g.extension/g.extension.py
Labels: module, Python

Translated using Weblate (Korean) (#3181)
  locale/po/grasslibs_ko.po
Labels: translation

docs: update howto_release.md (main) (#3176)
  doc/howto_release.md
Labels: none

wxGUI/image2target: fix showing Ground Control Points settings dialog (#3189)
  gui/wxpython/image2target/ii2t_manager.py
Labels: GUI, Python

Docker: Sync main Dockerfile to docker/ubuntu/Dockerfile (#3205)
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker, CI

.github/labeler.yml:

---
libraries:
  - changed-files:
      - any-glob-to-any-file:
          - lib/**/*
          - include/grass/*
          - include/grass/**/*
          - python/**/*
module:
  - changed-files:
      - any-glob-to-any-file:
          - db/**/*
          - display/**/*
          - general/**/*
          - imagery/**/*
          - misc/**/*
          - ps/**/*
          - raster/**/*
          - raster3d/**/*
          - scripts/**/*
          - temporal/**/*
          - vector/**/*
database:
  - changed-files:
      - any-glob-to-any-file:
          - db/**/*
          - lib/db/**/*
vector:
  - changed-files:
      - any-glob-to-any-file:
          - vector/**/*
          - lib/vector/**/*
raster:
  - changed-files:
      - any-glob-to-any-file:
          - raster/**/*
          - lib/raster/**/*
raster3d:
  - changed-files:
      - any-glob-to-any-file:
          - raster3d/**/*
          - lib/raster3d/**/*
temporal:
  - changed-files:
      - any-glob-to-any-file:
          - temporal/**/*
          - lib/temporal/**/*
imagery:
  - changed-files:
      - any-glob-to-any-file:
          - imagery/**/*
          - lib/imagery/**/*

GUI:
  - changed-files:
      - any-glob-to-any-file:
          - gui/**/*
Windows:
  - changed-files:
      - any-glob-to-any-file:
          - mswindows/**/*
macOS:
  - changed-files:
      - any-glob-to-any-file:
          - macosx/**/*
Linux:
  - changed-files:
      - any-glob-to-any-file:
          - singularity/**/*
docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/**/*
          - '**/*Dockerfile*'
          - '**/*dockerfile*'
docs:
  - changed-files:
      - any-glob-to-any-file:
          - doc/**/*
          - man/**/*
          - '**/*.md'
          - '**/*.rst'
          - '**/*.html'
      - all-globs-to-all-files:
          - '!doc/development/rfc/*'
RFC:
  - changed-files:
      - any-glob-to-any-file: 
          - doc/development/rfc/*
translation:
  - changed-files:
      - any-glob-to-any-file: locale/**/*
CI:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - .travis/**/*

# based on file types
Python:
  - changed-files:
      - any-glob-to-any-file: '**/*.py'
C:
  - changed-files:
      - any-glob-to-any-file: '**/*.c'
C++:
  - changed-files:
      - any-glob-to-any-file: '**/*.cpp'
CSS:
  - changed-files:
      - any-glob-to-any-file: '**/*.css'
HTML:
  - changed-files:
      - any-glob-to-any-file: '**/*.html'
JavaScript:
  - changed-files:
      - any-glob-to-any-file: '**/*.js'
Markdown:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
      - all-globs-to-all-files:
          - '!doc/development/rfc/*'
