Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

use chunks
  scripts/v.db.join/v.db.join.py
Labels: module, Python

reduce to 100er chunks
  scripts/v.db.join/v.db.join.py
Labels: module, Python

apply black
  scripts/v.db.join/v.db.join.py
Labels: module, Python

parser: add markdown support (#3230)
  lib/gis/parser.c
  lib/gis/parser_help.c
  lib/gis/parser_html.c
  lib/gis/parser_interface.c
  lib/gis/parser_local_proto.h
  lib/gis/parser_rest.c
  lib/gis/parser_rest_md.c
  raster/r.mapcalc/main.c
  utils/md_isvalid.py
  utils/mdl_style.rb
  vector/v.to.db/parse.c
Labels: libraries, module, vector, raster, Python, C

parser: Support renamed flags (flags/options to options/flags as well) (#3256)
  lib/gis/parser.c
Labels: libraries, C

Use long total_count to avoid int overflow (#3203)
  raster/r.stats/stats.c
Labels: module, raster, C

minor improvements
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
Labels: GUI, Python

wxGUI: New History pane for launching commands from history log (#3234)
  gui/wxpython/Makefile
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/Makefile
  python/grass/grassdb/history.py
Labels: libraries, GUI, Python

r.cross: fix outdated doc (max 10 changed to 30 layers)
  raster/r.cross/r.cross.html
Labels: module, raster, HTML

wxGUI/preferences: allow the user to change the font size/face of the manual page (#3291)
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python

r.cross: fix outdated doc (max 10 changed to 30 layers) (#3294)
  raster/r.cross/r.cross.html
Labels: module, raster, HTML

r.cross: fix outdated doc (max 10 changed to 30 layers) (#3294)
  raster/r.cross/r.cross.html
Labels: module, raster, HTML

v.out.ogr/local_proto.h: remove GDAL < 2.2 code
  vector/v.out.ogr/local_proto.h
Labels: module, vector

v.in.ogr/global.h: remove GDAL < 2.2 code
  vector/v.in.ogr/global.h
Labels: module, vector

v.external: remove GDAL1 code
  vector/v.external/list.c
Labels: module, vector, C

v.in.ogr: remove GDAL < 2.2 code
  vector/v.in.ogr/main.c
Labels: module, vector, C

defs/gis.h: remove GDAL <2.3 code
  include/grass/defs/gis.h
Labels: libraries

v.out.ogr/attrib.c: remove GDAL < 2.2 code
  vector/v.out.ogr/attrb.c
Labels: module, vector, C

v.out.ogr: remove GDAL < 2.2 code
  vector/v.out.ogr/list.c
Labels: module, vector, C

db/drivers/ogr: remove GDAL < 2.2 code
  db/drivers/ogr/fetch.c
Labels: module, database, C

Vlib/field.c: remove GDAL1 code
  lib/vector/Vlib/field.c
Labels: libraries, C

v.external/main.c: remove GDAL < 2.2 code
  vector/v.external/main.c
Labels: module, vector, C

v.out.ogr/create.c: remove GDAL < 2.2 code
  vector/v.out.ogr/create.c
Labels: module, vector, C

v.external/proto.h: remove GDAL < 2.2 code
  vector/v.external/local_proto.h
Labels: module, vector

apply clang-format
  db/drivers/ogr/describe.c
  db/drivers/ogr/execute.c
  vector/v.in.ogr/main.c
  vector/v.out.ogr/local_proto.h
Labels: module, vector, database, C

v.out.ogr/main.c: remove GDAL < 2.2 code
  vector/v.out.ogr/main.c
Labels: module, vector, C

v.in.ogr: fix main.c
  vector/v.in.ogr/main.c
Labels: module, vector, C

v.external/proj.c: remove GDAL < 1 code
  vector/v.external/proj.c
Labels: module, vector, C

db/drivers/ogr/describe.c: remove GDAL < 2.2 code
  db/drivers/ogr/describe.c
Labels: module, database, C

v.in.ogr/geom.c: remove GDAL < 2.2 code
  vector/v.in.ogr/geom.c
Labels: module, vector, C

r.in.gdal: remove GDAL < 2.0 code
  raster/r.in.gdal/main.c
Labels: module, raster, C

r.in.gdal: remove GDAL1 code
  raster/r.in.gdal/main.c
Labels: module, raster, C

v.in.proj/proj.c: remove GDAL < 1 code
  vector/v.in.ogr/proj.c
Labels: module, vector, C

db/drivers/ogr/execute.c: remove GDAL < 2.2 code
  db/drivers/ogr/execute.c
Labels: module, database, C

remove obsolete macros and use GDAL functions
  vector/v.external/local_proto.h
  vector/v.external/main.c
  vector/v.external/proj.c
  vector/v.in.ogr/global.h
  vector/v.in.ogr/main.c
  vector/v.in.ogr/proj.c
  vector/v.out.ogr/create.c
  vector/v.out.ogr/local_proto.h
  vector/v.out.ogr/main.c
Labels: module, vector, C

Update OpenMP configuration code
  aclocal.m4
  configure
Labels: none

fix typo
  aclocal.m4
Labels: none

r.horizon: fix bug in point mode computation (#3288)
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: module, raster, Python, C

r.horizon: fix bug in point mode computation (#3288)
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: module, raster, Python, C

Apply suggestions from code review
  lib/external/README.md
Labels: libraries, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"
