Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

update parson from 1.5.2 to 1.5.3 released Oct 31st
  lib/external/parson/parson.c
  lib/external/parson/parson.h
Labels: libraries, C

r.horizon: cleanup unused functions/variables
  raster/r.horizon/local_proto.h
  raster/r.horizon/main.c
Labels: module, raster, C

get rid of some global variables
  raster/r.horizon/main.c
Labels: module, raster, C

r.horizon: fix computation in test_low_res()
  raster/r.horizon/main.c
Labels: module, raster, C

wxGUI/history: fix printing module GUI stderr inside wxGUI Console
  gui/wxpython/core/gcmd.py
  gui/wxpython/gui_core/forms.py
Labels: GUI, Python

wxGUI/history: enable run special command e.g. d.rast, d.vect etc., as well as from the wxGUI console
  .flake8
  gui/wxpython/core/globalvar.py
  gui/wxpython/history/browser.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/lmgr: fix connect runIgnoredCmdPattern signal to method handler
  gui/wxpython/lmgr/frame.py
Labels: GUI, Python

wxGUI/history: fix printing module GUI stderr inside wxGUI Console (#3300)
  gui/wxpython/core/gcmd.py
  gui/wxpython/gui_core/forms.py
Labels: GUI, Python

update docs for autoconf v 2.71
  doc/development/submitting/general.md
Labels: docs, Markdown

g.proj: add test of g.proj -w
  general/g.proj/testsuite/test_g_proj.py
Labels: module, Python

db.dropcolumn: Circumvent length limit for sqlite3 SQL STDIN string (#3273)
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

db.dropcolumn: Circumvent length limit for sqlite3 SQL STDIN string (#3273)
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

attempt to fix g.proj -w on windows
  general/g.proj/output.c
Labels: module, C

wxGUI/preferences: allow the user set maximum memory to be used by modules
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/wxgui.py
Labels: GUI, Python

g.proj: fix wkt output on Windows (#3306)
  general/g.proj/output.c
  general/g.proj/testsuite/test_g_proj.py
Labels: module, Python, C

continue rewrite
  raster/r.horizon/main.c
Labels: module, raster, C

Revert "wxGUI/preferences: allow the user set maximum memory to be used by modules"
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/wxgui.py
Labels: GUI, Python

Incorporate suggestions
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python

Remove outdated section about ignore-revs on GitHub in investigating_history.md (#3269)
  doc/git/investigating_history.md
Labels: docs, Markdown

g.proj: fix wkt output on Windows (#3306)
  general/g.proj/output.c
  general/g.proj/testsuite/test_g_proj.py
Labels: module, Python, C

wxGUI/history: enable run special command e.g. d.rast, d.vect etc., as well as from the wxGUI Console (#3302)
  .flake8
  gui/wxpython/core/globalvar.py
  gui/wxpython/history/browser.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/main_window: fix switches Map Display frame to full screen mode by keyboard shortcut
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

Refactor code
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

reduce scope of variables, rearange functions
  raster/r.horizon/TODO
  raster/r.horizon/local_proto.h
  raster/r.horizon/main.c
Labels: module, raster, C

unused vars
  raster/r.horizon/main.c
Labels: module, raster, C

build: Remove compatibility with GDAL 1 and <2.2 (#2995)
  db/drivers/ogr/describe.c
  db/drivers/ogr/execute.c
  db/drivers/ogr/fetch.c
  include/grass/defs/gis.h
  lib/vector/Vlib/field.c
  raster/r.in.gdal/main.c
  vector/v.external/list.c
  vector/v.external/local_proto.h
  vector/v.external/main.c
  vector/v.external/proj.c
  vector/v.in.ogr/geom.c
  vector/v.in.ogr/global.h
  vector/v.in.ogr/main.c
  vector/v.in.ogr/proj.c
  vector/v.out.ogr/attrb.c
  vector/v.out.ogr/create.c
  vector/v.out.ogr/list.c
  vector/v.out.ogr/local_proto.h
  vector/v.out.ogr/main.c
Labels: libraries, module, vector, raster, database, C

wxGUI/history: add SearchCtrl widget
  gui/wxpython/history/browser.py
Labels: GUI, Python

wxGUI/history: add pop-up command menu with an item for delete command from history
  gui/wxpython/history/browser.py
Labels: GUI, Python

Remove unnecessary ExpandAll() method call
  gui/wxpython/history/browser.py
Labels: GUI, Python

Handle opening history file exception
  gui/wxpython/history/browser.py
Labels: GUI, Python

v.in.wfs: enhanced for alkis data import
  scripts/v.in.wfs/v.in.wfs.html
  scripts/v.in.wfs/v.in.wfs.py
Labels: module, Python, HTML

grass.pygrass: Support shortened parameter values (#3275)
  python/grass/pygrass/modules/interface/parameter.py
  vector/v.to.rast/testsuite/test_v_to_rast.py
Labels: libraries, module, vector, Python

wxGUI/preferences: allow the user save/load single-window mode panes layout
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

change fatal error message
  vector/v.in.ogr/geom.c
Labels: module, vector, C

v.in.ogr: add fix for unclosed rings (#3282)
  vector/v.in.ogr/geom.c
Labels: module, vector, C

configure: update to autoconf 2.71 (#2281)
  aclocal.m4
  configure
  configure.ac
  doc/development/submitting/general.md
  imagery/i.cluster/global.h
  include/grass/config.h.in
Labels: libraries, module, docs, Markdown

Do not minimize floating pane
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

Fix Python GDAL package name
  gui/wxpython/gui_core/gselect.py
Labels: GUI, Python

CI: Add Python 3.12 to pytest's matrix
  .github/workflows/pytest.yml
Labels: CI

Fix labels
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"
