Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

v.out.ogr: fix append+overwrite mode
  vector/v.out.ogr/main.c
Labels: module, vector, C

Use DoozyX/clang-format-lint-action to run clang-format faster
  .github/workflows/clang-format-check.yml
Labels: CI

md_valid: use gs.tempfile()
  utils/md_isvalid.py
Labels: Python

speed_up
  scripts/v.db.join/v.db.join.py
Labels: module, Python

fix MD002 First header should be a top level header + some rest cosmetics
  lib/gis/parser_rest_md.c
Labels: libraries, C

add comments
  scripts/v.db.join/v.db.join.py
Labels: module, Python

apply black
  scripts/v.db.join/v.db.join.py
Labels: module, Python

remove unnecessary import
  scripts/v.db.join/v.db.join.py
Labels: module, Python

fix MD013 Line length and MD033 Inline HTML
  lib/gis/parser.c
  lib/gis/parser_help.c
  lib/gis/parser_html.c
  lib/gis/parser_interface.c
  lib/gis/parser_local_proto.h
  lib/gis/parser_rest_md.c
Labels: libraries, C

solve MD026
  utils/md_isvalid.py
Labels: Python

md_isvalid: exit on failure
  utils/md_isvalid.py
Labels: Python

synopsis: fix MD013
  lib/gis/parser_rest_md.c
Labels: libraries, C

remove extra whitespaces
  lib/gis/parser_rest_md.c
Labels: libraries, C

fix several modules description
  display/d.rgb/main.c
  lib/gis/parser_rest_md.c
  utils/md_isvalid.py
  utils/mdl_style.rb
Labels: libraries, module, Python, C

revert d.rgb changes
  display/d.rgb/main.c
Labels: module, C

fix r.mapcalc descriptions
  raster/r.mapcalc/main.c
Labels: module, raster, C

fix v.to.db descriptions
  vector/v.to.db/parse.c
Labels: module, vector, C

various fixes (rules)
  lib/gis/parser_rest_md.c
  utils/md_isvalid.py
  utils/mdl_style.rb
Labels: libraries, Python, C

modify md026 and exclude md037
  lib/gis/parser_rest_md.c
  utils/mdl_style.rb
Labels: libraries, C

black applied
  utils/md_isvalid.py
Labels: Python

r.horizon: fix bug in point mode computation
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: module, raster, Python, C

apply clang-format
  lib/gis/parser.c
  lib/gis/parser_rest_md.c
  raster/r.mapcalc/main.c
  vector/v.to.db/parse.c
Labels: libraries, module, vector, raster, C

fix syntax typo
  lib/gis/parser_rest_md.c
Labels: libraries, C

define print_escaped_for_html/md_keywords as static functions
  lib/gis/parser_html.c
  lib/gis/parser_local_proto.h
  lib/gis/parser_rest_md.c
Labels: libraries, C

md_isvalid do not stop on failure
  utils/md_isvalid.py
Labels: Python

i.cca use all signature var values (thanks @metzm for spotting the bug)
  imagery/i.cca/main.c
Labels: module, C

remove addcolumn part
  scripts/v.db.join/v.db.join.py
Labels: module, Python

remove unnecessary import
  scripts/v.db.join/v.db.join.py
Labels: module, Python

fix keyword links, replace space with %20, eg. v.to.db: keyword.html#bounding0box
  lib/gis/parser_rest_md.c
Labels: libraries, C

Update utils/md_isvalid.py: ruby installer
  utils/md_isvalid.py
Labels: Python

Update lib/gis/parser_rest_md.c: strip leading and trailing white space from keyword string
  lib/gis/parser_rest_md.c
Labels: libraries, C

make str copy before stripping space from keyword string
  lib/gis/parser_rest_md.c
Labels: libraries, C

parser: Fix key-value pairs for t.* modules in renamed_options (#3260)
  lib/gis/renamed_options
Labels: libraries

Remove "in GRASS 7"
  lib/gis/parser.c
Labels: libraries, C

Declare and assign renamed_key in one line
  lib/gis/parser.c
Labels: libraries, C

wxGUI/preferences: allow the user to change the font size/face of the manual page
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python

Remove unnecessary derived classes
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
Labels: GUI, Python

md_isvalid: fix reporting number of processed commands
  utils/md_isvalid.py
Labels: Python

docs: add GRASS docker section to infrastructure.md (#3277)
  doc/infrastructure.md
Labels: docs, Markdown

docs: add GRASS docker section to infrastructure.md (#3277)
  doc/infrastructure.md
Labels: docs, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"
