Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

rename methods map -> main
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
Labels: GUI, Python

work in process
  gui/wxpython/core/settings.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/menudata.py
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

add missing module
  gui/wxpython/main_window/page.py
Labels: GUI, Python

+_pgnumDict()
  gui/wxpython/main_window/page.py
Labels: GUI, Python

rename notebook to _mainnotebook to avoid variable override
  gui/wxpython/main_window/page.py
Labels: GUI, Python

new icon modeler-settings, add model properies into toolbar'
  gui/icons/grass/modeler-settings.png
  gui/wxpython/gmodeler/toolbars.py
Labels: GUI, Python

black applied
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gmodeler/toolbars.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
  gui/wxpython/main_window/page.py
  gui/wxpython/mapdisp/frame.py
Labels: GUI, Python

fix multiwindow layout
  gui/wxpython/lmgr/frame.py
Labels: GUI, Python

remove unused import
  gui/wxpython/gmodeler/frame.py
Labels: GUI, Python

remove unused import
  gui/wxpython/gmodeler/panels.py
Labels: GUI, Python

remove unused import
  gui/wxpython/gmodeler/panels.py
Labels: GUI, Python

disable E1101
  gui/wxpython/main_window/page.py
Labels: GUI, Python

black applied
  gui/wxpython/main_window/page.py
Labels: GUI, Python

pylint: change from inline solution to .pyintrc
  gui/wxpython/.pylintrc
  gui/wxpython/main_window/page.py
Labels: GUI, Python

wxGUI: rewrite and document core.utils.ListOfMapsets to not cause GUI crash in certain circumstances
  gui/wxpython/core/utils.py
Labels: GUI, Python

address review
  gui/wxpython/core/utils.py
Labels: GUI, Python

v.to.rast: Change use=val to use=value (#3110)
  gui/wxpython/rlisetup/functions.py
  gui/wxpython/rlisetup/sampling_frame.py
  scripts/r.mask/r.mask.py
  vector/v.to.rast/main.c
  vector/v.to.rast/v.to.rast.html
Labels: module, vector, GUI, Python, C, HTML

r.buffer: replace deprecated np.int0 with np.intp
  python/grass/pygrass/raster/buffer.py
Labels: libraries, Python

fix pyint ignored-classes
  gui/wxpython/.pylintrc
Labels: GUI

wxGUI: rewrite and document core.utils.ListOfMapsets to not cause GUI crash in certain circumstances (#3226)
  gui/wxpython/core/utils.py
Labels: GUI, Python

Put back the changes now with updates from main
  doc/howto_release.md
Labels: docs, Markdown

Add URL syntax
  doc/howto_release.md
Labels: docs, Markdown

Add files via upload
  imagery/i.atcorr/altitude.cpp
  imagery/i.atcorr/iwave.cpp
Labels: module, C++

RFC: Python Language Support (#2816)
  doc/development/rfc/python_language_support.md
Labels: docs, Markdown

first draft
  lib/gis/parser.c
  lib/gis/parser_local_proto.h
  lib/gis/parser_rest.c
  lib/gis/parser_rest_md.c
Labels: libraries, C

escape properly
  lib/gis/parser_html.c
  lib/gis/parser_local_proto.h
  lib/gis/parser_rest_md.c
Labels: libraries, C

fix default/options
  lib/gis/parser_rest_md.c
Labels: libraries, C

g.gui.example: fix typo in statitistics -> statistics
  doc/gui/wxpython/example/frame.py
Labels: docs, Python

g.gui.example: fix broken module
  doc/gui/wxpython/example/README
  doc/gui/wxpython/example/dialogs.py
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/toolbars.py
Labels: docs, Python

fix rst
  lib/gis/parser_rest_md.c
Labels: libraries, C

add support for thumbnails
  lib/gis/parser_rest_md.c
Labels: libraries, C

Update lib/gis/parser_rest_md.c
  lib/gis/parser_rest_md.c
Labels: libraries, C

add utils/md_isvalid
  utils/md_isvalid.py
Labels: Python

fix md syntax (WIP)
  lib/gis/parser_rest_md.c
Labels: libraries, C

i.svm: explain meaning of the cache parameter
  imagery/i.svm.predict/i.svm.predict.html
  imagery/i.svm.train/i.svm.train.html
Labels: module, HTML

i.svm: improve naming of mean normalization variables, move closer to the place of use to improve readability
  imagery/i.svm.predict/main.c
  imagery/i.svm.train/fill.c
  imagery/i.svm.train/main.c
Labels: module, C

i.svm: move variables closer to place of their first use (req. of @wenzeslaus)
  imagery/i.svm.predict/main.c
  imagery/i.svm.train/fill.c
  imagery/i.svm.train/main.c
Labels: module, C

i.svm: beautify a long string in python tests
  imagery/i.svm.train/testsuite/test_i_svm_train.py
Labels: module, Python

i.svm: show also in the parameter description that cache is an internal setting of LIBSVM
  imagery/i.svm.predict/main.c
  imagery/i.svm.train/main.c
Labels: module, C

g.gui.example: fix typo in statitistics -> statistics (#3231)
  doc/gui/wxpython/example/frame.py
Labels: docs, Python

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"
