Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"

wxGUI/mapdisp: save/load Map Display used output img size for session
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/mapdisp/frame.py
Labels: GUI, Python

CI: Add Python 3.12 to pytest's matrix (#3314)
  .github/workflows/pytest.yml
Labels: CI

Incorporate suggestions
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  python/grass/grassdb/history.py
Labels: libraries, GUI, Python

Fix unnecessary future import
  python/grass/pygrass/modules/testsuite/test_import_isolation.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute_parallel.py
Labels: libraries, module, temporal, Python

python: Fix remaining useless object inheritance
  gui/wxpython/core/render.py
Labels: GUI, Python

Fix some checks of type, where the type is already a primitive.
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/location_wizard/wizard.py
  python/grass/pygrass/modules/interface/parameter.py
Labels: libraries, GUI, Python

Fix remaining check of type of primitive.
  python/grass/pygrass/messages/__init__.py
Labels: libraries, Python

Fix unnecessary calls to functions instead of native literals
  gui/wxpython/location_wizard/wizard.py
  python/grass/temporal/datetime_math.py
Labels: libraries, GUI, Python

Use generator expressions when list comprehension is immediately unpacked.
  gui/wxpython/mapwin/decorations.py
  man/parser_standard_options.py
Labels: GUI, docs, Python

Use builtin open instead of python3' alias io.open
  gui/wxpython/psmap/instructions.py
Labels: GUI, Python

Use `yield from` when a simple yield in a for loop is used. Supported since Python 3.3.
  gui/wxpython/core/layerlist.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/modules/grid/grid.py
Labels: libraries, GUI, Python

Convert additional `yield` usage inside a list to a `yield from`
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
Labels: libraries, Python

Removed extra parentheses where obviously unneeded
  display/d.text/test.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/web_services/cap_interface.py
  python/grass/pygrass/tests/benchmark.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_drv.py
  scripts/v.rast.stats/v.rast.stats.py
Labels: libraries, module, GUI, Python

Removed extra parentheses in `.BestSize((self.xx.GetBestSize()))` calls
  doc/gui/wxpython/example/frame.py
  gui/wxpython/animation/frame.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/simplelmgr.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/rlisetup/sampling_frame.py
Labels: GUI, docs, Python

Removed a Python 2.6 version block for json.loads kwargs
  python/grass/script/vector.py
Labels: libraries, Python

Use raw strings when using `\.`
  gui/wxpython/core/globalvar.py
  gui/wxpython/lmgr/frame.py
  lib/init/grass.py
Labels: libraries, GUI, Python

Missing `shutil` import when used as a `@unittest.skipIf`
  vector/v.in.pdal/testsuite/test_v_in_pdal_basic.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
Labels: module, vector, Python

contributing: Add more expressions to match release notes groups (#3035)
  utils/release.yml
Labels: none

Add example of temporal integration (#3280)
  imagery/i.evapo.time/i_evapo_time.png
Labels: module

i.evapo.time: Add example image to manual (#3281)
  imagery/i.evapo.time/i.evapo.time.html
  imagery/i.evapo.time/i_evapo_time.png
Labels: module, HTML

i.evapo.time: Add example image to manual (#3281)
  imagery/i.evapo.time/i.evapo.time.html
  imagery/i.evapo.time/i_evapo_time.png
Labels: module, HTML

Missing `shutil` import when used as a `@unittest.skipIf` (#3317)
  vector/v.in.pdal/testsuite/test_v_in_pdal_basic.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
Labels: module, vector, Python

pre-commit: Update flake8 version to 6.1.0
  .pre-commit-config.yaml
Labels: none

pre-commit: Add jupyter formatting to black
  .pre-commit-config.yaml
Labels: none

pre-commit: Add a check for destroyed symlinks, if some existing symlinks are committed as regular files by a Windows user
  .pre-commit-config.yaml
Labels: none

pre-commit: Update black version
  .pre-commit-config.yaml
Labels: none

pre-commit: Update clang-format to v15.0.7
  .pre-commit-config.yaml
Labels: none

pre-commit: Update markdownlint-cli version to v0.38.0
  .pre-commit-config.yaml
Labels: none

pre-commit: Add other common hooks to pre-commit/pre-commit-hooks
  .pre-commit-config.yaml
Labels: none

pre-commit: Update yamllint version to v1.33.0
  .pre-commit-config.yaml
Labels: none

pre-commit: Update pre-commit-hooks version to v4.5.0
  .pre-commit-config.yaml
Labels: none

CI: Add verify-success to Ubuntu
  .github/workflows/ubuntu.yml
Labels: CI

CI: Add verify success for pytest workflow
  .github/workflows/pytest.yml
Labels: CI

CI: Add a verify success job to use in required checks
  .github/workflows/python-code-quality.yml
  .github/workflows/verify-success.yml
Labels: CI

CI: Use pipx to run tools in python-code-quality.yml, cache pip
  .github/workflows/python-code-quality.yml
Labels: CI

Limit line length in verify-success.yml and Python Code Quality workflow
  .github/workflows/python-code-quality.yml
  .github/workflows/verify-success.yml
Labels: CI

Apply suggestion from code review
  gui/wxpython/iclass/frame.py
Labels: GUI, Python

wxGUI/preferences: allow the user set max memory/number of threads to be used by supported tools (#3307)
  gui/wxpython/gui_core/preferences.py
Labels: GUI, Python
