Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"

Refactoring the code to use the standard AlwaysShowScrollbars() method to display the vertical scrollbar
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

checks: add -Wpendantic compiler flag to CI builds (#3245)
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/gcc.yml
  .github/workflows/macos_install.sh
  include/grass/vect/dig_defines.h
Labels: libraries, CI

CI: New 'Periodic update' workflow (#3200)
  .github/workflows/periodic_update.yml
Labels: CI

CI: Speed up pytest workflow with pytest-xdist (#3257)
  .github/workflows/pytest.yml
Labels: CI

Update python/grass/jupyter/seriesmap.py
  python/grass/jupyter/seriesmap.py
Labels: libraries, Python

Remove outdated section about ignore-revs on GitHub in investigating_history.md
  doc/git/investigating_history.md
Labels: docs, Markdown

fix add_vectors bug
  python/grass/jupyter/seriesmap.py
Labels: libraries, Python

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
  config.sub
Labels: none

CI: fix Periodic update's cron and do not add labels
  .github/workflows/periodic_update.yml
Labels: CI

Added Hyperion VNIR SWIR CSV files
  imagery/i.atcorr/sensors_csv/Hyperion_SWIR.csv
  imagery/i.atcorr/sensors_csv/Hyperion_VNIR.csv
Labels: module

Added support for Hyperion VNIR and SWIR
  imagery/i.atcorr/geomcond.cpp
  imagery/i.atcorr/geomcond.h
  imagery/i.atcorr/i.atcorr.html
  imagery/i.atcorr/iwave.cpp
  imagery/i.atcorr/iwave.h
Labels: module, C++, HTML

db.dropcolumn: support more recent sqlite3 drop column command
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

grass.pygrass: Support shortened parameter values
  python/grass/pygrass/modules/interface/parameter.py
  vector/v.to.rast/testsuite/test_v_to_rast.py
Labels: libraries, module, vector, Python

removed import platform, not needed anymore
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

code passed to flake8 and black
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

Update scripts/r.in.aster/r.in.aster.py
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

contributing: Optimize commands, text in release procedure (#2414)
  doc/howto_release.md
Labels: docs, Markdown

Update doctest test result
  python/grass/pygrass/modules/interface/parameter.py
Labels: libraries, Python

i.atcorr: add atmospheric correction support for Hyperion hyperspectral imagery (VNIR and SWIR parts) (#3272)
  imagery/i.atcorr/geomcond.cpp
  imagery/i.atcorr/geomcond.h
  imagery/i.atcorr/i.atcorr.html
  imagery/i.atcorr/iwave.cpp
  imagery/i.atcorr/iwave.h
  imagery/i.atcorr/sensors_csv/Hyperion_SWIR.csv
  imagery/i.atcorr/sensors_csv/Hyperion_VNIR.csv
Labels: module, C++, HTML

contributing: Optimize commands, text in release procedure (G83) (#3253)
  doc/howto_release.md
Labels: docs, Markdown

docs: add GRASS docker section to infrastructure.md
  doc/infrastructure.md
Labels: docs, Markdown

CI: fix Periodic update's cron and do not add labels (#3271)
  .github/workflows/periodic_update.yml
Labels: CI

incorporating Anna's comments and fixing the error when history file is not created yet
  gui/wxpython/Makefile
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/history.py
Labels: libraries, GUI, Python

use sqlite_version()
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

grass.jupyter: add SeriesMap and tests (#3036)
  python/.pylintrc
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/region.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/jupyter/utils.py
Labels: libraries, Python

Update r.walk.html
  raster/r.walk/r.walk.html
Labels: module, raster, HTML

Update raster/r.walk/r.walk.html
  raster/r.walk/r.walk.html
Labels: module, raster, HTML

docs: update friction map info for r.walk.html (#3279)
  raster/r.walk/r.walk.html
Labels: module, raster, HTML

docs: update friction map info for r.walk.html (#3279)
  raster/r.walk/r.walk.html
Labels: module, raster, HTML

Update scripts/db.dropcolumn/db.dropcolumn.py
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

enhance version comparison
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: module, Python

Update gui/wxpython/history/browser.py
  gui/wxpython/history/browser.py
Labels: GUI, Python

Update gui/wxpython/history/browser.py
  gui/wxpython/history/browser.py
Labels: GUI, Python

Update python/grass/grassdb/history.py
  python/grass/grassdb/history.py
Labels: libraries, Python

r.in.aster: add support for ASTER L1T data (#3258)
  scripts/r.in.aster/r.in.aster.html
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python, HTML

exception chaining and other small edits
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history/tree.py
Labels: GUI, Python

exception chaining and removing codecs dependancy
  python/grass/grassdb/history.py
Labels: libraries, Python

Add example of temporal integration
  imagery/i.evapo.time/i_evapo_time.png
Labels: module

Update i.evapo.time.html
  imagery/i.evapo.time/i.evapo.time.html
Labels: module, HTML

v.in.ogr: add fix for unclosed rings
  vector/v.in.ogr/geom.c
Labels: module, vector, C
