Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"

Update utils.py with exception error type
  python/grass/jupyter/utils.py
Labels: libraries, Python

add map_exists asserts
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
Labels: libraries, Python

d.legend.vect: Initialize title size (#3095)
  display/d.legend.vect/draw.c
Labels: module, C

partial sync to G83 version of document (Trac, Hugo, Wiki sections); update name of LXD upload server; minor MD fixes
  doc/howto_release.md
Labels: docs, Markdown

contributing: Optimize commands, text in release procedure (G83)
  doc/howto_release.md
Labels: docs, Markdown

pre-commit: set min-space to 1 for in-line comments in yaml files
  .pre-commit-config.yaml
Labels: none

d.vect: label vertical alignment workaround (#2857)
  display/d.vect/label.c
Labels: module, C

pre-commit: prepare for 'pre-commit.ci' use
  .pre-commit-config.yaml
Labels: none

minor fixes from PR comments
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/utils.py
Labels: libraries, Python

python/grass/script: split the command string using shell-like syntax on the win32 platform same as on POSIX-compliant platforms (#1908)
  display/d.vect/d.vect.html
  python/grass/script/utils.py
Labels: libraries, module, Python, HTML

utils: fix add HTML module man page Source code section for all module HTML files (#3248)
  utils/mkhtml.py
Labels: Python

python/grass/script: split the command string using shell-like syntax on the win32 platform same as on POSIX-compliant platforms (#1908)
  display/d.vect/d.vect.html
  python/grass/script/utils.py
Labels: libraries, module, Python, HTML

parser: Suppoert renamed flags (flags/options to options/flags as well)
  lib/gis/parser.c
Labels: libraries, C

return after fatal error
  lib/gis/parser.c
Labels: libraries, C

Fix short flag and --overwrite renaming
  lib/gis/parser.c
Labels: libraries, C

Single return for long flag renaming
  lib/gis/parser.c
Labels: libraries, C

Add more specific comments about option value for flag to/from option renaming
  lib/gis/parser.c
Labels: libraries, C

Use pytest-xdist in pytest.yml
  .github/workflows/pytest.yml
Labels: CI

pre-commit: set min-space to 1 for in-line comments in yaml files (#3254)
  .pre-commit-config.yaml
Labels: none

lint: fix pre-commit warnings/errors
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/ubuntu/Dockerfile
  locale/transifex/.tx/config
  locale/transifex/transifex_merge_2.sh
Labels: docker, translation, CI

revert unrelated change
  .github/workflows/gcc.yml
Labels: CI

Add pip caching on pytest.yml
  .github/workflows/pytest.yml
Labels: CI

lint: fix pre-commit warnings/errors (#3246)
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/ubuntu/Dockerfile
  locale/transifex/.tx/config
  locale/transifex/transifex_merge_2.sh
Labels: docker, translation, CI

added support for Darwin 64bit arch and for ASTER L1T data products
  scripts/r.in.aster/r.in.aster.html
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python, HTML

fixed duplicate bands in L1T dictionary
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

removed inline comment and added L1T in command line help
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

changed if to elif, conditions are mutually exclusive
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

parser: Fix key-value pairs for t.* modules in renamed_options
  lib/gis/renamed_options
Labels: libraries

removed lines using arch for OSX Darwin
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

removed the fake 3b band generated for L1T, now the band list get updated when L1T
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

typo
  scripts/r.in.aster/r.in.aster.py
Labels: module, Python

wxGUI/main_window: fix rendering Layers pane map display toolbar widget
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/lmgr: fix unfocused Layers pane wx.ListCtrl widget row background color
  gui/wxpython/lmgr/layertree.py
Labels: GUI, Python

fix compilation error
  lib/gis/parser_rest_md.c
Labels: libraries, C

use black
  utils/md_isvalid.py
Labels: Python

wxGUI/main_window: fix rendering Layers pane map display toolbar widget (#3262)
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/lmgr: fix unfocused Layers pane wx.ListCtrl widget row background color (#3264)
  gui/wxpython/lmgr/layertree.py
Labels: GUI, Python

wxGUI/main_window: fix rendering Layers pane map display toolbar widget (#3262)
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

wxGUI/lmgr: fix unfocused Layers pane wx.ListCtrl widget row background color (#3264)
  gui/wxpython/lmgr/layertree.py
Labels: GUI, Python

fix os.PathLike object None error
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history_catalog/tree.py
Labels: GUI, Python
