Repository OSGeo/grass, changes with the labels that .github/labeler.yml gives for each.
All labels: name, libraries, module, vector, raster, temporal, database, GUI, Windows, macOS, Linux, docker, docs, translation, CI, Python, C, C++, CSS, HTML, JavaScript, Markdown

.github/labeler.yml:

---
name: Labeler

libraries:
  - lib/**/*
  - include/grass/*
  - include/grass/**/*
  - python/**/*

module:
  - db/**/*
  - display/**/*
  - general/**/*
  - imagery/**/*
  - misc/**/*
  - ps/**/*
  - raster/**/*
  - raster3d/**/*
  - scripts/**/*
  - temporal/**/*
  - vector/**/*

vector:
  - vector/**/*

raster:
  - raster/**/*

temporal:
  - temporal/**/*

database:
  - db/**/*
  
GUI:
  - gui/**/*

Windows:
  - mswindows/**/*

macOS:
  - macosx/**/*

Linux:
  - rpm/**/*
  - singularity/**/*

docker:
  - docker/**/*

docs:
  - doc/**/*
  - man/**/*

translation:
  - locale/**/*

CI:
  - ".github/**/*"
  - ".travis/**/*"

# based on file types
Python:
  - "**/*.py"

C:
  - "**/*.c"

C++:
  - "**/*.cpp"

CSS:
  - "**/*.css"

HTML:
  - "**/*.html"

JavaScript:
  - "**/*.js"

Markdown:
  - "**/*.md"

fixes loading of history model when the switching between mapsets, implements the Run method
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/menudata.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/checks.py
Labels: libraries, GUI, Python

simplification
  gui/wxpython/gui_core/menu.py
Labels: GUI, Python

black
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/main_window/frame.py
Labels: GUI, Python

pre-commit run --all
  imagery/i.atcorr/altitude.cpp
  imagery/i.atcorr/i.atcorr.html
  imagery/i.atcorr/iwave.cpp
Labels: module, C++, HTML

Update altitude.cpp
  imagery/i.atcorr/altitude.cpp
Labels: module, C++

Update iwave.cpp
  imagery/i.atcorr/iwave.cpp
Labels: module, C++

i.cca: use 0 based array indexing
  imagery/i.cca/main.c
Labels: module, C

AVIRIS support in .atcorr (#3229)
  imagery/i.atcorr/geomcond.cpp
  imagery/i.atcorr/geomcond.h
  imagery/i.atcorr/i.atcorr.html
  imagery/i.atcorr/iwave.cpp
  imagery/i.atcorr/iwave.h
  imagery/i.atcorr/sensors_csv/AVIRIS.csv
Labels: module, C++, HTML

r.buffer: replace deprecated np.int0 with np.intp (#3228)
  python/grass/pygrass/raster/buffer.py
Labels: libraries, Python

i.cca: add a test for i.cca output correctness
  imagery/i.cca/testsuite/test_i_cca.py
Labels: module, Python

r.univar: parallelization for extended statistics (#2683)
  raster/r.univar/benchmark/benchmark_r_univar.py
  raster/r.univar/r.univar_main.c
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Labels: module, raster, Python, C

Update contributors.csv
  contributors.csv
Labels: none

fix updating tree after launching the command, fix launching command from empty history mapset, creating a new updateHistory signal
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/lmgr/menudata.py
Labels: GUI, Python

created new directory history_catalog and functions related to managing history file moved to new grassdb/history.py
  gui/wxpython/Makefile
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history_catalog/catalog.py
  gui/wxpython/history_catalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/menudata.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/Makefile
  python/grass/grassdb/checks.py
  python/grass/grassdb/history.py
Labels: libraries, GUI, Python

obecna funkce get_mapset_history_path
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history_catalog/tree.py
  python/grass/grassdb/history.py
Labels: libraries, GUI, Python

optimalization
  gui/wxpython/history_catalog/tree.py
Labels: GUI, Python

black
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history_catalog/tree.py
Labels: GUI, Python

compilation error fixed
  gui/wxpython/Makefile
Labels: GUI

Address PR reviews: only updates two files, and nothing more
  .github/workflows/periodic_update.yml
Labels: CI

check: add -Wpendantic compiler flag to CI builds
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/gcc.yml
  .github/workflows/macos_install.sh
  include/grass/vect/dig_defines.h
Labels: libraries, CI

check: add -Wpendantic compiler flag to CI builds
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/gcc.yml
  .github/workflows/macos_install.sh
  include/grass/vect/dig_defines.h
Labels: libraries, CI

i.albedo: Fix out of bounds access for albedo histogram
  imagery/i.albedo/main.c
Labels: module, C

utils: fix add HTML module man page Source code section for all module HTML files
  utils/mkhtml.py
Labels: Python

Update contributors.csv: Yann Chemin (#3244)
  contributors.csv
Labels: none

v.db.join: Add exclude_columns= option (#3174)
  scripts/v.db.join/v.db.join.py
Labels: module, Python

Formatting for yamllint
  .github/workflows/periodic_update.yml
Labels: CI

Add an extra space before comment on action ref
  .github/workflows/periodic_update.yml
Labels: CI

Add hash ref to peter-evans/create-pull-request
  .github/workflows/periodic_update.yml
Labels: CI

wxGUI/nviz: fix showing scrollbars on the Data, Appearance, Analysis page (tab)
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

Source code section start on the new line
  utils/mkhtml.py
Labels: Python

Reformat files
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/mapswipe/mapwindow.py
  python/grass/gunittest/case.py
  python/grass/gunittest/runner.py
  python/grass/pygrass/raster/category.py
Labels: libraries, GUI, Python

utils: fix add HTML module man page Source code section for all module HTML files (#3248)
  utils/mkhtml.py
Labels: Python

Apply suggestions from code review
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/descriptions.py
  python/libgrass_interface_generator/ctypesgen/expressions.py
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
  python/libgrass_interface_generator/ctypesgen/parser/cparser.py
  python/libgrass_interface_generator/ctypesgen/parser/ctypesparser.py
  python/libgrass_interface_generator/ctypesgen/parser/datacollectingparser.py
  python/libgrass_interface_generator/ctypesgen/parser/lex.py
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
  python/libgrass_interface_generator/ctypesgen/parser/yacc.py
  python/libgrass_interface_generator/ctypesgen/printer_python/preamble.py
  python/libgrass_interface_generator/ctypesgen/printer_python/printer.py
Labels: libraries, Python

v.clean threshold description: clarify map units (#2950)
  vector/v.clean/main.c
Labels: module, vector, C

v.clean threshold description: clarify map units (#2950)
  vector/v.clean/main.c
Labels: module, vector, C

utils/grass_clang_format.sh lib/gis/
  lib/gis/parser.c
Labels: libraries, C

utils/grass_clang_format.sh lib/gis/
  lib/gis/parser_rest_md.c
Labels: libraries, C

Update utils.py with simpler font selection
  python/grass/jupyter/utils.py
Labels: libraries, Python

Update utils.py with text_size for default font
  python/grass/jupyter/utils.py
Labels: libraries, Python

Update utils.py, add exception for text_size with older PIL
  python/grass/jupyter/utils.py
Labels: libraries, Python
