Repository OSGeo/grass, pull requests merged in 2019-12, with the labels that each got.

#227 v.in.ogr
  vector/v.in.ogr/geom.c
  vector/v.in.ogr/main.c
  vector/v.in.ogr/pavl.c
  vector/v.in.ogr/pavl.h
Labels: backport_needed, bug

#230 wxGUI: replace obsolete wx.BitmapFromImage
  gui/wxpython/animation/mapwindow.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gis_set.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/widgets.py
Labels: backport_needed, bug

#235 wxGUI: fix d.histogram - save only after rendering done
  gui/wxpython/modules/histogram.py
Labels: backport_needed, bug

#170 grass.py: Evaluate ^export lines only and expand variables in double/non-quoted values
  lib/init/grass.py
Labels: bug, enhancement

#233 wxGUI: fix wizard, https://trac.osgeo.org/grass/ticket/3981
  gui/wxpython/location_wizard/dialogs.py
Labels: backport_needed, bug

#248 manual: put module name at first position
  db/drivers/mysql/grass-mesql.html
  general/g.setproj/g.setproj.html
  lib/gis/parser_html.c
  lib/gis/parser_rest.c
  raster/r.li/r.li.html
  tools/g.html2man/ggroff.py
Labels: enhancement

#245 wxGUI: fix GCP manager for py3
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/vnet/widgets.py
Labels: backport_needed

#246 wxGUI/core: account for .post in wxPython 4.0.7.post2
  gui/wxpython/core/globalvar.py
Labels: backport_needed

#252 libproj
  include/defs/gprojects.h
  lib/proj/datum.c
  lib/proj/get_proj.c
Labels: backport_needed, bug

#231 README refactoring
  README.md
Labels: backport_needed

#259 v.to.rast
  vector/v.to.rast/do_areas.c
  vector/v.to.rast/do_lines.c
  vector/v.to.rast/vect2rast.c
Labels: backport_needed

#244 replace obsolete time.clock() in Python 3.3
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/photo2image/ip2i_manager.py
  lib/python/script/utils.py
Labels: backport_needed
