Repository OSGeo/grass, pull requests merged in 2019-11, with the labels that each got.

#176 quick fix of g.extension on MS Windows
  scripts/g.extension/g.extension.py
Labels: Windows, bug

#175 json parser: change + to @ for URLs
  lib/gis/parser_json.c
Labels: backport_needed

#174 wxGUI: fix d.mon rendering #3896, caused by garbage collection of map…
  gui/wxpython/mapdisp/main.py
Labels: backport_needed

#172 copy libs into bin directory after running make distclean
  mswindows/osgeo4w/package.sh
Labels: Windows

#177 geos-config: Rename --libs to --clibs (configure uses --clibs)
  mswindows/osgeo4w/geos-config
Labels: Windows, bug

#184 v.out.ogr: export datetime attributes as datetime
  vector/v.out.ogr/main.c
Labels: backport_needed

#187 libproj
  lib/proj/convert.c
Labels: backport_needed

#132 fix band references assignment
  lib/python/temporal/abstract_map_dataset.py
  lib/python/temporal/register.py
Labels: bug

#193 r.topidx: fix bug with steep slopes
  raster/r.topidx/global.h
  raster/r.topidx/topidx.c
Labels: backport_needed, bug

#195 r.in.wms: write string not bytes to capabilities file
  scripts/r.in.wms/wms_base.py
Labels: backport_needed, bug

#185 GUI: do not fail on invalid RC file (empty)
  gui/wxpython/gis_set.py
Labels: Windows, bug

#198 v.info manual: note on -c flag added
  vector/v.info/v.info.html
Labels: backport_needed

#196 r.in.wms: gdal user:password support
  scripts/r.in.wms/r.in.wms.py
  scripts/r.in.wms/wms_gdal_drv.py
Labels: backport_needed

#203 osgeo4w: fix postinstall
  mswindows/osgeo4w/postinstall.bat
Labels: Windows

#206 t.list, t.rast.list: fix missing band_reference
  temporal/t.list/t.list.py
  temporal/t.rast.list/t.rast.list.py
Labels: bug

#165 pythonlib: return None from run_command()
  lib/python/script/core.py
Labels: backport_needed

#226 v in ogr
  vector/v.in.ogr/main.c
Labels: backport_needed, bug
