Repository OSGeo/grass, pull requests merged in 2019-08, with the labels that each got.

#78 grass.py: fix typo in info_text, svn -> dev
  lib/init/grass.py
Labels: backport_needed, bug

#81 wxGUI: fix 3D view wxPyDeprecationWarning, from https://trac.osgeo.or…
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/nviz/tools.py
Labels: backport_needed

#102 v.overlay
  vector/v.overlay/main.c
Labels: backport_needed

#103 v.patch: add details into error messages
  vector/v.patch/main.c
Labels: enhancement

#63 WIP Band references implementation
  include/defs/gis.h
  include/defs/raster.h
  lib/gis/band_reference.c
  lib/python/Makefile
  lib/python/bandref/Makefile
  lib/python/bandref/__init__.py
  lib/python/bandref/reader.py
  lib/python/pygrass/errors.py
  lib/python/pygrass/raster/abstract.py
  lib/python/temporal/abstract_space_time_dataset.py
  lib/python/temporal/c_libraries_interface.py
  lib/python/temporal/core.py
  lib/python/temporal/mapcalc.py
  lib/python/temporal/metadata.py
  lib/python/temporal/open_stds.py
  lib/python/temporal/register.py
  lib/python/temporal/space_time_datasets.py
  lib/raster/band_reference.c
  lib/temporal/SQL/raster_metadata_table.sql
  lib/temporal/SQL/raster_views.sql
  lib/temporal/SQL/strds_metadata_table.sql
  lib/temporal/SQL/update_strds_metadata_template.sql
  scripts/Makefile
  scripts/g.bands/Makefile
  scripts/g.bands/g.bands.html
  scripts/g.bands/g.bands.py
  scripts/g.bands/landsat.json
  scripts/g.bands/sentinel.json
  scripts/g.bands/testsuite/test_g_bands.py
  scripts/i.band/Makefile
  scripts/i.band/i.band.html
  scripts/i.band/i.band.py
  scripts/i.band/testsuite/test_i_band.py
  temporal/t.info/t.info.html
  temporal/t.rast.list/t.rast.list.html
  temporal/t.rast.mapcalc/t.rast.mapcalc.html
  temporal/t.register/t.register.html
Labels: enhancement

#114 update usage of map() function to Python 3
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/wxlibplot.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/instructions.py
Labels: backport_needed
