Repository OSGeo/grass, pull requests merged in 2019-05, with the labels that each got.

#17 libinit: shorten GRASS prompt
  lib/init/grass.py
Labels: enhancement

#19 Draft intro added
  README.md
Labels: backport releasebranch_7_4, backport releasebranch_7_6

#18 r.in.wms: add proxy for GDAL driver
  scripts/r.in.wms/r.in.wms.py
  scripts/r.in.wms/wms_base.py
  scripts/r.in.wms/wms_gdal_drv.py
Labels: enhancement

#21 PyGRASS GridModule silently ignores when module has no output defined
  lib/python/pygrass/modules/grid/grid.py
Labels: bug

#9 GRASS_VERSION_SVN -> GRASS_VERSION_GIT + update g.version
  Makefile
  configure
  configure.in
  general/g.version/Makefile
  general/g.version/main.c
  gui/wxpython/lmgr/frame.py
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
  include/Make/Platform.make.in
  include/VERSION
  lib/init/Makefile
Labels: bug

#3 Py2/Py3 compat: Use "gettext.install(..., unicode=True)" in Python 2.
  lib/python/__init__.py
Labels: bug
