Repository OSGeo/grass, pull requests merged in 2019-10, with the labels that each got.

#149 wxGUI/animation: fix deprecation warnings
  gui/wxpython/animation/controller.py
  gui/wxpython/gui_core/wrap.py
Labels: backport_needed

#151 use copy instead of git clone in Dockerfiles
  .dockerignore
  docker/alpine/Dockerfile_alpine
  docker/alpine/Dockerfile_alpine_wxgui
  docker/alpine/README_alpine.md
  docker/debian/Dockerfile_debian_pdal
  docker/debian/README_debian.md
  docker/ubuntu/Dockerfile_ubuntu_pdal
  docker/ubuntu/README_ubuntu.md
Labels: backport_needed

#137 osgeo4w: build fixes
  lib/python/ctypes/ctypesgencore/processor/operations.py
  mswindows/osgeo4w/env.bat.tmpl
  mswindows/osgeo4w/envdiff.sed
  mswindows/osgeo4w/package.cmd
  mswindows/osgeo4w/package.sh
  mswindows/osgeo4w/postinstall.bat
  mswindows/osgeo4w/preremove.bat
Labels: Windows, bug

#160 wxGUI: replace deprecated wx.Yield
  gui/wxpython/animation/controller.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gis_set.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/nviz/animation.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/wxgui.py
Labels: backport_needed

#161 fix #3882
  gui/wxpython/core/render.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/vdigit/wxdisplay.py
Labels: Windows, backport_needed, bug

#118 WIP PROJ6 support
  lib/proj/do_proj.c
  lib/proj/get_proj.c
Labels: backport_needed, enhancement
