Repository OSGeo/grass, pull requests merged in 2020-09, with the labels that each got.

#950 wxGUI/animation: show error and proceed with temporal database mismatch
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/g.gui.animation.py
Labels: GUI, bug

#953 wxGUI/nviz: fix reopening 3D by reloading layers
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Labels: backport_needed, bug

#872 wxGUI/mapdisp: fix double click on the overlays in the 3D view
  gui/wxpython/mapdisp/frame.py
Labels: GUI, bug

#954 r.colors: add offset and scale
  raster/r.colors/edit_colors.c
  raster/r.colors/local_proto.h
  raster/r.colors/r.colors.html
  raster/r.colors/rules.c
  raster/r.colors/stats.c
Labels: enhancement

#930 init: Change the history file according to the current mapset for Bash
  general/g.mapset/main.c
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/vnet/dialogs.py
  lib/init/grass.py
Labels: bug, enhancement

#971 wxGUI/forms: Add giface to standalone forms and fix history in giface
  gui/wxpython/core/giface.py
  gui/wxpython/gui_core/forms.py
Labels: bug

#282 Use gs as alias for grass.script in doc
  display/displaydrivers.html
  doc/python/README
  doc/python/m.distance.py
  doc/python/script/r.example.py
  docker/testdata/test_grass_session.py
  general/g.parser/g.parser.html
  general/g.parser/test.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/lmgr/pyshell.py
  lib/gis/parser_script.c
  lib/init/grass7.html
  lib/python/docs/src/index.rst
  lib/python/docs/src/script_intro.rst
  lib/python/docs/src/temporal_framework.rst
  lib/python/script/array.py
  lib/python/script/core.py
  lib/python/script/setup.py
  lib/python/script/testsuite/test_script_raster.py
  lib/python/temporal/space_time_datasets.py
  raster/r.in.lidar/r.in.lidar.html
  raster/r.solute.transport/example.py
  raster/r.solute.transport/r.solute.transport.html
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example/r.plus.example.py
Labels: enhancement

#958 libgis parser: an empty string is not an answer
  lib/gis/parser.c
Labels: backport_needed, bug

#938 g.extension: fix module launch with compile '-i' or download '-d' flag
  scripts/g.extension/g.extension.py
Labels: backport_needed, bug

#968 r.carve manual: fix example for stream vector
  raster/r.carve/r.carve.html
Labels: backport_needed, bug, manual

#941 macOS: modernize app bundle info
  macosx/Makefile
  macosx/app/AppIcon.icns
  macosx/app/GRASSDocument_gxw.icns
  macosx/app/GRASSDocument_gxw.svg
  macosx/app/Info.plist.in
  macosx/app/Makefile
Labels: backport_needed, macOS

#983 r.grow.distance: update module description with value raster
  raster/r.grow.distance/main.c
Labels: manual

#976 CRS management
  general/g.proj/create.c
  general/g.proj/input.c
  general/g.proj/local_proto.h
  general/g.proj/main.c
  general/g.proj/output.c
  include/defs/gis.h
  include/gis.h
  include/gprojects.h
  lib/gis/get_projinfo.c
  lib/gis/make_loc.c
  lib/gis/proj3.c
Labels: enhancement

#989 g.search.modules: without keywords, list all modules
  scripts/g.search.modules/g.search.modules.py
  scripts/g.search.modules/testsuite/test_g_search_modules.py
Labels: enhancement

#977 v.info: fix printing UTM zone (#892)
  lib/vector/Vlib/header.c
  vector/v.info/print.c
  vector/v.proj/main.c
Labels: backport_needed, bug
