Repository OSGeo/grass, pull requests merged in 2020-02, with the labels that each got.

#330 Keep module_items.xml in docker alpine
  docker/alpine/Dockerfile_alpine
Labels: backport_needed

#324 wxgui: catch also TypeError when importing ctypes, see #305
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/vdigit/wxdisplay.py
Labels: enhancement

#336 gmodeler: fix python export - main()
  gui/wxpython/gmodeler/model.py
Labels: GUI, bug

#340 make python script in gmodeler using items instead of iteritems
  gui/wxpython/gmodeler/model.py
Labels: bug

#346 standardization of Markdown files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
  README.md
  doc/howto_release.md
  docker/alpine/README_alpine.md
  docker/debian/README_debian.md
  docker/testdata/README.md
  docker/ubuntu/README_ubuntu.md
  mswindows/external/rbatch/batchfiles.md
  singularity/debian/README_debian.md
Labels: backport_needed

#359 v.in.pdal: fix filtering by bbox
  vector/v.in.pdal/filters.c
Labels: backport_needed, bug

#344 Fix dbmgr for Python3
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/dbmgr/vinfo.py
  gui/wxpython/gui_core/goutput.py
Labels: backport_needed

#361 Update docs (#360)
  raster/r.mapcalc/r.mapcalc.html
Labels: backport_needed

#367 g.version: Fix February number
  general/g.version/local_proto.h
Labels: bug

#389 fix position of null cells
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  scripts/v.rast.stats/v.rast.stats.py
Labels: backport_needed

#387 os.newline should not be used when writing in text mode
  gui/wxpython/core/settings.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/vnet/vnet_data.py
Labels: backport_needed
