Repository OSGeo/grass, pull requests merged in 2020-04, with the labels that each got.

#473 v.generalize: remove_small is no longer available
  vector/v.generalize/v.generalize.html
Labels: backport_needed

#478 g.version: strstr -> strchr
  general/g.version/main.c
Labels: enhancement

#481 v.to.db: Write history
  vector/v.to.db/main.c
Labels: enhancement

#484 backport sync: merge mess
  gui/wxpython/dbmgr/dialogs.py
  lib/gis/datum.table
  vector/v.edit/v.edit.html
  vector/v.generalize/v.generalize.html
Labels: bug

#496 Fix g.extension -i (compile), -d (download) flag
  scripts/g.extension/g.extension.py
Labels: backport_needed, bug

#494 address digitizer backround map issue #467
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/vdigit/wxdisplay.py
Labels: GUI, bug

#493 Update Location Wizard: First page
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, enhancement, gsoc

#517 Fix grass-session installation in docker files
  docker/alpine/Dockerfile_alpine_latest
  docker/alpine/Dockerfile_alpine_wxgui
  docker/debian/Dockerfile_debian_pdal
  docker/ubuntu/Dockerfile_ubuntu_latest_pdal
  docker/ubuntu/Dockerfile_ubuntu_pdal
Labels: backport_needed, bug

#518 Add national land cover dataset color table
  lib/gis/colors.desc
  lib/gis/colors/nlcd
Labels: backport_needed

#528 remove @# from GRASS_VERSION_STRING
  include/version.h.in
Labels: enhancement

#525 Add GitHub Action to build, run tests, and Python static code analysis
  .github/workflows/apt.txt
  .github/workflows/build.sh
  .github/workflows/ci.yml
  .github/workflows/flake8.yml
  .github/workflows/test_simple.sh
  .github/workflows/test_thorough.sh
  lib/python/.flake8
Labels: enhancement

#405 grass.py: used space as delimiter to get GRASS_VERSION_STRING
  lib/init/Makefile
  lib/init/grass.py
Labels: backport_needed, bug

#476 v.db.select: Add -e flag (escape newlines and backslashes) and -j flag (JSON output)
  vector/v.db.select/main.c
  vector/v.db.select/testsuite/test_v_db_select.py
Labels: enhancement

#477 v.report: Fix newline issue
  scripts/v.report/v.report.py
Labels: enhancement

#529 wxGUI mapwin: Fix Pointer tool double left click on a map canvas
  gui/wxpython/mapwin/buffered.py
Labels: GUI, bug

#485 GIS_H_DATE: switch to date -Iseconds format
  configure
  configure.in
  general/g.version/main.c
  include/version.h.in
Labels: enhancement

#549 Fix SyntaxError issues with Python 3.
  doc/python/m.distance.py
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
  imagery/i.atcorr/create_iwave.py
Labels: bug

#532 grass7 manual: document --config parameters
  lib/init/grass7.html
Labels: backport_needed, enhancement

#557 NVIZ: Fix a typo (cont'ed)
  locale/po/grasswxpy_bn.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fi.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_id_ID.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ja.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_lv.po
  locale/po/grasswxpy_ml.po
  locale/po/grasswxpy_pl.po
  locale/po/grasswxpy_pt.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_ro.po
  locale/po/grasswxpy_ru.po
  locale/po/grasswxpy_si.po
  locale/po/grasswxpy_ta.po
  locale/po/grasswxpy_th.po
  locale/po/grasswxpy_tr.po
  locale/po/grasswxpy_uk.po
  locale/po/grasswxpy_vi.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_CN.po
Labels: bug, enhancement

#527 Add label to new GitHub issue
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#568 Cross-platform version of date -Iseconds in configure
  configure
  configure.in
Labels: MacOS, bug

#565 Drop wx.ALIGN_CENTER_HORIZONTAL, wx.ALIGN_CENTER_VERTICAL and wx.ALIGN_RIGHT when wxEXPAND is used
  gui/wxpython/gis_set.py
  gui/wxpython/startup/locdownload.py
Labels: GUI, backport_needed, blocker, bug
