Repository OSGeo/grass, pull requests merged in 2020-05, with the labels that each got.

#571 v.db.addtable: Overwrite newly created cat column (Fix #567)
  scripts/v.db.addtable/v.db.addtable.py
  scripts/v.to.lines/v.to.lines.py
Labels: bug

#402 fix NULL values for very small areas address in v.rast.stats
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  scripts/v.rast.stats/v.rast.stats.py
Labels: enhancement

#577 [rv].unpack: sys.stdout.write() cannot print bytes; convert f.read() to str
  scripts/r.unpack/r.unpack.py
  scripts/v.unpack/v.unpack.py
Labels: bug

#582 g.extension: distinguish between extensions and modules
  scripts/g.extension/g.extension.py
Labels: backport_needed, bug, enhancement

#552 wxGUI: fix inconsistent layer sizes during rendering
  gui/wxpython/core/render.py
  gui/wxpython/core/ws.py
Labels: GUI, backport_needed, bug

#572 wxGUI: fix g.gui.vdigit on windows #530
  gui/wxpython/vdigit/toolbars.py
Labels: GUI, Windows, bug

#500 Fix bug introduced in the issue #466
  gui/wxpython/mapwin/buffered.py
Labels: GUI, bug

#606 docker: version matrix added
  docker/README.md
Labels: backport_needed, enhancement, manual

#611 Use ${CC} instead of "cc" for linking on mac
  aclocal.m4
  configure
Labels: backport_needed

#627 wxGUI Add web service layer: Fix dialog layout
  gui/wxpython/web_services/widgets.py
Labels: backport_needed

#578 wxGUI mapwin: Fix show/hide vdigit toolbar
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/vdigit/toolbars.py
Labels: bug

#636 Mac: converted compile instructions from RTF to markdown
  macosx/ReadMe.md
  macosx/ReadMe.rtf
Labels: MacOS

#599 g.proj: fix segfault when reading proj info from georef file
  general/g.proj/input.c
Labels: bug

#570 wxGUI: fix layout flags needed for wxPython 4.1.0
  gui/wxpython/animation/dialogs.py
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/mapwindow.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/preferences.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/dialogs.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/pyshell.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapswipe/dialogs.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/vdigit/dialogs.py
  gui/wxpython/vdigit/preferences.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/widgets.py
  gui/wxpython/wxplot/dialogs.py
Labels: GUI, backport_needed

#548 Startup: Avoid a race condition
  lib/init/grass.py
Labels: backport_needed, bug

#607 Update v.category.html
  vector/v.category/v.category.html
Labels: manual

#584 v.what.rast: fix writing of map history
  vector/v.what.rast/main.c
Labels: bug

#639 Mac ReadMe: stylistic update
  macosx/ReadMe.md
Labels: MacOS

#621 Update r.in.gdal.html
  raster/r.in.gdal/r.in.gdal.html
Labels: manual

#618 v.category: message fix
  vector/v.category/main.c
Labels: manual

#616 Update r.in.wms.py
  scripts/r.in.wms/r.in.wms.py
Labels: manual

#614 Update helptext.html
  lib/init/helptext.html
Labels: manual

#534 v.neighbors: add aggegate statistics on attribute colum [NEW FUNCTIONALITY]
  vector/v.neighbors/Makefile
  vector/v.neighbors/main.c
  vector/v.neighbors/v.neighbors.html
Labels: enhancement

#601 v.distance: Linear matrix becomes default, new -s flag for square matrix [API change]
  vector/v.distance/main.c
  vector/v.distance/v.distance.html
Labels: enhancement

#659 r.import: do not reproject when projection matches (bug #547)
  scripts/r.import/r.import.py
Labels: bug

#646 wxGUI location wizard: First page
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, enhancement, gsoc

#661 wxGUI loc wizard: fix title layout, bug introduced in changes for wx 4.1
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, backport_needed, bug

#657 Wx gui location wizard map picture removed
  gui/images/loc_wizard_qgis.png
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, gsoc

#665 wxGUI WSPropertiesDialog: Fix show web service map layer properties dialog
  gui/wxpython/web_services/dialogs.py
Labels: GUI, bug

#669 wxGUI lmgr: Fix position of bitmap image button overlaid web service map layer name
  gui/wxpython/lmgr/layertree.py
Labels: GUI, bug
