Repository OSGeo/grass, pull requests merged in 2020-10, with the labels that each got.

#1007 libproj: fix crs modification with PROJ6+
  general/g.region/printwindow.c
  lib/proj/do_proj.c
  raster/r.proj/main.c
  vector/v.proj/main.c
Labels: backport_needed, bug

#1011 i18N: restore translations
  locale/po/grasslibs_fr.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_it.po
  locale/po/grassmods_zh.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_it.po
Labels: bug

#1013 libproj
  lib/proj/do_proj.c
Labels: backport_needed, bug

#1015 Using JSON for GUI settings
  gui/wxpython/core/settings.py
  gui/wxpython/wxplot/dialogs.py
Labels: GUI

#1009 g.extension: add '-j' flag which generates JSON file containing the download URLs of the official Addons
  scripts/g.extension/g.extension.py
  tools/mkhtml.py
Labels: backport_needed

#1029 wxGUI/import_export: fix output map overwriting if global overwrite setting is allowed
  gui/wxpython/modules/import_export.py
Labels: GUI, bug

#1022 wxGUI/pyedit: add quit toolbar tool
  gui/wxpython/gui_core/pyedit.py
Labels: GUI, enhancement

#1032 wxGUI/g.gui.psmap: fix resize line object
  gui/wxpython/psmap/frame.py
Labels: GUI, bug

#1033 wxGUI/g.gui.psmap: fix move point object error message
  gui/wxpython/psmap/frame.py
Labels: GUI, bug

#1035 imagery/i.image.mosaic: fix encode, decode string
  scripts/i.image.mosaic/i.image.mosaic.py
Labels: bug

#1031 wxGUI/g.gui.psmap: fix move line object error message
  gui/wxpython/psmap/frame.py
Labels: GUI, backport_needed, bug

#1041 wxGUI/g.gui.psmap: fix add legend error message
  gui/wxpython/psmap/utils.py
Labels: GUI, backport_needed, bug

#1020 wxGUI/g.gui.iclass: fix copy vector features from vector map
  gui/wxpython/iclass/digit.py
  gui/wxpython/iclass/frame.py
Labels: GUI, backport_needed, bug

#1037 wxGUI/g.gui.image2target: fix show Settings dialog
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/image2target/ii2t_manager.py
Labels: GUI, backport_needed, bug

#1040 r.geomorphon: Fix shape calculations
  raster/r.geomorphon/geom.c
Labels: backport_needed, bug, hacktoberfest-accepted

#1038 wxGUI/g.gui.image2target: fix close window (dissociate the managed window from the AuiManager)
  gui/wxpython/image2target/ii2t_manager.py
Labels: GUI, backport_needed, bug

#1025 v.random: Fix segfault as per bug #1024
  vector/v.random/main.c
Labels: backport_needed, bug

#1042 wxGUI/g.gui.mapswipe: fix hit Apply button if first and second raster aren't choosed
  gui/wxpython/mapswipe/frame.py
Labels: GUI, backport_needed, bug

#1048 wxGUI/g.gui.psmap: add checking map frame exists if you add labels
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
Labels: GUI, backport_needed, bug

#1053 v.to.rast manual: update example to NC dataset
  vector/v.to.rast/v.to.rast.html
Labels: backport_needed, manual
