Repository OSGeo/grass, pull requests merged in 2020-12, with the labels that each got.

#1132 wxGUI: drop show preferences dialog as modal
  gui/wxpython/animation/frame.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/mapswipe/frame.py
Labels: GUI, backport_needed, bug, macOS

#818 wxGUI: Fix key binding issues on mac
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/pyshell.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mcalc_builder.py
Labels: GUI, backport_needed, macOS

#981 macOS: use @rpath as dynamic linker
  aclocal.m4
  configure
  lib/python/ctypes/loader.py
Labels: macOS

#1127 wxGUI/psmap: properly isolate region setting from the rest of GUI
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/psmap/utils.py
Labels: GUI, backport_needed, bug

#1122 mkhtml: enable path setting for footer html pages (topics.html...) on add-on manual page
  tools/mkhtml.py
Labels: backport_needed

#1130 g.extension: add branch option
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.py
Labels: backport_needed

#1139 wxGUI: add missing giface, fixes error when emitting grassdbChanged signal
  gui/wxpython/lmgr/layertree.py
Labels: GUI, bug

#1085 d.rast.edit: fix launch wxGUI (py3/wxPy4)
  scripts/d.rast.edit/d.rast.edit.py
Labels: GUI, backport_needed, bug

#1109 wxGUI/lmgr: fix add group layer during vector map editing
  gui/wxpython/lmgr/layertree.py
Labels: GUI, backport_needed, bug

#1080 wxGUI/mapwin: fix correct horizontal raster legend position after apply new legend setting
  gui/wxpython/mapwin/decorations.py
Labels: GUI, backport_needed, bug

#1143 g.extension: fix get add-on module name on Win platform
  scripts/g.extension/g.extension.py
Labels: Windows, backport_needed, bug

#1142 g.extension: improve way how to parse module name from makefile
  scripts/g.extension/g.extension.py
Labels: backport_needed, bug

#1117 wxGUI/location_wizard: fix column sorting of ListCtrl widget
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, bug

#1140 g.region: Add more detail into error messages
  lib/gis/adj_cellhd.c
Labels: enhancement

#1111 wxGUI: Remove calls of unicode function which don't work in Python 3
  gui/wxpython/core/gconsole.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/timeline/frame.py
Labels: GUI, backport_needed, bug

#1151 g.extension: remove branch from Windows-function
  scripts/g.extension/g.extension.py
Labels: Windows, backport_needed, blocker

#1165 tools/mkhtml.py: fix keywords html pages paths if add-on html man page strored on the server
  tools/mkhtml.py
Labels: backport_needed, bug

#1161 wxGUI: fix wxPython 4.1 support
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/modules/import_export.py
Labels: backport_needed

#1170 g.proj: fix segfault issue #1163
  general/g.proj/input.c
Labels: bug

#1166 Change default color for rendering vectors (gray->blue) [news]
  display/d.vect/main.c
  gui/wxpython/core/settings.py
Labels: enhancement

#1172 totools/mkhtml.py: fix replacing keywords (no keywords) html pages path if add-on html man page stored on the server
  tools/mkhtml.py
Labels: backport_needed, bug

#1175 wxGUI/Save display to file dialog: add wxPython 4.1 support
  gui/wxpython/gui_core/dialogs.py
Labels: backport_needed

#1070 wxGUI: Show the world map in Demolocation immediately after startup
  gui/wxpython/lmgr/frame.py
  lib/python/grassdb/checks.py
Labels: GUI, enhancement

#1180 docker: update Ubuntu based images
  docker/README.md
  docker/ubuntu/Dockerfile_ubuntu_latest_pdal
  docker/ubuntu/Dockerfile_ubuntu_pdal
Labels: backport_needed, docker

#1181 g.extension: fix parse PGM variable from Makefile
  scripts/g.extension/g.extension.py
Labels: backport_needed, bug

#1182 Stop ignoring .git folder for docker builds
  .dockerignore
  docker/debian/Dockerfile_debian_pdal
  docker/ubuntu/Dockerfile_ubuntu_pdal
Labels: backport_needed, docker

#1195 wxGUI/gselect: fix select widget for wxGUI 'd.vect' module
  gui/wxpython/gui_core/gselect.py
Labels: GUI, backport_needed, bug

#1202 wxGUI/infobar: fix infobar creation with wxPython 4.1
  gui/wxpython/gui_core/infobar.py
Labels: GUI, bug

#1191 tplot/frame.py: fixes for Matplotlib 3.3+
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Labels: GUI, backport_needed, bug

#1183 wxGUI: displaying infobar focused on first-time user (part 2)
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/datacatalog/tree.py
Labels: GUI, enhancement

#1206 wxGUI/tplot: fix export csv file
  gui/wxpython/tplot/frame.py
Labels: GUI, backport_needed, bug

#1207 wxGUI/tplot: add option to show simple regression model line
  gui/wxpython/tplot/frame.py
  gui/wxpython/tplot/g.gui.tplot.html
  gui/wxpython/tplot/g.gui.tplot.py
Labels: GUI, enhancement

#1214 wxGUI/infobar: attempt to fix #1213
  gui/wxpython/gui_core/infobar.py
Labels: GUI, Windows, bug

#1215 wxGUI/About: remove hardcoded white background for dark mode
  gui/wxpython/gui_core/ghelp.py
Labels: GUI

#1209 wxGUI/import_export: fix validation input map name (overwrite flag)
  gui/wxpython/modules/import_export.py
Labels: GUI, bug

#1217 wxGUI/prompt: support dark themes
  gui/wxpython/gui_core/prompt.py
Labels: GUI, enhancement
