Repository OSGeo/grass, pull requests merged in 2020-06, with the labels that each got.

#523 Fix fixed-width CJK formatting
  include/defs/gis.h
  lib/gis/aprintf.c
  lib/init/grass.py
  vector/v.info/print.c
Labels: enhancement

#674 wxGUI AddWSDialog: Fix render WMTS layer with OGC:CRS84 coor system
  gui/wxpython/web_services/widgets.py
  scripts/r.in.wms/wms_base.py
  scripts/r.in.wms/wms_drv.py
Labels: GUI, bug

#670 wxGUI location wizard: EPSG page
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, enhancement, gsoc

#651 r.in.wms BaseCapabilitiesTree: Fix init ElementTree class
  scripts/r.in.wms/wms_cap_parsers.py
Labels: bug

#678 wxGUI d.mon: Fix launch light-weight wx monitor without toolbars and statusbar
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
Labels: GUI, bug

#664 wxgui: startup GUI automatic detection of grassdata: make case independent #644
  gui/wxpython/startup/utils.py
Labels: GUI, gsoc

#727 v.surf.bspline: fix method selection
  vector/v.surf.bspline/main.c
Labels: bug

#723 pythonlib: allow wkt to be also string in create_location()
  lib/python/script/core.py
Labels: enhancement

#721 wxGUI loc wizard: Improve new location's CRS method selection page
  gui/wxpython/location_wizard/wizard.py
Labels: gsoc

#705 wxgui: Create grassdata automatically on the first GUI startup
  gui/wxpython/gis_set.py
  gui/wxpython/startup/utils.py
Labels: gsoc

#729 r.neighbors: add testsuite
  raster/r.neighbors/testsuite/test_r_neighbors.py
Labels: enhancement

#728 wxGUI loc wizard: Correct errors according to flake 8 and add some description
  gui/wxpython/location_wizard/wizard.py
Labels: gsoc

#736 wxGUI: IndexError after right click on 'GRASS Locations in...' in the Data tab
  gui/wxpython/datacatalog/tree.py
Labels: gsoc

#738 python/script/raster.py: Fix encode string
  lib/python/script/raster.py
Labels: backport_needed, bug
