Repository OSGeo/grass, pull requests merged in 2020-07, with the labels that each got.

#731 wxGUI: Add new mapset action to data catalog
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gis_set.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/startup/utils.py
Labels: GUI, gsoc

#742 wxGUI/datacatalog: flatten mapset-layer hierarchy, add icons for types, highlight current
  gui/icons/grass/grassdb.png
  gui/icons/grass/location.png
  gui/icons/grass/mapset.png
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/tree.py
Labels: GUI, enhancement

#755 wxGUI datacatalog: merge LocationMapTree and DataCatalogTree
  gui/wxpython/datacatalog/tree.py
Labels: gsoc

#756 Make Data tab the default in GUI
  gui/wxpython/lmgr/frame.py
Labels: gsoc

#692 OSGeo4W workflow for GitHub Actions
  .github/workflows/build_osgeo4w.sh
  .github/workflows/osgeo4w.yml
  .github/workflows/test_simple.bat
  .github/workflows/test_thorough.bat
  lib/python/gunittest/case.py
  lib/python/gunittest/reporters.py
  scripts/r.blend/testsuite/test_r_blend.py
Labels: CI, Windows, enhancement

#754 r.horizon manual: explain negative values
  raster/r.horizon/r.horizon.html
Labels: manual

#752 CI: Add GH Super Linter for a subset of secondary files
  .github/workflows/README.md
  .github/workflows/super-linter.yml
Labels: CI

#675 wxGUI ImportDialog: Improve output map name existence validation
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/modules/import_export.py
Labels: GUI

#759 wxGUI: add dark mode support for command output
  gui/wxpython/gui_core/goutput.py
Labels: GUI, enhancement

#777 d.rast.arrow: Fix negative drainage directions
  display/d.rast.arrow/main.c
Labels: backport_needed, bug

#761 wxGUI datacatalog: Add multiple GRASS databases
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/startup/guiutils.py
Labels: GUI, gsoc

#771 Add rename and delete of Location and Mapset in Datacatalog
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gis_set.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/startup/utils.py
Labels: gsoc

#784 wxGUI: fix bad indentation
  gui/wxpython/wxgui.py
Labels: GUI, backport_needed

#768 init: Start shell only with TTY
  gui/wxpython/lmgr/frame.py
  lib/init/grass.py
Labels: bug

#783 wxGUI/Data catalog: distinguish label and name of nodes
  gui/wxpython/datacatalog/tree.py
Labels: GUI, gsoc

#810 wxGUI/datacatalog: show warning message dialog if drag map them to the target location node in the tree
  gui/wxpython/datacatalog/tree.py
Labels: GUI, bug

#804 pythonlib: safer mechanism for switching dbs in create_location
  lib/python/script/core.py
Labels: enhancement

#764 README: more CI status badges added
  README.md
Labels: CI, enhancement

#789 wxGUI: Do not reload the tree after canceled Delete in data catalog
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gis_set.py
  gui/wxpython/startup/guiutils.py
Labels: GUI, gsoc

#802 wxGUI: Changes in Layer Manager tabs order and labels
  gui/wxpython/lmgr/frame.py
Labels: GUI, gsoc, help wanted

#790 wxGUI: Add new location action to database node in Data tab
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gis_set.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/startup/guiutils.py
Labels: GUI, gsoc

#811 wxGUI: Add new icons to data catalog for actions avaliable in context menu
  gui/icons/grass/location-add.svg
  gui/icons/grass/location-download.svg
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/startup/guiutils.py
Labels: GUI, gsoc

#817 wxGUI/mapwin: fix saving the position of overlays after changing their position with the mouse pointer tool
  gui/wxpython/mapwin/buffered.py
Labels: GUI, backport_needed, bug

#795 wxGUI: Allow delete on multiple mapsets in data catalog
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gis_set.py
  gui/wxpython/startup/guiutils.py
Labels: GUI, gsoc

#825 v.kernel: fix inconsistent msg
  locale/po/grassmods_ar.po
  locale/po/grassmods_bn.po
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_el.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fi.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_hu.po
  locale/po/grassmods_id_ID.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_ko.po
  locale/po/grassmods_lv.po
  locale/po/grassmods_ml.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_pt.po
  locale/po/grassmods_pt_BR.po
  locale/po/grassmods_ro.po
  locale/po/grassmods_ru.po
  locale/po/grassmods_si.po
  locale/po/grassmods_sl.po
  locale/po/grassmods_ta.po
  locale/po/grassmods_th.po
  locale/po/grassmods_tr.po
  locale/po/grassmods_uk.po
  locale/po/grassmods_vi.po
  locale/po/grassmods_zh.po
  locale/po/grassmods_zh_CN.po
  vector/v.kernel/main.c
Labels: backport_needed, bug

#830 wxGUI: Add new icons to datacatalog for actions avaliable in context menu (continue)
  gui/icons/grass/location-add.png
  gui/icons/grass/location-add.svg
  gui/icons/grass/location-download.png
  gui/icons/grass/location-download.svg
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
Labels: GUI, gsoc

#813 datum.table: add RGFG95
  lib/gis/datum.table
Labels: backport_needed

#829 Mac: Update app icon for hi-res support
  macosx/app/app.icns
Labels: backport_needed

#680 wxGUI/gcp: fix checking vector map existence in the group
  gui/wxpython/gcp/manager.py
Labels: GUI, bug

#654 wxGUI gcp: Allow choose map display web service layer as target map to display
  gui/wxpython/gcp/manager.py
Labels: GUI, enhancement

#838 wxGUI/animation: show error message dialog if not selected exported file type during export
  gui/wxpython/animation/dialogs.py
Labels: GUI

#847 wxGUI/datacatalog: change ReloadTreeItems to use node-specific reloads
  gui/wxpython/core/treemodel.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gui_core/treeview.py
Labels: GUI
