Repository OSGeo/grass, pull requests merged in 2020-11, with the labels that each got.

#1058 wxGUI/g.gui.psmap: fix launch ps.map module dialog from the File menu
  gui/wxpython/gui_core/prompt.py
Labels: GUI, bug

#1081 libpython: relax requirements for band names
  lib/python/bandref/reader.py
Labels: enhancement

#1074 r.pack/r.unpack: fix pack and unpack VRT raster map with tiled raster maps
  scripts/r.pack/r.pack.py
  scripts/r.unpack/r.unpack.py
Labels: backport_needed, bug

#1056 wxGUI/g.gui.psmap: fix preview orientation if page orientation is landscape
  gui/wxpython/psmap/frame.py
Labels: GUI, backport_needed, bug

#1079 wxGUI/mapwin: fix showing overlays module properties dialog from the map display context menu
  gui/wxpython/mapwin/buffered.py
Labels: GUI, bug

#1059 wxGUI/vselect: fix show error message if selected map layer type is raster
  gui/wxpython/gui_core/vselect.py
Labels: GUI, backport_needed, bug

#1087 manual: add 'plot' keyword
  display/d.profile/main.c
  gui/wxpython/docs/wxGUI.iscatt.html
  gui/wxpython/timeline/g.gui.timeline.py
  gui/wxpython/tplot/g.gui.tplot.py
Labels: manual

#1064 wxGUI/d.mon: fix rendered image size according actual map display size
  gui/wxpython/core/render.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapwin/buffered.py
Labels: GUI, backport_needed, bug

#1060 Use the full string length in strncmp() calls.
  lib/gis/open.c
  lib/vector/Vlib/ascii.c
  lib/vector/Vlib/header.c
Labels: backport_needed

#994 Reflect grassdb changes in catalog
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/rdigit/controller.py
Labels: GUI

#1075 d.legend: Fix position of units and background
  display/d.legend/draw.c
Labels: backport_needed, bug

#1094 simwe: fix r.sim.sediment segfault, memory freeing was in wrong place
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/output.c
Labels: backport_needed

#1098 ci: Update setting env vars, Ubuntu 20.04
  .github/workflows/ci.yml
  .github/workflows/flake8.yml
Labels: CI

#1021 wxGUI/pyedit: add recent files history menu
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/pyedit.py
Labels: GUI, enhancement, hacktoberfest-accepted

#1051 wxGUI/g.gui.rdigit: raster digitizer as standalone module
  gui/wxpython/Makefile
  gui/wxpython/docs/wxGUI.components.html
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/rdigit/Makefile
  gui/wxpython/rdigit/__init__.py
  gui/wxpython/rdigit/controller.py
  gui/wxpython/rdigit/g.gui.rdigit.html
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/rdigit/wxGUI_rdigit_step1.png
  gui/wxpython/rdigit/wxGUI_rdigit_step2.png
  gui/wxpython/rdigit/wxGUI_rdigit_step3.png
  gui/wxpython/rdigit/wxGUI_rdigit_step4.png
  gui/wxpython/rdigit/wxGUI_rdigit_step5.png
Labels: GUI, enhancement

#1055 wxGUI/g.gui.psmap: fix double click on the map frame with vector map
  gui/wxpython/psmap/dialogs.py
Labels: GUI, backport_needed, bug

#1057 wxGUI/g.gui.psmap: disable draw graphics tool on the preview page
  gui/wxpython/psmap/frame.py
Labels: GUI, backport_needed, bug

#1066 wxGUI/lmgr: fix get layer name
  gui/wxpython/lmgr/giface.py
Labels: GUI, backport_needed, bug

#1107 d.polar: fix launch module (py3) and write output EPS file
  scripts/d.polar/d.polar.py
Labels: backport_needed, bug

#1108 d.polar: test added
  scripts/d.polar/testsuite/test_d_polar.py
Labels: backport_needed

#1113 wxGUI: add env parameter in gcmd.py RunCommand
  gui/wxpython/core/gcmd.py
Labels: GUI, backport_needed

#1106 g.extension: fix 'rate limit exceeded' http error during request json file (add-ons paths) from the official add-ons github server url
  scripts/g.extension/g.extension.py
Labels: backport_needed

#1112 wxGUI/dbmgr: Show proper error when table parsing failed
  gui/wxpython/dbmgr/base.py
Labels: GUI

#1114 r.stats.zonal and v.vect.stats: Improve documentation and interface
  raster/r.stats.quantile/main.c
  raster/r.stats.zonal/r.stats.zonal.html
  vector/v.vect.stats/main.c
  vector/v.vect.stats/v.vect.stats.html
Labels: manual

#1089 t.vect.algebra: modified html doc
  temporal/t.vect.algebra/t.vect.algebra.html
Labels: backport_needed

#1120 wxGUI: Replace getchildren and getiterator from ElementTree
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/workspace.py
  gui/wxpython/tools/update_menudata.py
Labels: GUI, backport_needed, bug

#1116 r.pack/r.unpack: fix packing/unpacking vrt map if some of tiled rasters doesn't have color table
  scripts/r.pack/r.pack.py
  scripts/r.unpack/r.unpack.py
Labels: backport_needed
