Repository OSGeo/grass, pull requests merged in 2021-10, with the labels that each got.

#1861 Update r.mask.html
  scripts/r.mask/r.mask.html
Labels: backport_needed, manual

#1909 macOS/install: do not install system level docs
  include/Make/Install.make
Labels: macOS

#1910 macOS/install: do not install system level docs (7.8)
  include/Make/Install.make
Labels: macOS

#1877 wxGUI/vdigit: show error message dialog if no vector map is open for editing, after activate 'Z bulk-labeling of 3D lines' tool
  gui/wxpython/vdigit/toolbars.py
Labels: bug, backport_needed, GUI

#1829 libpython: Resolve path to mapset in setup.init
  doc/notebooks/basic_example.ipynb
  python/grass/grassdb/manage.py
  python/grass/grassdb/testsuite/test_manage.py
  python/grass/jupyter/setup.py
  python/grass/script/setup.py
Labels: enhancement

#1875 Fix link to startup script manual page
  man/build_html.py
Labels: bug

#1894 wxGUI/lmgr: fix Python Shell 'help()' function and intro text
  gui/wxpython/lmgr/pyshell.py
Labels: bug, backport_needed, GUI, Python

#1882 wxGUI/vdigit: use 'FloatSpin' widget, which allows you to set the decimal snapping threshold value
  gui/wxpython/vdigit/preferences.py
Labels: bug, backport_needed, GUI

#1902 display/d.mon: fix get list of running monitors
  display/d.mon/list.c
Labels: bug, backport_needed, C

#1880 Apply patches from OSGeo4W upstreams
  mswindows/osgeo4w/mklibs.sh
  mswindows/osgeo4w/package.sh
  mswindows/osgeo4w/postinstall.bat
Labels: Windows

#1917 Use .wxgui_history as history file for the gui (#962)
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/prompt.py
Labels: GUI

#1801 wxGUI: new design for GNotebooks
  gui/wxpython/core/globalvar.py
  gui/wxpython/core/settings.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/web_services/widgets.py
Labels: enhancement, question, GUI, gsoc

#1922 wxGUI/gui_core: enable/disable toolbar long help if toolbar exists
  gui/wxpython/gui_core/mapdisp.py
Labels: bug, backport_needed, Windows, GUI, Python

#1896 wxGUI/lmgr: prevent the scrollbar from scrolling up when a layer item is checked or unchecked (set focus on the layer item)
  gui/wxpython/lmgr/layertree.py
Labels: bug, backport_needed, GUI, Python

#1526 lib/init: set HISTSIZE to empty string for unlimited size
  lib/init/grass.py
Labels: bug, blocker
