Repository OSGeo/grass, pull requests merged in 2021-09, with the labels that each got.

#1831 jupyter: Render 3D images with m.nviz.image
  .github/workflows/apt.txt
  doc/notebooks/grass_jupyter.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/render3d.py
  python/grass/jupyter/testsuite/test_render3d.py
Labels: enhancement

#1828 jupyter: Fix main notebook URL, note grass.jupyter is a preview
  README.md
  doc/notebooks/basic_example.ipynb
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
Labels: bug

#1836 init: Default to Bash, fallback to sh
  lib/init/grass.py
Labels: enhancement

#1839 python scripting lib: fix run_command(error='status') not returning 0
  python/grass/script/core.py
Labels: bug

#1846 grass.jupyter: add property filename to GrassRenderer
  python/grass/jupyter/display.py
  python/grass/jupyter/testsuite/grassrenderer_test.py
Labels: enhancement

#1844 open_stds: check for unknown band references
  python/grass/temporal/mapcalc.py
Labels: temporal

#1825 wxGUI/gui_core: fix preferences dialog rendered height on wxPython 4.1.1
  gui/wxpython/gui_core/preferences.py
Labels: bug, backport_needed, GUI

#1862 TGIS: add list of band names to t.info
  python/grass/temporal/metadata.py
  python/grass/temporal/register.py
Labels: enhancement, temporal

#1856 r.external: add flag to read min/max from metadata
  raster/r.external/link.c
  raster/r.external/main.c
Labels: enhancement, raster

#1849 fix g.extension -l ValueError
  scripts/g.extension/g.extension.py
Labels: bug

#1883 configure: Fix ODBC configuration on Windows (branch 7.8)
  configure
  configure.ac
  include/config.h.in
Labels: blocker

#1845 configure: upgrade to autoconf 2.69
  aclocal.m4
  config.guess
  config.sub
  configure
  configure.ac
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  include/grass/Makefile
  include/grass/config.h.in
  lib/calc/calc.c
  lib/gis/compress.h
  lib/gis/env.c
  lib/gis/pager.c
  lib/manage/sighold.c
  mswindows/osgeo4w/config.h.vc
Labels: enhancement

#1850 Imagery: move signatures to subdirs
  gui/wxpython/gui_core/gselect.py
  include/grass/defs/imagery.h
  lib/imagery/find.c
  lib/imagery/manage_signatures.c
  lib/imagery/sigfile.c
  lib/imagery/sigset.c
  lib/imagery/sigsetfile.c
  lib/imagery/testsuite/test_imagery_find.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_signature_management.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
Labels: blocker

#1866 Make band references optional to simplify generation of signatures
  imagery/i.cluster/i.cluster.html
  imagery/i.cluster/open_files.c
  imagery/i.gensig/openfiles.c
  imagery/i.gensigset/i.gensigset.html
  imagery/i.gensigset/openfiles.c
  imagery/i.smap/i.smap.html
  include/grass/defs/raster.h
  lib/imagery/iclass_signatures.c
  lib/imagery/sig.c
  lib/imagery/sigset.c
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  lib/raster/raster_metadata.c
  lib/raster/testsuite/test_raster_metadata.py
Labels: blocker

#1890 wxGUI/gui_core: fix 'Set image size' dialog rendered size on wxPython 4.1.1
  gui/wxpython/gui_core/dialogs.py
Labels: bug, backport_needed, GUI, Python

#1899 g.rename: avoid buffer overflow
  lib/manage/do_copy.c
  lib/manage/do_remove.c
  lib/manage/do_rename.c
  lib/manage/empty.c
Labels: bug, backport_needed

#1893 Apply patches from OSGeo4W upstreams backported to relbr78
  lib/python/ctypes/loader.py
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/Makefile
  mswindows/env.bat
  mswindows/osgeo4w/env.bat.tmpl
  mswindows/osgeo4w/mklibs.sh
  mswindows/osgeo4w/package.sh
  mswindows/osgeo4w/postinstall.bat
Labels: Windows, blocker
