Repository OSGeo/grass, pull requests merged in 2021-01, with the labels that each got.

#1225 Happy New Year
  INSTALL
  REQUIREMENTS.html
  grasslib.dox
  include/VERSION
  lib/gis/gislib_cmdline_parsing.dox
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_html.py
  man/build_rest.py
  tools/mkhtml.py
Labels: backport_needed

#1226 fix parsing GDAL/OGR formats which contains a colon in a description
  gui/wxpython/core/utils.py
Labels: GUI, bug

#1223 remove deprecated py 'PIL' module 'fromstring', 'tostring' method call
  gui/wxpython/animation/utils.py
  gui/wxpython/core/utils.py
  lib/python/imaging/images2gif.py
  lib/python/imaging/images2swf.py
Labels: GUI, backport_needed, bug

#1220 wxGUI: dark theme for Python shell and editor
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/gui_core/pystc.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/lmgr/pyshell.py
Labels: GUI

#1196 wxGUI/rlisetup: dissociate the managed window from the manager ('wx.aui.AuiManager' instance) before destroy wizard window
  gui/wxpython/rlisetup/wizard.py
Labels: GUI, backport_needed, bug

#1231 wxGUI/vselect: fix delete row from selected features list
  gui/wxpython/gui_core/vselect.py
Labels: GUI, backport_needed, bug

#1216 wxGUI: New, simplified, unified window titles
  gui/wxpython/animation/frame.py
  gui/wxpython/animation/g.gui.animation.py
  gui/wxpython/datacatalog/frame.py
  gui/wxpython/datacatalog/g.gui.datacatalog.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/g.gui.dbmgr.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/g.gui.gmodeler.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/g.gui.iclass.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/g.gui.mapswipe.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/g.gui.psmap.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/rlisetup/frame.py
  gui/wxpython/rlisetup/g.gui.rlisetup.py
  gui/wxpython/startup/locdownload.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/timeline/g.gui.timeline.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/tplot/g.gui.tplot.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/wxgui.py
  gui/wxpython/wxplot/histogram.py
Labels: GUI, enhancement

#1239 init: Use argparse instead of custom parsing for CLI
  lib/init/grass.py
Labels: enhancement

#1199 wxGUI/tplot: fix x, y coordinates validation
  gui/wxpython/tplot/frame.py
Labels: GUI, backport_needed, bug

#1229 wxGUI: always switch when creating new location/mapset
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/startup/guiutils.py
Labels: GUI

#1194 wxGUI: module search GUI improved
  gui/wxpython/core/treemodel.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/treeview.py
  gui/wxpython/modules/extensions.py
Labels: GUI, enhancement

#1252 json parser: fix mapsets in tokenizing
  lib/gis/parser_json.c
Labels: backport_needed, bug

#1267 wxGUI/datacatalog: fix incorrect entry invalid (broken) regular expression
  gui/wxpython/datacatalog/tree.py
Labels: GUI, bug

#1270 attempt to fix #1218 windows does not start
  mswindows/env.bat
Labels: Windows, backport_needed

#1204 wxGUI: New management icons for vector and raster data import
  gui/icons/grass/raster-import.png
  gui/icons/grass/raster-import.svg
  gui/icons/grass/vector-import.png
  gui/icons/grass/vector-import.svg
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/infomanager.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/lmgr/toolbars.py
Labels: GUI, enhancement

#937 wxGUI datacatalog: process of creating a new database
  gui/wxpython/datacatalog/catalog.py
Labels: GUI, enhancement

#1240 PROJ6+ + WKT2 support
  general/g.proj/create.c
  general/g.proj/input.c
  general/g.proj/output.c
  general/g.region/printwindow.c
  gui/wxpython/core/render.py
  include/defs/gis.h
  include/gprojects.h
  lib/gis/adj_cellhd.c
  lib/gis/get_projinfo.c
  lib/gis/make_loc.c
  lib/proj/do_proj.c
  lib/proj/get_proj.c
  raster/r.external/proj.c
  raster/r.in.gdal/main.c
  raster/r.in.gdal/proj.c
  raster/r.out.gdal/Makefile
  raster/r.out.gdal/main.c
  raster/r.proj/bordwalk.c
  raster/r.proj/main.c
  vector/v.external/proj.c
  vector/v.in.ogr/proj.c
  vector/v.out.ogr/Makefile
  vector/v.out.ogr/main.c
  vector/v.proj/main.c
Labels: backport_needed, bug, enhancement

#1157 r.geomorphon: implement a new "one-off" mode
  raster/r.geomorphon/geom.c
  raster/r.geomorphon/local_proto.h
  raster/r.geomorphon/main.c
  raster/r.geomorphon/pattern.c
  raster/r.geomorphon/profile.c
  raster/r.geomorphon/r.geomorphon.html
Labels: enhancement
