Repository OSGeo/grass, pull requests merged in 2021-12, with the labels that each got.

#322 r.surf.random: double min max for DCELL and r.mapcalc-style random numbers
  raster/r.surf.random/Makefile
  raster/r.surf.random/local_proto.h
  raster/r.surf.random/main.c
  raster/r.surf.random/randsurf.c
  raster/r.surf.random/testsuite/test_min_max.py
Labels: bug, enhancement, backport_needed

#1991 scripts/i.spectral: show error message if one of the supported monitor isn't running
  scripts/i.spectral/i.spectral.html
  scripts/i.spectral/i.spectral.py
Labels: bug, backport_needed, manual, Python

#1454 TGIS DB v3 backward compatible with v2
  lib/temporal/SQL/update_strds_metadata_template.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/core.py
  python/grass/temporal/metadata.py
Labels: enhancement, blocker, temporal

#1999 howto_release.md: updated for G8
  doc/howto_release.md
Labels: backport_needed, manual

#2006 grass.gunittest: Use collections.abc for Iterable
  python/grass/gunittest/reporters.py
Labels: bug, CI, Python

#1174 wxGUI/data: use watchdog to update tree when mapset is switched externally (cmdline)
  gui/wxpython/datacatalog/tree.py
Labels: enhancement, GUI

#1176 wxGUI/mapdisp: it is also possible to remove the MASK interactively
  gui/wxpython/mapdisp/statusbar.py
Labels: enhancement, GUI

#2008 grass.gunittest: Use collections.abc for Iterable (#2006)
  lib/python/gunittest/reporters.py
Labels: bug

#2007 i.vi: fix formatting
  imagery/i.vi/ci.c
  imagery/i.vi/i.vi.html
Labels: bug, C, HTML

#2009 CI: Remove Ubuntu 16.04 from GH Actions for 7.8 branch
  .github/workflows/ci.yml
Labels: bug, CI

#2000 pythonlib: update script.setup docs
  python/grass/script/setup.py
Labels: backport_needed, manual, Python

#1927 wxGUI: rename Modules tab to Tools tab, and Display tab to Layers tab
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/docs/wxGUI.html
  gui/wxpython/docs/wxGUI_layer_manager.jpg
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/toolbars.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/xml/menudata_pyedit.xml
Labels: enhancement, GUI, blocker

#2004 init/pythonlib: unified use of addonbase for mac
  lib/init/Makefile
  lib/init/grass.py
  python/grass/script/Makefile
  python/grass/script/setup.py
Labels: backport_needed, macOS

#2005 libgmath: fix incorrect memset of double array
  lib/gmath/la.c
Labels: backport_needed, C

#2011 TGIS: number_of_bands -> number_of_semantic_labels
  lib/temporal/SQL/strds_metadata_table.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  lib/temporal/SQL/upgrade_db_2_to_3.sql
  python/grass/temporal/metadata.py
Labels: blocker, temporal

#1675 wxGUI: refactoring: Map Display inheriting from wx.Panel
  doc/gui/wxpython/example/README
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/g.gui.example.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/g.gui.iclass.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/g.gui.mapswipe.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  gui/wxpython/vdigit/preferences.py
Labels: GUI, gsoc

#2021 wxGUI: Map display object has no attribute iconsize
  doc/gui/wxpython/example/frame.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
Labels: bug, GUI

#2014 grass.gunittest: Use node and PID in tmp mapset name
  python/grass/gunittest/invoker.py
Labels: enhancement

#2028 Remove pip install for alpine docker
  docker/alpine/Dockerfile
Labels: bug, backport_needed, docker

#2035 i18N: fix long dash confusing xgettext
  imagery/i.cca/main.c
  imagery/i.cluster/open_files.c
  imagery/i.maxlik/open.c
  imagery/i.smap/openfiles.c
  raster/r.in.pdal/r.in.pdal.html
Labels: backport_needed, translation

#2030 wxGUI: fix unexpected type float error with Python 3.10
  gui/wxpython/mapwin/buffered.py
Labels: bug, backport_needed, GUI, Python

#2036 wxGUI: font size Python 3.10 fix
  gui/wxpython/gui_core/goutput.py
Labels: bug, backport_needed, GUI, Python

#2026 wxGUI/location_wizard: make TextCtrl widgets horizontally growable
  gui/wxpython/location_wizard/wizard.py
Labels: bug, GUI

#1892 utils/mkhtml.py: fix get and set addon manual page source and history URL link
  utils/mkhtml.py
Labels: bug, backport_needed, manual, Python, HTML

#2037 utils/mkhtml.py: fix setting source code and history URL if official addon is installed from the local directory
  utils/mkhtml.py
Labels: bug, backport_needed

#2038 tools/mkhtml.py: fix module/official addons source code and history URL branch
  tools/mkhtml.py
Labels: bug

#2039 utils/mkhtml.py: fix module/official addons source code and history URL branch
  utils/mkhtml.py
Labels: bug

#2041 wxGUI/preferences.py: fix loading default user settings
  gui/wxpython/gui_core/preferences.py
Labels: bug, backport_needed, GUI

#1962 remove .setpdfwrite option on MS Windows
  gui/wxpython/psmap/frame.py
Labels: bug, Windows

#1694 Fix a typo and remove -z flag mention in v.out.ogr warning messages
  vector/v.out.ogr/main.c
Labels: bug, backport_needed

#2054 utils/mkhtml.py: fix addons_paths.json file path
  utils/mkhtml.py
Labels: enhancement, backport_needed
