Repository OSGeo/grass, pull requests merged in 2021-08, with the labels that each got.

#1768 r.in.pdal: info.cpp also needs PDALCPPFLAGS
  raster/r.in.pdal/Makefile
Labels: bug, raster

#1772 misc: fix indentation for r.series and r.patch
  raster/r.patch/do_patch.c
  raster/r.patch/local_proto.h
  raster/r.patch/main.c
  raster/r.patch/support.c
  raster/r.series/main.c
Labels: add to git-blame-ignore-revs, gsoc

#1655 pygrass: call centroid function when buffering areas
  python/grass/pygrass/vector/geometry.py
Labels: bug

#1783 wxGUI: NewDisplay button moved to LMToolsToolbar
  gui/wxpython/lmgr/toolbars.py
Labels: enhancement, GUI, gsoc

#1769 Raster Support for Interactive Jupyter maps with folium
  doc/notebooks/jupyter_integration.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/utils.py
Labels: enhancement, gsoc

#1780 wxGUI/Single-Window: New change page event for AuiNotebook
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
Labels: enhancement, GUI, gsoc

#1739 Test Module for Non-interactive display in Jupyter Notebooks
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/testsuite/grassrenderer_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/jupyter/utils.py
Labels: gsoc

#1775 wxGUI/Single-Window: arrange a startup GUI
  gui/wxpython/main_window/frame.py
Labels: GUI, gsoc

#1796 libraster: fix Rast_legal_bandref()
  lib/raster/raster_metadata.c
  lib/raster/testsuite/test_raster_metadata.py
Labels: raster, temporal

#1785 wxGUI: Each layertree has its own display toolbar
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI, gsoc

#1790 Add github workflow for docker build and push
  .github/workflows/docker.yml
  docker/alpine/Dockerfile
  docker/alpine/README.md
  docker/debian/Dockerfile
  docker/debian/README.md
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
Labels: backport_needed, docker

#1800 Docstring improvements
  python/grass/jupyter/__init__.py
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/setup.py
Labels: enhancement, gsoc, manual

#1807 Reduce Flake8 config to one file
  .flake8
  .github/workflows/flake8.yml
  gui/wxpython/.flake8
  python/grass/.flake8
  scripts/.flake8
  temporal/.flake8
Labels: enhancement, CI

#1811 wxGUI: fix settings when item added to settings but it doesn't exist yet locally
  gui/wxpython/core/settings.py
Labels: bug, GUI

#1787 Example notebooks
  doc/notebooks/basic_example.ipynb
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/jupyter_integration.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  python/grass/jupyter/display.py
Labels: enhancement, gsoc, manual

#1812 r.compress: Reversing logic to fix Failure Reporting
  raster/r.compress/main.c
Labels: backport_needed

#1788 gunittest: CalledModuleError constructor accepts module, code, returncode, and errors
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
Labels: bug

#1813 ci: Fix ifs for jobs and rename master to main
  .github/workflows/docker.yml
Labels: bug, docker, CI

#1822 wxGUI/vnet: fix removing page, wx layout assert error, missing giface
  gui/wxpython/dbmgr/base.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
Labels: bug, backport_needed, GUI

#1824 v.db.droprow: remove randomness from testsuite to fix failing tests
  scripts/v.db.droprow/testsuite/test_v_db_droprow.py
Labels: backport_needed

#1830 wxGUI/Single-Window: Ensure display tab to be visible when added
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI

#1827 jupyter: Add virtual framebuffer X server dependency
  binder/apt.txt
  binder/requirements.txt
Labels: enhancement

#1832 ci: Print version info for Ubuntu and CentOS runs
  .github/workflows/centos.yml
  .github/workflows/print_versions.sh
  .github/workflows/ubuntu.yml
Labels: CI
