Repository OSGeo/grass, pull requests merged in 2021-07, with the labels that each got.

#1680 wxGUI: fix wx flag assertion error in SavedRegion Dialog (#1679)
  gui/wxpython/gui_core/dialogs.py
Labels: GUI, backport_needed

#1702 CI: Make test report available even on failure
  .github/workflows/ci.yml
Labels: CI, bug

#1703 CI: Add matplotlib to apt deps
  .github/workflows/apt.txt
Labels: CI

#1707 gunittest: Fix stdout used instead of stderr
  python/grass/gunittest/invoker.py
Labels: bug

#1272 Simplify raster band reference management
  include/grass/defs/gis.h
  include/grass/defs/raster.h
  lib/gis/band_reference.c
  lib/raster/band_reference.c
  lib/raster/raster_metadata.c
  lib/raster/testsuite/test_raster_metadata.py
  python/grass/pygrass/raster/abstract.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/space_time_datasets.py
  raster/r.info/main.c
  raster/r.info/r.info.html
  raster/r.support/main.c
  raster/r.support/r.support.html
  raster/r.support/testsuite/test_r_support.py
  scripts/i.band/i.band.html
  scripts/i.band/i.band.py
  scripts/i.band/testsuite/test_i_band.py
Labels: enhancement, raster

#1670 libpython: Add helper library for benchmarking
  python/grass/Makefile
  python/grass/benchmark/Makefile
  python/grass/benchmark/__init__.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/runners.py
  python/grass/benchmark/testsuite/test_benchmark.py
Labels: enhancement

#1704 wxGUI/mapdisplay: register context menu items, addresses #1691
  gui/wxpython/lmgr/giface.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapwin/buffered.py
Labels: GUI, bug

#1717 wxGUI/MapSwipe: Show comp. extent option in statusbar does not work #1714
  gui/wxpython/mapdisp/statusbar.py
Labels: GUI, bug

#1711 libpython: Save and load benchmark results
  python/grass/benchmark/Makefile
  python/grass/benchmark/__init__.py
  python/grass/benchmark/results.py
  python/grass/benchmark/testsuite/test_benchmark.py
Labels: enhancement

#1718 wxGUI/splashscreen: use standard one, try to show it before main app, increase timeout
  gui/wxpython/wxgui.py
Labels: GUI

#1722 lib/raster: add strerror(errno) to write failures
  lib/raster/put_row.c
Labels: backport_needed, enhancement, raster

#1687 g.filename: Create dir in mapset only when asked
  general/g.filename/g.filename.html
  general/g.filename/main.c
Labels: bug

#1712 pygrass: Add update parameters method to Module
  python/grass/benchmark/runners.py
  python/grass/pygrass/modules/interface/module.py
Labels: enhancement

#1681 libgis: Distinguish dirs and objects in dir creation
  general/g.filename/main.c
  include/grass/defs/gis.h
  lib/db/dbmi_base/default_name.c
  lib/gis/mapset_msc.c
  lib/gis/open.c
  lib/gis/tempfile.c
  lib/manage/do_copy.c
  lib/raster/close.c
  lib/raster/gdal.c
  lib/raster/open.c
  lib/raster/quant_io.c
  lib/raster3d/mapset.c
  lib/vector/Vlib/map.c
Labels: bug

#1725 wxGUI/mapswipe: fix saving image to file
  gui/wxpython/mapswipe/frame.py
Labels: GUI, bug

#1697 Fix Cairo for Windows
  lib/cairodriver/text.c
Labels: Windows, backport_needed, bug

#1710 Interactive vector maps for Jupyter Notebooks
  binder/requirements.txt
  doc/notebooks/jupyter_integration.ipynb
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/interact_display.py
Labels: enhancement, gsoc

#1733 libpython: Support non-parallel runs better
  python/grass/benchmark/Makefile
  python/grass/benchmark/__init__.py
  python/grass/benchmark/__main__.py
  python/grass/benchmark/app.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/results.py
  python/grass/benchmark/runners.py
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/benchmark/testsuite/test_benchmark_cli.py
Labels: enhancement

#1700 g.extension: get branch from version
  scripts/g.extension/g.extension.py
Labels: backport_needed, blocker, enhancement

#1749 ci: Remove duplication in Ubuntu workflow
  .github/workflows/build_ubuntu-18.04.sh
  .github/workflows/build_ubuntu-20.04.sh
  .github/workflows/ci_ubuntu18.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gcc.yml
  .github/workflows/ubuntu.yml
  README.md
Labels: CI

#1757 Fix osgeo4w workflow
  .github/workflows/osgeo4w.yml
Labels: CI, Windows

#1761 libpython: Add plot nprocs to benchmark CLI
  python/grass/benchmark/app.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/results.py
  python/grass/benchmark/testsuite/test_benchmark_cli.py
Labels: enhancement

#1729 wxGUI: remove deprecated methods from MapDisplay
  gui/wxpython/core/giface.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/digit.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/g.gui.iclass.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  gui/wxpython/vdigit/main.py
  gui/wxpython/vdigit/preferences.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vdigit/wxdigit.py
Labels: GUI

#1763 wxGUI: fix deleting dict key while iterating overlays
  gui/wxpython/lmgr/workspace.py
Labels: GUI

#1764 wxGUI: fix layout flag assert in wms dialog
  gui/wxpython/web_services/dialogs.py
Labels: GUI, backport_needed, bug

#1753 init: Update doc for non-interactive jobs
  lib/init/grass.html
  lib/init/variables.html
Labels: manual

#1685 gunittest: init super() to initialise 'errors' attribute
  python/grass/gunittest/loader.py
Labels: bug

#1762 g.extension: attempt to backport changes from master
  scripts/.flake8
  scripts/g.extension/g.extension.py
Labels: bug

#1765 misc(r.slope.aspect): reindent C source files
  raster/r.slope.aspect/main.c
Labels: gsoc

#1734 feat(misc): set NPROCS environment variable
  lib/gis/parser_standard_options.c
  lib/init/variables.html
Labels: enhancement, gsoc

#1689 wxGUI: refactoring: build GUI tools' status bars based on wx.StatusBar widget
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
Labels: GUI, gsoc

#1723 __getattr__ shortcut for calling GRASS display modules
  doc/notebooks/jupyter_integration.ipynb
  python/grass/jupyter/display.py
Labels: enhancement, gsoc

#1732 wxGUI: Single-Window GUI: Integrate new map display wx.Panels into a AuiNotebook center pane #1735
  gui/wxpython/main_window/frame.py
Labels: GUI, gsoc

#1727 Add temporary files for Non-Interactive Display
  doc/notebooks/jupyter_integration.ipynb
  python/grass/jupyter/display.py
Labels: enhancement, gsoc
