Repository OSGeo/grass, pull requests merged in 2021-05, with the labels that each got.

#1550 wxGUI/LocWiz: remove unneeded +ellps proj4string tag
  gui/wxpython/location_wizard/wizard.py
Labels: backport_needed

#1564 r.out.gdal / v.out.ogr: fix xy export
  lib/gis/get_projinfo.c
  raster/r.out.gdal/main.c
  vector/v.out.ogr/main.c
Labels: backport_needed, bug

#1514 r.sun: Fix parallel computation
  raster/r.sun/main.c
  raster/r.sun/testsuite/test_rsun.py
Labels: backport_needed, bug, raster

#1456 wxGUI/mapwin: check if 'BufferedMapWindow' instance exist before calling '_runUpdateMap()' method
  gui/wxpython/mapwin/buffered.py
Labels: GUI, bug

#1566 CONTRIBUTING.md: intro added for newcomers
  CONTRIBUTING.md
Labels: manual

#1568 Dockerfile_alpine: fix broken pip six installation
  docker/alpine/Dockerfile_alpine
Labels: backport_needed, docker

#1525 pythonlib: Use more specific language in CalledModuleError
  python/grass/exceptions/__init__.py
Labels: enhancement

#1573 wxGUI/prompt: update autocomplete map list when there is a change in db
  gui/wxpython/gui_core/prompt.py
Labels: GUI

#1574 wxGUI/dbmgr: fix get statistics for character column type if it contains NULL value
  gui/wxpython/dbmgr/base.py
Labels: GUI, backport_needed, bug

#1565 g.extension: match module files on Windows
  scripts/g.extension/g.extension.py
Labels: backport_needed

#1575 g.extension: match module files on Windows
  scripts/g.extension/g.extension.py
Labels: Windows, bug

#1581 Dockerfile_alpine: fix broken pip six installation
  docker/alpine/Dockerfile_alpine
Labels: backport_needed

#1582 g.proj: fix reading input WKT
  general/g.proj/input.c
Labels: backport_needed, bug

#1584 v.what: Fix script outputs for -d (space after = or : instead of =)
  vector/v.what/what.c
Labels: bug, vector

#1567 v.hull: use standard C boolean type
  include/grass/gis.h
  lib/lidar/lidar.h
  raster/r.param.scale/param.h
  raster/r.surf.idw/main.h
  raster3d/r3.showdspf/Ball.c
  raster3d/r3.showdspf/togif.c
  vector/v.hull/chull.c
Labels: backport_needed

#1585 configure, config.sub, config.guess: updated
  config.guess
  config.sub
  configure
Labels: backport_needed

#1591 wxGUI: Split widget initialization from notebook logic
  gui/wxpython/lmgr/frame.py
Labels: GUI

#1598 wxGUI: easier switching between locations (GRASS GIS 8)
  gui/wxpython/datacatalog/tree.py
Labels: GUI, enhancement
