Repository OSGeo/grass, pull requests merged in 2021-03, with the labels that each got.

#1413 v.db.update: Use case insensitive comparison for columns
  scripts/v.db.update/v.db.update.py
Labels: backport_needed, bug

#1409 v.db.join: Use case insensitive comparison for columns
  scripts/v.db.join/v.db.join.py
Labels: backport_needed, bug

#1416 wxGUI: fix importing data when new location was created
  gui/wxpython/startup/guiutils.py
Labels: GUI, bug

#1428 wxGUI: Exit after fatal lock errors
  lib/init/grass.py
Labels: GUI, bug

#1444 lib/proj: fix results for ll equivalents
  display/d.where/main.c
  lib/proj/do_proj.c
Labels: backport_needed, bug

#1438 t.upgrade: added from addons
  temporal/Makefile
  temporal/t.upgrade/Makefile
  temporal/t.upgrade/t.upgrade.html
  temporal/t.upgrade/t.upgrade.py
Labels: enhancement, temporal

#1460 libproj: added alias for ITRF92
  lib/proj/convert.c
Labels: backport_needed

#1435 TGRASS: remove bogus band references error msg
  python/grass/temporal/space_time_datasets.py
Labels: temporal

#1449 t.downgrade: downgrade a temporal db from version 3 to 2
  lib/python/temporal/core.py
  lib/temporal/SQL/downgrade_db_3_to_2.sql
  lib/temporal/SQL/drop_views.sql
  temporal/Makefile
  temporal/t.downgrade/Makefile
  temporal/t.downgrade/t.downgrade.html
  temporal/t.downgrade/t.downgrade.py
Labels: enhancement, temporal

#1459 lib/gis: add test for invalid value to parser
  lib/gis/parser.c
Labels: backport_needed, bug, enhancement

#1458 wxGUI/lmgr: adjusts the position of the layer context option button (if opacity label is appended into layer name)
  gui/wxpython/lmgr/layertree.py
Labels: GUI, bug

#1468 TGIS DB mismatch: t.upgrade is now available as the core module
  python/grass/temporal/core.py
Labels: temporal

#1452 d.mon: Do not clear an existing output file on fatal error
  display/d.mon/start.c
Labels: bug

#1447 Number of bands relevant only to strds
  python/grass/temporal/metadata.py
Labels: blocker, bug

#1473 t.info: clarify 'dataset not found' error message
  temporal/t.info/t.info.py
Labels: temporal

#1453 r.grow.distance: add minimum and maximum distance options
  raster/r.grow.distance/main.c
  raster/r.grow.distance/r.grow.distance.html
Labels: enhancement

#1478 v.colors: Fix color inversion
  vector/v.colors/local_proto.h
  vector/v.colors/main.c
  vector/v.colors/make_colors.c
  vector/v.colors/scan_attr.c
  vector/v.colors/scan_cats.c
  vector/v.colors/scan_z.c
  vector/v.colors/write_rgb.c
Labels: bug, vector

#1455 wxGUI: fix calling coordselect validator
  gui/wxpython/gui_core/gselect.py
Labels: GUI, backport_needed, bug

#1228 wxGUI/gcmd: fix read command stdout
  gui/wxpython/core/gcmd.py
Labels: GUI, backport_needed, bug

#1321 wxGUI: Make Display related toolbars part of Display tab
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/toolbars.py
Labels: GUI, enhancement

#1485 wxGUI: one row for lmgr toolbar after adding 3D view tab
  gui/wxpython/lmgr/frame.py
Labels: GUI, bug

#1433 parser: Show error for option file
  lib/gis/parser.c
Labels: backport_needed

#1492 v.patch: fix #1488
  vector/v.patch/main.c
Labels: backport_needed, bug
