Repository OSGeo/grass, pull requests merged in 2021-11, with the labels that each got.

#1054 r.random: Add -s flag, remove -i flag, redo interface
  raster/r.random/README
  raster/r.random/local_proto.h
  raster/r.random/main.c
  raster/r.random/r.random.html
  raster/r.random/support.c
  raster/r.random/testsuite/test_r_random.py
  raster/r.random/testsuite/testrandom.py
Labels: blocker

#1975 CI: Run Docker for all release branches
  .github/workflows/docker.yml
Labels: enhancement, CI

#1961 wxGUI/psmap: remove setpdfwrite on Windows
  gui/wxpython/psmap/frame.py
Labels: bug, Windows, GUI

#1977 wxGUI/xml/toolboxes.xml: add missing 'r.fill.stats' module item inside 'InterpolateSurfaces' toolbox
  gui/wxpython/xml/toolboxes.xml
Labels: bug, backport_needed, GUI

#1838 init: Lazy-initialize translations, fix order dependency
  python/grass/__init__.py
Labels: bug, enhancement

#1805 Output both Bash and Python for failed tests
  python/grass/gunittest/case.py
Labels: enhancement

#1660 v.perturb: If vector map is 3D, preserve the z coordinate
  vector/v.perturb/main.c
Labels: enhancement

#1978 display/d.linegraph: fix generate graph image if 'x_title', 'y_title' param arg isn't defined
  display/d.linegraph/main.c
Labels: bug, C

#1988 g.region: Add more detail into LL error messages
  lib/gis/adj_cellhd.c
Labels: enhancement

#1985 i.vi: fix PVI formula
  imagery/i.vi/pvi.c
Labels: bug, backport_needed, C

#1989 wxGUI/digitizer: don't attempt to draw zero-length lines
  gui/wxpython/vdigit/wxdisplay.py
Labels: bug, GUI

#1994 r.object.geometry: fix msg typo and test script
  raster/r.object.geometry/main.c
  raster/r.object.geometry/testsuite/r_object_geometry_test.py
Labels: backport_needed, manual, CI

#1992 r.out.gdal: add offset/scale options
  raster/r.out.gdal/export_band.c
  raster/r.out.gdal/local_proto.h
  raster/r.out.gdal/main.c
  raster/r.out.gdal/r.out.gdal.html
Labels: enhancement, raster, C

#1835 init: Output value for sys.path in config
  doc/notebooks/basic_example.ipynb
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  lib/init/grass.py
  python/grass/script/setup.py
Labels: enhancement
