Repository OSGeo/grass, pull requests merged in 2022-03, with the labels that each got.

#2153 wxGUI: Statusbar settings as a part of Map Display Settings
  gui/wxpython/gcp/statusbar.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/image2target/ii2t_statusbar.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/photo2image/ip2i_statusbar.py
Labels: enhancement, GUI

#2194 user message: change Proj.4 to PROJ
  gui/wxpython/gui_core/preferences.py
  locale/po/grasswxpy_bn.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fi.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_id_ID.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ja.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_lv.po
  locale/po/grasswxpy_ml.po
  locale/po/grasswxpy_pl.po
  locale/po/grasswxpy_pt.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_ro.po
  locale/po/grasswxpy_ru.po
  locale/po/grasswxpy_si.po
  locale/po/grasswxpy_ta.po
  locale/po/grasswxpy_th.po
  locale/po/grasswxpy_tr.po
  locale/po/grasswxpy_uk.po
  locale/po/grasswxpy_vi.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_CN.po
Labels: backport_needed, manual

#2160 Fix -Wunused-lambda-capture compiler warning
  vector/v.in.pdal/main.cpp
Labels: enhancement, C++

#2157 Fix -Wtautological-overlap-compare compiler warning
  raster/r.slope.aspect/main.c
Labels: bug, backport_needed, C

#1967 grass.pygrass: Use unique tmp mapset names GridModule
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Labels: enhancement

#2242 grass.benchmark: fix nprocs plot ticks to be integers
  python/grass/benchmark/plots.py
Labels: Python

#2241 Increase minimum Python version to 3.7
  .github/workflows/build_ubuntu-18.04.sh
  .github/workflows/centos.yml
  .github/workflows/pylint.yml
  .github/workflows/ubuntu.yml
  REQUIREMENTS.html
  pyproject.toml
Labels: Python

#1782 r.patch: implement parallelization with OpenMP
  raster/r.patch/Makefile
  raster/r.patch/benchmark/benchmark_r_patch.py
  raster/r.patch/benchmark/benchmark_r_patch_memory.py
  raster/r.patch/main.c
  raster/r.patch/r.patch.html
  raster/r.patch/r_patch_benchmark_memory.png
  raster/r.patch/r_patch_benchmark_size.png
  raster/r.patch/testsuite/test_rpatch_artificial.py
Labels: enhancement, gsoc, raster

#2245 CI: Test also without OpenMP and pthreads
  .github/workflows/build_ubuntu-20.04_without_x.sh
  .github/workflows/ubuntu.yml
Labels: CI, C

#2244 libgis: Add function to read or read again GISRC var
  .github/workflows/pylint.yml
  include/grass/defs/gis.h
  lib/gis/env.c
  lib/gis/tests/lib_gis_env_test.py
Labels: enhancement, C

#2246 grass.script: Do not print stderr when not captured
  python/grass/script/core.py
  python/grass/script/tests/grass_script_setup_test.py
Labels: bug, Python

#1767 r.slope.aspect: implement parallelization with OpenMP
  lib/gis/testsuite/test_parser_json.py
  raster/r.slope.aspect/Makefile
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect_memory.py
  raster/r.slope.aspect/main.c
  raster/r.slope.aspect/r.slope.aspect.html
  raster/r.slope.aspect/r_slope_aspect_benchmark_memory.png
  raster/r.slope.aspect/r_slope_aspect_benchmark_size.png
  raster/r.slope.aspect/testsuite/test_r_slope_aspect.py
Labels: enhancement, gsoc, raster

#2256 docs: add config option python_path
  lib/init/grass.html
Labels: manual, HTML

#2243 grass.lib: Update ctypesgen
  lib/imagery/testsuite/test_imagery_signature_management.py
  python/libgrass_interface_generator/LICENSE
  python/libgrass_interface_generator/Makefile
  python/libgrass_interface_generator/README.md
  python/libgrass_interface_generator/ctypesgen/.gitignore
  python/libgrass_interface_generator/ctypesgen/__init__.py
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/descriptions.py
  python/libgrass_interface_generator/ctypesgen/expressions.py
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
  python/libgrass_interface_generator/ctypesgen/main.py
  python/libgrass_interface_generator/ctypesgen/messages.py
  python/libgrass_interface_generator/ctypesgen/options.py
  python/libgrass_interface_generator/ctypesgen/parser/__init__.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
  python/libgrass_interface_generator/ctypesgen/parser/cgrammar.py
  python/libgrass_interface_generator/ctypesgen/parser/cparser.py
  python/libgrass_interface_generator/ctypesgen/parser/ctypesparser.py
  python/libgrass_interface_generator/ctypesgen/parser/datacollectingparser.py
  python/libgrass_interface_generator/ctypesgen/parser/lex.py
  python/libgrass_interface_generator/ctypesgen/parser/lextab.py
  python/libgrass_interface_generator/ctypesgen/parser/parsetab.py
  python/libgrass_interface_generator/ctypesgen/parser/pplexer.py
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
  python/libgrass_interface_generator/ctypesgen/parser/yacc.py
  python/libgrass_interface_generator/ctypesgen/printer_json/__init__.py
  python/libgrass_interface_generator/ctypesgen/printer_json/printer.py
  python/libgrass_interface_generator/ctypesgen/printer_json/test.py
  python/libgrass_interface_generator/ctypesgen/printer_python/__init__.py
  python/libgrass_interface_generator/ctypesgen/printer_python/preamble.py
  python/libgrass_interface_generator/ctypesgen/printer_python/preamble/2_7.py
  python/libgrass_interface_generator/ctypesgen/printer_python/preamble/3_2.py
  python/libgrass_interface_generator/ctypesgen/printer_python/preamble/__init__.py
  python/libgrass_interface_generator/ctypesgen/printer_python/printer.py
  python/libgrass_interface_generator/ctypesgen/printer_python/test.py
  python/libgrass_interface_generator/ctypesgen/processor/__init__.py
  python/libgrass_interface_generator/ctypesgen/processor/dependencies.py
  python/libgrass_interface_generator/ctypesgen/processor/operations.py
  python/libgrass_interface_generator/ctypesgen/processor/pipeline.py
  python/libgrass_interface_generator/ctypesgen/test/.gitignore
  python/libgrass_interface_generator/ctypesgen/test/ctypesgentest.py
  python/libgrass_interface_generator/ctypesgen/test/testsuite.py
  python/libgrass_interface_generator/ctypesgen/version.py
  python/libgrass_interface_generator/run.py
Labels: enhancement, backport_needed, Python

#1924 TGIS: enhance mapset access management
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/register.py
  python/grass/temporal/testsuite/test_register_function.py
Labels: enhancement, temporal

#2263 docker: GRASS GIS docker matrix update
  docker/README.md
Labels: backport_needed, manual, docker

#2247 grass.jupyter: Test init and session
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Labels: Python

#2250 Various fixes
  imagery/i.atcorr/main.cpp
  imagery/i.atcorr/output.h
  imagery/i.atcorr/transform.cpp
  imagery/i.atcorr/transform.h
  include/grass/defs/ogsf.h
  include/grass/iostream/mm_utils.h
  lib/bitmap/bitmap.c
  lib/bitmap/sparse.c
  lib/calc/xmode.c
  lib/calc/xnmode.c
  lib/gis/make_loc.c
  lib/iostream/mm_utils.cpp
  lib/ogsf/gs3.c
  lib/rst/data/dataquad.c
  lib/vector/dglib/examples/cr_from_a.c
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/sweep.h
  raster/r.terraflow/water.h
  raster/r.viewshed/distribute.cpp
  raster/r.viewshed/distribute.h
  raster/r.viewshed/rbbst.cpp
  raster/r.viewshed/rbbst.h
  raster/r.viewshed/visibility.cpp
  raster/r.viewshed/visibility.h
Labels: bug, C

#2221 r.watershed: Null accumulation outside elevation, 0 flow from null flow
  raster/r.watershed/ram/init_vars.c
  raster/r.watershed/seg/init_vars.c
Labels: raster

#1884 g.region: Apply -a flag for n=, s=, w=, e=
  general/g.region/main.c
Labels: enhancement

#1952 startup: Use universal newlines
  lib/init/grass.py
Labels: bug, backport_needed, Windows

#2262 TGIS: add semantic label to STRDS export
  python/grass/temporal/stds_export.py
Labels: bug, backport_needed, temporal

#1930 TGIS: new module t.copy
  temporal/Makefile
  temporal/t.copy/Makefile
  temporal/t.copy/t.copy.html
  temporal/t.copy/t.copy.py
  temporal/t.copy/testsuite/test_t_copy.py
Labels: enhancement, temporal

#2269 lib/imagery: fix SONAME missing
  lib/imagery/Makefile
Labels: bug, backport_needed

#2277 r.in.pdal: pass LasHeader::header by const ref
  raster/r.in.pdal/info.cpp
Labels: bug, backport_needed, blocker, raster, C++

#2266 Fix possible ressource leak in lib/gis/copy_file.c
  lib/gis/copy_file.c
Labels: backport_needed, C

#2274 ci/centos: use C++11 standard compile mode
  .github/workflows/build_centos.sh
Labels: backport_needed, CI

#1147 wxGUI/toolbars: fix toolbar tools labels
  doc/gui/wxpython/example/toolbars.py
  gui/wxpython/animation/toolbars.py
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/gcp/toolbars.py
  gui/wxpython/gmodeler/toolbars.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/gui_core/simplelmgr.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/toolbars.py
  gui/wxpython/image2target/ii2t_toolbars.py
  gui/wxpython/iscatt/toolbars.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/photo2image/ip2i_toolbars.py
  gui/wxpython/psmap/toolbars.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vnet/toolbars.py
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
  gui/wxpython/wxplot/scatter.py
Labels: bug, backport_needed, GUI

#2249 GridModule: use parallel r.patch when overlap=0 to speed up patching tiles
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/grid/patch.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Labels: enhancement

#2286 CI: Update to Black 22.3 with fixed Click
  .github/workflows/black.yml
Labels: bug, CI, Python

#1774 wxGUI: Fix Location Wizard titles being cut off.
  gui/wxpython/location_wizard/wizard.py
Labels: enhancement, GUI

#2248 DB driver PG: convert character varying without length to text
  db/drivers/postgres/create_table.c
  db/drivers/postgres/describe.c
Labels: enhancement, C, database

#2258 t.rast.list: Add CSV, JSON, YAML outputs
  python/grass/temporal/list_stds.py
  temporal/t.rast.list/t.rast.list.html
  temporal/t.rast.list/t.rast.list.py
  temporal/t.rast.list/tests/conftest.py
  temporal/t.rast.list/tests/t_rast_list_test.py
  temporal/t.rast.list/testsuite/test_t_rast_list.sh
Labels: enhancement, temporal, Python
