Repository OSGeo/grass, pull requests merged in 2022-11, with the labels that each got.

#2619 wxGUI: fix setting of user defined window position and size for single window mode
  gui/wxpython/main_window/frame.py
Labels: bug, backport_needed, GUI

#2573 r.kappa: Fix failures, garbage output, fallback to category values
  raster/r.kappa/calc_kappa.c
  raster/r.kappa/prt2csv_mat.c
  raster/r.kappa/testsuite/data/class_1.ascii
  raster/r.kappa/testsuite/data/class_2.ascii
  raster/r.kappa/testsuite/data/ref_1.ascii
  raster/r.kappa/testsuite/data/ref_2.ascii
  raster/r.kappa/testsuite/test_r_kappa.py
Labels: backport_needed, raster, C

#2166 Fix -Wunused-result compiler warnings
  display/d.mon/start.c
  general/g.proj/input.c
  general/g.rename/main.c
  lib/bitmap/bitmap.c
  lib/cairodriver/read_bmp.c
  lib/db/dbmi_driver/d_error.c
  lib/gis/error.c
  lib/gis/writ_zeros.c
  lib/rst/interp_float/output2d.c
  lib/rst/interp_float/resout2d.c
  lib/vector/Vlib/break_polygons.c
  ps/ps.map/eps.c
  raster/r.fill.dir/dopolys.c
  raster/r.fill.dir/filldir.c
  raster/r.fill.dir/main.c
  raster/r.fill.dir/ppupdate.c
  raster/r.fill.dir/resolve.c
  raster/r.fill.dir/wtrshed.c
  raster/r.grow.distance/main.c
  raster/r.in.ascii/gethead.c
  raster/r.in.ascii/main.c
  raster/r.in.bin/main.c
  raster/r.in.gridatb/file_io.c
  raster/r.in.mat/main.c
  raster/r.param.scale/disp_matrix.c
  raster/r.topmodel/file_io.c
  vector/v.vol.rst/user1.c
Labels: enhancement, C

#2621 wxGUI: add r.buildvrt module into DevelopRasterMap toolbox
  gui/wxpython/xml/toolboxes.xml
Labels: bug, backport_needed, GUI

#2165 Fix -Wsometimes-uninitialized compiler warnings
  db/drivers/ogr/describe.c
  display/d.vect.thematic/main.c
  display/d.vect/opt.c
  imagery/i.eb.soilheatflux/g0.c
  lib/imagery/iscatt_structs.c
  lib/raster3d/getblock.c
  lib/vector/Vlib/build_pg.c
  raster/r.buffer/main.c
  raster/r.fill.stats/main.c
  raster/r.resamp.rst/main.c
  raster3d/r3.in.bin/main.c
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.out.bin/main.c
  raster3d/r3.out.v5d/v5d.c
  vector/v.normal/main.c
  vector/v.proj/main.c
  vector/v.sample/main.c
  vector/v.to.rast3/main.c
Labels: enhancement, C

#2164 Fix -Wuninitialized compiler warnings
  imagery/i.gensig/means.c
  lib/raster3d/test/test_put_get_value_large_file.c
  lib/rst/interp_float/ressegm2d.c
  lib/rst/interp_float/segmen2d_parallel.c
  lib/vector/Vlib/ascii.c
  lib/vector/Vlib/net_build.c
  lib/vector/neta/path.c
  raster/r.statistics/o_sum.c
  raster/r.stream.extract/streams.c
  vector/v.lrs/v.lrs.label/main.c
  vector/v.net.salesman/main.c
  vector/v.split/main.c
Labels: enhancement, C

#2630 v.in.ogr: skip columns with unsupported data type instead of failing to import
  vector/v.in.ogr/main.c
Labels: bug, backport_needed, C, database

#2643 v.surf.rst: fix cross-validation and prevent running it multi-threaded
  vector/v.surf.rst/main.c
Labels: bug, backport_needed, C

#2632 wxGUI: BaseToolbar.OnTool needs to be explicitly defined
  gui/wxpython/gui_core/toolbars.py
Labels: bug, backport_needed, GUI

#2639 utils/g.html2man: don't show mobile TOC menu JS code on cli man page
  utils/g.html2man/ghtml.py
  utils/g.html2man/testsuite/test_ghtml2man.py
Labels: bug, backport_needed, manual, HTML

#2636 Use GRASS version for non-git builds.
  configure
  configure.ac
Labels: bug, backport_needed, C

#2624 t.rast.univar/t.rast3d.univar: add support for multiprocessing
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.univar/t.rast3d.univar.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
Labels: enhancement, temporal, Python

#2614 grass.pygrass: GridModule clean up temporary mapsets when exception occurs
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Labels: bug, backport_needed

#2650 Fix -Wunused-but-set-variable compiler warnings, part 2
  lib/arraystats/class.c
  lib/cairodriver/graph.c
  lib/cdhc/andrsnde.c
  lib/cdhc/dmax.c
  lib/cdhc/kotz.c
  lib/db/dbmi_base/table.c
  lib/dspf/dspf_header.c
  lib/external/shapelib/shpopen.c
  lib/gis/parser_wps.c
  lib/gpde/n_arrays_io.c
  lib/gpde/n_gwflow.c
  lib/gpde/n_solute_transport.c
  lib/imagery/georef_tps.c
  lib/lidar/zones.c
  lib/ogsf/gsd_fringe.c
  lib/ogsf/gsd_img_tif.c
  lib/ogsf/gsd_surf.c
  lib/ogsf/gsd_wire.c
  lib/ogsf/gsdrape.c
  lib/proj/convert.c
  lib/raster/cats.c
  lib/raster/open.c
  lib/raster3d/rle.c
  lib/rst/interp_float/interp2d.c
  lib/rst/interp_float/point2d.c
  lib/rst/interp_float/ressegm2d.c
  lib/rst/interp_float/segmen2d.c
  lib/rst/interp_float/segmen2d_parallel.c
  lib/rst/interp_float/vinput2d.c
  lib/vector/Vlib/remove_duplicates.c
  lib/vector/Vlib/simple_features.c
  lib/vector/dglib/misc-template.c
  lib/vector/diglib/plus_area.c
  lib/vector/neta/flow.c
Labels: enhancement, C

#2652 Fix -Wparentheses warning
  general/g.rename/main.c
Labels: enhancement, C

#2163 Fix -Wunused-function compiler warnings
  display/d.vect.thematic/local_proto.h
  display/d.vect.thematic/main.c
  imagery/i.segment/mean_shift.c
  imagery/i.segment/region_growing.c
  include/grass/iostream/pqheap.h
  lib/cairodriver/graph.c
  lib/gis/parser_wps.c
  lib/raster3d/cache1.c
  lib/vector/Vlib/write_pg.c
  lib/vector/rtree/split.c
  raster/r.mapcalc/mapcalc.l
Labels: enhancement, C

#2651 Fix -Wunused-variable warnings
  lib/gmath/la.c
  lib/vector/Vlib/write_pg.c
  raster/r.spread/collect_ori.c
  visualization/ximgview/main.c
Labels: enhancement, C

#2653 Fix -Wmaybe-uninitialized warnings
  raster/r.sim/simlib/hydro.c
  raster/r.sun/main.c
Labels: enhancement, C

#2654 Fix -Wunneeded-internal-declaration warning
  raster/r.mapcalc/mapcalc.l
Labels: enhancement, C

#2658 v.in.ogr: handle skipped, not empty columns
  vector/v.in.ogr/main.c
Labels: bug, backport_needed

#2656 r.in.pdal: Fix use of PDAL 2.4 deprecated api
  raster/r.in.pdal/info.cpp
Labels: bug, backport_needed, C++

#2634 ci: upgrade to GH Actions running on Node 16
  .github/workflows/additional_checks.yml
  .github/workflows/black.yml
  .github/workflows/centos.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/docker.yml
  .github/workflows/flake8.yml
  .github/workflows/gcc.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .github/workflows/super-linter.yml
  .github/workflows/ubuntu.yml
Labels: enhancement, CI

#2597 r3.gwflow: Fix Rast3d_fatal_error() usage
  raster3d/r3.gwflow/main.c
Labels: bug, backport_needed, C

#2655 toolboxes.xml: add r.path
  gui/wxpython/xml/toolboxes.xml
Labels: backport_needed, GUI

#2657 ci: add -Wall to GCC C/C++ standards checks
  .github/workflows/gcc.yml
Labels: enhancement, CI, C, C++
