Repository OSGeo/grass, pull requests merged in 2022-01, with the labels that each got.

#2057 howto_release.md: create ChangeLog with GH API
  doc/howto_release.md
  doc/infrastructure.md
  locale/README
Labels: backport_needed, manual

#2058 g.extension: catch missing modules.xml error
  scripts/g.extension/g.extension.py
Labels: bug, backport_needed, Python

#2059 Happy New Year
  INSTALL
  REQUIREMENTS.html
  grasslib.dox
  include/VERSION
  include/grass/gis.h
  lib/gis/gislib_cmdline_parsing.dox
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_html.py
  man/build_rest.py
  man/sphinx/conf.py
  utils/mkhtml.py
Labels: backport_needed

#2056 wxGUI: no is_shell_running available
  gui/wxpython/gui_core/dialogs.py
Labels: bug, GUI

#1810 wxGUI: add single window to settings
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/wxgui.py
Labels: GUI

#2067 wxGUI/gui_core: fix change opacity level dialog min/max size, widgets expand horizontally
  gui/wxpython/gui_core/dialogs.py
Labels: bug, backport_needed, GUI

#2061 i18n: xgettext --from-code=utf-8
  locale/Makefile
Labels: bug, translation

#2068 winGRASS: change form BU Execute to "GenericRead + GenericExecute"
  mswindows/GRASS-Installer.nsi.tmpl
Labels: backport_needed, Windows

#2069 winGRASS: change form BU Execute to "GenericRead + GenericExecute"
  mswindows/GRASS-Installer.nsi.tmpl
Labels: Windows

#2065 wxGUI/gui_core: fix open map display overlay settings dialog
  gui/wxpython/gui_core/mapdisp.py
Labels: bug, GUI

#2062 i18n: Transifex sync
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_ko.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_pt.po
  locale/po/grassmods_pt_BR.po
  locale/po/grassmods_ro.po
  locale/po/grassmods_tr.po
  locale/po/grassmods_zh.po
Labels: backport_needed, translation

#2072 wxGUI/main_window: fix close map notebook page
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
Labels: bug, GUI

#2071 wxGUI: get rid of gradient in map display notebook tabs
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI

#2074 CI for MS Windows: Switch to OSGeo4W V2
  .github/workflows/build_osgeo4w.sh
  .github/workflows/osgeo4w.yml
  .github/workflows/test_simple.bat
  .github/workflows/test_simple.sh
  .github/workflows/test_thorough.bat
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: Windows, CI

#1797 r.random.cells: treat distance as minimum distance
  raster/r.random.cells/indep.c
  raster/r.random.cells/init.c
  raster/r.random.cells/testsuite/test_random_cells.py
Labels: backport_needed, raster

#2077 tools/mkhtml.py: replace f-string with format() function to maintain compatibility with Python 3.5/2.7 version
  tools/mkhtml.py
Labels: Python

#232 Update g.gisenv.html
  general/g.gisenv/g.gisenv.html
Labels: bug, manual

#2031 wxGUI: Move statusbar checkboxes related to Map Display to a new Map Display Settings dialog
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapdisp/toolbars.py
Labels: enhancement, GUI

#1708 r.mfilter: implement parallelization with OpenMP
  raster/r.mfilter/Makefile
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.mfilter/execute.c
  raster/r.mfilter/filter.h
  raster/r.mfilter/glob.h
  raster/r.mfilter/main.c
  raster/r.mfilter/perform.c
  raster/r.mfilter/r.mfilter.html
  raster/r.mfilter/r_mfilter_benchmark_1.png
  raster/r.mfilter/r_mfilter_benchmark_2.png
  raster/r.mfilter/testsuite/test_r_mfilter.py
Labels: enhancement, gsoc, raster

#2083 .github/workflows/osgeo4w.yml: bump GRASS GIS executable version to 8.1
  .github/workflows/osgeo4w.yml
Labels: bug, CI

#2084 GRASS GIS 8 dev: version bump to grass81
  INSTALL
  display/d.mon/main.c
  doc/howto_release.md
  docker/alpine/Dockerfile
  docker/alpine/Dockerfile_alpine_latest
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  general/g.findfile/g.findfile.html
  general/g.message/g.message.html
  grasslib.dox
  gui/wxpython/xml/menudata.README
  lib/gis/parser_wps.c
  lib/gpde/gpdelib.dox
  locale/README
  man/build_graphical_index.py
  man/sphinx/Makefile
  man/sphinx/conf.py
  man/sphinx/make.bat
  mswindows/Installer-Files/WinGRASS-README.url
  mswindows/crosscompile.sh
  python/grass/docs/src/pygrass_gis.rst
  python/grass/gunittest/README.md
  python/grass/pygrass/modules/shortcuts.py
  python/grass/script/core.py
  testsuite/README.md
  testsuite/examples/test_framework_GRASS_GIS_with_NC.sh
  vector/v.info/v.info.html
Labels: bug

#1730 v.rast.stats: note about vector overlap limitation
  scripts/v.rast.stats/v.rast.stats.html
Labels: bug, backport_needed, manual, vector, HTML, database

#2002 tgis db version mismatch: promote t.downgrade
  lib/python/temporal/core.py
Labels: temporal

#2082 scripts/g.extension.all: fix reinstall multi-addons
  scripts/g.extension.all/g.extension.all.py
Labels: bug, backport_needed

#2088 Sync TGIS DB version mismatch version with g78
  python/grass/temporal/core.py
Labels: backport_needed, temporal

#2094 scripts/g.extension: fix get get_addons_paths func json_file attribute
  scripts/g.extension/g.extension.py
Labels: bug, backport_needed

#2091 imageryintro.html: add section about semantic labels
  imagery/imageryintro.html
  lib/imagery/Makefile
  lib/imagery/band_references_scheme.png
Labels: manual

#2099 howto_release.md: better explain howto add new tag
  doc/howto_release.md
Labels: manual

#2102 g.extension: remove build_platform (only 64bit provided on MS Windows)
  scripts/g.extension/g.extension.py
Labels: backport_needed, Windows

#2097 scripts/g.extension: fix link generation in multi-addon man page for addons
  scripts/g.extension/g.extension.py
Labels: bug, backport_needed, manual

#2100 mkhtml.py: get date from gitlog
  lib/init/variables.html
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Labels: enhancement, backport_needed, manual, HTML

#2106 wxGUI: Fix the error when statusbar does know statusbarItem property "region"
  gui/wxpython/mapdisp/statusbar.py
Labels: bug, GUI

#2110 tools/mkhtml.py: fix git cherry-pick commit cba6a7aebf339d9c5fa822bf890d7cc759b07e18
  tools/mkhtml.py
Labels: bug

#2111 utils/mkhtml.py: fix git cherry-pick commit 223dc8824fbc37333ec3c2e1d3afd0223168e3b4
  utils/mkhtml.py
Labels: bug

#2113 utils/mkhtml.py: fix get core modules commit from local git repo and remote GitHub API server
  utils/mkhtml.py
Labels: bug, backport_needed, manual

#2107 g.gui.timeline: fix annotation box
  gui/wxpython/timeline/frame.py
Labels: bug, backport_needed

#2104 i18n: Update for release branch 7.8
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_pt_BR.po
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_es.po
  locale/po/grassmods_fi.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_hu.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_ko.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_pt.po
  locale/po/grassmods_pt_BR.po
  locale/po/grassmods_ro.po
  locale/po/grassmods_ru.po
  locale/po/grassmods_ta.po
  locale/po/grassmods_tr.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ja.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_pl.po
  locale/po/grasswxpy_pt.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_ro.po
  locale/po/grasswxpy_ru.po
  locale/po/grasswxpy_ta.po
  locale/po/grasswxpy_th.po
  locale/po/grasswxpy_tr.po
  locale/po/grasswxpy_zh.po
Labels: translation

#2116 howto_release.md: more "Create tag" tricks added
  doc/howto_release.md
Labels: manual

#2108 r.quantile/r.stats.quantile/libstats: fix quantile algorithm
  lib/stats/c_percentile.c
  raster/r.neighbors/testsuite/test_r_neighbors.py
  raster/r.quantile/main.c
  raster/r.quantile/r.quantile.html
  raster/r.stats.quantile/main.c
  raster/r.stats.quantile/r.stats.quantile.html
Labels: bug, backport_needed, C

#2119 wxGUI/gui_core: fix right mouse click on the root tree node to invoke menu
  gui/wxpython/gui_core/query.py
Labels: bug, backport_needed, GUI

#2120 wxGUI: lazy loading of C imagery functions in SignatureSelect
  gui/wxpython/gui_core/gselect.py
Labels: backport_needed, GUI

#2122 Add Zenodo DOI badge to readme
  README.md
Labels: enhancement

#1834 grass.jupyter: Return session from init
  doc/notebooks/basic_example_grass_jupyter.ipynb
  doc/notebooks/grass_jupyter.ipynb
  doc/notebooks/hydrology.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  python/grass/jupyter/setup.py
Labels: bug, enhancement

#2121 wxGUI Single-Window: Focus the Console pane when console content has been changed
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI

#2125 wxGUI/xml: add Raster digitizer tool among GUI tools toolbox items
  gui/wxpython/xml/toolboxes.xml
  gui/wxpython/xml/wxgui_items.xml
Labels: bug, GUI

#2127 v.distance: relax parser rules
  vector/v.distance/main.c
Labels: bug, backport_needed, C

#2131 dbmi client: check if driver name is null or empty
  lib/db/dbmi_client/start.c
Labels: bug, backport_needed, blocker, C, database

#2124 Mention session in the missing GISRC message
  lib/gis/env.c
Labels: enhancement

#2130 Mention session in the variable not set message
  lib/gis/env.c
Labels: enhancement

#2089 wxGUI: Move SbMask widget to main window statusbar
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/statusbar.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/statusbar.py
Labels: enhancement, GUI

#2085 v.to.db: fix option=query
  vector/v.to.db/main.c
Labels: bug, backport_needed, vector, C

#2136 howto_release.md: minor tweaks
  doc/howto_release.md
Labels: manual

#2142 Fix typo in v.import documentation
  scripts/v.import/v.import.html
Labels: backport_needed, manual

#2087 wxGUI: Projection checkbox from Map Display statusbar moved to Map Display Settings
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapwin/base.py
Labels: enhancement, GUI

#2146 wxGUI: remove unnecessary printing of invalid map size
  gui/wxpython/core/render.py
Labels: GUI
