Repository OSGeo/grass, pull requests merged in 2022-10, with the labels that each got.

#2592 g.extension: use copytree from shutil for py >= 3.8
  scripts/g.extension/g.extension.py
Labels: bug, backport_needed

#2591 SEO and manuals: add viewport and page language
  REQUIREMENTS.html
  db/drivers/mysql/grass-mesql.html
  general/g.setproj/g.setproj.html
  lib/gis/parser_html.c
  man/build_html.py
  raster/r.li/r.li.html
  utils/mkhtml.py
  utils/module_synopsis.sh
Labels: backport_needed, manual

#2562 v.out.vtk: Output double data type instead of float
  vector/v.out.vtk/main.c
  vector/v.out.vtk/writeVTK.c
Labels: enhancement, C

#2532 init: Fix sudo message on Ubuntu
  lib/init/grass.py
Labels: Linux, Python

#2417 wxGUI: set window offset (OS panel) for single/multiple window mode
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
Labels: bug, backport_needed, Windows, GUI, macOS

#2595 utils: fix date and time format retrieved from the module source dir
  utils/mkhtml.py
Labels: bug, backport_needed

#1919 g.gui.gmodeler: add PyWPS export option
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/gmodeler/g_gui_gmodeler_python.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code_result.png
  gui/wxpython/gmodeler/g_gui_gmodeler_pywps_code.png
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/pystc.py
Labels: enhancement, GUI, Python

#2602 docker Ubuntu: update to Ubuntu 22.04, update PDAL and laz-perf
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: backport_needed, docker

#2605 nsis installer changed SID of grass82.py
  mswindows/GRASS-Installer.nsi.tmpl
Labels: backport_needed, Windows

#2606 utils: module HTML man page use hamburger menu TOC for screen width < 1024 px
  man/Makefile
  man/grassdocs.css
  man/hamburger_menu.svg
  man/hamburger_menu_close.svg
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Labels: enhancement, backport_needed, manual, HTML, JavaScript

#2588 t.rast.univar / t.rast3d.univar: Add support for zones
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.html
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.univar/t.rast3d.univar.html
  temporal/t.rast3d.univar/t.rast3d.univar.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
Labels: enhancement, temporal, Python

#2490 wxGUI/modules: fix import PostGIS geometry data
  gui/wxpython/core/utils.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/modules/import_export.py
Labels: bug, backport_needed, GUI

#2487 wxGUI/psmap: don't set StatusBar widget text when frame is closed
  gui/wxpython/psmap/frame.py
Labels: bug, backport_needed, GUI

#2553 wxGUI: remove custom v.clean interface to simplify maintenance
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/__init__.py
  gui/wxpython/modules/vclean.py
  gui/wxpython/xml/toolboxes.xml
  gui/wxpython/xml/wxgui_items.xml
Labels: GUI

#2567 python/grass/pygrass: reset back MAPSET search path after GridModule class instance finish
  python/grass/pygrass/modules/grid/grid.py
Labels: bug, backport_needed

#2514 wxGUI/gui_core: fix Create or edit image group dialog Select all CheckBox widget for selecting all items
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/wrap.py
Labels: bug, backport_needed, GUI

#2568 wxGUI: Fix behaviour of top Single-Window GUI toolbars
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iscatt/toolbars.py
  gui/wxpython/lmgr/toolbars.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/psmap/toolbars.py
Labels: bug, backport_needed, GUI

#2598 Upgrade to ctypesgen version 1.1.1
  python/libgrass_interface_generator/README.md
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cgrammar.py
  python/libgrass_interface_generator/ctypesgen/parser/ctypesparser.py
  python/libgrass_interface_generator/ctypesgen/parser/parsetab.py
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
  python/libgrass_interface_generator/ctypesgen/version.py
Labels: Python

#1158 g.extension: add tests for download from various sources
  scripts/g.extension/testsuite/test_addons_download.py
Labels: CI, Python

#2617 wxGUI: fix display of all single window mode main toolbar tools
  gui/wxpython/gui_core/toolbars.py
Labels: bug, backport_needed, Windows, GUI, macOS
