Repository OSGeo/grass, pull requests merged in 2022-08, with the labels that each got.

#2479 g.extension: Add details to URL error message
  scripts/g.extension/g.extension.py
Labels: enhancement, Python

#2508 CI: introduce setup-msys2@v2 setup action
  .github/workflows/osgeo4w.yml
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: backport_needed, Windows, CI

#2506 lib/parser: Apply standards to generated script
  lib/gis/parser_script.c
Labels: enhancement

#2459 v.to.rast: Use verbose for no area message, not warning
  vector/v.to.rast/vect2rast.c
Labels: enhancement, C

#2511 GUI: wx.ListBox is dynamic – looping over GetSelections() results in removal of all list items
  gui/wxpython/gui_core/dialogs.py
Labels: bug, backport_needed, GUI

#2518 wxGUI: fix setting display size from workspace in multi-window mode
  gui/wxpython/gui_core/mapdisp.py
Labels: bug, backport_needed, GUI

#2522 wxGUI/vdigit: fix keyboard shortcut for activating point/line tool
  gui/wxpython/vdigit/g.gui.vdigit.html
  gui/wxpython/vdigit/mapwindow.py
Labels: bug, backport_needed, GUI

#2528 wxGUI: remove unnecessary key press event handlers
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: bug, backport_needed, Windows, GUI

#2427 Translations update from OSGeo Weblate
  locale/po/grasslibs_de.po
  locale/po/grassmods_de.po
  locale/po/grasswxpy_it.po
Labels: translation

#2526 wxGUI/vdigit: extend tools keyboard shortcuts
  gui/wxpython/vdigit/g.gui.vdigit.html
  gui/wxpython/vdigit/mapwindow.py
  gui/wxpython/vdigit/toolbars.py
Labels: enhancement, GUI

#2533 Force mkhtml to use UTF-8
  tools/mkhtml.py
Labels: Windows, blocker

#2429 Add 'file_limit' option to t.rast.series
  temporal/t.rast.series/t.rast.series.html
  temporal/t.rast.series/t.rast.series.py
Labels: enhancement, temporal

#2549 lib/db: Fix formatting of MySQL error message
  db/drivers/mysql/create_table.c
Labels: C

#2535 contributing: Improve where doc is located
  CONTRIBUTING.md
  README.md
Labels: manual

#2523 lib/parser: Add missing closing div tag
  include/Make/HtmlRules.make
  lib/gis/parser_html.c
  utils/mkhtml.py
Labels: bug

#2543 contributing: Use Markdown for install file
  INSTALL
  INSTALL.md
  Makefile
  README.md
  REQUIREMENTS.html
  doc/debugging.txt
  doc/howto_release.md
  macosx/ReadMe.md
Labels: enhancement, manual

#2439 d.text: Use standard options for colors
  display/d.text/main.c
Labels: C

#2546 Remove Travis CI for 7.8
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
Labels: bug

#2403 RFC: move adopted RFCs from trac wiki
  doc/development/rfc/PSC_guidelines.md
  doc/development/rfc/PSC_voting_procedures.md
  doc/development/rfc/language_standards_support.md
  doc/development/rfc/legal_aspects_of_code_contributions.md
  doc/development/rfc/migration_github.md
  utils/release.yml
Labels: RFC

#2547 HTML header charset changed from ISO-8859-1 to UTF-8
  db/drivers/mysql/grass-mesql.html
  general/g.setproj/g.setproj.html
  lib/gis/parser_html.c
  lib/vector/rtree/docs/sources.htm
  macosx/app/build_html_user_index.sh
  man/build_html.py
  raster/r.li/r.li.html
  raster3d/r3.showdspf/r3.showdspf_opengl_mods.html
  utils/mkhtml.py
  utils/module_synopsis.sh
Labels: manual, HTML

#2516 wxGUI/gui_core: fix import PostGIS DB raster
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/modules/import_export.py
Labels: bug, GUI

#2267 MacOS/BSD Use gnu indent
  utils/grass_indent.sh
Labels: BSD

#1634 r.univar: Add parallel support
  raster/r.univar/Makefile
  raster/r.univar/benchmark/benchmark_r_univar.py
  raster/r.univar/globals.h
  raster/r.univar/r.univar.html
  raster/r.univar/r.univar_main.c
  raster/r.univar/r_univar_benchmark_size.png
  raster/r.univar/testsuite/test_r_univar.py
Labels: enhancement, gsoc, raster
