Repository OSGeo/grass, pull requests merged in 2022-09, with the labels that each got.

#2382 temporal: dont fail when registering maps with missing range file
  python/grass/temporal/c_libraries_interface.py
Labels: bug, backport_needed, temporal, Python

#2529 man: allow register all addons keywords in main Keywords Index
  man/build_keywords.py
Labels: enhancement, backport_needed, manual

#2574 man: use relative path for core modules man HTML page
  man/build_keywords.py
Labels: bug, backport_needed, manual

#2550 avoid using deprecated locale.getdefaultlocale()
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/rlisetup/frame.py
  lib/init/grass.py
  python/grass/gunittest/multirunner.py
  python/grass/script/utils.py
  utils/mkhtml.py
Labels: Python

#2539 grass.py: fix missing parameters in gettext.install()
  lib/init/grass.py
Labels: bug

#2495 wxGUI/forms: fix LayersList widget binding check/uncheck event method
  gui/wxpython/gui_core/forms.py
Labels: bug, backport_needed, GUI

#2586 general/g.mapsets: fix write MAPSETs without additional empty new line
  general/g.mapsets/main.c
Labels: bug, backport_needed, C

#2537 v.random: do not transfer cat from area if attributes are coppied too
  vector/v.random/main.c
Labels: backport_needed, vector
