Repository OSGeo/grass, pull requests merged in 2022-06, with the labels that each got.

#2402 contributing: Generate ChangeLog in release workflow
  .github/workflows/create_release_draft.yml
  doc/howto_release.md
Labels: backport_needed

#2416 doc/notebooks: add overview README.md
  doc/notebooks/README.md
Labels: backport_needed, manual

#2419 wxGUI/psmap: remove loading EPS file via using Ghostscript image rendering on OS MS Windows platform
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/utils.py
Labels: bug, Windows, GUI

#2386 modules: Add JSON output for db.univar and v.db.univar
  scripts/db.univar/db.univar.py
  scripts/db.univar/testsuite/test_db_univar.py
  scripts/v.db.univar/tests/conftest.py
  scripts/v.db.univar/tests/v_db_univar_test.py
  scripts/v.db.univar/testsuite/test_v_db_univar.py
  scripts/v.db.univar/v.db.univar.html
  scripts/v.db.univar/v.db.univar.py
Labels: enhancement, Python

#2421 wxGUI/psmap: remove unnecessary HyperlinkDialog widget
  gui/wxpython/psmap/frame.py
Labels: backport_needed, Windows, GUI

#2447 t.unregister: add support to unregister maps from other mapsets
  temporal/t.unregister/t.unregister.py
Labels: bug, backport_needed, temporal, Python

#2425 Imagery: add support of original class value in sig file
  imagery/i.gensig/get_train.c
  imagery/i.gensig/testsuite/data/b1.ascii
  imagery/i.gensig/testsuite/data/b2.ascii
  imagery/i.gensig/testsuite/data/train.ascii
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.maxlik/main.c
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  include/grass/imagery.h
  lib/imagery/sig.c
  lib/imagery/testsuite/test_imagery_sigfile.py
Labels: C

#2444 wxGUI/psmap: fix rendered preview page zoom
  gui/wxpython/psmap/frame.py
Labels: bug, backport_needed, GUI

#2428 wxGUI/dbmgr: show warning message dialog if new layer table link exists
  gui/wxpython/dbmgr/base.py
Labels: bug, backport_needed, GUI

#2458 v.what: new option to select columns
  vector/v.what/main.c
  vector/v.what/what.c
  vector/v.what/what.h
Labels: enhancement, vector, C

#2467 libproj: fix area bbox for PROJ
  lib/proj/do_proj.c
  vector/v.proj/main.c
Labels: bug, backport_needed, C
