Repository OSGeo/grass, pull requests merged in 2022-05, with the labels that each got.

#2351 CI: Compile r.example and v.example
  .github/workflows/pylint.yml
Labels: manual, CI

#2363 lib/imagery: fix missing SONAME
  lib/imagery/Makefile
Labels: bug

#2364 wxGUI: add r.in.wms into ImportRasterData toolbox
  gui/wxpython/xml/toolboxes.xml
Labels: bug, backport_needed, GUI

#2374 howto_release.md: update OSGeo server names
  doc/howto_release.md
Labels: backport_needed, manual

#2375 infrastructure.md: updates to reflect latest changes
  doc/infrastructure.md
Labels: backport_needed, manual

#2354 make: remove __pycache__ directories with distclean
  man/Makefile
  python/libgrass_interface_generator/Makefile
Labels: bug, backport_needed

#2347 CI: Add missing step id to release draft, pre-release, artifacts
  .github/workflows/create_release_draft.yml
Labels: bug, backport_needed, CI

#2370 doc: Illustration images for r.series, r.neighbors, r.mfilter
  raster/r.mfilter/graphics_for_description.ipynb
  raster/r.mfilter/r.mfilter.html
  raster/r.mfilter/r_mfilter.png
  raster/r.neighbors/graphics_for_description.ipynb
  raster/r.neighbors/r.neighbors.html
  raster/r.neighbors/r_neighbors.png
  raster/r.series/graphics_for_description.ipynb
  raster/r.series/r.series.html
  raster/r.series/r_series.png
Labels: manual

#2371 grass.jupyter: Add save PNG method to Map
  python/grass/jupyter/map.py
  python/grass/jupyter/testsuite/map_test.py
Labels: backport_needed

#2378 lib/cairo: Add cairo status to error message
  lib/cairodriver/graph.c
Labels: enhancement, backport_needed

#2384 CI: fix download url for OSGeo4W
  .github/workflows/osgeo4w.yml
Labels: bug, backport_needed, Windows, CI

#2383 v.surf.idw: fix applying mask
  vector/v.surf.idw/main.c
Labels: bug, backport_needed, raster, C

#2376 grass.jupyter: fix resolution handling for InteractiveMap
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/region.py
  python/grass/jupyter/reprojection_renderer.py
  python/grass/jupyter/utils.py
Labels: bug, backport_needed

#2385 wxGUI/rlisetup: allow EVT_KILL_FOCUS event handler event processing to continue
  gui/wxpython/rlisetup/wizard.py
Labels: bug, backport_needed, Windows, GUI

#2271 i18N: messages translated using Weblate
  locale/po/grasslibs_de.po
  locale/po/grasslibs_ko.po
  locale/po/grasswxpy_ar.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_sl.po
Labels: translation

#2358 Vlib: Return all intersection points from Vect_line_get_intersections
  lib/vector/Vlib/intersect.c
  lib/vector/Vlib/intersect2.c
  lib/vector/Vlib/testsuite/test_vlib_intersect.py
  vector/v.profile/testsuite/test_v_profile.py
Labels: vector

#2328 contributing: Generate release notes from git log output or GitHub API
  .github/workflows/additional_checks.yml
  doc/howto_release.md
  utils/generate_release_notes.py
  utils/git_author_github_name.csv
  utils/release.yml
  utils/svn_name_git_author.csv
  utils/svn_name_github_name.csv
Labels: backport_needed

#2389 checks: Indent mask-related code
  lib/raster/auto_mask.c
  lib/raster/mask_info.c
  raster/r.kappa/mask.c
  raster/r.report/maskinfo.c
Labels: add to git-blame-ignore-revs, C

#2398 CI: Add test run for release workflow
  .github/workflows/additional_checks.yml
  .github/workflows/create_release_draft.yml
Labels: backport_needed

#2399 contributing: Skip non-versioned directories in last commit generator
  utils/generate_last_commit_file.py
Labels: backport_needed

#2396 contributing: Create tag message, add more details
  doc/howto_release.md
  utils/update_version.py
Labels: backport_needed

#2391 modules: Sync r.kappa and r.report mask reporting code
  raster/r.kappa/mask.c
  raster/r.report/maskinfo.c
Labels: C

#2387 wxGUI: Do not show empty raster label/color fields in query dialog
  gui/wxpython/gui_core/query.py
Labels: enhancement, GUI

#2409 CI: Unique artifact name for Ubuntu tests
  .github/workflows/ubuntu.yml
Labels: bug, CI

#2410 r.patch: fix race condition for CELL rasters
  raster/r.patch/do_patch.c
  raster/r.patch/local_proto.h
  raster/r.patch/main.c
Labels: bug, backport_needed, raster

#2393 Translations update from OSGeo Weblate
  locale/po/grasslibs_de.po
  locale/po/grasslibs_ko.po
  locale/po/grassmods_de.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_it.po
Labels: translation

#2405 contributing: Add separate section for OSGeo server uploads
  doc/howto_release.md
Labels: backport_needed

#2401 contributing: Remove cd steps, assume utils subdir
  .github/workflows/additional_checks.yml
  doc/howto_release.md
  utils/generate_release_notes.py
Labels: backport_needed
