Repository OSGeo/grass, pull requests merged in 2022-02, with the labels that each got.

#2145 wxGUI: Thread.setDaemon deprecated with Python 3.10
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/gthread.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/nviz/mapwindow.py
Labels: backport_needed, GUI, Python

#2148 wxGUI/mapdisp: Replace CRLF by LF in properties.py
  gui/wxpython/mapdisp/properties.py
Labels: GUI

#2079 ctypesgen: Remove unnamed zero bit sized structure members
  python/libgrass_interface_generator/README.md
  python/libgrass_interface_generator/ctypesgen/printer_python/printer.py
Labels: bug, backport_needed, Python

#2151 CONTRIBUTING.md: describe the fork process more in detail
  CONTRIBUTING.md
Labels: manual

#2147 Replace CRLF by LF in color table, test, license
  lib/external/ccmath/lgpl.license
  lib/gis/colors/nlcd
  vector/v.random/testsuite/test_v_random.py
Labels: enhancement

#2144 CI: Add check for CRLF line endings
  .github/workflows/additional_checks.yml
Labels: enhancement, Windows, CI

#2139 utils/mkhtml: fix print warning/fatal message during compilation
  utils/mkhtml.py
Labels: bug, backport_needed

#2167 r.colors: fix order of rules
  raster/r.colors/rules.c
Labels: bug, backport_needed, raster, C

#2180 grass.gunittest: Fix fail with no config
  python/grass/gunittest/main.py
Labels: bug

#2178 wxGUI: update statusbar when projection settings checkbox has been toggled
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapwin/base.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
Labels: enhancement, GUI

#2179 singularity: Minor fixes of definition file
  singularity/debian/singularityfile_debian
Labels: bug

#2181 grass.gunittest: Use more Python 3 style code
  python/grass/gunittest/main.py
Labels: bug, enhancement, Python

#2182 grass.gunittest: Add --config parameter
  python/grass/gunittest/main.py
Labels: enhancement

#2152 grass.benchmark: shuffle runs for benchmarking by number of cores
  python/grass/benchmark/runners.py
Labels: Python

#2183 pytest: Add very basic config to run pytest
  .github/workflows/pytest.yml
  .github/workflows/python_apt.txt
  .github/workflows/python_requirements.txt
  pyproject.toml
  python/grass/script/tests/utils_test.py
Labels: enhancement, CI

#2155 wxGUI: Use Map Display settings in other Map Display applications
  doc/gui/wxpython/example/frame.py
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gcp/toolbars.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/iclass/toolbars.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/image2target/ii2t_toolbars.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/photo2image/ip2i_toolbars.py
Labels: enhancement, GUI

#2159 Fix -Wunused-const-variable compiler warnings
  raster/r.terraflow/sweep.cpp
Labels: enhancement, C++

#2158 Fix -Wunused-variable compiler warnings
  display/d.grid/plot.c
  display/d.histogram/main.c
  display/d.where/main.c
  general/g.parser/translate.c
  general/g.region/printwindow.c
  imagery/i.aster.toar/main.c
  imagery/i.eb.hsebal01/main.c
  imagery/i.eb.netrad/main.c
  imagery/i.eb.netrad/r_net.c
  imagery/i.emissivity/main.c
  imagery/i.evapo.time/main.c
  imagery/i.ortho.photo/i.ortho.elev/main.c
  imagery/i.ortho.photo/i.ortho.photo/menu.c
  lib/gis/locale.c
  lib/gis/make_loc.c
  lib/gis/parser_json.c
  lib/imagery/manage_signatures.c
  lib/proj/do_proj.c
  lib/raster/init.c
  lib/vector/Vlib/intersect2.c
  lib/vector/Vlib/overlay.c
  lib/vector/diglib/update.c
  raster/r.fill.stats/main.c
  raster/r.geomorphon/main.c
  raster/r.kappa/prt2csv_mat.c
  raster/r.random.surface/init.c
  raster/r.sim/r.sim.water/main.c
  raster/r.support/check.c
  raster/r.viewshed/grass.cpp
  raster/r.watershed/seg/slope_len.c
  raster3d/r3.null/main.c
  raster3d/r3.to.rast/main.c
  vector/v.extract/main.c
  vector/v.info/parse.c
  vector/v.out.ogr/export_areas.c
  vector/v.overlay/area_area.c
  vector/v.to.rast/support.c
  vector/v.vol.rst/user1.c
Labels: enhancement, C

#2162 Fix -Wself-assign compiler warnings
  lib/arraystats/class.c
Labels: enhancement, C

#2190 wxGUI: Fix statusbar mode index for GetMode method
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
Labels: bug, GUI

#2177 contributors.csv: added new ORCID column
  contributors.csv
  gui/wxpython/gui_core/ghelp.py
Labels: enhancement, help wanted, manual

#2202 wxGUI: do not import from pygrass on gui startup
  gui/wxpython/gui_core/gselect.py
Labels: backport_needed, GUI

#2199 CI: Add Flake8 check for selected tests
  .github/workflows/flake8.yml
  python/grass/jupyter/testsuite/grassrenderer_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/script/testsuite/test_start_command_functions.py
  python/grass/script/testsuite/test_start_command_functions_nc.py
Labels: CI, Python

#2200 grass.jupyter: Add docstrings, f-strings, fix var names, imports
  python/grass/benchmark/runners.py
  python/grass/jupyter/display.py
  python/grass/jupyter/interact_display.py
  python/grass/jupyter/region.py
  python/grass/jupyter/render3d.py
  python/grass/jupyter/setup.py
  python/grass/jupyter/testsuite/grassrenderer_test.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/jupyter/testsuite/test_render3d.py
  python/grass/jupyter/utils.py
Labels: bug, Python

#2201 grass.benchmark: Use UTF-8 for text files
  python/grass/benchmark/results.py
Labels: bug, Python

#2204 MS Windows packaging: add missing dlls
  mswindows/osgeo4w/package.sh
Labels: bug, backport_needed, Windows

#2168 Fix some code scanning CodeQL overflow warnings
  lib/ogsf/gs3.c
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.out.v5d/v5d.c
Labels: enhancement, C

#2206 grass.jupyter: Use weakref.finalize to manage TemporaryDirectory
  python/grass/jupyter/display.py
  python/grass/jupyter/render3d.py
Labels: bug, Python

#2207 wxGUI: move datacatalog search below toolbar, make it stretch
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/toolbars.py
Labels: GUI

#2212 Update to Black 22.1.0
  .github/workflows/black.yml
  gui/wxpython/dbmgr/vinfo.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/photo2image/ip2i_manager.py
  pyproject.toml
  python/grass/gunittest/checkers.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2swf.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/utils.py
Labels: enhancement, CI

#2213 Add Pylint check for the main directory
  .github/workflows/pylint.yml
  .pylintrc
Labels: enhancement, CI

#2215 TGIS: fix semantic label
  python/grass/temporal/abstract_space_time_dataset.py
Labels: bug, backport_needed, temporal

#2169 r.watershed: Keep 0 accumulation with -a as 0 as opposed to null
  raster/r.watershed/ram/close_maps.c
  raster/r.watershed/seg/close_maps.c
Labels: bug, raster

#2220 r.buildvrt: check if all input maps are NULL-only
  raster/r.buildvrt/main.c
Labels: bug, backport_needed

#2214 wxGUI: New toolbar icon for accessing Map Display settings dialog
  gui/icons/grass/monitor-create.png
  gui/icons/grass/monitor-create.svg
  gui/icons/grass/monitor-settings.png
  gui/icons/grass/monitor-settings.svg
  gui/wxpython/gui_core/toolbars.py
Labels: enhancement, GUI

#2154 r.geomorphon: combine profile parser rules to allow usage as pygrass module
  .gunittest.cfg
  raster/r.geomorphon/main.c
  raster/r.geomorphon/r.geomorphon.html
Labels: bug, backport_needed

#2218 t.rast.neighbors: transfer semantic label
  temporal/t.rast.neighbors/t.rast.neighbors.html
  temporal/t.rast.neighbors/t.rast.neighbors.py
Labels: bug, backport_needed, temporal

#2219 t.rast.mapcalc: transfer semantic label
  python/grass/temporal/mapcalc.py
  temporal/t.rast.mapcalc/t.rast.mapcalc.html
Labels: bug, backport_needed, temporal

#2223 MS Windows packaging: add missing dlls from MSYS (#2204)
  mswindows/osgeo4w/package.sh
Labels: bug, Windows

#2226 r.geomorphon: combine profile parser rules to allow usage as pygrass …
  .gunittest.cfg
  raster/r.geomorphon/main.c
  raster/r.geomorphon/r.geomorphon.html
Labels: bug, backport_needed, raster

#2237 howto_release.md: forwardport notes from relbranch80
  doc/howto_release.md
Labels: manual

#2216 wxGUI Single-Window: Make Tools pane wider after startup
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI

#2238 TGIS: any number of "_" is allowed in semantic labels
  python/grass/temporal/abstract_space_time_dataset.py
Labels: bug, backport_needed, temporal

#1912 libpython: Added SessionHandle class to grass.script.setup to use with context manager
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Labels: enhancement, Python

#1559 PyGRASS: Improve exception handling in Info.open (#1555)
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/table.py
Labels: enhancement, Python
