Repository OSGeo/grass, pull requests merged in 2023-10, with the labels that each got.

#2422 wxGUI/dbmgr: fix removing map table layer and layer related Browse data and Manage tables page (tab)
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/widgets.py
Labels: bug, GUI, backport to 8.3

#3197 docs: update howto_release.md (G83)
  doc/howto_release.md
Labels: manual

#3159 manual: r.sunmask and i.topo.corr improvements
  imagery/i.topo.corr/i.topo.corr.html
  raster/r.sunmask/r.sunmask.html
Labels: manual, backport to 8.3

#3176 docs: update howto_release.md (main)
  doc/howto_release.md
Labels: manual

#3175 manual: i.ortho.* update broken module references
  imagery/i.ortho.photo/i.ortho.camera/i.ortho.camera.html
  imagery/i.ortho.photo/i.ortho.elev/i.ortho.elev.html
  imagery/i.ortho.photo/i.ortho.init/i.ortho.init.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.ortho.photo/i.ortho.target/i.ortho.target.html
  imagery/i.ortho.photo/lib/conz_points.c
Labels: manual, backport to 8.3, backport to 8.2

#3067 Update v.reclass.html: either 'rules' or 'column' option must be specified
  vector/v.reclass/v.reclass.html
Labels: manual, backport to 8.3

#3157 docs: update and cleanup of infrastructure.md
  doc/infrastructure.md
Labels: manual, backport to 8.3

#3186 utils: fix clang-format version check
  utils/grass_clang_format.sh
Labels: bug

#3170 docker: implement multi-stage-builds for ubuntu
  .dockerignore
  docker/testdata/test_docker_image.sh
  docker/testdata/test_grass_python.py
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
Labels: docker

#3205 Docker: Sync main Dockerfile to docker/ubuntu/Dockerfile
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: bug, backport to 8.3

#3008 i.signatures: Add imagery classifier signature management module
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/xml/toolboxes.xml
  imagery/Makefile
  imagery/i.gensig/i.gensig.html
  imagery/i.gensigset/i.gensigset.html
  imagery/i.signatures/Makefile
  imagery/i.signatures/i.signatures.html
  imagery/i.signatures/main.c
  imagery/i.signatures/testsuite/test_i_signatures.py
  lib/imagery/manage_signatures.c
Labels: C

#3206 grass.script: ensure memmap content is flushed before writing to a raster
  python/grass/script/array.py
Labels: bug, raster, Python, backport to 8.3

#2991 wxGUI: Avoid overlapping module parameters in Graphical modeler
  gui/wxpython/gmodeler/frame.py
Labels: bug, GUI

#3043 wxGUI/gmodeler: update sample model
  gui/wxpython/gmodeler/g_gui_gmodeler_zipcodes_avg_elevation.gxm
Labels: GUI, manual

#3118 pkg: Debian 12: replace obsolete transitional packages by new ones
  docker/debian/Dockerfile
Labels: Linux
