Repository OSGeo/grass, pull requests merged in 2023-01, with the labels that each got.

#2724 i.maxlik: fix crash when classification result is NULL
  imagery/i.maxlik/main.c
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Labels: bug, C

#1759 r.resamp.filter: implement parallelization with OpenMP
  raster/r.resamp.filter/Makefile
  raster/r.resamp.filter/benchmark/benchmark_r_resamp_filter.py
  raster/r.resamp.filter/main.c
  raster/r.resamp.filter/r.resamp.filter.html
  raster/r.resamp.filter/r_resamp_filter_benchmark_size.png
  raster/r.resamp.filter/testsuite/test_r_resamp_filter.py
Labels: enhancement, gsoc, raster

#2722 r.proj: Fix a typo (lanzcos => lanczos)
  raster/r.proj/r.proj.html
Labels: backport_needed, manual

#2682 wxGUI: Console: Export history of executed commands
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI

#2660 r.terraflow: use default
  raster/r.terraflow/ccforest.h
  raster/r.terraflow/genericWindow.h
  raster/r.terraflow/sweep.h
Labels: enhancement, C++

#2649 r.viewshed: fix CodeQL warnings
  raster/r.viewshed/grass.cpp
Labels: enhancement, C++

#2733 Fix Wstringop-overflow and -Warray-parameter compiler warnings
  imagery/i.ortho.photo/lib/orthophoto.h
  imagery/i.segment/iseg.h
  include/grass/defs/ogsf.h
  lib/ogsf/gpd.c
  lib/ogsf/gs2.c
  raster/r.circle/main.c
  raster/r.surf.area/local_proto.h
  vector/v.to.rast/do_lines.c
Labels: enhancement, C

#2735 diglib: fix integer overflow
  lib/vector/diglib/spindex_rw.c
Labels: bug, backport_needed, vector, C

#2741 manual backport of #2735
  lib/vector/diglib/spindex_rw.c
Labels: bug, vector, C

#2737 r.mfilter: check return value of write()
  raster/r.mfilter/execute.c
Labels: C

#2728 wxGUI/console: Adding hint to command prompt
  gui/wxpython/gui_core/prompt.py
Labels: enhancement, GUI

#2394 libgproj: Use SRID for PJ object creation when possible
  lib/proj/get_proj.c
Labels: bug, C

#2744 libproj: Use PJ_TYPE_BOUND_CRS only if Proj version >= 6
  lib/proj/get_proj.c
Labels: C

#2743 CI: set -Werror on ubuntu test builds
  .github/workflows/gcc.yml
  .github/workflows/ubuntu.yml
Labels: CI

#2740 v.in.ogr: Get layer name without definition initialization
  vector/v.in.ogr/main.c
Labels: bug, backport_needed, vector, C

#2681 cmake support preparation: use of INFINITY and NAN
  general/g.region/printwindow.c
  lib/btree2/kdtree.c
  lib/gmath/la.c
  lib/vector/Vlib/box.c
  raster/r.horizon/main.c
  raster/r.in.bin/main.c
  raster/r.in.lidar/info.c
  raster/r.in.pdal/info.cpp
  raster/r.in.xyz/main.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.out.gdal/main.c
  raster/r.series.accumulate/main.c
  raster/r.series/main.c
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
  raster3d/r3.in.lidar/info.c
  vector/v.cluster/main.c
  vector/v.distance/distance.c
  vector/v.univar/main.c
  vector/v.voronoi/skeleton.c
Labels: Windows, C, C++

#2748 r3.in.v5d: Fix -Wliteral-range compiler warning
  raster3d/r3.in.v5d/main.c
Labels: enhancement, C

#2689 Add a Dockerfile that allows building a GRASS GIS Docker image with wxGUI
  README.md
  docker/ubuntu/wxgui/Dockerfile
Labels: enhancement, GUI, docker

#2752 Fix -Wunused-but-set-variable warnings
  display/d.grid/plot.c
  include/grass/iostream/ami_sort_impl.h
  lib/gis/parser_wps.c
  lib/gis/spawn.c
  lib/gmath/blas_level_1.c
  lib/lidar/zones.c
  lib/ogsf/gsd_fringe.c
  lib/ogsf/gsd_surf.c
  lib/proj/datum.c
  lib/proj/ellipse.c
  lib/vector/Vlib/break_polygons.c
  lib/vector/Vlib/build.c
  lib/vector/Vlib/snap.c
  lib/vector/vedit/vertex.c
  ps/ps.map/do_geogrid.c
  ps/ps.map/do_grid.c
  raster/r.clump/minsize.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.li/r.li.patchnum/main.c
  raster/r.mapcalc/map.c
  raster/r.quant/read_rules.c
  raster/r.recode/read_rules.c
  raster/r.resamp.bspline/resamp.c
  raster/r.sim/simlib/hydro.c
  raster/r.topidx/topidx.c
  vector/v.generalize/displacement.c
  vector/v.label.sa/annealing.c
  vector/v.lidar.growing/growing.c
  vector/v.lidar.growing/main.c
  vector/v.net.steiner/main.c
  vector/v.out.vtk/writeVTK.c
  vector/v.overlay/line_area.c
  vector/v.surf.bspline/resamp.c
  vector/v.voronoi/sw_main.c
Labels: enhancement, C

#2753 Fix -Wmissing-field-initializers warnings
  lib/gis/parser_dependencies.c
  raster/r.in.png/main.c
  raster/r.terraflow/types.h
  raster/r.uslek/prct2tex.c
Labels: enhancement, C, C++

#2755 libgis: Fix -Wempty-body warning
  lib/gis/parser_interface.c
Labels: enhancement, C

#2749 configure: remove pdal cppflags
  configure
  configure.ac
  include/Make/Platform.make.in
  raster/r.in.pdal/Makefile
  vector/v.in.pdal/Makefile
Labels: bug, backport_needed

#2757 configure: pdal - backport of #2749
  configure
  configure.ac
  include/Make/Platform.make.in
  raster/r.in.pdal/Makefile
  vector/v.in.pdal/Makefile
Labels: bug, blocker

#2754 r.geomorphon: fix -Wextra compiler warning
  raster/r.geomorphon/geom.c
  raster/r.geomorphon/local_proto.h
Labels: enhancement, C

#2758 Add r.in.pdal test for alpine image
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu/wxgui/Dockerfile
Labels: backport_needed, CI

#2625 wxGUI: fix map display combobox option after switching between toolbars
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/toolbars.py
Labels: bug, backport_needed, GUI

#2762 Linting markdown files
  INSTALL.md
  README.md
  doc/development/rfc/PSC_guidelines.md
  doc/development/rfc/PSC_voting_procedures.md
  doc/development/rfc/language_standards_support.md
  doc/development/rfc/legal_aspects_of_code_contributions.md
  doc/development/rfc/migration_github.md
  doc/howto_release.md
  doc/infrastructure.md
  doc/notebooks/README.md
  docker/README.md
  lib/external/shapelib/README.md
  macosx/ReadMe.md
  python/libgrass_interface_generator/README.md
  testsuite/README.md
Labels: manual

#2764 docker: reorganize ubuntu_wxgui for docker image creation
  .github/workflows/docker.yml
  README.md
  docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/README.md
Labels: docker

#2767 Replace sprintf() with snprintf() in C++ code
  include/grass/iostream/ami_stream.h
  include/grass/iostream/embuffer.h
  include/grass/iostream/empq_impl.h
  include/grass/iostream/imbuffer.h
  include/grass/iostream/mem_stream.h
  include/grass/iostream/minmaxheap.h
  lib/iostream/ami_stream.cpp
  lib/iostream/rtimer.cpp
  raster/r.in.pdal/main.cpp
  raster/r.terraflow/common.cpp
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/main.cpp
  raster/r.terraflow/nodata.h
  raster/r.terraflow/plateau.h
  raster/r.terraflow/stats.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.terraflow/sweep.h
  raster/r.terraflow/water.cpp
  raster/r.viewshed/main.cpp
  raster/r.watershed/front/main.c
  raster/r.watershed/shed/com_line.c
  raster/r.watershed/shed/print.c
Labels: enhancement, C++

#2769 docker: update of Debian image
  docker/README.md
  docker/debian/Dockerfile
Labels: docker

#2759 Add pre-commit hook file
  .pre-commit-config.yaml
Labels: enhancement

#2771 docker: update of Ubuntu image
  docker/README.md
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Labels: backport_needed, docker

#2725 TGIS: add spatial filter to STDS
  lib/temporal/SQL/sqlite3_indexes.sql
  python/grass/temporal/abstract_space_time_dataset.py
Labels: enhancement, temporal, Python

#2730 CI: switch to ubuntu-22.04 image to avoid timeout
  .github/workflows/additional_checks.yml
  .github/workflows/black.yml
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/build_ubuntu-22.04_without_x.sh
  .github/workflows/centos.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/flake8.yml
  .github/workflows/gcc.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Labels: CI

#2782 CI: update github/super-linter docker tag to v4
  .github/workflows/super-linter.yml
Labels: CI

#2788 CI: improve PR titles of renovate bot
  renovate.json
  utils/release.yml
Labels: CI

#2765 Add submitting guidelines from grass-wiki
  doc/development/submitting/docs.md
  doc/development/submitting/general.md
  doc/development/submitting/message_standardization.md
  doc/development/submitting/python.md
  doc/development/submitting/submitting.md
  doc/development/submitting/submitting_c.md
  doc/development/submitting/wxGUI.md
Labels: manual

#2794 r.horizon manual - fix typo
  raster/r.horizon/r.horizon.html
Labels: backport_needed, manual

#2795 v.buffer: fix option name in error message (backport)
  vector/v.buffer/main.c
Labels: C
