Repository OSGeo/grass, pull requests merged in 2023-11, with the labels that each got.

#3209 wxGUI/gmodeler: fix script export broken if model contains ModelData item
  gui/wxpython/gmodeler/model.py
Labels: bug, Python, backport to 8.3

#3110 v.to.rast: Change val to value
  gui/wxpython/rlisetup/functions.py
  gui/wxpython/rlisetup/sampling_frame.py
  scripts/r.mask/r.mask.py
  vector/v.to.rast/main.c
  vector/v.to.rast/v.to.rast.html
Labels: vector

#3226 wxGUI: rewrite and document core.utils.ListOfMapsets to not cause GUI crash in certain circumstances
  gui/wxpython/core/utils.py
Labels: bug, GUI, backport to 8.3

#2816 RFC: Python Language Support
  doc/development/rfc/python_language_support.md
Labels: RFC

#3228 pygrass: replace deprecated np.int0 with np.intp
  python/grass/pygrass/raster/buffer.py
Labels: Python

#2683 r.univar parallelization for extended statistics
  raster/r.univar/benchmark/benchmark_r_univar.py
  raster/r.univar/r.univar_main.c
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Labels: enhancement, raster, C

#3174 v.db.join: Add exclude_columns= option
  scripts/v.db.join/v.db.join.py
Labels: enhancement, vector, database

#3248 utils: fix add HTML module man page Source code section for all module HTML files
  utils/mkhtml.py
Labels: bug, manual, Python, backport to 8.3

#3095 d.legend.vect: Initialize title size
  display/d.legend.vect/draw.c
Labels: vector

#2894 libvector : reading files with 'struct Map_info*' objects is technically not const
  include/grass/defs/vector.h
  lib/vector/Vlib/area.c
  lib/vector/Vlib/area_pg.c
  lib/vector/Vlib/array.c
  lib/vector/Vlib/box.c
  lib/vector/Vlib/buffer2.c
  lib/vector/Vlib/build.c
  lib/vector/Vlib/build_sfa.c
  lib/vector/Vlib/cindex.c
  lib/vector/Vlib/close.c
  lib/vector/Vlib/constraint.c
  lib/vector/Vlib/copy.c
  lib/vector/Vlib/dbcolumns.c
  lib/vector/Vlib/field.c
  lib/vector/Vlib/geos_to_wktb.c
  lib/vector/Vlib/header.c
  lib/vector/Vlib/header_finfo.c
  lib/vector/Vlib/hist.c
  lib/vector/Vlib/init_head.c
  lib/vector/Vlib/level.c
  lib/vector/Vlib/level_two.c
  lib/vector/Vlib/line.c
  lib/vector/Vlib/local_proto.h
  lib/vector/Vlib/net_analyze.c
  lib/vector/Vlib/open.c
  lib/vector/Vlib/pg_local_proto.h
  lib/vector/Vlib/poly.c
  lib/vector/Vlib/read.c
  lib/vector/Vlib/read_ogr.c
  lib/vector/Vlib/simple_features.c
  lib/vector/Vlib/write.c
  lib/vector/Vlib/write_nat.c
  lib/vector/Vlib/write_pg.c
  vector/v.colors/local_proto.h
  vector/v.colors/read_rgb.c
  vector/v.colors/scan_attr.c
  vector/v.colors/scan_cats.c
  vector/v.colors/write_rgb.c
  vector/v.decimate/copy_tab.c
  vector/v.decimate/main.c
  vector/v.distance/distance.c
  vector/v.distance/local_proto.h
  vector/v.extract/copy_tab.c
  vector/v.extract/local_proto.h
  vector/v.info/local_proto.h
  vector/v.info/print.c
  vector/v.out.postgis/local_proto.h
  vector/v.out.postgis/table.c
Labels: enhancement, C

#2857 d.vect: label vertical alignment workaround
  display/d.vect/label.c
Labels: C

#1908 grass.script: Split the command string using shell-like syntax on the win32 platform same as on POSIX-compliant platforms
  display/d.vect/d.vect.html
  python/grass/script/utils.py
Labels: bug, Windows, Python, backport to 8.3

#3246 lint: fix pre-commit warnings/errors
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/ubuntu/Dockerfile
  locale/transifex/.tx/config
  locale/transifex/transifex_merge_2.sh
Labels: add to git-blame-ignore-revs

#3264 wxGUI/lmgr: fix unfocused Layers pane wx.ListCtrl widget row background color
  gui/wxpython/lmgr/layertree.py
Labels: bug, GUI, macOS, backport to 8.3

#3245 checks: add -Wpendantic compiler flag to CI builds
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/gcc.yml
  .github/workflows/macos_install.sh
  include/grass/vect/dig_defines.h
Labels: CI, C, C++

#3200 Create workflow to update configure, config.guess and config.sub
  .github/workflows/periodic_update.yml
Labels: CI

#2414 contributing: Optimize commands, text in release procedure
  doc/howto_release.md
Labels: enhancement

#3253 contributing: Optimize commands, text in release procedure (G83)
  doc/howto_release.md
Labels: manual

#3271 CI: fix Periodic update's cron and do not add labels
  .github/workflows/periodic_update.yml
Labels: CI

#3036 grass.jupyter: add SeriesMap and tests
  python/.pylintrc
  python/grass/jupyter/Makefile
  python/grass/jupyter/__init__.py
  python/grass/jupyter/region.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/jupyter/utils.py
Labels: enhancement, Python
