Repository OSGeo/grass, pull requests merged in 2023-09, with the labels that each got.

#3070 parallelized raster modules: fix buffer sizes
  raster/r.neighbors/main.c
  raster/r.patch/main.c
  raster/r.resamp.filter/main.c
  raster/r.series/main.c
Labels: bug, raster, C, backport to 8.3

#3141 CI: drop outdated CentOS 7 compilation
  .github/workflows/build_centos.sh
  .github/workflows/centos.yml
  .github/workflows/yum.txt
  README.md
Labels: CI

#3139 m.nviz.image: fix checking if color raster map exists if color_map param arg was used
  misc/m.nviz.image/surface.c
Labels: bug, C, backport to 8.3, backport to 8.2

#3142 wxGUI/vdidit: fix opening Vector Digitizer settings dialog while editing vector map
  gui/wxpython/gui_core/gselect.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3140 r.watershed: fix streams and basins
  raster/r.watershed/ram/do_cum.c
  raster/r.watershed/seg/do_cum.c
  raster/r.watershed/testsuite/r_watershed_test.py
Labels: bug, raster, C, backport to 8.3

#3065 Translations update from OSGeo Weblate
  locale/po/grasslibs_de.po
  locale/po/grasslibs_ru.po
  locale/po/grassmods_de.po
  locale/po/grassmods_ru.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_ru.po
Labels: translation

#2437 wxGUI/dbmgr: don't add new duplicated table col into table desc TableListCtrl widget
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#2436 wxGUI/dbmgr: fix sorting newly added column values
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3137 wxGUI/animation: fix exporting an animation overlaid with custom image
  gui/wxpython/animation/controller.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3085 wxGUI/psmap: fix close vector map properties dialog after hit OK button
  gui/wxpython/psmap/dialogs.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3087 wxGUI/psmap: fix vector map properties dialog correct typing the name of the vector map
  gui/wxpython/psmap/dialogs.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3162 wxGUI/psmap: fix vector line map props dialog PenStyleComboBox widget drawing items
  gui/wxpython/psmap/dialogs.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3164 wxGUI/psmap: fix simple point graphic recalculate position
  gui/wxpython/psmap/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3168 g.extension: fix registration addon with module name start with 2 chars db.*, ps.*, r3.*, wx.*
  scripts/g.extension/g.extension.py
Labels: bug, Windows, Python, backport to 8.3, backport to 8.2

#3169 wxGUI/iclass: fix showing scatter plots
  gui/wxpython/iscatt/plots.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3181 Translations update from OSGeo Weblate
  locale/po/grasslibs_ko.po
Labels: translation

#3189 wxGUI/image2target: fix showing Ground Control Points settings dialog
  gui/wxpython/image2target/ii2t_manager.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3188 wxGUI/gmodeler: fix storing current model settings to model file
  gui/wxpython/gmodeler/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3187 wxGUI/preferences: fix setting command output font
  gui/wxpython/gui_core/preferences.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3184 wxGUI/iclass: fix zoom to scatter plot extend
  gui/wxpython/iscatt/plots.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3177 wxGUI/main_window: add and use custom SingleWindowAuiManager class
  gui/wxpython/main_window/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3172 wxGUI/iclass: fix closing scatter plot pane via x button
  gui/wxpython/iscatt/frame.py
  gui/wxpython/iscatt/plots.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3143 wxGUI/dbmgr: do not modify layer settings if settings have not changed
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3089 wxGUI/nviz: make tools panel verically and horizontally scrollable for Single Window Mode
  gui/wxpython/nviz/tools.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#2456 wxGUI/vdigit: fix close frame if Vector Digitizer is run as standalone app g.gui.vdigit
  gui/wxpython/gui_core/mapdisp.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3193 wxGUI/psmap: fix showing image map element preview
  gui/wxpython/psmap/dialogs.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3185 wxGUI/mapswipe: fix saving display to file
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/psmap/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3182 wxGUI/iclass: fix activating scatter plot pane toolbar tools
  gui/wxpython/iscatt/toolbars.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3166 g.extension: fix installing addons on the OS MS Windows
  scripts/g.extension/g.extension.py
Labels: bug, Windows, Python, backport to 8.3

#2420 wxGUI/psmap: fix show correct error message if Ghostscript isn't installed (required for rendering output PDF file) on the OS MS Windows platform
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/g.gui.psmap.html
Labels: bug, Windows, GUI, backport to 8.3

#2438 wxGUI/dbmgr: update Browse data page Simple SQL Query WHERE ComboBox widget column names choices
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3

#2793 t.rast.univar: Add region_relation option for spatial filtering STDS by computational region
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.html
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  temporal/temporalintro.html
Labels: enhancement, temporal, Python
