Repository OSGeo/grass, pull requests merged in 2023-12, with the labels that each got.

#3279 docs: update friction map info for r.walk.html
  raster/r.walk/r.walk.html
Labels: manual, raster, backport to 8.3

#3260 parser: Fix key-value pairs for t.* modules in renamed_options
  lib/gis/renamed_options
Labels: bug

#3277 docs: add GRASS docker section to infrastructure.md
  doc/infrastructure.md
Labels: manual, docker, backport to 8.3

#3256 parser: Support renamed flags (flags/options to options/flags as well)
  lib/gis/parser.c
Labels: enhancement

#3203 r.stats: Use long total_count to avoid int overflow
  raster/r.stats/stats.c
Labels: enhancement, raster

#3234 wxGUI: New History pane for launching commands from history log
  gui/wxpython/Makefile
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/Makefile
  python/grass/grassdb/history.py
Labels: enhancement, GUI

#3288 r.horizon: fix bug in point mode computation
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: bug, raster, backport to 8.3, errata

#3300 wxGUI/history: fix printing module GUI stderr inside wxGUI Console
  gui/wxpython/core/gcmd.py
  gui/wxpython/gui_core/forms.py
Labels: bug, GUI

#3273 db.dropcolumn: Circumvent length limit for sqlite3 SQL STDIN string
  scripts/db.dropcolumn/db.dropcolumn.py
Labels: bug, Python, database, backport to 8.3

#3306 g.proj: fix wkt output on Windows
  general/g.proj/output.c
  general/g.proj/testsuite/test_g_proj.py
Labels: C, backport to 8.3

#3302 wxGUI/history: enable run special command e.g. d.rast, d.vect etc., as well as from the wxGUI Console
  .flake8
  gui/wxpython/core/globalvar.py
  gui/wxpython/history/browser.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
Labels: bug, GUI

#3282 v.in.ogr: add fix for unclosed rings
  vector/v.in.ogr/geom.c
Labels: enhancement, vector, C

#2281 configure: update to autoconf 2.71
  aclocal.m4
  configure
  configure.ac
  doc/development/submitting/general.md
  imagery/i.cluster/global.h
  include/grass/config.h.in
Labels: enhancement

#3314 CI: Add Python 3.12 to pytest's matrix
  .github/workflows/pytest.yml
Labels: CI

#3035 contributing: Add more expressions to match release notes groups
  utils/release.yml
Labels: enhancement, backport to 8.3

#3281 i.evapo.time: Add example image to manual
  imagery/i.evapo.time/i.evapo.time.html
  imagery/i.evapo.time/i_evapo_time.png
Labels: manual

#3317 Missing `shutil` import when used inside `@unittest.skipIf` condition
  vector/v.in.pdal/testsuite/test_v_in_pdal_basic.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
Labels: Python

#3307 wxGUI/preferences: allow the user set maximum memory to be used by modules
  gui/wxpython/gui_core/preferences.py
Labels: enhancement, GUI

#531 Add auto-labelling to pull requests
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, CI
