Repository OSGeo/grass, pull requests merged in 2023-07, with the labels that each got.

#3029 doc: Document that lists in parser must be NULL terminated
  lib/gis/parser_dependencies.c
Labels: C

#3006 contributing: Expand instructions on pre-commit
  doc/development/submitting/submitting.md
Labels: manual

#3012 contributing: Remove parts of locale readme already present in submitting guidelines
  doc/development/submitting/python.md
  doc/development/submitting/submitting_c.md
  locale/README
  locale/README.md
Labels: manual

#3056 wxGUI/vclean: fix StaticLine widget parent win
  gui/wxpython/modules/vclean.py
Labels: bug, GUI, backport to 7.8

#3076 Python: Python2 removal
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/globalvar.py
  gui/wxpython/core/ws.py
  gui/wxpython/nviz/workspace.py
  lib/init/grass.py
  python/grass/gunittest/multirunner.py
  python/grass/imaging/images2swf.py
  python/grass/pygrass/modules/interface/testsuite/test_modules.py
  python/grass/pygrass/raster/testsuite/test_raster_region.py
  python/grass/script/task.py
  python/grass/script/utils.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_drv.py
Labels: Python

#3086 wxGUI: initialize db connection when creating new mapset
  gui/wxpython/startup/guiutils.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3081 wxGUI/dbmgr: fix show attribute table for vector map from another mapset
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#2486 v.fill.holes: Add new tool to remove inner isles, keep outer boundary
  gui/wxpython/xml/toolboxes.xml
  raster/r.fill.stats/r.fill.stats.html
  scripts/r.fillnulls/r.fillnulls.html
  vector/Makefile
  vector/v.clean/v.clean.html
  vector/v.fill.holes/Makefile
  vector/v.fill.holes/examples.ipynb
  vector/v.fill.holes/main.c
  vector/v.fill.holes/tests/conftest.py
  vector/v.fill.holes/tests/v_fill_holes_test.py
  vector/v.fill.holes/v.fill.holes.html
  vector/v.fill.holes/v_fill_holes.png
  vector/v.fill.holes/v_fill_holes_filled.png
  vector/v.fill.holes/v_fill_holes_filled_with_dissolve.png
Labels: enhancement, vector

#2388 v.dissolve: Compute attribute aggregate statistics
  scripts/v.dissolve/tests/conftest.py
  scripts/v.dissolve/tests/v_dissolve_aggregate_test.py
  scripts/v.dissolve/tests/v_dissolve_geometry_test.py
  scripts/v.dissolve/tests/v_dissolve_layers_test.py
  scripts/v.dissolve/tests/v_dissolve_test.py
  scripts/v.dissolve/v.dissolve.html
  scripts/v.dissolve/v.dissolve.py
  scripts/v.dissolve/v_dissolve.ipynb
  scripts/v.dissolve/v_dissolve_towns.png
  scripts/v.dissolve/v_dissolve_zipcodes.png
Labels: enhancement, Python

#3092 r.drain: fix for fully-qualified map names
  scripts/r.drain/r.drain.py
Labels: bug, raster, backport to 8.3, backport to 8.2

#3098 wxGUI/dbmgr: fix showing attribute column menu
  gui/wxpython/dbmgr/base.py
Labels: bug, GUI, backport to 8.3, backport to 8.2, backport to 7.8
