Repository OSGeo/grass, pull requests merged in 2023-03, with the labels that each got.

#2868 CI: add CI concurrency
  .github/workflows/additional_checks.yml
  .github/workflows/black.yml
  .github/workflows/centos.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/flake8.yml
  .github/workflows/gcc.yml
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .github/workflows/super-linter.yml
  .github/workflows/ubuntu.yml
Labels: enhancement, backport_needed, CI

#2871 Fix -Wextra-semi compiler warnings
  imagery/i.landsat.acca/algorithm.c
  lib/vector/neta/centrality.c
  raster/r.kappa/calc_metrics.c
Labels: enhancement, C

#2878 Fix -Wformat compiler warnings
  display/d.text/main.c
  general/g.pnmcomp/main.c
  lib/cairodriver/graph.c
  lib/gis/color_str.c
  lib/vector/Vlib/ascii.c
  raster3d/r3.stats/main.c
Labels: enhancement, C

#905 Add time function constants to temporal algebra
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_algebra.py
  temporal/t.rast.algebra/t.rast.algebra.html
  temporal/t.rast.algebra/testsuite/test_raster_algebra.py
Labels: enhancement, temporal, Python

#2881 find_file: translate more legacy elements
  python/grass/script/core.py
Labels: enhancement, Python

#2883 winGRASS: exclude pdal as compilation dependency
  mswindows/osgeo4w/package.sh
Labels: Windows

#2837 t.rast.algebra: improve neighborhood modifier documentation
  temporal/t.rast.algebra/t.rast.algebra.html
Labels: bug, manual, temporal, HTML

#2836 t.rast.algebra: improve neighborhood modifier documentation
  temporal/t.rast.algebra/t.rast.algebra.html
Labels: bug, manual, temporal, HTML

#2887 configure: fix compilation --with-openmp in MS Windows
  mswindows/osgeo4w/package.sh
Labels: backport_needed, Windows

#2879 Fix -Woverflow compiler warnings
  lib/raster3d/fpxdr.c
Labels: enhancement, C

#2814 grass.script: Fix ignored superquiet (--qq) parameter
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Labels: bug, Python

#2889 CI: do not fail macOS on -Wdeprecated-non-prototype
  .github/workflows/macos_install.sh
Labels: CI

#2877 g.proj: Fix -Wembedded-directive compiler warnings
  general/g.proj/main.c
Labels: enhancement, C

#2886 t.rename: Fix error with SQLDatabaseInterface.update()
  python/grass/temporal/abstract_map_dataset.py
  temporal/t.rename/test.t.rename.sh
  temporal/t.rename/testsuite/test_t_rename.py
Labels: bug, temporal, Python

#1578 i.in.spotvgt.py: fixed E722 do not use bare 'except' warning
  .flake8
  scripts/i.in.spotvgt/i.in.spotvgt.py
  scripts/r.unpack/r.unpack.py
Labels: bug, Python

#2893 CI concurrency
  .github/workflows/additional_checks.yml
  .github/workflows/black.yml
  .github/workflows/centos.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/flake8.yml
  .github/workflows/gcc.yml
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .github/workflows/super-linter.yml
  .github/workflows/ubuntu.yml
Labels: CI

#2875 Fix -Wgnu-pointer-arith compiler warnings
  lib/raster3d/mask.c
  raster/r.fill.stats/main.c
  raster/r.in.xyz/main.c
Labels: enhancement, C

#2874 Suppress -Wempty-translation-unit compiler warnings
  lib/gis/win32_pipes.c
  raster/r.param.scale/disp_matrix.c
Labels: enhancement, C

#2876 Fix -Wpedantic compiler warnings
  lib/vector/Vlib/buffer2.c
  lib/vector/Vlib/poly.c
  lib/vector/Vlib/select.c
  lib/vector/diglib/spindex.c
Labels: enhancement, C

#2882 AbstractMapDataset: add option for mapset check
  python/grass/temporal/abstract_map_dataset.py
Labels: enhancement, temporal, Python

#2896 wxGUI: remove initial duplicate point when creating profile or measuring distance
  gui/wxpython/mapwin/analysis.py
Labels: bug, GUI

#2561 i.vi: support soil_line_slope for PVI
  imagery/i.vi/main.c
  imagery/i.vi/pvi.c
Labels: enhancement, C

#2534 Incorrect beam radiation for some steep inclined surfaces
  raster/r.sun/main.c
  raster/r.sun/rsunlib.c
  raster/r.sun/sunradstruct.h
  raster/r.sun/testsuite/test_rsun.py
Labels: bug, raster, C

#2903 i.vi: update manual after PVI changes
  imagery/i.vi/i.vi.html
Labels: manual

#2863 t.register: support mapset name in input file
  python/grass/temporal/register.py
  temporal/t.register/t.register.html
  temporal/t.register/test.t.register.raster.file.sh
  temporal/t.register/test.t.register.raster.sh
  temporal/t.register/testsuite/test_t_register_raster.py
  temporal/t.register/testsuite/test_t_register_raster_different_local.py
  temporal/t.register/testsuite/test_t_register_raster_file.py
  temporal/t.register/testsuite/test_t_register_raster_mapmetadata.py
Labels: bug, temporal, Python

#2900 t.rename: Fix error with SQLDatabaseInterface.update() (backport of #2886)
  python/grass/temporal/abstract_map_dataset.py
  temporal/t.rename/test.t.rename.sh
  temporal/t.rename/testsuite/test_t_rename.py
Labels: bug, temporal, Python
