Repository OSGeo/grass, pull requests merged in 2023-06, with the labels that each got.

#2667 wxGUI: adding a button for undocking an AuiNotebook tab to wx.Frame (Single-Window GUI)
  gui/icons/grass/monitor-dock.png
  gui/icons/grass/monitor-dock.svg
  gui/wxpython/core/workspace.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/toolbars.py
Labels: enhancement, GUI, Python

#2988 r.terraflow: Add flow direction encoding information to the manual
  raster/r.terraflow/r.terraflow.html
  raster/r.terraflow/rterraflow_direction_encoding.png
Labels: manual

#2520 wxGUI: fix show MASK statusbar button widget if mask is created
  .flake8
  gui/wxpython/core/watchdog.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/statusbar.py
  gui/wxpython/main_window/frame.py
Labels: bug, GUI

#2994 wxGUI: exception in thread when switching to mapset
  gui/wxpython/core/watchdog.py
Labels: bug, backport_needed, GUI

#2974 t.rast.algebra/testsuite: split file test_raster_algebra.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_arithmetic.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_operators.py
Labels: backport_needed, CI, Python

#1881 gui: restrict north/south to 90/-90 and west/east to -180/180
  gui/wxpython/core/ws.py
Labels: bug, GUI

#2997 Show ModelRelation in white on dark mode
  gui/wxpython/gmodeler/model.py
Labels: GUI

#2987 d.rast.arrow: Support Terraflow (ArcGIS) directions
  display/d.rast.arrow/d.rast.arrow.html
  display/d.rast.arrow/main.c
Labels: enhancement, raster

#3004 lib/bitmap: Fix a potential memory leak
  lib/bitmap/bitmap.c
Labels: bug, C

#3014 CI: Reduce number of Python jobs
  .github/workflows/black.yml
  .github/workflows/flake8.yml
  .github/workflows/python-code-quality.yml
Labels: CI

#2992 wxGUI/query: set region matching the raster for each raster queried
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
Labels: GUI

#3015 Locale: extract translatable messages also from C++ files
  locale/Makefile
Labels: translation, backport to 8.3, backport to 8.2

#2850 r.in.pdal and r.in.xyz: manual backport of #2844 and #2847 (8.2)
  raster/r.in.pdal/point_binning.c
  raster/r.in.xyz/support.c
Labels: bug, C

#2824 Use 'PRId64' from C99, manual backport of #2807 (8.2)
  imagery/i.segment/iseg.h
  imagery/i.segment/mean_shift.c
  imagery/i.segment/open_files.c
  imagery/i.segment/region_growing.c
  include/grass/gis.h
  lib/dspf/cube_io.c
  lib/segment/format.c
  lib/vector/Vlib/open_nat.c
  lib/vector/Vlib/read_pg.c
  lib/vector/Vlib/write.c
  lib/vector/Vlib/write_nat.c
  lib/vector/Vlib/write_ogr.c
  lib/vector/Vlib/write_pg.c
  lib/vector/diglib/cindex_rw.c
  lib/vector/diglib/head.c
  lib/vector/diglib/plus_struct.c
  lib/vector/diglib/spindex_rw.c
  raster/r.in.bin/main.c
  raster/r.stream.extract/close.c
  raster/r.stream.extract/do_astar.c
  raster/r.stream.extract/init_search.c
  raster/r.stream.extract/load.c
  raster/r.stream.extract/streams.c
  raster/r.stream.extract/thin.c
  raster/r.terraflow/grass2str.h
  raster/r.terraflow/main.cpp
  raster/r.terraflow/stats.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.watershed/seg/do_astar.c
  raster/r.watershed/seg/do_cum.c
Labels: bug, C

#3022 Graphical Modeler: fix command parsing in "add tool" dialog
  gui/wxpython/gmodeler/dialogs.py
Labels: bug, GUI

#3011 unittest: fix assertNotRegexMatches() removed from python 3.12
  scripts/db.dropcolumn/testsuite/test_db_dropcolumn.py
  scripts/db.droptable/testsuite/test_db_droptable.py
  scripts/v.db.addtable/testsuite/test_v_db_addtable.py
  scripts/v.db.dropcolumn/testsuite/test_v_db_dropcolumn.py
  scripts/v.db.droptable/testsuite/test_v_db_droptable.py
  scripts/v.db.renamecolumn/testsuite/test_v_db_renamecolumn.py
Labels: bug, Python, backport to 8.3

#3009 grass.gunittest: Fix usage of assertEquals() removed from Python 3.12
  python/grass/script/testsuite/test_script_raster.py
  python/grass/script/testsuite/test_start_command_functions.py
  python/grass/script/testsuite/test_start_command_functions_nc.py
  raster3d/r3.to.rast/testsuite/test_a_b_coeff.py
  raster3d/r3.to.rast/testsuite/test_integer_rounding.py
  raster3d/r3.to.rast/testsuite/test_nulls.py
  raster3d/r3.to.rast/testsuite/test_small_data.py
Labels: bug, Python, backport to 8.3

#3010 grass.unittest: Fix usage of assertRegexpMatches() removed from Python 3.12
  general/g.remove/testsuite/test_g_remove.py
  scripts/db.dropcolumn/testsuite/test_db_dropcolumn.py
  scripts/db.droptable/testsuite/test_db_droptable.py
  scripts/db.in.ogr/testsuite/test_db_in_ogr.py
  scripts/v.db.addcolumn/testsuite/test_v_db_addcolumn.py
  scripts/v.db.addtable/testsuite/test_v_db_addtable.py
  scripts/v.db.droptable/testsuite/test_v_db_droptable.py
  scripts/v.db.renamecolumn/testsuite/test_v_db_renamecolumn.py
  scripts/v.what.vect/testsuite/test_v_what_vect.py
Labels: bug, Python, backport to 8.3

#3037 r.patch: ensure r.in.ascii in relevant tests always create CELL
  raster/r.patch/testsuite/test_rpatch_artificial.py
Labels: CI, raster, backport to 8.3

#3025 r.walk: add screenshot in documentation
  raster/r.walk/r.walk.html
  raster/r.walk/r_walk.png
Labels: manual, HTML, backport to 8.3

#3045 r.blend: add screenshot in documentation
  scripts/r.blend/r.blend.html
  scripts/r.blend/r_blend.png
Labels: manual, backport to 8.3

#3044 r.colors.stddev: add screenshot in documentation
  scripts/r.colors.stddev/r.colors.stddev.html
  scripts/r.colors.stddev/r_colors_stddev.png
Labels: manual, backport to 8.3

#3051 g.extension: sparse checkout with history for fast commit log access
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Labels: bug, blocker, Python, backport to 8.3, backport to 8.2, backport to 7.8

#3054 wxGUI: fix wx.ListItemAttr deprecated warning
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/iscatt/frame.py
Labels: GUI, backport to 8.3

#3053 g.extension: if copied files exists do not print warning message
  scripts/g.extension/g.extension.py
Labels: bug, Python, backport to 8.3, backport to 8.2, backport to 7.8

#3048 contributing: Add empty line after heading in release notes
  utils/generate_release_notes.py
Labels: Python, backport to 8.3, backport to 8.2

#3030 contributing: minor release procedure updates (main)
  doc/howto_release.md
  doc/infrastructure.md
Labels: enhancement

#3032 contributing: release procedure updates (G83)
  doc/howto_release.md
  doc/infrastructure.md
Labels: manual

#3031 contributing: release procedure updates (G82)
  doc/howto_release.md
  doc/infrastructure.md
Labels: manual

#3057 Fix spelling errors.
  scripts/g.extension/g.extension.html
Labels: backport to 8.3

#3024 wxGUI: Default Single-Window size is too small
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/main_window/frame.py
Labels: bug, GUI, backport to 8.3

#3027 wxGUI/digitizer: fix digitizer - VDigitToolbar.OnTool method was not called
  gui/wxpython/vdigit/mapwindow.py
  gui/wxpython/vdigit/toolbars.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3039 t.rast.univar: Add support for percentiles
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
Labels: enhancement, temporal, Python

#3060 g.extension: backport of #3051 sparse checkout with history for fast commit log access
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Labels: blocker

#3062 docker: update to Debian 12 and PDAL 2.5.5
  docker/debian/Dockerfile
Labels: bug, docker, backport to 8.3, backport to 8.2

#3058 Docker alpine: add additional GDAL driver
  docker/alpine/Dockerfile
Labels: docker, backport to 8.3, backport to 8.2

#3068 Docker alpine: Get rid of hardcoded GRASS GIS version in Dockerfile
  docker/alpine/Dockerfile
Labels: bug, docker, backport to 8.3, backport to 8.2

#3069 r.resamp.bspline: fix memory leak
  raster/r.resamp.bspline/main.c
Labels: bug, raster, C, backport to 8.3, backport to 8.2

#3071 r.resamp.bspline: fix memory leak
  raster/r.resamp.bspline/main.c
Labels: bug, raster, C
