Repository OSGeo/grass, pull requests merged in 2023-08, with the labels that each got.

#3101 wxGUI/lmgr: fix saving web service layer as raster map
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3108 r.texture manual: fix output parameter in example
  lib/gis/renamed_options
  raster/r.texture/r.texture.html
Labels: manual, backport to 8.3, backport to 8.2, backport to 7.8

#3080 docs: add notebook tutorial on parallelization
  doc/notebooks/parallelization_tutorial.ipynb
Labels: manual, Python

#3094 wxGUI/timeline: add _change_geometry() method for Matplotlib version >= 3.4
  gui/wxpython/timeline/frame.py
Labels: bug, GUI, backport to 8.3, backport to 8.2

#3097 r.sun: fix -Wimplicit-int warnings
  raster/r.sun/local_proto.h
  raster/r.sun/main.c
  raster/r.sun/rsunglobals.h
  raster/r.sun/rsunlib.c
Labels: bug, blocker, C

#3061 howto_release.md: update wingrass notes
  doc/howto_release.md
Labels: backport to 8.3, backport to 8.2

#3117 pkg: remove support for RHEL6 in grass.spec
  rpm/grass-pkgconfig.patch
  rpm/grass.spec
Labels: enhancement, Linux, backport to 8.3

#3111 r.sim: fix previously ignored infil_value
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
Labels: bug, raster, C, backport to 8.3, backport to 8.2, backport to 7.8

#3122 r.fillnulls: proceed if no holes present (RST method)
  scripts/r.fillnulls/r.fillnulls.html
  scripts/r.fillnulls/r.fillnulls.py
Labels: enhancement, backport to 8.3

#3124 doc examples: remove a call of non-existent function raw_input()
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
Labels: manual, Python

#3123 docs: fix syntax of CITATION.cff file
  CITATION.cff
Labels: manual, backport to 8.3, backport to 8.2

#3075 docker: CI update and simplification
  .github/workflows/docker.yml
Labels: docker, CI, backport to 8.3, backport to 8.2
