Repository OSGeo/grass, pull requests merged in 2024-12, with the labels that each got.

#4786 docs: enable btree2/kdtree lib doxygen file for Programmer's manual
  lib/btree2/Makefile
  lib/btree2/btree2lib.dox
Labels: manual, libraries, docs, backport to 8.4

#4664 i.pca: Fix Resource Leak issue
  imagery/i.pca/main.c
Labels: C, module, imagery

#4754 lib/raster3d: Fix Resource Leak issue
  lib/raster3d/index.c
Labels: C, libraries, raster3d

#4775 lib/gpde: Fix Resource Leak issue in n_arrays_io.c
  lib/gpde/n_arrays_io.c
Labels: C, libraries

#4750 r.in.pdal: Improve PDAL error handling
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/info.h
  raster/r.in.pdal/main.cpp
  raster/r.in.pdal/testsuite/test_r_in_pdal_print.py
Labels: raster, Python, C++, libraries, module, tests, backport to 8.4

#4795 d.histogram: Fix Copy into buffer size issue
  display/d.histogram/pie.c
Labels: C, module, display

#2963 contributing: Add branching how-to
  doc/development/branching_how-to.md
Labels: manual, docs

#4802 v.to.db: Fix Resource Leak issue in query.c
  vector/v.to.db/query.c
Labels: vector, C, module

#4791 CQ: Trim trailing whitespace
  .cppcheck-suppressions
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/macos.yml
  lib/fonts/fonts/cyrilc.hmp
  lib/fonts/fonts/fonts.table
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/Makefile
  mswindows/generic.manifest
  mswindows/osgeo4w/gdal-config
  mswindows/osgeo4w/geos-config
  mswindows/osgeo4w/liblas-config
  mswindows/osgeo4w/mysql_config
  mswindows/osgeo4w/postinstall.bat
  vector/v.buffer/v.buffer.html
  vector/v.class/v.class.html
  vector/v.surf.bspline/v.surf.bspline.html
Labels: windows, CI, vector, HTML, libraries, module, docs, backport to 8.4

#4807 manual: markdown support fixes and HTML fixes
  gui/wxpython/rlisetup/g.gui.rlisetup.html
  imagery/i.rectify/i.rectify.html
  imagery/i.smap/i.smap.html
  imagery/imageryintro.html
  lib/btree2/btree2lib.dox
  lib/gis/parser_rest_md.c
  man/build_md.py
  man/build_topics.py
  man/mkdocs/mkdocs.yml
  raster/r.basins.fill/r.basins.fill.html
  raster/r.in.poly/r.in.poly.html
  raster/r.li/r.li.cwed/r.li.cwed.html
  raster/r.li/r.li.dominance/r.li.dominance.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.mpa/r.li.mpa.html
  raster/r.li/r.li.mps/r.li.mps.html
  raster/r.li/r.li.padcv/r.li.padcv.html
  raster/r.li/r.li.padrange/r.li.padrange.html
  raster/r.li/r.li.padsd/r.li.padsd.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.li/r.li.patchnum/r.li.patchnum.html
  raster/r.li/r.li.pielou/r.li.pielou.html
  raster/r.li/r.li.renyi/r.li.renyi.html
  raster/r.li/r.li.richness/r.li.richness.html
  raster/r.li/r.li.shannon/r.li.shannon.html
  raster/r.li/r.li.shape/r.li.shape.html
  raster/r.li/r.li.simpson/r.li.simpson.html
  raster/r.quantile/r.quantile.html
  raster/r.stats.quantile/r.stats.quantile.html
  raster/r.support/r.support.html
  raster/rasterintro.html
  scripts/r.semantic.label/r.semantic.label.html
  scripts/v.db.univar/v.db.univar.html
  scripts/v.dissolve/v.dissolve.html
  temporal/t.list/t.list.html
  temporal/t.rast.series/t.rast.series.html
  vector/v.cluster/v.cluster.html
  vector/v.net.allpairs/v.net.allpairs.html
  vector/v.patch/v.patch.html
  vector/vectorintro.html
Labels: GUI, manual, vector, raster, temporal, Python, C, HTML, libraries, module, docs, markdown, imagery

#4811 v.in.wfs: remove an extra print copying a debug message
  scripts/v.in.wfs/v.in.wfs.py
Labels: vector, Python, module

#4814 CQ: replace a loop by a list comprehension in gmodeler.canvas
  gui/wxpython/gmodeler/canvas.py
Labels: GUI, Python

#4813 CQ: optimise if conditions in gmodeler.canvas
  gui/wxpython/gmodeler/canvas.py
Labels: GUI, Python

#4800 r.out.gdal: raster attribute table export enhancement
  raster/r.out.gdal/attr.c
Labels: enhancement, QGIS, raster, C, module

#4759 grass.pygrass: Fixed E402 in pygrass/utils
  .flake8
  python/grass/pygrass/utils.py
Labels: Python, libraries

#4803 raster: Fixed E402 by adding `noqa` exception
  .flake8
  python/grass/pygrass/raster/__init__.py
Labels: Python, libraries

#4816 r.clump: Fix Copy Buffer Size Issue
  raster/r.clump/main.c
Labels: raster, C, module

#4817 r.stats: Fix Resource Leak Issue
  raster/r.stats/cell_stats.c
Labels: raster, C, module

#4819 ps.map: Fix Resource Leak issue in ps_vlines.c
  ps/ps.map/ps_vlines.c
Labels: C, module

#4820 v.net: Fix Resource Leak issue in report.c
  vector/v.net/report.c
Labels: vector, C, module

#4825 grass.script: expose named_colors
  python/grass/script/__init__.py
Labels: Python, libraries

#4821 lib/raster: Fix Resource Leak issue in put_title.c
  lib/raster/put_title.c
Labels: raster, C, libraries

#3756 library: Add imagery Python library module to grass.script
  python/grass/script/Makefile
  python/grass/script/__init__.py
  python/grass/script/imagery.py
  python/grass/script/testsuite/test_imagery.py
Labels: enhancement, Python, libraries, imagery, tests

#4827 docker: Do not ignore certain git folder for docker build
  .dockerignore
Labels: docker

#4805 temporal: Fix bare except statements with specific error handling
  .flake8
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/core.py
Labels: Python, libraries

#4812 v.in.wfs: improve error message for ServiceException
  scripts/v.in.wfs/v.in.wfs.py
Labels: vector, Python, module

#4784 pytest: Allow default test file naming patterns inside tests folders
  pyproject.toml
  python/grass/script/tests/test_script_task.py
Labels: Python, libraries

#4121 win: patch from OSGeo4W applied
  .github/workflows/osgeo4w.yml
  mswindows/osgeo4w/build_osgeo4w.sh
  mswindows/osgeo4w/env.bat.tmpl
  mswindows/osgeo4w/libpng-config
  mswindows/osgeo4w/package.sh
Labels: windows, CI

#4755 r.coin: added tests for r.coin module
  raster/r.coin/tests/conftest.py
  raster/r.coin/tests/test_coin.py
Labels: raster, Python, module

#4808 wxGUI: Fix bare except in graphics.py
  .flake8
  gui/wxpython/mapwin/graphics.py
Labels: GUI, Python

#4846 messages: Uniformize NumPy spelling and URLs
  doc/python/m.distance.py
  gui/wxpython/nviz/wxnviz.py
  locale/po/grassmods_ar.po
  locale/po/grassmods_cs.po
  locale/po/grassmods_de.po
  locale/po/grassmods_es.po
  locale/po/grassmods_it.po
  locale/po/grassmods_ja.po
  locale/po/grassmods_lv.po
  locale/po/grassmods_pl.po
  locale/po/grassmods_sl.po
  locale/po/grassmods_tr.po
  locale/po/grasswxpy_ar.po
  locale/po/grasswxpy_bn.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fi.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_id_ID.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ja.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_lv.po
  locale/po/grasswxpy_ml.po
  locale/po/grasswxpy_pl.po
  locale/po/grasswxpy_pt.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_ro.po
  locale/po/grasswxpy_ru.po
  locale/po/grasswxpy_si.po
  locale/po/grasswxpy_sl.po
  locale/po/grasswxpy_ta.po
  locale/po/grasswxpy_th.po
  locale/po/grasswxpy_tr.po
  locale/po/grasswxpy_uk.po
  locale/po/grasswxpy_vi.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_CN.po
  locale/templates/grasswxpy.pot
  python/grass/imaging/images2swf.py
  python/grass/pygrass/raster/buffer.py
  python/grass/pygrass/vector/table.py
Labels: GUI, Python, translation, libraries, docs

#4736 temporal: Fix F401 Linter Warnings by Replacing Wildcard Imports with Explicit Imports in __init__.py
  .flake8
  python/grass/temporal/__init__.py
  python/grass/temporal/spatio_temporal_relationships.py
Labels: Python, libraries

#4859 i18n: fix translation sentence in po/grassmods_es.po
  locale/po/grassmods_es.po
Labels: bug, translation, backport to 8.4

#4856 r.resamp.filter: update manual
  raster/r.resamp.filter/r.resamp.filter.html
Labels: raster, HTML, module, docs, backport to 8.4

#4839 style: Define `import grass.temporal as tgis` as an import convention
  pyproject.toml
  python/grass/temporal/testsuite/test_temporal_doctests.py
Labels: Python, libraries, tests

#4862 CQ: follow 80-character paradigm in doc/notebooks/README
  doc/notebooks/README.md
Labels: docs, notebook

#4841 temporal: Use ScriptError from grass.exceptions in grass.temporal.gui_support
  python/grass/temporal/gui_support.py
Labels: Python, libraries

#4840 temporal: Adjust typing annotation for `datetime_to_grass_datetime_string()`
  python/grass/temporal/datetime_math.py
Labels: Python, libraries

#4842 temporal: Rename duplicate test name in unittests_temporal_raster_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra.py
Labels: Python, libraries, tests

#4715 grass.pygrass: Fixed E402 in vector/
  .flake8
  python/grass/pygrass/vector/__init__.py
Labels: Python, libraries

#4831 doc: fix typo and add bold weight to first mention of important terms in r.geomorphon manual page
  raster/r.geomorphon/r.geomorphon.html
Labels: raster, HTML, module, docs, backport to 8.4

#4772 wxGUI: Specified imports in iclass/frame.py to fix F403
  .flake8
  gui/wxpython/iclass/frame.py
Labels: GUI, Python

#4851 lib/display: Fix Copy Buffer Size issue in tran_colr.c
  lib/display/tran_colr.c
Labels: C, libraries, display

#4728 wxGUI: Removed unused variables in vdigit/
  .flake8
  gui/wxpython/vdigit/mapwindow.py
  gui/wxpython/vdigit/preferences.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/vdigit/wxdisplay.py
Labels: GUI, Python

#4861 r.statistics: Fix Resource Leak issue in o_adev.c
  raster/r.statistics/o_adev.c
Labels: raster, C, module

#4858 lib/rst/interp_float: Fix Resource Leak issue in segmen2d.c
  lib/rst/interp_float/segmen2d.c
Labels: C, libraries

#4843 temporal: Tune typing of functions list in c_libraries_interface
  python/grass/temporal/c_libraries_interface.py
Labels: Python, libraries

#4872 style: Fix pointless-string-statement / W0105
  gui/wxpython/core/globalvar.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rlisetup/sampling_frame.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/testsuite/test_category.py
  python/grass/pygrass/raster/testsuite/test_history.py
  python/grass/pygrass/raster/testsuite/test_numpy.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/pygrass/raster/testsuite/test_raster_region.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_table.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_grs.py
  scripts/g.extension/g.extension.py
  temporal/t.rast.import/testsuite/test_temporal_rast_import.py
Labels: GUI, temporal, Python, libraries, module, general, tests

#4873 gui: Fix possibly unbound variables in psmap.utils.BBoxAfterRotation
  gui/wxpython/psmap/utils.py
Labels: GUI, Python

#4874 gui: Fix using formatting for a string that does not have any interpolated variables in core.menutree
  gui/wxpython/core/menutree.py
Labels: GUI, Python

#4875 gui: Fix possibly indexing None in psmap.utils.convertRGB
  gui/wxpython/psmap/utils.py
  python/grass/script/core.py
Labels: GUI, Python, libraries

#4679 r.distance: Add tests for r.distance module
  raster/r.distance/testsuite/test_distance.py
Labels: raster, Python, module, tests

#4879 grass.script.utils: Add type hints to some functions
  python/grass/script/utils.py
Labels: Python, libraries

#4883 manual: db.in.ogr add column type detection for CSV
  general/g.tempfile/g.tempfile.html
  imagery/i.ortho.photo/i.ortho.transform/i.ortho.transform.html
  imagery/imageryintro.html
  raster3d/r3.to.rast/r3.to.rast.html
  scripts/db.in.ogr/db.in.ogr.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  vector/v.edit/v.edit.html
Labels: manual, vector, raster, HTML, database, module, docs, general, imagery, raster3d, backport to 8.4

#4684 lib: Replaced __cmp__ method with compensating methods for Python3 functionality
  .flake8
  python/grass/pydispatch/saferef.py
Labels: Python, libraries

#4886 style: Fix E1135: Value 'b_keys' doesn't support membership test (unsupported-membership-test)
  pyproject.toml
  python/grass/gunittest/checkers.py
Labels: Python, libraries

#4885 style: Fix C0123: Use isinstance() rather than type() for a typecheck (unidiomatic-typecheck)
  pyproject.toml
  python/grass/gunittest/reporters.py
Labels: Python, libraries

#4888 style: Fix R1703: The if statement can be replaced with 'var = bool(test)' (simplifiable-if-statement)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/modules/import_export.py
  pyproject.toml
  python/grass/script/task.py
Labels: GUI, Python, libraries

#4887 style: Fix W0246: Useless parent or super() delegation in method '__init__' (useless-parent-delegation)
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/mapdisp/gprint.py
  pyproject.toml
  python/grass/gunittest/reporters.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/find.py
Labels: GUI, Python, libraries

#4559 grass.script.core: Use a context manager for opening files (SIM115) to solve some ResourceWarnings
  pyproject.toml
  python/grass/script/core.py
Labels: Python, libraries

#4877 gui: Add types for lmgr constructor argument of GLWindow (3D) and MapPanel (2D)
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Labels: GUI, Python, docs

#4895 style: Fix C0117: Consider changing "not self.optype == 'boolean'" to "self.optype != 'boolean'" (unnecessary-negation)
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/temporal/temporal_operator.py
Labels: GUI, Python, libraries

#4893 style: Fix W0231: __init__ method from base class is not called (super-init-not-called)
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
  pyproject.toml
  python/grass/imaging/images2swf.py
Labels: GUI, Python, libraries

#4891 gui: Add type hints to bound WizardEvent handlers
  gui/wxpython/core/globalvar.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/rlisetup/wizard.py
Labels: GUI, Python

#4894 style: Ignore R1721: Unnecessary use of a comprehension, use list(self) instead. (unnecessary-comprehension)
  gui/wxpython/lmgr/giface.py
  pyproject.toml
  python/grass/pygrass/gis/__init__.py
Labels: GUI, Python, libraries

#4892 style: Fix R1711: Useless return at end of function or method (useless-return)
  gui/wxpython/animation/anim.py
  gui/wxpython/animation/controller.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rdigit/dialogs.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/rlisetup/wizard.py
  pyproject.toml
  python/grass/pygrass/vector/geometry.py
Labels: GUI, Python, libraries

#4896 lib: Fix safeRef regression after removing `__cmp__` in #4684
  python/grass/pydispatch/saferef.py
Labels: Python, libraries

#4876 gui: Handle GRASS_INFO_END in line in gui/wxpython/core/gcmd.py
  gui/wxpython/core/gcmd.py
Labels: GUI, Python

#4868 i.group: Fix Resource Leak issue in main.c
  imagery/i.group/main.c
Labels: C, module, imagery

#4869 ps.map: Fix Resource Leak issue in ps_vpoints.c
  ps/ps.map/ps_vpoints.c
Labels: C, module

#4880 gui(nviz.wxnviz): Add simple type hints not needing any imports
  gui/wxpython/nviz/wxnviz.py
Labels: GUI, Python
