Repository OSGeo/grass, pull requests merged in 2024-03, with the labels that each got.

#3439 grass.script: Provide env parameter in the g.message API
  python/grass/script/core.py
Labels: Python, libraries

#3463 Docker alpine: Fix for PEP-668
  docker/alpine/Dockerfile
Labels: docker

#3431 grass.script: Add separate function for setting location description
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_location_test.py
Labels: Python, libraries

#3477 Fix Circular dependency warning
  include/Make/Compile.make
  mswindows/generic.manifest.rc.in
Labels: Windows

#3471 makefile: Remove doxygen from temporal and python/grass/exceptions that is unused
  python/grass/exceptions/Makefile
  python/grass/temporal/Makefile
Labels: libraries

#3488 r.topidx: Update the manual with info about unsupported lat/long locations
  raster/r.topidx/r.topidx.html
Labels: raster, HTML, module, docs

#3479 Remove libexpat-1.dll from package.sh
  mswindows/osgeo4w/package.sh
Labels: Windows, backport to 8.3

#3483 CI(clang-format): Run faster and post fixes as code suggestions if possible when running on a PR
  .github/workflows/clang-format-check.yml
  .github/workflows/post-pr-reviews.yml
Labels: CI

#3494 CI: add libsvm to full Ubuntu builds
  .github/workflows/apt.txt
  .github/workflows/build_ubuntu-22.04.sh
Labels: CI

#3495 CI(labeler): Disable sync-labels that removes labels and pin action
  .github/workflows/label.yml
Labels: CI

#3498 CI(labeler): Match notebook label
  .github/labeler.yml
Labels: CI

#3489 d.rast.num: Constrain rendering within the current display extent in the wx monitor
  display/d.rast.num/main.c
Labels: enhancement, C, module, display

#3508 v.patch: Continuous cats with -e
  vector/v.patch/main.c
Labels: enhancement, vector, C, module

#3511 Update r.in.gdal.html: remove outdated example
  raster/r.in.gdal/r.in.gdal.html
Labels: raster, HTML, module, docs

#3469 packaging: Use subprocess instead of os.popen for change log creation
  utils/gitlog2changelog.py
Labels: Python

#3512 r.univar: init max value with smallest possible value
  raster/r.univar/r.univar_main.c
  raster/r.univar/testsuite/test_r_univar.py
Labels: bug, raster, Python, C, backport to 8.3, module, tests

#2884 r.watershed: Handle large datasets greater than INT32_MAX in cells
  raster/r.watershed/ram/Gwater.h
  raster/r.watershed/ram/do_astar.c
  raster/r.watershed/ram/do_cum.c
  raster/r.watershed/ram/do_flatarea.c
  raster/r.watershed/ram/init_vars.c
  raster/r.watershed/ram/main.c
  raster/r.watershed/ram/ramseg.c
  raster/r.watershed/ram/ramseg.h
  raster/r.watershed/seg/do_cum.c
Labels: enhancement, raster, C, module

#3517 CI(windows): Increase required passing tests percentage to 80%
  .github/workflows/test_thorough.bat
Labels: CI

#3346 r.horizon: get rid of global variables and other refactoring
  raster/r.horizon/TODO
  raster/r.horizon/local_proto.h
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: raster, Python, C, module, tests

#3515 bandit: add bandit to GRASS GIS CI
  .github/workflows/python-code-quality.yml
  pyproject.toml
Labels: CI, Python

#2993 wxGUI: Minimal changes to rename location to project
  doc/grass_database.html
  doc/projectionintro.html
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/datacatalog/g.gui.datacatalog.html
  gui/wxpython/datacatalog/toolbars.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/docs/wxGUI.html
  gui/wxpython/gcp/g.gui.gcp.html
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/startup/locdownload.py
  gui/wxpython/xml/wxgui_items.xml
Labels: GUI, blocker, Python, HTML, docs

#3133 v.info: Rename location to project in outputs
  vector/v.info/print.c
  vector/v.info/v.info.html
Labels: enhancement, vector, C, HTML, module, docs

#3134 r.info: Rename location to project in outputs
  raster/r.info/main.c
  raster/r.info/r.info.html
Labels: enhancement, raster, C, HTML, module, docs

#3130 lib/parser: Use project for G_OPT_M_LOCATION
  general/g.mapset/g.mapset.html
  general/g.proj/create.c
  gui/wxpython/core/utils.py
  gui/wxpython/datacatalog/dialogs.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/startup/guiutils.py
  lib/gis/parser_standard_options.c
  lib/gis/renamed_options
  python/grass/jupyter/reprojection_renderer.py
  python/grass/temporal/stds_import.py
  raster/r.proj/r.proj.html
  scripts/r.import/r.import.py
  scripts/v.import/v.import.py
  vector/v.proj/v.proj.html
Labels: enhancement, GUI, vector, raster, Python, C, HTML, libraries, module, docs, general, notebook

#3514 Add Automated Coverity Scanning
  .github/workflows/coverity.yml
Labels: CI

#3131 i.ortho.target: Rename location and mapset options to target
  gui/wxpython/image2target/g.gui.image2target.py
  imagery/i.ortho.photo/i.ortho.camera/main.c
  imagery/i.ortho.photo/i.ortho.elev/main.c
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.ortho.photo/i.ortho.rectify/main.c
  imagery/i.ortho.photo/i.ortho.rectify/rectify.c
  imagery/i.ortho.photo/i.ortho.rectify/target.c
  imagery/i.ortho.photo/i.ortho.target/i.ortho.target.html
  imagery/i.ortho.photo/i.ortho.target/main.c
  imagery/i.ortho.photo/i.ortho.transform/main.c
  lib/gis/renamed_options
Labels: enhancement, GUI, Python, C, HTML, libraries, module, docs, imagery

#3214 v.db.connect: Replace -o flag with the standard --overwrite
  lib/gis/renamed_options
  vector/v.db.connect/main.c
Labels: bug, vector, C, libraries, module

#3499 Tidy up INSTALL and REQUIREMENTS files
  INSTALL.md
  REQUIREMENTS.md
Labels: docs

#3529 wxpython: Remove non-existing scripts folder from Makefile
  gui/wxpython/Makefile
Labels: GUI

#3437 CI: update publishing workflow
  .github/workflows/create_release_draft.yml
Labels: CI

#3531 r.univar: init max value with smallest possible value (G8.3)
  raster/r.univar/r.univar_main.c
  raster/r.univar/testsuite/test_r_univar.py
Labels: bug, raster, C

#3535 Fix flake8 F401 imported but unused
  .flake8
  python/grass/pygrass/tests/benchmark.py
Labels: Python, libraries

#3534 r.horizon: add json output
  raster/r.horizon/Makefile
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: raster, Python, C, module, tests

#3516 Document that GRASS jupyter enables overwrite by default
  python/grass/jupyter/__init__.py
Labels: manual, Python, HTML, libraries, docs, notebook

#3520 wxGUI: rename location to project for new project wizard
  gui/wxpython/location_wizard/wizard.py
Labels: GUI, Python

#3533 CI: Use Renovate best-practices preset
  renovate.json
Labels: CI

#3527 CI(suggestions): Extract uploading of code suggestions with a local composite action
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/clang-format-check.yml
Labels: CI

#3528 r.what: Add JSON output
  raster/r.what/Makefile
  raster/r.what/main.c
  raster/r.what/testsuite/test_r_what.py
Labels: raster, Python, C, module, tests

#3530 Docker alpine: remove pip commands
  docker/alpine/Dockerfile
Labels: docker

#3542 Translations update from OSGeo Weblate
  locale/po/grasswxpy_it.po
Labels: translation

#3538 CI(black): Post black code suggestions as PR review comments
  .github/workflows/post-pr-reviews.yml
  .github/workflows/python-code-quality.yml
Labels: CI

#3546 pre-commit: Apply trailing whitespace fixes for all repo
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/coverity.yml
  .github/workflows/ubuntu.yml
  scripts/v.dissolve/v.dissolve.html
Labels: CI, vector, HTML, module, docs

#2931 r.surf.gauss: Added seed option and flag
  raster/r.surf.gauss/gaussurf.c
  raster/r.surf.gauss/main.c
  raster/r.surf.gauss/testsuite/test_r_surf_gauss.py
Labels: raster, Python, C, module, tests
