Repository OSGeo/grass, pull requests merged in 2024-10, with the labels that each got.

#4418 wxGUI: Fixed F841 in ii2t_manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
Labels: GUI, Python

#4396 wxGUI: Fix E722 do not use bare 'except' warnings in `gui_core/`
  .flake8
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/widgets.py
Labels: GUI, Python

#4400 wxGUI: Fixed unused 'wizard' variable - F841 in image2target/
  .flake8
  gui/wxpython/image2target/g.gui.image2target.py
Labels: GUI, Python

#4349 tests: fix tests that were actually not testing anything
  scripts/v.centroids/testsuite/test_v_centroids.py
  scripts/v.what.vect/testsuite/test_v_what_vect.py
  vector/v.select/testsuite/test_v_select.py
Labels: vector, Python, module, tests

#4417 wxGUI: Fixed E722 in ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
Labels: GUI, Python

#4427 wxGUI: Fixed E722: bare 'except' in iscatt/
  .flake8
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/iscatt/frame.py
Labels: GUI, Python

#4426 wxGUI: Fix F405 error by explicitly importing required modules in iscatt/
  .flake8
  gui/wxpython/iscatt/core_c.py
Labels: GUI, Python

#4430 wxGUI: Fixed F841 is iscatt/core_c.py
  .flake8
  gui/wxpython/iscatt/core_c.py
Labels: GUI, Python

#4431 wxGUI: Fixed F841 in dialogs.py, frame.py
  gui/wxpython/iscatt/dialogs.py
  gui/wxpython/iscatt/frame.py
Labels: GUI, Python

#4423 v.colors: Fix resource leak issue in scan_attr.c file
  vector/v.colors/scan_attr.c
Labels: vector, C, module

#4433 r.fill.dir: Fix unchecked return value in filldir.c
  raster/r.fill.dir/filldir.c
Labels: raster, C, module

#4434 r.thin: Fix unchecked return value in io.c
  raster/r.thin/io.c
Labels: raster, C, module

#4432 wxGUI: Fixed F841 in iscatt/
  .flake8
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/iscatt/plots.py
Labels: GUI, Python

#4409 style: Fix invalid-escape-sequence (W605)
  imagery/i.pca/testsuite/test_pca.py
  pyproject.toml
  raster/r.in.ascii/testsuite/test_r_in_ascii.py
Labels: raster, Python, module, imagery, tests

#4439 wxGUI: Fixed F841 and E266 in lmgr/
  .flake8
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/lmgr/workspace.py
Labels: GUI, Python

#4445 i.atcorr: update man page to fix numbering of AVIRIS bands and make style consistent
  imagery/i.atcorr/i.atcorr.html
Labels: HTML, module, docs, imagery

#4452 style: Fix all remaining `PT` flake8-pytest-style issues
  pyproject.toml
  python/grass/experimental/tests/grass_script_mapset_session_test.py
  python/grass/jupyter/tests/reprojection_renderer_test.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
  python/grass/script/tests/grass_script_setup_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Labels: temporal, Python, libraries, module, notebook

#4454 style: Fix unnecessary-list-comprehension-dict (C404)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/env.py
  utils/g.html2man/ghtml.py
Labels: Python, libraries

#4455 style: Fix unnecessary-range-start (PIE808)
  general/g.remove/testsuite/test_g_remove.py
  gui/wxpython/core/workspace.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/vdigit/wxdisplay.py
  pyproject.toml
  python/grass/experimental/tests/grass_script_tmp_mapset_session_test.py
  scripts/d.polar/d.polar.py
  scripts/i.oif/i.oif.py
  scripts/i.pansharpen/i.pansharpen.py
  scripts/i.tasscap/i.tasscap.py
  scripts/v.report/v.report.py
Labels: GUI, vector, Python, libraries, module, general, display, imagery, tests

#4453 style: Fix unnecessary-comprehension (C416)
  gui/wxpython/lmgr/giface.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/web_services/widgets.py
  pyproject.toml
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2swf.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_table.py
  scripts/i.oif/i.oif.py
Labels: GUI, Python, libraries, module, imagery, tests

#4457 v.reclass: Fix Resource Leak issue in reclass.c
  vector/v.reclass/reclass.c
Labels: vector, C, module

#4463 v.rectify: Fix Copy into fix Buffer size issue
  vector/v.rectify/main.c
Labels: vector, C, module

#4456 style: Fix unnecessary-paren-on-raise-exception (RSE102)
  gui/wxpython/core/giface.py
  gui/wxpython/core/gthread.py
  gui/wxpython/core/layerlist.py
  gui/wxpython/mapwin/analysis.py
  gui/wxpython/mapwin/base.py
  gui/wxpython/modules/import_export.py
  pyproject.toml
  python/grass/imaging/images2swf.py
  python/grass/pygrass/vector/geometry.py
Labels: GUI, Python, libraries

#4461 v.to.db: Fix resource Leak issue in update.c
  vector/v.to.db/update.c
Labels: vector, C, module

#4440 wxGUI: Fixed E722 in frame.py
  .flake8
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
Labels: GUI, Python

#4484 docs: minor fixes to g.gisenv, i.atcorr, v.centroids, v.overlay, v.type
  general/g.gisenv/g.gisenv.html
  imagery/i.atcorr/i.atcorr.html
  scripts/v.centroids/v.centroids.html
  vector/v.out.svg/main.c
  vector/v.overlay/v.overlay.html
  vector/v.overlay/v_overlay_op_and.png
  vector/v.overlay/v_overlay_op_not.png
  vector/v.overlay/v_overlay_op_or.png
  vector/v.overlay/v_overlay_op_xor.png
  vector/v.type/v.type.html
Labels: enhancement, manual, vector, C, HTML, module, docs, general, imagery

#4390 raster/raster3d: Initialize Cell_head structure contents before using it in r3.in.lidar, r.in.lidar, r.in.pdal, r.in.xyz
  raster/r.in.lidar/main.c
  raster/r.in.pdal/main.cpp
  raster/r.in.xyz/main.c
  raster3d/r3.in.lidar/main.c
Labels: raster, C, C++, module, raster3d

#4401 doc: Use lowercase for 2D raster mask
  display/d.histogram/d.histogram.html
  raster/r.circle/main.c
  raster/r.external/r.external.html
  raster/r.null/r.null.html
  raster/r.stream.extract/r.stream.extract.html
  raster3d/raster3dintro.html
  scripts/r.out.xyz/r.out.xyz.html
Labels: raster, C, HTML, module, docs, display, raster3d

#4487 tools: FIxed unused variable in imagery/
  .flake8
  imagery/i.atcorr/create_iwave.py
Labels: Python, module, imagery

#4488 doc: Ignore F401 in dialogs.py
  .flake8
  doc/gui/wxpython/example/dialogs.py
Labels: Python, docs

#4490 wxGUI: FIxed F841 in colorrules.py
  gui/wxpython/modules/colorrules.py
Labels: GUI, Python

#2390 r.mask.status: Check mask status through module
  include/grass/defs/raster.h
  lib/init/grass.py
  lib/raster/mask_info.c
  raster/Makefile
  raster/r.mask.status/Makefile
  raster/r.mask.status/main.c
  raster/r.mask.status/r.mask.status.html
  raster/r.mask.status/tests/conftest.py
  raster/r.mask.status/tests/r_mask_status_test.py
Labels: enhancement, raster, Python, C, HTML, libraries, module, docs

#4388 i.ortho.photo: Fix Resource Leak in find_init.c
  imagery/i.ortho.photo/lib/find_init.c
Labels: C, module, imagery

#4462 lib/vector/Vlib: Fix copy into buffer size issue in color_read.c
  lib/vector/Vlib/color_read.c
Labels: vector, C, libraries

#4494 checks: Remove extra semicolons in r.terraflow
  raster/r.terraflow/fill.cpp
  raster/r.terraflow/genericWindow.cpp
  raster/r.terraflow/sweep.cpp
  raster/r.terraflow/weightWindow.cpp
Labels: raster, C++, module

#4497 v.colors: Fix Resource Leak issue in read_rgb.c
  vector/v.colors/read_rgb.c
Labels: vector, C, module

#4498 v.to.db: Fix Resource Leak issue in areas.c
  vector/v.to.db/areas.c
Labels: vector, C, module

#4496 d.vect: Fix Resource Leak issue in attr.c
  display/d.vect/attr.c
Labels: C, module, display

#4505 r.carve: Fix resource leak issue in enforce_ds.c
  raster/r.carve/enforce_ds.c
Labels: raster, C, module

#4514 gui: Solve a recursion error in gui/wxpython/lmgr/giface.py
  gui/wxpython/lmgr/giface.py
Labels: GUI, Python

#4512 r.mask.status: fix null pointer dereference and false positive string overflow
  lib/raster/mask_info.c
  raster/r.mask.status/main.c
Labels: raster, C, libraries, module

#4520 style: Ignore deprecated PT004 rule
  pyproject.toml
Labels: Python

#4451 pytest: Collect code coverage in multiple workers too
  .coveragerc
  .github/workflows/pytest.yml
  utils/coverage_mapper.py
Labels: CI, Python

#4508 v.net.timetable: Fix Resource Leak issue in main.c
  vector/v.net.timetable/main.c
Labels: vector, C, module

#4506 v.kernel: Fix resource Leak issue in main.c
  vector/v.kernel/main.c
Labels: vector, C, module

#4507 lib/vector/Vlib: Fix Resource leak issue in geos.c
  lib/vector/Vlib/geos.c
Labels: vector, C, libraries

#4527 tests: enable use of md5 bin for checksum in raster_md5test.sh
  testsuite/raster/raster_md5test.sh
Labels: tests

#3459 lib/vector/Vlib: always write out topo files in update mode
  lib/vector/Vlib/open.c
  python/grass/pygrass/vector/abstract.py
Labels: bug, vector, Python, C, libraries, backport to 8.4

#4495 doc: Use lowercase for 2D raster mask
  imagery/i.fft/main.c
  imagery/i.pca/i.pca.html
  lib/ogsf/gk.c
  lib/ogsf/gvd.c
  raster/r.fill.dir/r.fill.dir.html
  raster/r.li/TODO
  raster/r.univar/r.univar.html
Labels: raster, C, HTML, libraries, module, docs, display, imagery

#4363 r3.in.v5d: Prevent integer overflow by changing literal constant type on Cray
  raster3d/r3.in.v5d/binio.c
Labels: C, module, raster3d

#4414 CI: Assign milestone on merged PRs
  .github/workflows/milestones.yml
Labels: CI, backport to 8.4

#4516 tests: Revise content of the root testsuite dir
  python/grass/gunittest/loader.py
  testsuite/Makefile
  testsuite/README.md
  testsuite/examples/test_framework_GRASS_GIS_with_NC.conf
  testsuite/examples/test_framework_GRASS_GIS_with_NC.sh
  testsuite/raster/Makefile
  testsuite/raster/README
  testsuite/raster/rhemisphere.sh
  testsuite/raster_md5test.sh
  testsuite/vector/v.in.gps_test.sh
Labels: Python, libraries, docs, tests

#4529 doc: Use lowercase for mask
  imagery/i.segment/i.segment.html
  imagery/i.segment/iseg.h
  ps/ps.map/r_instructions.c
  raster/r.resamp.interp/r.resamp.interp.html
  raster/r.topidx/r.topidx.html
Labels: raster, C, HTML, module, docs, imagery

#4532 r.in.gridatb: Dereference before null check
  raster/r.in.gridatb/file_io.c
Labels: raster, C, module

#4530 grass.script: Fixed E722 in v.what.shrds/
  .flake8
  scripts/v.what.strds/v.what.strds.py
Labels: vector, Python, module

#4538 wxGUI: Fixed F841 in mapwindow.py
  gui/wxpython/nviz/mapwindow.py
Labels: GUI, Python

#4537 wxGUI: Added TypeError to lmgr/
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
Labels: GUI, Python

#4528 wxGUI: Fixed F841 in modules/
  .flake8
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mapsets_picker.py
Labels: GUI, Python

#4513 GUI: fix crashing due to File menu translation issues
  gui/wxpython/lmgr/workspace.py
Labels: bug, GUI, Python, backport to 8.4

#4539 wxGUI: Fixed F841 in tools.py
  .flake8
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

#4541 wxGUI: Fixed F405 in psmap/
  .flake8
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
Labels: GUI, Python

#4536 docs: add intro text to imageryintro.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/imageryintro.html
Labels: enhancement, GUI, manual, HTML, module, docs, imagery

#4535 GUI: EPSG code source: replace epsg.io with spatialreference.org
  gui/wxpython/location_wizard/wizard.py
  lib/init/helptext.html
Labels: enhancement, GUI, Python, HTML, libraries, docs, backport to 8.4

#4493 i.atcorr: fix out of bound access in trunca, os and iso
  imagery/i.atcorr/computations.cpp
Labels: C++, module, imagery

#4543 wxGUI: Fixed F841 in vnet/
  .flake8
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/toolbars.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  gui/wxpython/vnet/vnet_utils.py
  gui/wxpython/vnet/widgets.py
Labels: GUI, Python

#4523 tests: Call t.remove and g.remove once with multiple inputs as list
  imagery/i.gensig/testsuite/test_i_gensig.py
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  imagery/i.vi/testsuite/test_vi.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  raster/r.contour/testsuite/test_r_contour.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_binning.py
  raster/r.in.pdal/testsuite/test_r_in_pdal_selection.py
  raster/r.kappa/testsuite/test_r_kappa.py
  raster/r.mfilter/benchmark/benchmark_r_mfilter_nprocs.py
  raster/r.neighbors/benchmark/benchmark_r_neighbors_nprocs.py
  raster/r.random/testsuite/test_r_random.py
  raster/r.resamp.filter/benchmark/benchmark_r_resamp_filter.py
  raster/r.resamp.interp/benchmark/benchmark_r_resamp_interp.py
  raster/r.series/benchmark/benchmark_r_series.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect.py
  raster/r.slope.aspect/benchmark/benchmark_r_slope_aspect_memory.py
  raster/r.tile/testsuite/test_r_tile.py
  raster/r.univar/benchmark/benchmark_r_univar.py
  raster/r.univar/testsuite/test_r_univar.py
  raster3d/r3.null/testsuite/test.r3.null.sh
  scripts/r.mapcalc.simple/testsuite/test_rmapcalcsimple.py
  scripts/r.reclass.area/testsuite/test_r_reclass_area.py
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  temporal/t.rast.accdetect/testsuite/test_simple.py
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.topology/test.t.topology.reltime.sh
  temporal/t.vect.extract/test.t.vect.extract.sh
  utils/thumbnails.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst_cv.py
Labels: vector, raster, temporal, Python, libraries, module, imagery, tests, raster3d

#4504 gui: Add fix for wxGUI Data import Python error
  gui/wxpython/modules/import_export.py
Labels: GUI, Python

#4549 docs: Fixed E721 in gunittest/
  .flake8
  python/grass/gunittest/invoker.py
Labels: Python, libraries

#4547 wxGUI: Fixed E266 in nviz/
  .flake8
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

#4556 style: Enable checking for pep8-naming (N) rules with ruff, fix N804, N805 and N813
  gui/wxpython/mapswipe/frame.py
  pyproject.toml
  python/grass/pygrass/modules/interface/testsuite/test_modules.py
  python/grass/script/tests/test_script_task.py
  raster/r.basins.fill/testsuite/testrbf.py
  raster/r.series/testsuite/test_r_series.py
  raster/r.terraflow/testsuite/test_r_terraflow.py
  raster/r.to.vect/testsuite/test_r_to_vect.py
  raster/r.viewshed/testsuite/test_r_viewshed.py
  scripts/r.import/testsuite/test_r_import.py
  scripts/r.reclass.area/testsuite/testrra.py
  scripts/v.import/testsuite/test_v_import.py
  vector/v.extract/testsuite/test_v_extract.py
  vector/v.net/testsuite/test_v_net.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.select/testsuite/test_v_select.py
  vector/v.to.3d/testsuite/test_vto3d.py
Labels: GUI, vector, raster, Python, libraries, module, tests

#4557 style: Fix multi-value-repeated-key-literal (F601) (Pylint W0109)
  gui/wxpython/gmodeler/model.py
  pyproject.toml
  python/grass/script/raster.py
Labels: GUI, Python, libraries

#4558 style: Fix if-else-block-instead-of-dict-get (SIM401)
  gui/wxpython/iclass/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  pyproject.toml
  python/grass/temporal/register.py
  scripts/i.pansharpen/i.pansharpen.py
Labels: GUI, Python, libraries, module, imagery

#4560 style: Enable checking for E ruff rules from pycodestyle, fixing simple issues
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  pyproject.toml
  python/grass/temporal/univar_statistics.py
  raster/r.basins.fill/testsuite/testrbf.py
  raster/r.in.ascii/testsuite/test_r_in_ascii.py
  raster/r.proj/testsuite/test_rproj.py
  raster/r.reclass/testsuite/test_r_reclass.py
  raster/r.tile/testsuite/testrt.py
  raster/r.what/testsuite/testrw.py
  scripts/r.reclass.area/testsuite/testrra.py
  vector/v.extract/testsuite/test_v_extract.py
  vector/v.vect.stats/testsuite/test_vect_stats.py
Labels: GUI, vector, raster, Python, libraries, module, tests

#4561 style: Fix if-else-block-instead-of-if-exp (SIM108) (part 1)
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
  lib/init/grass.py
  man/build_html.py
  temporal/t.info/t.info.py
  temporal/t.list/t.list.py
  temporal/t.rast.accdetect/t.rast.accdetect.py
  temporal/t.rast.accumulate/t.rast.accumulate.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
  temporal/t.rast.to.rast3/t.rast.to.rast3.py
  temporal/t.rast.what/t.rast.what.py
  temporal/t.rename/t.rename.py
  temporal/t.topology/t.topology.py
  temporal/t.unregister/t.unregister.py
  temporal/t.vect.observe.strds/t.vect.observe.strds.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
  utils/g.html2man/ggroff.py
  utils/mkrest.py
  utils/ppmrotate.py
  utils/update_version.py
Labels: temporal, Python, libraries, module, docs

#4524 v.hull: Dereference after Null check
  vector/v.hull/chull.c
Labels: vector, C, module

#4551 r.sim.water: add tests
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Labels: raster, Python, module, tests

#4546 wxGUI: Fixed E722 in modules/
  .flake8
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/histogram.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/modules/mcalc_builder.py
Labels: GUI, Python

#4550 temporal: Fixed E265/E266 in t.rast.what/
  .flake8
  temporal/t.rast.what/t.rast.what.py
Labels: temporal, Python, module

#4567 wxGUI: Fixed F405 in nviz/
  .flake8
  gui/wxpython/nviz/wxnviz.py
Labels: GUI, Python

#3867 r3.showdspf: fix a typo: case 3 instead of case3
  raster3d/r3.showdspf/main_ogl.c
Labels: C, module, raster3d

#4573 wxGUI: Fixed F841 in photo2image/
  .flake8
  gui/wxpython/photo2image/g.gui.photo2image.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
Labels: GUI, Python

#4302 lib/db: remove deprecated implementation of db_get_login() and replace it with that of db_get_login2()
  db/drivers/mysql/db.c
  db/drivers/postgres/db.c
  db/drivers/postgres/listdb.c
  include/grass/defs/dbmi.h
  lib/db/dbmi_base/connect.c
  lib/db/dbmi_base/login.c
  lib/vector/Vlib/open_pg.c
  vector/v.external/dsn.c
  vector/v.in.ogr/dsn.c
  vector/v.out.ogr/dsn.c
Labels: vector, C, database, libraries, module

#4308 lib/db: remove deprecated implementation of db_set_login() and replace it with that of db_set_login2()
  db/db.login/main.c
  include/grass/defs/dbmi.h
  lib/db/dbmi_base/login.c
Labels: C, database, libraries, module

#4521 style: Fix unused-import (F401)
  .flake8
  doc/notebooks/hydrology.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
  doc/notebooks/parallelization_tutorial.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
  lib/gis/testsuite/test_gis_lib_getl.py
  pyproject.toml
  python/grass/benchmark/__init__.py
  python/grass/imaging/__init__.py
  python/grass/jupyter/__init__.py
  python/grass/pygrass/modules/__init__.py
  python/grass/pygrass/modules/grid/__init__.py
  python/grass/pygrass/modules/interface/__init__.py
  python/grass/pygrass/modules/testsuite/test_import_isolation.py
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/vector/testsuite/test_filters.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_pygrass_vector_doctests.py
  python/grass/pygrass/vector/testsuite/test_table.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
  python/grass/script/__init__.py
  python/grass/semantic_label/__init__.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_grs.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_mixed_stds.py
  python/grass/temporal/testsuite/unittests_temporal_conditionals.py
  raster/r.in.ascii/testsuite/test_r_in_ascii.py
  raster/r.object.geometry/testsuite/test_r_object_geometry.py
  raster/r.viewshed/testsuite/test_r_viewshed.py
  scripts/db.in.ogr/testsuite/test_db_in_ogr.py
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
  scripts/r.grow/testsuite/test_r_grow.py
  scripts/v.dissolve/v_dissolve.ipynb
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute_parallel.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_relative.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_operators.py
  temporal/t.rast.extract/testsuite/test_t_rast_extract.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
  temporal/t.rast.neighbors/testsuite/test_neighbors.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.to.rast3/testsuite/test_strds_to_rast3.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.extract/testsuite/test_t_rast3d_extract.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  temporal/t.shift/testsuite/test_shift.py
  temporal/t.snap/testsuite/test_snap.py
  temporal/t.support/testsuite/test_support_str3ds.py
  temporal/t.support/testsuite/test_support_strds.py
  temporal/t.support/testsuite/test_support_stvds.py
  temporal/t.unregister/testsuite/test_unregister.py
  vector/v.extract/testsuite/test_v_extract.py
  vector/v.fill.holes/examples.ipynb
  vector/v.in.ogr/testsuite/test_v_in_ogr.py
Labels: vector, raster, temporal, Python, database, libraries, module, docs, tests, notebook

#4574 wxGUI: Fixed F841 in psmap/
  .flake8
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
Labels: GUI, Python

#4571 r.in.srtm: Fix exception handling and add specific error types
  .flake8
  scripts/r.in.srtm/r.in.srtm.py
Labels: raster, Python, module

#4483 i.segment.html: parameter names and links to other modules
  imagery/i.segment/i.segment.html
Labels: HTML, module, docs, imagery

#4572 tests: Add regression test for r.his
  raster/r.his/testsuite/test_r_his.py
Labels: raster, Python, module, tests

#4582 wxGUI: FIxed bare except in photo2image/
  .flake8
  gui/wxpython/photo2image/ip2i_manager.py
Labels: GUI, Python

#4581 r.fillnulls: Removed bare except from r.fillnulls
  .flake8
  scripts/r.fillnulls/r.fillnulls.py
Labels: raster, Python, module

#4595 wxGUI: Reverted unused variable fix in wxgui/
  gui/wxpython/wxgui.py
Labels: GUI, Python

#4592 wxGUI/nviz: fix imports
  gui/wxpython/nviz/wxnviz.py
Labels: bug, GUI, Python

#4586 lib/iostream: Remove redundant template parameters
  include/grass/iostream/replacementHeap.h
  include/grass/iostream/replacementHeapBlock.h
Labels: C++, libraries

#4533 lib/vector/Vlib: Fix Resource Leak issue in copy.c
  lib/vector/Vlib/copy.c
Labels: vector, C, libraries

#4565 style: Fix superfluous-else rules for raise, continue and break (RET506, RET507, RET508)
  doc/python/m.distance.py
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/render.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_data.py
  man/build_class_graphical.py
  pyproject.toml
  python/grass/imaging/images2avi.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/table.py
  python/grass/script/task.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
  scripts/db.in.ogr/db.in.ogr.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_drv.py
  scripts/v.what.strds/v.what.strds.py
  temporal/t.vect.observe.strds/t.vect.observe.strds.py
Labels: GUI, vector, raster, temporal, Python, database, libraries, module, docs

#4600 temporal: Add precise typing overloads to dataset_factory
  python/grass/temporal/factory.py
Labels: Python, libraries

#4605 r.in.poly: Fix Resource Leak issue in poly2rast.c
  raster/r.in.poly/poly2rast.c
Labels: raster, C, module

#4606 lib/gis: Fix resource leak issue in copy_dir.c
  lib/gis/copy_dir.c
Labels: C, libraries

#4607 r.watershed: Fix Resource Leak issue in close_maps.c
  raster/r.watershed/seg/close_maps.c
Labels: raster, C, module

#4596 i.pansharpen: Fixed bare except clause
  .flake8
  scripts/i.pansharpen/i.pansharpen.py
Labels: Python, module, imagery

#4615 docs: v.to.db.html fix manual typo
  vector/v.to.db/v.to.db.html
Labels: vector, HTML, module, docs

#4611 wxGUI/nviz: fix missing imports
  gui/wxpython/nviz/wxnviz.py
Labels: bug, GUI, Python

#4597 d.frame: Fix bare except clause
  .flake8
  scripts/d.frame/d.frame.py
Labels: Python, module, display

#4614 v.import: Fixed E722 bare except
  .flake8
  scripts/v.import/v.import.py
Labels: vector, Python, module

#4616 v.unpack: Fixed bare 'except'
  .flake8
  scripts/v.unpack/v.unpack.py
Labels: vector, Python, module

#4613 wxGUI: Fixed bare 'except' in nviz/
  .flake8
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
Labels: GUI, Python

#4588 lib/ogsf: Dereference after null check in gvl2.c
  lib/ogsf/gvl2.c
Labels: C, libraries

#4618 v.report: Updated instance checks
  .flake8
  scripts/v.report/v.report.py
Labels: vector, Python, module

#4531 r.mask.status: Always output name of the mask
  include/grass/defs/raster.h
  lib/raster/mask_info.c
  raster/r.mask.status/main.c
  raster/r.mask.status/r.mask.status.html
  raster/r.mask.status/tests/r_mask_status_test.py
Labels: raster, Python, C, HTML, libraries, module, docs

#4441 r.buildvrt: document performance issues with external data
  raster/r.buildvrt/r.buildvrt.html
Labels: manual, raster, HTML, module, docs

#4617 db.out.ogr: Removed unused variable
  .flake8
  scripts/db.out.ogr/db.out.ogr.py
Labels: Python, database, module
