Repository OSGeo/grass, pull requests merged in 2024-02, with the labels that each got.

#3351 diglib: Calculate the total size of topo file to get the correct off_t_size
  lib/vector/diglib/plus_struct.c
Labels: vector, C, backport to 8.3, libraries

#3049 wxGUI: Ignore stderr of the GUI
  lib/init/grass.py
Labels: GUI, Python, libraries

#3359 temporal: use UPDATE-FROM syntax for updating metadata tables
  lib/temporal/SQL/update_stds_spatial_temporal_extent_template.sql
  lib/temporal/SQL/update_str3ds_metadata_template.sql
  lib/temporal/SQL/update_strds_metadata_template.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  lib/temporal/SQL/update_stvds_metadata_template.sql
  python/grass/temporal/abstract_space_time_dataset.py
Labels: enhancement, temporal, Python, libraries

#3400 Graphical Modeler: add support for space-time datasets
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/model.py
Labels: enhancement, GUI, Python

#3391 v.in.ogr: fix bug from PR #3282
  vector/v.in.ogr/geom.c
Labels: bug, vector, C, module

#3403 r.horizon: use absolute value for angles < GRASS_EPSILON
  raster/r.horizon/main.c
Labels: bug, raster, C, backport to 8.3, module

#3402 wxGUI/history: Move Export History button to history pane
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/history/browser.py
Labels: enhancement, GUI, Python

#3407 Happy new year 2024
  Makefile
  REQUIREMENTS.md
  configure.ac
  grasslib.dox
  include/VERSION
  include/grass/gis.h
  lib/gis/env.c
  lib/gis/gislib_cmdline_parsing.dox
  lib/gis/parser_html.c
  lib/init/grass.py
  lib/init/grass.sh
  man/build_graphical_index.py
  man/build_html.py
  man/build_rest.py
  man/sphinx/conf.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/setup.py
  utils/mkhtml.py
Labels: Python, C, backport to 8.3, libraries, docs

#3404 docs: add Zenodo.org linkage to infrastructure.md
  doc/infrastructure.md
Labels: manual, docs

#2818 grass.gunittest: Add check for precision test
  python/grass/gunittest/checkers.py
Labels: enhancement, Python, libraries

#2367 grass.script: Add MapsetSession for runs in other mapsets
  python/grass/Makefile
  python/grass/experimental/Makefile
  python/grass/experimental/__init__.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_script_mapset_session_module_fixture_test.py
  python/grass/experimental/tests/grass_script_mapset_session_test.py
  python/grass/experimental/tests/grass_script_tmp_mapset_session_test.py
  python/grass/grassdb/create.py
  python/grass/grassdb/manage.py
  python/grass/script/core.py
  python/grass/script/setup.py
Labels: enhancement, Python, libraries

#3413 Translations update from OSGeo Weblate
  locale/po/grasswxpy_de.po
Labels: translation

#3216 g.region: Fix the flat flag
  general/g.region/main.c
  general/g.region/printwindow.c
  general/g.region/testsuite/test_g_region.py
Labels: bug, Python, C, module, general

#3416 v.clip: do not fail when clip map has no table connected
  scripts/v.dissolve/v.dissolve.py
Labels: bug, vector, Python, module

#3419 NSIS3: fix untgz command
  mswindows/GRASS-Installer.nsi.tmpl
Labels: Windows, backport to 8.3

#3384 r.horizon: adjust bufferzone to multiples of resolution
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: bug, raster, Python, C, module

#3423 v.clip: add test for no table
  scripts/v.clip/testsuite/test_v_clip.py
Labels: vector, Python, module, testsuite

#3424 CI labeling: add support for testsuite label
  .github/labeler.yml
Labels: CI

#2978 contributing: Align backporting example with text
  doc/development/submitting/general.md
Labels: enhancement, docs

#3344 db/driver: fix MySQL driver compilation warnings
  configure
  configure.ac
  db/drivers/mysql/driver.c
  db/drivers/mysql/fetch.c
  db/drivers/mysql/listtab.c
Labels: C, database, module

#3395 CI: use macOS ARM-based runner
  .github/workflows/macos.yml
  .github/workflows/macos_dependencies.txt
  .github/workflows/macos_gunittest.cfg
  .github/workflows/macos_install.sh
Labels: macOS, CI

#3401 v.to.db: add h-flag to write header
  vector/v.to.db/global.h
  vector/v.to.db/parse.c
  vector/v.to.db/report.c
Labels: bug, vector, C, module

#3428 grass.script: Reduce use of env in create_location
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_location_test.py
Labels: Python, libraries

#3411 r.horizon: address incorrect number of rasters created
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: bug, raster, Python, C, module

#3432 grass.script: Create new location without a session
  python/grass/script/core.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_core_location_test.py
Labels: Python, libraries

#2901 lib/raster3d: fix -Wdeprecated-non-prototype compiler warnings
  lib/raster3d/header.c
  lib/raster3d/window.c
  lib/raster3d/windowio.c
Labels: enhancement, C, libraries, raster3d

#3365 wxGUI/history: Create panel displaying info about command
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/giface.py
  python/grass/grassdb/history.py
Labels: enhancement, GUI, Python, libraries

#3443 wxGUI: fix URL to Piemonte (Italy) dataset
  gui/wxpython/startup/locdownload.py
Labels: bug, GUI, Python, backport to 8.3, backport to 8.2

#3444 script: Change insecure mktemp to NamedTemporaryFile
  python/grass/script/setup.py
Labels: Python, libraries

#3445 CI: sync GitHub action versions to main branch
  .github/workflows/additional_checks.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/docker.yml
  .github/workflows/gcc.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Labels: CI

#3441 r.horizon: variable needs to be reset for point mode
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: bug, raster, Python, C, backport to 8.3, module, tests

#3433 v.dissolve: Allow all types of features to be dissolved
  scripts/v.dissolve/v.dissolve.html
  scripts/v.dissolve/v.dissolve.py
Labels: vector, Python, HTML, module, docs

#3451 utils: fixed shell vulnerability in mkrest.py
  utils/mkrest.py
Labels: Python

#3454 CI: Enable BASH_EXEC checks in super-linter
  .github/workflows/super-linter.yml
  binder/postBuild
  config.guess
  config.sub
  docker/alpine/grass_tests.sh
  docker/testdata/test_docker_image.sh
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: Windows, docker, CI

#3311 v.in.wfs: add different WFS version support, import only specified layers and define area of interest
  scripts/v.in.wfs/v.in.wfs.html
  scripts/v.in.wfs/v.in.wfs.py
Labels: enhancement, vector, Python, HTML, module, docs

#3455 CI: Set executable bit on updated config.guess and config.sub files
  .github/workflows/periodic_update.yml
Labels: CI

#3460 script.core.Popen: do not show new window on MS Windows
  python/grass/script/core.py
Labels: Windows, Python, libraries

#3462 vector: use full db connection settings for db.describe
  scripts/db.dropcolumn/db.dropcolumn.py
  scripts/db.in.ogr/db.in.ogr.py
  scripts/v.db.renamecolumn/v.db.renamecolumn.py
Labels: bug, vector, Python, database, backport to 8.3, module

#3458 docs: r.texture manual texture measure explanations
  raster/r.texture/r.texture.html
Labels: manual, raster, HTML, backport to 8.3, module, docs

#3425 r.mapcalc: simplify Makefile rule
  raster/r.mapcalc/Makefile
Labels: raster, module
