Repository OSGeo/grass, pull requests merged in 2024-09, with the labels that each got.

#4263 lib/display: D_show_conversions() %.1f to %g where values likely to be smaller than 0.0
  lib/display/cnversions.c
Labels: C, libraries, display

#4268 docker: fix missing libraries in ubuntu wxgui Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Labels: docker, backport to 8.4

#4189 lib: deprecate G_snprintf() and replace with C99 snprintf()
  imagery/i.topo.corr/main.c
  lib/gis/color_rules.c
  lib/gis/parser.c
  lib/gis/parser_wps.c
  lib/gis/snprintf.c
  lib/gis/timestamp.c
  lib/imagery/loc_info.c
  lib/init/clean_temp.c
  lib/temporal/lib/default_name.c
  raster/r.colors/edit_colors.c
  raster/r.external/main.c
  raster/r.geomorphon/main.c
  raster/r.geomorphon/profile.c
  raster/r.in.gdal/main.c
  raster/r.in.pdal/main.cpp
  raster/r.reclass/reclass.c
  raster/r.sim/simlib/output.c
  raster3d/r3.in.ascii/main.c
  raster3d/r3.out.ascii/main.c
  raster3d/r3.out.bin/main.c
  raster3d/r3.out.netcdf/main.c
  vector/v.what.rast3/main.c
Labels: vector, raster, temporal, C, C++, libraries, module, imagery, raster3d

#4256 r.in.gdal/r.external: add basic support for GDALs GDT_Int8
  lib/raster/gdal.c
  lib/raster/get_row.c
  raster/r.external/link.c
  raster/r.in.gdal/testsuite/data/int8.tif
  raster/r.in.gdal/testsuite/data/int8.vrt
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Labels: bug, raster, Python, C, libraries, module, tests

#4253 checks: Flake8 F841 fixes in the wxpython directory part 2
  .flake8
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/dbmgr/vinfo.py
Labels: GUI, Python

#4286 ps.map: Initialize variable before using it in conditional
  ps/ps.map/ps_header.c
Labels: C, module

#4241 checks: Flake8 F841 fixes in the scripts directory part 2
  .flake8
  scripts/r.semantic.label/r.semantic.label.py
  scripts/v.import/v.import.py
  scripts/v.report/v.report.py
  scripts/v.unpack/v.unpack.py
Labels: vector, raster, Python, module

#4169 grass.app: Move ISIS integration to the library
  lib/init/grass.py
  python/grass/app/runtime.py
Labels: Python, libraries

#4220 r.out.png: reset file pointer to NULL after fclose
  raster/r.out.png/main.c
Labels: raster, C, module

#4293 grass.temporal.stds_export: Use pathlib Path.read_text and Path.write_text
  python/grass/temporal/stds_export.py
Labels: Python, libraries

#4238 checks: flake8 F841 (local variable assigned to but never used) fixes in scripts directory part 1
  .flake8
  scripts/d.polar/d.polar.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_gdal_drv.py
Labels: raster, Python, module, display

#4280 v.external: Check for valid list before passing to qsort
  vector/v.external/list.c
Labels: vector, C, module

#4297 r.univar: fix MASK check with nprocs > 1
  raster/r.univar/r.univar_main.c
Labels: bug, raster, C, module, backport to 8.4

#4278 v.out.ogr: Check for valid array before passing to qsort
  vector/v.out.ogr/list.c
Labels: vector, C, module

#4225 r.proj: Create unit tests
  raster/r.proj/testsuite/test_rproj.py
Labels: raster, Python, module, tests

#4282 v.vol.rst: Initialize structure contents before passing it around
  vector/v.vol.rst/user2.c
Labels: vector, C, module

#4281 v.generalize: Initialize all of structure contents before using it
  vector/v.generalize/smoothing.c
Labels: vector, C, module

#4301 t.rast.accumulate: remove printing
  temporal/t.rast.accumulate/t.rast.accumulate.py
Labels: temporal, Python, module

#4303 CI: Resolve flake8 issues in utils directory
  .flake8
  utils/gitlog2changelog.py
Labels: Python

#4289 CI: Update .flake8 configuration and fix flake8 errors in lib/init/grass.py
  .flake8
  lib/init/grass.py
Labels: Python, libraries

#4255 lib/db: Fix copy into fixed size buffer issue in SQLite driver
  db/drivers/sqlite/db.c
Labels: C, database, module

#4310 GUI: fix ColumnSorterMixin regression
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/vnet/widgets.py
Labels: GUI, Python

#4229 Checks: flake8 F841 (local variable assigned to but never used) fixes in the temporal directory
  .flake8
  temporal/t.rast.what/t.rast.what.py
  temporal/t.vect.algebra/t.vect.algebra.py
Labels: temporal, Python, module

#4292 CI: Fix Flake8 linter errors in man/ directory
  .flake8
  man/build_check.py
  man/build_check_rest.py
  man/build_class.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_full_index_rest.py
  man/build_index.py
  man/build_index_rest.py
  man/build_keywords.py
  man/build_topics.py
Labels: Python, docs

#4312 contributing: update style guide for C
  doc/development/style_guide.md
Labels: docs

#4307 ps.map: Fix copy into fixed size buffer issue in do_scalebar.c file
  ps/ps.map/do_scalebar.c
Labels: C, module

#4304 lib/gis: Add portable G_strlcat function
  configure
  configure.ac
  include/grass/config.h.in
  include/grass/defs/gis.h
  lib/gis/strlcat.c
Labels: C, libraries

#3853 lib: Accept more newline styles in G_getl (#3853)
  lib/gis/getl.c
  lib/gis/testsuite/test_gis_lib_getl.py
Labels: Python, C, libraries, tests

#4262 v.in.dwg: Avoid using same variable as parameter and destination in sprintf
  vector/v.in.dwg/main.c
Labels: vector, C, module

#4318 lib/linkm: Change non-returning internal function types to void
  lib/linkm/test/try.c
  lib/linkm/test/try2.c
Labels: C, libraries

#4326 CI(OSGeo4W): Add -pipe to CFLAGS and CXXFLAGS to reduce build time
  .github/workflows/osgeo4w.yml
Labels: CI

#4316 docs: add README.md to doc/development/rfc/
  doc/development/rfc/README.md
  doc/development/rfc/version_numbering.md
Labels: RFC, docs

#4151 r.clump: Fix unchecked return value from lseek
  raster/r.clump/clump.c
Labels: raster, C, module

#4320 v.to.3d: Fix Resource Leak Issue in trans2.c
  vector/v.to.3d/trans2.c
Labels: vector, C, module

#4232 r.viewshed: initialize struct member before using struct
  raster/r.viewshed/viewshed.cpp
Labels: raster, C++, module

#4299 i.rectify: Fix copy into fixed size buffer issue in main.c of i.rectify module
  imagery/i.rectify/main.c
Labels: C, module, imagery

#4153 i.segment: Move unused variable value into a code comment
  imagery/i.segment/mean_shift.c
Labels: C, module, imagery

#4330 style: Enable checking for SIM115 adding exclusions for existing issues
  pyproject.toml
Labels: Python

#4294 docs: update and cleanup of infrastructure.md
  doc/infrastructure.md
Labels: manual, docs

#4333 docs: update Programmer's Manual's GIS lib (string) section
  lib/gis/gislib.dox
Labels: libraries, docs

#4334 t.rast.univar: Use pathlib Path.read_text to open test outputs in t.rast.univar and t.rast3d.univar
  pyproject.toml
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
Labels: temporal, Python, module, tests

#4317 docs: update outdated trac URLs to GitHub
  .github/labeler.yml
  CHANGES
  INSTALL.md
  Makefile
  NEWS
  README.md
  SECURITY.md
  general/g.parser/g.parser.html
  gui/wxpython/gui_core/pyedit.py
  rpm/grass.spec
Labels: GUI, linux, manual, CI, Python, HTML, module, docs, general

#4335 grass.temporal.abstract_space_time_dataset: Use Path.read_text() to load SQL template files
  pyproject.toml
  python/grass/temporal/abstract_space_time_dataset.py
Labels: Python, libraries

#4332 lib/gis: match prototype with declaration for G_strlcat and G_strlcpy
  lib/gis/strlcat.c
  lib/gis/strlcpy.c
Labels: C, libraries

#4337 CI: selective update of GitHub actions in G84
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/additional_checks.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/docker.yml
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/periodic_update.yml
  .github/workflows/ubuntu.yml
Labels: CI

#4324 grass.gunittest: Fix parsing exclusion from config file on Windows
  python/grass/gunittest/loader.py
Labels: Python, libraries

#4244 checks: Flake8 F841 fixes in the wxpython directory part 1
  .flake8
  gui/wxpython/animation/mapwindow.py
  gui/wxpython/animation/provider.py
  gui/wxpython/core/gthread.py
  gui/wxpython/core/render.py
  gui/wxpython/core/utils.py
  gui/wxpython/core/ws.py
Labels: GUI, Python

#4261 checks: Flake8 F841 fixes in the wxpython directory part 3
  .flake8
  gui/wxpython/gcp/g.gui.gcp.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/pystc.py
  gui/wxpython/gui_core/treeview.py
  gui/wxpython/gui_core/widgets.py
Labels: GUI, Python

#4338 grass.gunittest: Fix SIM115 using context managers to open files
  pyproject.toml
  python/grass/gunittest/case.py
  python/grass/gunittest/multireport.py
  python/grass/gunittest/reporters.py
Labels: Python, libraries

#4341 CI(OSGeo4W): Update min-success to 86% for gunittest on Windows
  .github/workflows/test_thorough.bat
Labels: CI

#4329 v.in.dwg: Retire v.in.dwg infavor of v.in.redwg
  configure
  configure.ac
  include/Make/Platform.make.in
  vector/Makefile
  vector/v.in.dwg/Makefile
  vector/v.in.dwg/README
  vector/v.in.dwg/WARNING
  vector/v.in.dwg/entity.c
  vector/v.in.dwg/global.h
  vector/v.in.dwg/main.c
  vector/v.in.dwg/v.in.dwg.html
Labels: vector, C, HTML, module, docs

#4260 d.mon: Fix Unbounded Source Buffer in main.c file of d.mon module
  display/d.mon/list.c
Labels: C, module, display

#4247 lib/gmath: use C interface to BLAS and LAPACK libraries
  .github/workflows/apt.txt
  .github/workflows/macos_dependencies.txt
  .github/workflows/macos_install.sh
  .github/workflows/osgeo4w.yml
  configure
  configure.ac
  include/grass/blas.h
  include/grass/config.h.in
  include/grass/la.h
  include/grass/lapack.h
  lib/gmath/ATLAS_wrapper_blas_level_1.c
  lib/gmath/Makefile
  lib/gmath/la.c
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: windows, CI, C, libraries

#4336 docs: move Programmer's manual creation to INSTALL.md
  INSTALL.md
  doc/development/README.md
  doc/development/style_guide.md
Labels: manual, docs

#4094 v.cluster: Fix unused value assignment
  vector/v.cluster/main.c
Labels: vector, C, module

#4342 CI(macOS): Cache micromamba environment on same week
  .github/workflows/macos.yml
Labels: CI

#4347 style: Bump Black's target Python versions for Python 3.9 minimum
  pyproject.toml
  scripts/g.extension/g.extension.py
Labels: Python, module, general

#4348 style: Call `startswith` or `endswith` once with a `tuple` (PIE810)
  gui/wxpython/core/toolboxes.py
  gui/wxpython/psmap/instructions.py
  lib/init/grass.py
  man/build_class_graphical.py
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
Labels: GUI, Python, libraries, docs

#4322 wxGUI/history: fix the run of a special cmds only once
  gui/wxpython/history/tree.py
Labels: bug, GUI, Python, backport to 8.4

#4290 CI(OSGeo4W): Use setup-OSGeo4W action to parametrize install options
  .github/workflows/osgeo4w.yml
Labels: CI

#4351 lib/gmath: rename ATLAS_wrapper to CBLAS_wrapper
  lib/gmath/CBLAS_wrapper_blas_level_1.c
Labels: C, libraries

#4346 lib/gmath: properly guard BLAS and LAPACK dependent code
  lib/gmath/la.c
Labels: CI, C, libraries

#4353 doc: Fix Flake8 issues in example files
  .flake8
  doc/python/m.distance.py
  doc/python/raster_example_ctypes.py
  doc/python/vector_example_ctypes.py
Labels: Python, docs

#4359 g.proj: Fix copy into fixed size buffer issue in input.c file
  general/g.proj/input.c
Labels: C, module, general

#4358 tests: Re-enable passing tests from .gunittest.cfg exclusion list
  .github/workflows/macos_gunittest.cfg
  .gunittest.cfg
Labels: CI

#4357 checks: Move imports to the top in wxGUI/core
  .flake8
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/watchdog.py
Labels: GUI, Python

#4362 tests: Add `xfail_windows` decorator for failing tests on Windows
  .github/workflows/osgeo4w_gunittest.cfg
  .github/workflows/test_thorough.bat
  gui/wxpython/core/testsuite/test_gcmd.py
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  lib/gis/testsuite/test_parser_json.py
  lib/imagery/testsuite/test_imagery_signature_management.py
  lib/init/testsuite/test_grass_tmp_mapset.py
  python/grass/grassdb/testsuite/test_manage.py
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_assertions_vect.py
  python/grass/gunittest/testsuite/test_checkers.py
  python/grass/gunittest/utils.py
  python/grass/jupyter/testsuite/map3d_test.py
  python/grass/pygrass/raster/testsuite/test_category.py
  python/grass/pygrass/raster/testsuite/test_numpy.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/script/testsuite/test_start_command_functions.py
  python/grass/script/testsuite/test_utils.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_equal_ts.py
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
  raster/r.kappa/testsuite/test_r_kappa.py
  raster/r.mfilter/testsuite/test_r_mfilter.py
  raster/r.report/testsuite/test_r_report.py
  scripts/g.extension/testsuite/test_addons_modules.py
  scripts/g.extension/testsuite/test_addons_toolboxes.py
  scripts/g.search.modules/testsuite/test_g_search_modules.py
  scripts/r.tileset/testsuite/test_r_tileset.py
  scripts/v.rast.stats/testsuite/test_v_rast_stats.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast.what/testsuite/test_what.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  vector/v.out.lidar/testsuite/test_v_out_lidar.py
  vector/v.univar/testsuite/test_v_univar.py
Labels: GUI, CI, vector, raster, temporal, Python, libraries, module, general, imagery, tests, notebook

#4328 grass.temporal: fix regression in printing metadata
  python/grass/temporal/metadata.py
Labels: bug, Python, libraries, backport to 8.4

#4364 grass.temporal: Remove expected failures for tests fixed by #4328
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  temporal/t.rast.series/testsuite/test_series.py
Labels: temporal, Python, module, tests

#4366 CI(OSGeo4W): Run pytest tests on Windows
  .github/workflows/osgeo4w.yml
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/jupyter/tests/grass_jupyter_session_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
Labels: CI, Python, libraries, module, general, notebook

#4354 CI: Fix PEP8 E722 Error and Confirm No Other Common flake8 Errors in locale/
  .flake8
  locale/grass_po_stats.py
Labels: Python, translation

#4219 g.version: Add tests covering different outputs
  general/g.version/tests/conftest.py
  general/g.version/tests/g_version_test.py
Labels: Python, module, general

#4369 ps.map: Fix Resource leak issue in ps_vpoints.c
  ps/ps.map/ps_vpoints.c
Labels: C, module

#4371 docker: Add liblapacke-dev package to Ubuntu builds
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker

#4368 grass.jupyter: Fix session tests on Windows
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Labels: Python, libraries, notebook

#4367 checks: Replace bare except (Flake8 E722) in wxGUI/core
  .flake8
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/utils.py
  gui/wxpython/core/workspace.py
Labels: GUI, Python

#4373 docker: Sort package lists and configure options in Dockerfiles
  Dockerfile
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Labels: docker

#4379 grass.jupyter: fix interactivemap tests
  python/grass/jupyter/testsuite/interactivemap_test.py
Labels: Python, libraries, tests, notebook

#4158 grass.app: Move mapset locking to library
  lib/init/grass.py
  python/grass/app/data.py
Labels: Python, libraries

#4377 wxGUI/datacatalog: Replace lambda expression with named Function to fix E731
  .flake8
  gui/wxpython/datacatalog/tree.py
Labels: GUI, Python

#4389 v.vol.rst: Fix Resource Leak issue in user1.c file
  vector/v.vol.rst/user1.c
Labels: vector, C, module

#4383 wxGUI: Refactored try-except block to be more robust in dialogs.py
  .flake8
  gui/wxpython/dbmgr/dialogs.py
Labels: GUI, Python

#4393 wxGUI: Fixed E266 - extra '#' for comments in gui_core/
  .flake8
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/widgets.py
Labels: GUI, Python

#4141 r3.in.v5d: Fix unchecked return value
  raster3d/r3.in.v5d/v5d.c
Labels: C, module, raster3d

#4382 wxGUI: Fix E722 Warnings by Specifying Exception Types in dbmgr/
  .flake8
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/dbmgr/sqlbuilder.py
Labels: GUI, Python

#4391 checks: Fix E402 Flake8 in for wxGUI Sphinx doc
  .flake8
  gui/wxpython/docs/wxgui_sphinx/conf.py
Labels: GUI, Python

#4403 style: Remove misleading author info from wxGUI photo and image code
  gui/wxpython/image2target/g.gui.image2target.py
  gui/wxpython/image2target/ii2t_statusbar.py
  gui/wxpython/photo2image/g.gui.photo2image.py
  gui/wxpython/photo2image/ip2i_statusbar.py
Labels: GUI, Python

#4399 docs: fixed E265 from image2target/
  .flake8
  gui/wxpython/image2target/g.gui.image2target.py
Labels: GUI, Python

#4411 g.gui.iclass: Add explanation of expected format for vector layers
  gui/wxpython/iclass/g.gui.iclass.html
Labels: GUI, HTML, docs

#4407 style: Fix negate-equal-op (SIM201)
  gui/wxpython/animation/dialogs.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/rdigit/dialogs.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/vnet/widgets.py
  lib/init/grass.py
  man/build_keywords.py
  pyproject.toml
  python/grass/gunittest/case.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/temporal/spatial_extent.py
  scripts/g.extension.all/g.extension.all.py
  scripts/r.semantic.label/testsuite/test_r_semantic_label.py
  utils/mkhtml.py
Labels: GUI, raster, Python, libraries, module, docs, general, tests

#4412 style: Fix os-stat (PTH116) by replacing os.stat() calls with pathlib
  gui/wxpython/core/watchdog.py
  gui/wxpython/gui_core/preferences.py
  imagery/i.gensig/testsuite/test_i_gensig.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
  pyproject.toml
  python/grass/app/data.py
  python/grass/grassdb/checks.py
Labels: GUI, Python, libraries, module, imagery, tests

#4413 style: Fix os-getcwd (PTH109) by replacing `os.getcwd()` calls with `Path.cwd()`
  gui/wxpython/animation/dialogs.py
  gui/wxpython/datacatalog/catalog.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/pyedit.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/wxplot/profile.py
  lib/init/grass.py
  locale/grass_po_stats.py
  pyproject.toml
  python/grass/grassdb/checks.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/script/core.py
  python/grass/script/utils.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/stds_import.py
  scripts/r.pack/r.pack.py
  scripts/v.pack/v.pack.py
  utils/mkhtml.py
Labels: GUI, vector, raster, Python, translation, libraries, module

#4406 style: Fix if-with-same-arms (SIM114)
  gui/wxpython/animation/controller.py
  gui/wxpython/core/gcmd.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/mapwin/decorations.py
  gui/wxpython/vdigit/wxdisplay.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  pyproject.toml
  python/grass/script/utils.py
  python/grass/temporal/temporal_algebra.py
  utils/gitlog2changelog.py
Labels: GUI, Python, libraries

#4405 style: Fix duplicate-isinstance-call (SIM101)
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  pyproject.toml
Labels: GUI, Python

#4408 style: Fix reimplemented-operator (FURB118)
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  man/build_full_index.py
  pyproject.toml
  python/grass/imaging/images2ims.py
  scripts/g.search.modules/g.search.modules.py
  scripts/v.report/v.report.py
  utils/g.html2man/rest.py
Labels: GUI, vector, Python, libraries, module, docs, general

#4395 lib/shapelib: sync upstream with shapelib 1.6.0 and GDAL 3.9.2
  lib/external/shapelib/README.md
  lib/external/shapelib/dbfopen.c
  lib/external/shapelib/safileio.c
  lib/external/shapelib/shapefil.h
  lib/external/shapelib/shapefil_private.h
  lib/external/shapelib/shpopen.c
Labels: C, libraries, docs

#4404 style: Use `any` or `all` instead of `for` loop (SIM110)
  gui/wxpython/psmap/instructions.py
  man/build_class_graphical.py
  man/build_manual_gallery.py
  pyproject.toml
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/history.py
  python/grass/pygrass/vector/table.py
  python/grass/script/task.py
  scripts/g.search.modules/g.search.modules.py
Labels: GUI, Python, libraries, module, docs, general

#4415 v.transform: Fix Copy into fix Buffer size issue
  vector/v.transform/main.c
Labels: vector, C, module

#4410 style: Fix redundant-open-modes (UP015)
  display/d.mon/render_cmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/render.py
  gui/wxpython/core/settings.py
  gui/wxpython/core/watchdog.py
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/vnet/vnet_data.py
  imagery/i.atcorr/create_iwave.py
  lib/init/grass.py
  man/build_html.py
  man/build_rest.py
  pyproject.toml
  python/grass/grassdb/history.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/reporters.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/env.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/tests/set_mapset.py
  python/grass/script/core.py
  python/grass/script/utils.py
  python/grass/temporal/register.py
  python/grass/temporal/stds_import.py
  raster/r.contour/testsuite/test_r_contour.py
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
  raster/r.what/testsuite/test_r_what.py
  scripts/d.correlate/d.correlate.py
  scripts/d.frame/d.frame.py
  scripts/db.univar/db.univar.py
  scripts/g.extension.all/g.extension.all.py
  scripts/g.search.modules/g.search.modules.py
  scripts/r.in.wms/wms_gdal_drv.py
  scripts/r.pack/r.pack.py
  scripts/v.unpack/v.unpack.py
  temporal/t.rast.what/t.rast.what.py
  temporal/t.remove/t.remove.py
  temporal/t.unregister/t.unregister.py
Labels: GUI, vector, raster, temporal, Python, database, libraries, module, docs, general, display, imagery, tests, notebook

#4392 wxGUI: Fixed flake8 E722: bare 'except' in wxpython/gcp/
  .flake8
  gui/wxpython/gcp/manager.py
Labels: GUI, Python
