Repository OSGeo/grass, pull requests merged in 2024-05, with the labels that each got.

#2969 version: Replace references to 8.2
  doc/notebooks/jupyter_example.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
  general/g.version/g.version.html
  lib/init/grass.html
  singularity/debian/README_debian.md
Labels: bug, Linux, HTML, libraries, module, docs, general, notebook

#3250 wxGUI/nviz: fix showing scrollbars on the Data, Appearance, Analysis page (tab)
  gui/wxpython/nviz/tools.py
Labels: bug, GUI, macOS, Python, backport to 8.3

#853 r.in.wms: fix get region extent for WMS query, if location is 'XY location (unprojected)'
  scripts/m.proj/m.proj.py
  scripts/r.in.wms/wms_base.py
Labels: bug, GUI, raster, Python, module, misc

#3312 wxGUI/preferences: allow the user save/load single-window mode panes layout
  gui/wxpython/core/settings.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/main_window/frame.py
Labels: enhancement, GUI, Python, docs

#3681 CI: Use faster mold linker to reduce build time by ≈>30 sec
  .github/workflows/codeql-analysis.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
Labels: CI

#3622 wxGUI/history: Add time period branching to history browser tree
  gui/wxpython/core/treemodel.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/history/tree.py
  python/grass/grassdb/history.py
Labels: enhancement, GUI, Python, libraries

#3617 libvector/diglib: fix memory leaks
  lib/vector/diglib/plus_area.c
  lib/vector/diglib/plus_struct.c
  lib/vector/diglib/spindex.c
Labels: vector, C, libraries

#3684 grass.script: Fix missing passing of env parameter
  python/grass/script/core.py
Labels: Python, libraries

#3634 wxGUI/dbmgr: fix enclosing column name with SQL standard double quotes
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/sqlbuilder.py
Labels: bug, GUI, Python, backport to 8.3

#3686 g.message: Do not require full gisinit
  general/g.message/main.c
  general/g.proj/main.c
Labels: C, module, general

#3685 grass.script: Always use full env in create_project
  python/grass/script/core.py
Labels: Python, libraries

#3683 grass.script: Get GISBASE automatically in get_commands
  python/grass/script/core.py
  python/grass/script/tests/conftest.py
  python/grass/script/tests/grass_script_core_get_commands.py
Labels: Python, libraries

#3687 grass.script: Automatically parse JSON and CSV in parse_command
  python/grass/script/core.py
  python/grass/script/testsuite/test_start_command_functions_nc.py
Labels: Python, libraries, tests

#3689 grass.script: Make grass_path keyword only in init
  python/grass/script/setup.py
Labels: Python, libraries

#3679 wxGUI/history: Add time/status icons in front of browser nodes
  gui/icons/grass/circle.png
  gui/icons/grass/circle.svg
  gui/icons/grass/cross.png
  gui/icons/grass/cross.svg
  gui/icons/grass/exclamation-mark.png
  gui/icons/grass/exclamation-mark.svg
  gui/icons/grass/question-mark.png
  gui/icons/grass/question-mark.svg
  gui/icons/grass/success.png
  gui/icons/grass/success.svg
  gui/icons/grass/time-period.png
  gui/icons/grass/time-period.svg
  gui/wxpython/core/gconsole.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  python/grass/grassdb/history.py
Labels: enhancement, GUI, Python, libraries, docs

#3421 wxGUI/history: New button for setting current computational region based on executed commands
  gui/wxpython/history/browser.py
  python/grass/grassdb/history.py
Labels: enhancement, GUI, Python, libraries

#3582 grassTask.get_param(): full match also for strings
  python/grass/script/task.py
  python/grass/script/tests/test_script_task.py
Labels: bug, Python, backport to 8.3, backport to 7.8, libraries

#2513 wxGUI/gui_core: fix import Rasterlite DB raster
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/modules/import_export.py
Labels: bug, GUI, Python

#3708 r.flow: rename io.h file which causes conflict with MSYS2
  raster/r.flow/flow_io.c
  raster/r.flow/flow_io.h
  raster/r.flow/main.c
  raster/r.flow/mem.c
  raster/r.flow/precomp.c
Labels: bug, Windows, raster, C, module

#3706 README: fix link in travis-ci badge
  README.md
Labels: docs

#3709 CI: set the right environment for setup-msys2 and use the provided shell
  .github/workflows/osgeo4w.yml
Labels: Windows, CI

#3005 wxGUI/gmodeler: Support actinia export
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/gmodeler/g_gui_gmodeler_actinia_code.png
  gui/wxpython/gmodeler/g_gui_gmodeler_items.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code.png
  gui/wxpython/gmodeler/g_gui_gmodeler_python_code_result.png
  gui/wxpython/gmodeler/g_gui_gmodeler_pywps_code.png
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/xml/menudata_modeler.xml
Labels: GUI, Python, HTML, docs

#3714 wxGUI/history: update cross to green check after updating to current region
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
Labels: bug, enhancement, GUI, Python

#3721 build: Help older Python parse new Git dates
  utils/mkhtml.py
Labels: bug, CI, Python

#3719 deps: Set min Python version to 3.8
  .github/workflows/python-code-quality.yml
  REQUIREMENTS.md
Labels: CI, docs

#3718 CI: Print Python version first
  .github/workflows/print_versions.sh
Labels: CI

#3569 doc: GRASS Programming Style Guide
  CONTRIBUTING.md
  doc/development/style_guide.md
  doc/development/submitting/docs.md
  doc/development/submitting/general.md
  doc/development/submitting/message_standardization.md
  doc/development/submitting/python.md
  doc/development/submitting/submitting.md
  doc/development/submitting/submitting_c.md
  doc/development/submitting/wxGUI.md
Labels: docs

#3724 CI(windows): Upload test report artifact
  .github/workflows/osgeo4w.yml
Labels: CI

#3500 d.mon: Delegate rendering to wx monitors
  display/d.mon/render_cmd.py
Labels: enhancement, GUI, Python, module, display

#3727 d.redraw: Rewritten in C
  display/Makefile
  display/d.redraw/Makefile
  display/d.redraw/d.redraw.html
  display/d.redraw/main.c
  scripts/Makefile
  scripts/d.redraw/Makefile
  scripts/d.redraw/d.redraw.html
  scripts/d.redraw/d.redraw.py
Labels: Python, C, HTML, module, docs, display

#3723 temporal: handle SQLite < 3.33
  lib/temporal/SQL/update_stds_spatial_temporal_extent_template_old.sql
  lib/temporal/SQL/update_str3ds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template_old.sql
  lib/temporal/SQL/update_strds_metadata_template_v3.sql
  lib/temporal/SQL/update_stvds_metadata_template_old.sql
  python/grass/temporal/abstract_space_time_dataset.py
Labels: temporal, Python, database, libraries

#3716 CI: Update renovate.json to manually enable semantic commits
  renovate.json
Labels: CI

#3733 i18n: deduplicate grasswxpy_de.po
  locale/po/grasswxpy_de.po
Labels: translation

#3704 lib: Add a standard parser option for JSON formatting
  general/g.mapsets/main.c
  imagery/i.signatures/main.c
  include/grass/gis.h
  lib/gis/parser_standard_options.c
  raster/r.horizon/main.c
  raster/r.kappa/main.c
  raster/r.what/main.c
  vector/v.db.select/main.c
Labels: vector, raster, C, libraries, module, general, imagery

#3740 CI: Print more version information, for all platforms
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/print_versions.sh
Labels: CI

#3732 wxGUI/history: Fix date formatting
  gui/wxpython/history/tree.py
Labels: bug, Windows, GUI, Python

#3735 i18n: add deduplication to make update-po
  locale/Makefile
Labels: translation

#3741 Translations update from OSGeo Weblate
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Labels: translation
