Repository OSGeo/grass, pull requests merged in 2024-11, with the labels that each got.

#4622 r.in.wms: Removed bare 'except' and repositioned imports
  .flake8
  scripts/r.in.wms/srs.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.in.wms/wms_gdal_drv.py
Labels: raster, Python, module

#4608 lib: Add new SRTM_percent color table
  lib/gis/colors.desc
  lib/gis/colors/srtm_percent
Labels: enhancement, raster, libraries

#4629 r.in.wms: Replace long-deprecated `np.arrayrange` alias with `np.arange`
  scripts/r.in.wms/wms_drv.py
Labels: raster, Python, module

#4630 grass.script: Pass environment to message functions
  python/grass/script/core.py
  python/grass/script/db.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/vector.py
Labels: Python, libraries

#4563 style: Sort package lists, configure options, and other various sortable files
  .github/workflows/build_ubuntu-22.04.sh
  .github/workflows/build_ubuntu-22.04_without_x.sh
  .github/workflows/coverity.yml
  .github/workflows/macos_install.sh
  .github/workflows/optional_requirements.txt
  .gunittest.cfg
  .travis/linux.script.sh
  Dockerfile
  Vagrantfile
  binder/apt.txt
  binder/postBuild
  contributors.csv
  contributors_extra.csv
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
  macosx/ReadMe.md
  mswindows/crosscompile.sh
  mswindows/osgeo4w/build_osgeo4w.sh
  mswindows/osgeo4w/package.sh
  package.nix
  rpm/grass.spec
  singularity/debian/singularityfile_debian
  utils/svn_name_git_author.csv
  utils/svn_name_github_name.csv
  utils/vagrant/compile.sh
Labels: windows, macOS, linux, docker, CI, docs

#4646 CI: add expat dependency to macOS runner
  .github/workflows/macos_dependencies.txt
Labels: macOS, CI

#4612 lib/vector/Vlib: Fix Resource Leak issue in break_polygons.c
  lib/vector/Vlib/break_polygons.c
Labels: vector, C, libraries

#4625 v.delaunay: Fix Resource Leak issue in in_out.c
  vector/v.delaunay/in_out.c
Labels: vector, C, module

#4626 lib/ogsf: Fix resource leak issue in gsd_img_tif.c
  lib/ogsf/gsd_img_tif.c
Labels: C, libraries

#4609 r.viewshed: address -Wunused-value warnings
  raster/r.viewshed/grass.cpp
Labels: raster, C++, module

#4635 lib/ogsf: fix possible overflow errors in gsd_surf.c
  lib/ogsf/gsd_surf.c
Labels: C, libraries

#4637 lib/ogsf: fix possible overflow errors in gvld.c
  lib/ogsf/gvld.c
Labels: C, libraries

#4636 lib/ogsf: fix possible overflow errors in gsd_wire.c
  lib/ogsf/gsd_wire.c
Labels: C, libraries

#4590 v.info: add json output for columns
  vector/v.info/local_proto.h
  vector/v.info/main.c
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
Labels: vector, Python, C, module, tests

#4653 GUI: fix for Python3.13
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/gthread.py
Labels: bug, GUI, Python, backport to 8.4

#4555 r.colors.out: Add JSON support
  general/g.parser/standard_option.c
  include/grass/gis.h
  lib/gis/parser_standard_options.c
  raster/r.colors.out/Makefile
  raster/r.colors.out/local_proto.h
  raster/r.colors.out/prt_json.c
  raster/r.colors.out/r.colors.out.html
  raster/r.colors.out/r3.colors.out.html
  raster/r.colors.out/raster3d_main.c
  raster/r.colors.out/raster_main.c
  raster/r.colors.out/tests/conftest.py
  raster/r.colors.out/tests/r3_colors_out_test.py
  raster/r.colors.out/tests/r_colors_out_test.py
Labels: raster, Python, C, HTML, libraries, module, docs, general

#4623 wxGUI: Fixed bare 'except' for psmap/
  .flake8
  gui/wxpython/psmap/frame.py
Labels: GUI, Python

#4658 python/grass/utils: fix checking server response content type/dispostion header to allow to download ZIP file.
  python/grass/utils/download.py
Labels: bug, GUI, Python, libraries, backport to 8.4

#4654 docs: i.albedo and r.li manual HTML fixes
  imagery/i.albedo/i.albedo.html
  raster/r.li/r.li.html
Labels: manual, raster, HTML, module, docs, imagery

#4633 r.report: Work with any mask name (also for r.kappa)
  raster/r.kappa/mask.c
  raster/r.report/maskinfo.c
Labels: raster, C, module

#4634 raster: Work with any mask name (r.surf.contour, r.random.cells, r.random.surface)
  raster/r.random.cells/init.c
  raster/r.random.surface/init.c
  raster/r.surf.contour/main.c
Labels: raster, C, module

#4632 r.volume: Work with any mask name
  raster/r.volume/main.c
  raster/r.volume/r.volume.html
Labels: raster, C, HTML, module, docs

#4663 r.to.vect: Fix Resource Leak issue in areas_io.c
  raster/r.to.vect/areas_io.c
Labels: raster, C, module

#4659 CI: create versioned directory name of extracted tarball
  .github/workflows/create_release_draft.yml
Labels: CI, backport to 8.4

#4577 t.rast.univar: allow r-flag combined with zones option
  python/grass/temporal/univar_statistics.py
  temporal/t.rast.univar/t.rast.univar.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
Labels: enhancement, temporal, Python, libraries, module, tests

#2525 wxGUI/vdigit: fix map window focus after starting edits
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/vdigit/toolbars.py
Labels: bug, GUI, Python

#4482 r.buffer: Added test script
  raster/r.buffer/testsuite/test_buffer.py
Labels: raster, Python, module, tests

#4668 i.vi: Add ndwi color table to output
  imagery/i.vi/main.c
Labels: C, module, imagery

#4650 lib/gis: Fix out of scope memory access error in file_name function call
  lib/gis/file_name.c
Labels: C, libraries

#4619 docs: v.rectify.html fix typos
  vector/v.rectify/v.rectify.html
Labels: vector, HTML, module, docs

#4670 temporal: Fixed bare 'except' PEP8 error
  .flake8
  python/grass/temporal/temporal_topology_dataset_connector.py
Labels: Python, libraries

#4598 r.circle: Add tests for raster circle tool
  raster/r.circle/testsuite/test_circle.py
Labels: raster, Python, module, tests

#4545 r3.in.v5d, r3.out.v5d: Deprecate CRAY HW specific code
  raster3d/r3.in.v5d/binio.c
  raster3d/r3.in.v5d/binio.h
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.in.v5d/v5d.h
  raster3d/r3.out.v5d/binio.c
  raster3d/r3.out.v5d/binio.h
  raster3d/r3.out.v5d/v5d.c
  raster3d/r3.out.v5d/v5d.h
Labels: C, module, raster3d

#4676 r3.out.v5d: fix broken LITTLE ifdef-else macro in read_float4()
  raster3d/r3.out.v5d/binio.c
Labels: C, module, raster3d

#4682 temporal: Fix bare 'except' in temporal_raster_base_algebra
  .flake8
  python/grass/temporal/temporal_raster_base_algebra.py
Labels: Python, libraries

#4683 wxGUI: Removed unused variable from rdigit/
  .flake8
  gui/wxpython/rdigit/g.gui.rdigit.py
Labels: GUI, Python

#4685 i.topo.corr: Fix Copy into fix Buffer size issue
  imagery/i.topo.corr/main.c
Labels: C, module, imagery

#4677 r.mfilter: Fix resource leak issue in getfilt.c
  raster/r.mfilter/getfilt.c
Labels: raster, C, module

#4661 lib/vector/Vlib: Fix resource leak issue in remove_duplicates.c
  lib/vector/Vlib/remove_duplicates.c
Labels: vector, C, libraries

#4691 r.grow: added test file for r.grow module
  scripts/r.grow/testsuite/test_grow.py
Labels: raster, Python, module, tests

#4692 wxGUI: Removed star imports in digit.py
  .flake8
  gui/wxpython/iclass/digit.py
Labels: GUI, Python

#4678 ps.map: Fix Resource Leak issue in ps_vlegend.c
  ps/ps.map/ps_vlegend.c
Labels: C, module

#4641 grass.temporal: Simple typing annotations
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/aggregation.py
  python/grass/temporal/base.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/core.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/extract.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/mapcalc.py
  python/grass/temporal/metadata.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/register.py
  python/grass/temporal/sampling.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/spatial_topology_dataset_connector.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/stds_import.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster3d_algebra.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
  python/grass/temporal/temporal_vector_algebra.py
  python/grass/temporal/testsuite/test_register_function.py
  python/grass/temporal/testsuite/test_temporal_doctests.py
  python/grass/temporal/testsuite/unittests_temporal_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_grs.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_mixed_stds.py
  python/grass/temporal/testsuite/unittests_temporal_conditionals.py
  python/grass/temporal/testsuite/unittests_temporal_raster3d_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_equal_ts.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_grs.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_spatial_topology.py
  python/grass/temporal/testsuite/unittests_temporal_raster_conditionals.py
  python/grass/temporal/testsuite/unittests_temporal_raster_conditionals_complement_else.py
  python/grass/temporal/testsuite/unittests_temporal_vector_algebra.py
  python/grass/temporal/unit_tests.py
  python/grass/temporal/univar_statistics.py
Labels: Python, libraries, tests

#4655 wxGUI: Fixed unused variable and bare 'except' in frame.py
  .flake8
  gui/wxpython/tplot/frame.py
Labels: GUI, Python

#4693 wxGUI: Removed PEP8 errors from rlisetup/
  .flake8
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/rlisetup/wizard.py
Labels: GUI, Python

#4698 wxGUI: Fixed modules import to correct libraries
  gui/wxpython/iscatt/core_c.py
Labels: GUI, Python

#4666 lib/gis: Update lz4 library to latest upstream version (v1.10.0)
  lib/gis/lz4.c
  lib/gis/lz4.h
Labels: C, libraries

#3849 docs: Generate manual from markdown using mkdocs
  .flake8
  REQUIREMENTS.md
  gui/scripts/Makefile
  include/Make/Grass.make
  include/Make/GuiScript.make
  include/Make/Html.make
  include/Make/HtmlRules.make
  include/Make/NoHtml.make
  include/Make/Rules.make
  lib/gis/parser_rest_md.c
  lib/init/Makefile
  man/Makefile
  man/build.py
  man/build_check.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_full_index.py
  man/build_graphical_index.py
  man/build_html.py
  man/build_index.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/build_md.py
  man/build_topics.py
  man/mkdocs/grassdocs.css
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/footer.html
  man/mkdocs/requirements.txt
  man/parser_standard_options.py
  raster/Makefile
  utils/Makefile
  utils/mkdocs.py
  utils/mkhtml.py
  utils/mkmarkdown.py
Labels: GUI, raster, Python, C, HTML, CSS, libraries, module, docs

#3886 i.atcorr: major refactoring of create_iwave.py
  imagery/i.atcorr/create_iwave.py
Labels: Python, module, imagery

#4647 init: Fix F401 Linter Warnings by Replacing Wildcard Imports with Explicit Imports in __init__.py
  .flake8
  python/grass/app/__init__.py
  python/grass/experimental/__init__.py
  python/grass/script/__init__.py
  python/grass/temporal/stds_import.py
Labels: Python, libraries

#4717 docs: v.out.postgis.html fix manual typos
  vector/v.out.postgis/v.out.postgis.html
Labels: vector, HTML, module, docs

#4718 docs: update requirements guide
  macosx/ReadMe.md
Labels: macOS, docs

#4720 docs: fix broken HTML
  raster/r.in.poly/r.in.poly.html
  raster/r.surf.idw/r.surf.idw.html
  temporal/t.vect.univar/t.vect.univar.html
Labels: raster, temporal, HTML, module, docs, backport to 8.4

#4724 docs: v.mkgrid.html fix manual typos
  vector/v.mkgrid/v.mkgrid.html
Labels: vector, HTML, module, docs

#4699 wxGUI: Fixed PEP8 errors in wxplot/
  .flake8
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
Labels: GUI, Python

#4656 tests: replaced module imports to the top
  .flake8
  python/grass/pygrass/tests/benchmark.py
Labels: Python, libraries

#4722 i18n: fix duplicate messsages in po files
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_ar.po
  locale/po/grasswxpy_bn.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_el.po
  locale/po/grasswxpy_es.po
  locale/po/grasswxpy_fi.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_hu.po
  locale/po/grasswxpy_id_ID.po
  locale/po/grasswxpy_it.po
  locale/po/grasswxpy_ja.po
  locale/po/grasswxpy_ko.po
  locale/po/grasswxpy_lv.po
  locale/po/grasswxpy_ml.po
  locale/po/grasswxpy_pl.po
  locale/po/grasswxpy_pt.po
  locale/po/grasswxpy_pt_BR.po
  locale/po/grasswxpy_ro.po
  locale/po/grasswxpy_ru.po
  locale/po/grasswxpy_si.po
  locale/po/grasswxpy_sl.po
  locale/po/grasswxpy_ta.po
  locale/po/grasswxpy_th.po
  locale/po/grasswxpy_tr.po
  locale/po/grasswxpy_uk.po
  locale/po/grasswxpy_vi.po
  locale/po/grasswxpy_zh.po
  locale/po/grasswxpy_zh_CN.po
Labels: translation

#4732 docs: v.net.timetable.html fix manual typo
  vector/v.net.timetable/v.net.timetable.html
Labels: vector, HTML, module, docs

#4731 CI(Travis): Set python version to 3.10 through pyenv global
  .travis.yml
Labels: CI

#4737 docs: v.net.salesman.html fix manual typos
  vector/v.net.salesman/v.net.salesman.html
Labels: vector, HTML, module, docs

#4739 man: fix KeyError: 'MDDIR' in man/build_md.py
  man/build_md.py
Labels: manual, Python, docs

#4667 lib/vector/Vlib: Fix out-of-scope memory access
  lib/vector/Vlib/dbcolumns.c
Labels: vector, C, libraries

#4729 v.in.ascii: Fix Resource Leak issue in points.c
  vector/v.in.ascii/points.c
Labels: vector, C, module

#4730 v.univar: Fix Resource Leak issue in main.c
  vector/v.univar/main.c
Labels: vector, C, module

#4735 v.net: Fix Resource Leak issue in arcs.c
  vector/v.net/arcs.c
Labels: vector, C, module

#4740 lib/gis: markdown parser lowercase and extension fixes
  lib/gis/parser_rest_md.c
Labels: manual, C, libraries, docs, markdown

#4742 make: Update DB.make for markdown support
  include/Make/DB.make
Labels: docs

#4291 man: Use a context manager for opening files
  man/build_class.py
  man/build_class_graphical.py
  man/build_class_rest.py
  man/build_full_index.py
  man/build_full_index_rest.py
  man/build_html.py
  man/build_index_rest.py
  man/build_keywords.py
  man/build_rest.py
  man/build_topics.py
  pyproject.toml
Labels: Python, docs

#4746 docs: add Intro: Graphical User Interface
  db/databaseintro.html
  doc/projectionintro.html
  gui/Makefile
  gui/wxguiintro.html
  gui/wxpython/docs/wxGUI.html
  imagery/imageryintro.html
  man/build_html.py
  man/build_md.py
  man/build_rest.py
  man/mkdocs/mkdocs.yml
  raster/rasterintro.html
  raster3d/raster3dintro.html
  temporal/temporalintro.html
  vector/vectorintro.html
Labels: enhancement, GUI, manual, vector, raster, temporal, Python, HTML, database, module, docs, markdown, imagery, raster3d

#4744 docs: v.buffer.html minor edits
  vector/v.buffer/v.buffer.html
Labels: vector, HTML, module, docs

#4751 manual: HTML updates in lib/db and db manual pages and README files
  db/db.connect/db.connect.html
  db/drivers/README
  db/drivers/README.md
  db/drivers/mysql/grass-mesql.html
  db/drivers/mysql/grass-mysql.html
  db/drivers/postgres/execute.c
  db/drivers/sqlite/grass-sqlite.html
  doc/vector/TODO
  lib/db/README
  lib/db/README.md
  lib/db/dbmi_client/c_update.c
  lib/db/dbmi_driver/d_update.c
  lib/db/sqlp/README
  lib/db/sqlp/README.md
  lib/db/sqlp/sql.html
  lib/db/sqlp/test/README
  lib/db/sqlp/test/README.md
  lib/htmldriver/htmldriver.html
  lib/pngdriver/pngdriver.html
  lib/psdriver/psdriver.html
  raster/r.basins.fill/r.basins.fill.html
Labels: manual, raster, C, HTML, database, libraries, module, docs, markdown, backport to 8.4

#4762 docs: v.class.html fix typo, plus minor edit
  vector/v.class/v.class.html
Labels: vector, HTML, module, docs

#4758 raster: Fixed PEP8 - E721 for category.py
  .flake8
  python/grass/pygrass/raster/category.py
Labels: Python, libraries

#4773 wxGUI: Removed unused variable in location_wizard/dialogs.py
  .flake8
  gui/wxpython/location_wizard/dialogs.py
Labels: GUI, Python

#4774 wxGUI: Removed unused variable in mapdisp/statusbar.py
  .flake8
  gui/wxpython/mapdisp/statusbar.py
Labels: GUI, Python

#4752 r.water.outlet: Fix Copy into buffer size issue
  raster/r.water.outlet/main.c
Labels: raster, C, module

#4566 docs: RFC on C++17 minimum standard support
  doc/development/rfc/README.md
  doc/development/rfc/RFC10_cpp_language_standards_support.md
Labels: RFC

#4776 docs: v.surf.bspline.html fix typo and minor touches
  vector/v.surf.bspline/v.surf.bspline.html
Labels: vector, HTML, module, docs

#4782 r.in.pdal: use different variable name to avoid confusion
  raster/r.in.pdal/info.cpp
Labels: raster, C++, module

#4781 manual: fix more broken HTML tags
  db/db.execute/db.execute.html
  db/drivers/ogr/grass-ogr.html
  general/g.parser/g.parser.html
  general/g.proj/g.proj.html
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  imagery/i.evapo.pm/i.evapo.pm.html
  imagery/imageryintro.html
  mswindows/external/rbatch/README.html
  ps/ps.map/ps.map.html
  python/grass/docs/_templates/oholosidebar.html
  raster/r.fill.dir/r.fill.dir.html
  raster/r.geomorphon/r.geomorphon.html
  raster/r.gwflow/r.gwflow.html
  raster/r.in.gdal/r.in.gdal.html
  raster/r.in.lidar/r.in.lidar.html
  raster/r.in.xyz/r.in.xyz.html
  raster/r.li/r.li.edgedensity/r.li.edgedensity.html
  raster/r.li/r.li.html
  raster/r.li/r.li.patchdensity/r.li.patchdensity.html
  raster/r.profile/r.profile.html
  raster/r.solute.transport/r.solute.transport.html
  raster/r.texture/r.texture.html
  raster/r.thin/r.thin.html
  raster/r.timestamp/r.timestamp.html
  raster/r.viewshed/r.viewshed.html
  raster3d/r3.flow/r3.flow.html
  raster3d/r3.in.ascii/r3.in.ascii.html
  raster3d/r3.showdspf/r3.showdspf.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  temporal/t.rast.accumulate/t.rast.accumulate.html
  temporal/t.rast.algebra/t.rast.algebra.html
  temporal/t.vect.algebra/t.vect.algebra.html
  temporal/temporalintro.html
  vector/v.clean/v.clean.html
  vector/v.label/v.label.html
  vector/v.normal/v.normal.html
  vector/v.overlay/v.overlay.html
  vector/v.select/v.select.html
  vector/v.vect.stats/v.vect.stats.html
Labels: windows, GUI, manual, vector, raster, temporal, HTML, database, libraries, module, docs, general, imagery, raster3d

#4783 r.in.pdal: replace HAVE_PDAL_NOFILENAMEWRITER configure definition
  configure
  configure.ac
  include/grass/config.h.in
  raster/r.in.pdal/grassrasterwriter.h
Labels: raster, C++, libraries, module

#4734 v.build.polylines: Fix Resource Leak issue in walk.c
  vector/v.build.polylines/walk.c
Labels: vector, C, module

#4770 wxGUI: Fixed PEP8 error in startup/
  .flake8
  gui/wxpython/startup/locdownload.py
Labels: GUI, Python

#4753 v.out.dxf: Fix Resource Leak issue in main.c
  vector/v.out.dxf/main.c
Labels: vector, C, module

#4702 lib/gis: Refactor va_list usage in debug module
  lib/gis/debug.c
Labels: C, libraries

#4787 docs: v.to.3d.html minor edits
  vector/v.to.3d/v.to.3d.html
Labels: vector, HTML, module, docs
