Repository OSGeo/grass, pull requests merged in 2024-08, with the labels that each got.

#4033 grass.pydispatch: Apply code changes from upstream pydispatcher repo
  python/grass/pydispatch/PKG-INFO
  python/grass/pydispatch/__init__.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Labels: Python, libraries

#4114 r3.in.v5d: Remove unused variables
  raster3d/r3.in.v5d/v5d.c
Labels: C, module, raster3d

#4093 i.ortho.photo: Fix uninitialized variable and potential buffer overflow
  imagery/i.ortho.photo/i.ortho.photo/menu.c
Labels: C, module, imagery

#4098 r.out.mpeg: Fix buffer overflow issues by replacing sprintf with snprintf
  raster/r.out.mpeg/main.c
Labels: raster, C, module

#4087 r.path: Fix buffer overflow check issue
  raster/r.path/main.c
Labels: raster, C, module

#4123 lib/vector: new functions for setting trim of GEOS WKT output
  include/grass/defs/vector.h
  lib/vector/Vlib/geos_to_wktb.c
Labels: vector, C, libraries, backport to 8.4

#3899 lib/init: add GRASS_CONFIG_DIR environment variable
  gui/wxpython/core/utils.py
  lib/gis/home.c
  lib/init/grass.py
  lib/init/variables.html
  python/grass/app/runtime.py
  scripts/g.extension/g.extension.py
Labels: GUI, Python, C, HTML, libraries, module, docs, general

#4120 CI: update macOS runner dependencies
  .github/workflows/macos_dependencies.txt
Labels: macOS, CI, vector, C, libraries

#4113 grass.pygrass: remove unused arg in ctypes.CFUNCTYPE
  python/grass/pygrass/raster/rowio.py
Labels: Python, libraries

#4127 style: Revert "style: Fixes some unnecessary-lambda (PLW0108) (#3956)"
  gui/wxpython/animation/frame.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/history/tree.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  pyproject.toml
Labels: GUI, Python

#4130 docker: define GISBASE for Alpine
  docker/alpine/Dockerfile
Labels: bug, docker

#4132 style: Fix unnecessary-placeholder (PIE790)
  gui/wxpython/core/giface.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/mapdisp/properties.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapswipe/toolbars.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/vdigit/dialogs.py
  gui/wxpython/vdigit/preferences.py
  pyproject.toml
  python/grass/pygrass/raster/history.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra_spatial_topology.py
Labels: GUI, Python, libraries, tests

#4133 style: Fix useless-import-alias (PLC0414)
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/modules/colorrules.py
  pyproject.toml
  scripts/v.pack/v.pack.py
Labels: GUI, vector, Python, module

#4060 i.smap: fix sizeof not portable issue
  imagery/i.smap/multialloc.c
Labels: C, module, imagery

#4079 i.aster.toar: Fix buffer overflow check issue
  imagery/i.aster.toar/main.c
Labels: C, module, imagery

#3929 lib/gis: Add a helper function to determine the number of threads for OpenMP
  include/grass/defs/gis.h
  lib/gis/Makefile
  lib/gis/omp_threads.c
Labels: C, libraries

#4097 grass.jupyter: Add Parallelization to TimeSeriesMap and SeriesMap
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/jupyter/utils.py
Labels: Python, libraries, notebook

#4068 abstract_space_time_dataset: use keyword arguments in calls to get_registered_maps
  python/grass/temporal/abstract_space_time_dataset.py
Labels: bug, temporal, Python, libraries

#3935 r.report: add JSON support
  raster/r.report/Makefile
  raster/r.report/format.c
  raster/r.report/global.h
  raster/r.report/main.c
  raster/r.report/parse.c
  raster/r.report/prt_json.c
  raster/r.report/prt_report.c
  raster/r.report/r.report.html
  raster/r.report/report.c
  raster/r.report/testsuite/test_r_report.py
Labels: raster, Python, C, HTML, module, docs, tests

#3917 r.texture: control the number of threads
  raster/r.texture/main.c
Labels: raster, C, module

#4144 style: Fix extraneous-parentheses (UP034)
  gui/wxpython/animation/data.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/iscatt/core_c.py
  lib/init/grass.py
  pyproject.toml
  python/grass/pygrass/modules/grid/grid.py
  scripts/g.extension/g.extension.py
Labels: GUI, Python, libraries, module, general

#4138 style: Fix dict-index-missing-items (PLC0206)
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gmodeler/model.py
  pyproject.toml
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  scripts/i.pansharpen/i.pansharpen.py
  scripts/r.pack/r.pack.py
  temporal/t.unregister/t.unregister.py
  vector/v.univar/testsuite/test_v_univar.py
Labels: GUI, vector, raster, temporal, Python, libraries, module, imagery, tests

#4145 style: Fix parenthesize-chained-operators (RUF021)
  display/d.text/test.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/web_services/widgets.py
  man/build_html.py
  pyproject.toml
  python/grass/gunittest/runner.py
  python/grass/pygrass/modules/grid/grid.py
  scripts/r.in.wms/srs.py
Labels: GUI, raster, Python, libraries, module, docs, display

#4003 grass.jupyter: Allow users to draw simple geometries and save it as vector
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/utils.py
Labels: Python, libraries, notebook

#4088 r.out.mpeg: Fix potential buffer overflow issue
  raster/r.out.mpeg/main.c
  raster/r.out.mpeg/write.c
Labels: raster, C, module

#4149 lib/vector: Replaced strcpy with G_strlcpy
  lib/vector/diglib/frmt.c
Labels: vector, C, libraries

#4150 r.in.xyz: Fix Uninitialized variable in main.c file
  raster/r.in.xyz/main.c
Labels: raster, C, module

#4154 t.rast.accumulate: Remove check of non-existing `range` option
  temporal/t.rast.accumulate/t.rast.accumulate.py
Labels: temporal, Python, module

#3793 grass.jupyter: Add Query Button to InteractiveMap
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/testsuite/interactivemap_test.py
  python/grass/jupyter/utils.py
Labels: Python, libraries, tests, notebook

#4137 style: Fix self-assigning-variable (PLW0127)
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  pyproject.toml
  python/grass/temporal/core.py
  temporal/t.rast.accdetect/t.rast.accdetect.py
  temporal/t.rast.accumulate/t.rast.accumulate.py
Labels: GUI, temporal, Python, libraries, module

#4134 style: Fix non-augmented-assignment (PLR6104)
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/pystc.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/location_wizard/dialogs.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/gprint.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/mapwin/analysis.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/vdigit/dialogs.py
  gui/wxpython/web_services/widgets.py
  imagery/i.atcorr/create_iwave.py
  pyproject.toml
  python/grass/grassdb/manage.py
  python/grass/gunittest/reporters.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2swf.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/raster/testsuite/test_raster_img.py
  python/grass/pygrass/vector/basic.py
  python/grass/script/core.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/register.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
  scripts/g.extension/g.extension.py
  scripts/i.oif/i.oif.py
  scripts/i.spectral/i.spectral.py
  scripts/r.fillnulls/r.fillnulls.py
  scripts/r.grow/r.grow.py
  scripts/r.import/r.import.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.reclass.area/r.reclass.area.py
  scripts/v.db.univar/v.db.univar.py
  temporal/t.rast.accumulate/t.rast.accumulate.py
  temporal/t.rast.what/t.rast.what.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
  utils/gitlog2changelog.py
Labels: GUI, vector, raster, temporal, Python, libraries, module, general, imagery, tests

#3941 g.region: add JSON support
  general/g.region/Makefile
  general/g.region/g.region.html
  general/g.region/local_proto.h
  general/g.region/main.c
  general/g.region/printwindow.c
  general/g.region/testsuite/test_g_region.py
  python/grass/pygrass/modules/interface/module.py
Labels: Python, C, HTML, libraries, module, docs, general, tests

#4167 g.region: fix ruff lint error in tests
  general/g.region/testsuite/test_g_region.py
Labels: Python, module, general, tests

#4159 grass.jupyter: Modify Descriptions
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/jupyter/utils.py
Labels: Python, libraries, notebook

#4164 grass.jupyter: Add documentation of InteractiveMap Features and Parallelization in jupyter_tutorial.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
Labels: docs, notebook

#3896 wxGUI/history: Order commands by time and optimize node refresh
  gui/wxpython/history/tree.py
Labels: enhancement, GUI, Python

#4171 style: Fix Pylint bad-chained-comparison / W3601
  python/grass/temporal/datetime_math.py
Labels: Python, libraries

#4163 pytest(macOS): Run pytest tests on macOS
  .github/workflows/macos.yml
  .github/workflows/macos_dependencies.txt
  lib/gis/tests/lib_gis_env_test.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_setup_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Labels: CI, temporal, Python, libraries, module, notebook

#4176 style: use overwrite and not 'o' flag in Python scripts
  scripts/v.db.reconnect.all/v.db.reconnect.all.py
  scripts/v.unpack/v.unpack.py
  vector/v.fill.holes/tests/conftest.py
Labels: vector, Python, module

#4174 wxGUI: fix mapCreated signal handling
  gui/wxpython/gui_core/forms.py
  gui/wxpython/rdigit/g.gui.rdigit.py
Labels: bug, GUI, Python

#4178 CI: also remove /opt/homebrew from macOS runner
  .github/workflows/macos.yml
Labels: CI, backport to 8.4

#4139 style: Fix 12 ruff rules with small count of violations
  gui/wxpython/animation/dialogs.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/web_services/dialogs.py
  man/parser_standard_options.py
  pyproject.toml
  python/grass/gunittest/case.py
  python/grass/jupyter/map3d.py
  python/grass/pydispatch/saferef.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/script/core.py
  python/grass/temporal/datetime_math.py
  scripts/g.extension/g.extension.py
  scripts/g.extension/testsuite/test_addons_download.py
Labels: GUI, Python, libraries, module, docs, general, tests, notebook

#3970 r.terraflow: Handle memory reallocation errors gracefully
  raster/r.terraflow/unionFind.h
Labels: raster, module

#4196 nix: fix build by using libxml2 with http support
  flake.lock
  package.nix
Labels: bug

#4105 r.object.geometry: add json support
  raster/r.object.geometry/Makefile
  raster/r.object.geometry/main.c
  raster/r.object.geometry/r.object.geometry.html
  raster/r.object.geometry/testsuite/test_r_object_geometry.py
Labels: raster, Python, C, HTML, module, docs, tests

#4021 db.describe: add JSON support
  db/db.describe/Makefile
  db/db.describe/db.describe.html
  db/db.describe/local_proto.h
  db/db.describe/main.c
  db/db.describe/printtab.c
  db/db.describe/testsuite/test_dbdescribe.py
Labels: Python, C, HTML, database, module, docs, tests

#4155 g.download.location: Print target path in error message
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
Labels: enhancement, Python, HTML, module, docs, general

#4201 gui: replace python imp library with importlib for python 3.12
  gui/wxpython/core/gconsole.py
Labels: GUI, Python

#4193 startup: Change Location to Project in first-time user messages
  gui/wxpython/datacatalog/infomanager.py
Labels: GUI, Python

#4187 g.download.project: rename g.download.location
  .github/workflows/macos.yml
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
  scripts/Makefile
  scripts/g.download.location/g.download.location.html
  scripts/g.download.location/g.download.location.py
  scripts/g.download.project/Makefile
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.py
Labels: CI, Python, HTML, module, docs, general

#4210 CI(python): Enable printing of all Python warnings with PYTHONWARNINGS
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Labels: CI

#4209 CI(pytest): Run pytest tests with Python 3.13
  .github/workflows/pytest.yml
Labels: CI

#4161 configure: update to latest config.guess and config.sub
  config.guess
  config.sub
Labels: backport to 8.4

#4202 db.describe: fix illegal memory access report
  db/db.describe/main.c
Labels: C, database, module

#4206 Checks: Fix flake8 F841 (local variable assigned to but never used) in /temporal/t.rast.to.vect
  .flake8
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Labels: temporal, Python, module, tests

#3911 i.atcorr: fix plot_filter in create_iwave
  imagery/i.atcorr/create_iwave.py
Labels: bug, Python, module, imagery

#4214 r.out.png: fix consecutive fclose calls on same pointer
  raster/r.out.png/main.c
Labels: raster, C, module

#4191 lib: fix missing prototypes
  .github/workflows/macos_install.sh
  include/grass/la.h
  lib/db/sqlp/sqlp.l
  raster/r.report/global.h
  raster/r.report/prt_json.c
Labels: CI, raster, C, database, libraries, module

#4215 t.rast.to.vect: Fix passing column parameter to r.to.vect
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
Labels: temporal, Python, module, tests

#4200 Checks: fix Flake8 F841 (local variable assigned to but never used) in python/grass/temporal
  .flake8
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Labels: Python, libraries

#4207 contributing: add PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .markdownlint.yml
Labels: CI, docs

#4234 init: Use pathlib Path.read_text for readfile in the main executable
  lib/init/grass.py
Labels: Python, libraries

#4233 grass.temporal.core: Replace open file + read with pathlib.Path's read_text()
  python/grass/temporal/core.py
Labels: Python, libraries

#4228 wxGUI: fix adding and removing from history for new mapset
  gui/wxpython/history/tree.py
Labels: GUI, Python

#4223 wxGUI: Update link to the Natural Earth sample dataset
  gui/wxpython/startup/locdownload.py
Labels: GUI, Python, backport to 8.4

#4197 docs: add guidelines for writing a meaningful pull request
  doc/development/github_guide.md
Labels: docs

#4221 grass.jupyter: Ensure width and height in InteractiveMap are integers
  python/grass/jupyter/interactivemap.py
Labels: Python, libraries, notebook

#4245 r3.showdspf: fix null pointer dereference when opening database file
  raster3d/r3.showdspf/main_ogl.c
Labels: C, module, raster3d

#4246 r3.showdspf: fix accessing uninitialized pointer
  raster3d/r3.showdspf/get_color_ogl.c
Labels: C, module, raster3d

#4235 init: Use pathlib Path.write_text for writefile in the main executable
  lib/init/grass.py
Labels: Python, libraries

#4243 grass.jupyter: Clarify InteractiveMap documentation
  doc/notebooks/jupyter_tutorial.ipynb
Labels: docs, notebook

#4236 grass.temporal.stds_import: Use pathlib Path.read_text and Path.write_text for proj string
  python/grass/temporal/stds_import.py
Labels: Python, libraries

#4251 v.external.out: Check for valid array before passing it to qsort
  vector/v.external.out/list.c
Labels: vector, C, module

#4257 GUI: fix verbose checkbox behavior in tool dialogs
  gui/wxpython/gui_core/forms.py
Labels: GUI, Python
