Repository OSGeo/grass, pull requests merged in 2024-04, with the labels that each got.

#3554 Update Bandit to ignore secure random warning (Rule B311)
  pyproject.toml
Labels: Python

#3513 grass.script: add create_project() with same functionality as create_location()
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_location_test.py
Labels: enhancement, Python, libraries

#3556 CI: specify coverity version in coverity.yml
  .github/workflows/coverity.yml
Labels: CI

#2930 r.surf.random: Added seed option and flag to module
  raster/r.surf.random/main.c
  raster/r.surf.random/randsurf.c
  raster/r.surf.random/testsuite/test_min_max.py
Labels: raster, Python, C, module, tests

#3562 r.univar: add note that parallelization is disabled if mask is set
  raster/r.univar/r.univar.html
Labels: manual, raster, HTML, module, docs

#3563 grass.jupyter: fix reinitializing session
  python/grass/jupyter/setup.py
Labels: bug, Python, libraries, notebook

#3549 lib raster: fixed security vulnerabilities and weaknesses
  lib/gis/error.c
  lib/gis/mapset_msc.c
  raster/r.gwflow/main.c
Labels: raster, C, libraries, module

#3567 r.in.pdal: use NoFileWriter class for PDAL > 2.7.0 (fixes #3552)
  configure
  configure.ac
  include/grass/config.h.in
  raster/r.in.pdal/grassrasterwriter.h
Labels: raster, backport to 8.3, libraries, module

#3565 r.horizon: add distance into output
  raster/r.horizon/main.c
  raster/r.horizon/r.horizon.html
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: raster, Python, C, HTML, module, docs, tests

#3286 v.db.join: speed up processing by using fewer db.execute commands
  scripts/v.db.addcolumn/v.db.addcolumn.py
  scripts/v.db.join/v.db.join.py
Labels: enhancement, vector, Python, module

#3003 wxGUI: Integrate Grapical Modeler into single window layout
  .flake8
  gui/icons/grass/modeler-settings.png
  gui/wxpython/.pylintrc
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/g.gui.gmodeler.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gmodeler/toolbars.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
  gui/wxpython/main_window/page.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/xml/menudata_modeler.xml
Labels: GUI, Python, docs

#3566 CI: Overhaul Coverity Scan
  .github/workflows/coverity.yml
Labels: CI

#3573 g.proj: rename location parameter to project
  general/g.proj/g.proj.html
  general/g.proj/main.c
  gui/wxpython/core/testsuite/data/test_toolboxes_menudata_ref.xml
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/xml/wxgui_items.xml
  lib/gis/renamed_options
  python/grass/script/core.py
  scripts/r.tileset/r.tileset.html
Labels: GUI, raster, Python, C, HTML, libraries, module, docs, general, tests

#3561 raster: disable parallelization when MASK active
  raster/r.mfilter/main.c
  raster/r.neighbors/main.c
  raster/r.resamp.filter/main.c
  raster/r.resamp.interp/main.c
  raster/r.series/main.c
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.slope.aspect/main.c
  raster/r.sun/main.c
  raster/r.univar/r.univar_main.c
  vector/v.surf.rst/main.c
Labels: vector, raster, C, module

#3574 v.proj/r.proj: continue renaming location to project
  gui/wxpython/xml/toolboxes.xml
  raster/r.proj/main.c
  vector/v.proj/main.c
Labels: GUI, vector, raster, C, module

#3575 r.in.gdal: rename option location to project
  lib/gis/renamed_options
  raster/r.in.gdal/main.c
  raster/r.in.gdal/proj.c
  raster/r.in.gdal/r.in.gdal.html
  scripts/r.import/r.import.py
Labels: raster, Python, C, HTML, libraries, module, docs

#3572 CI: configure Coverity Scan with debug flag
  .github/workflows/coverity.yml
Labels: CI

#3543 r.horizon: add support for multiple points
  raster/r.horizon/main.c
  raster/r.horizon/r.horizon.html
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: raster, Python, C, HTML, module, docs, tests

#2542 g.mapsets: Add JSON output
  general/g.mapsets/Makefile
  general/g.mapsets/g.mapsets.html
  general/g.mapsets/list.c
  general/g.mapsets/local_proto.h
  general/g.mapsets/main.c
  general/g.mapsets/tests/conftest.py
  general/g.mapsets/tests/g_mapsets_list_format_test.py
Labels: enhancement, Python, C, HTML, module, docs, general

#3576 v.in.ogr: rename option location to project
  lib/gis/renamed_options
  scripts/v.import/v.import.py
  vector/v.in.ogr/main.c
  vector/v.in.ogr/proj.c
  vector/v.in.ogr/v.in.ogr.html
Labels: vector, Python, C, HTML, libraries, module, docs

#3571 mkhtml: check for addon_path
  utils/mkhtml.py
Labels: Python

#3586 wxGUI: fix animation/nviz animation tool play/record animation
  gui/wxpython/animation/controller.py
  gui/wxpython/nviz/animation.py
  gui/wxpython/nviz/mapwindow.py
Labels: bug, GUI, Python, backport to 8.3

#3588 libpython: fix create new project (location)
  python/grass/script/core.py
Labels: bug, GUI, Python, libraries

#3583 wxGUI/lmgr: allow change group layer opacity level
  gui/wxpython/lmgr/layertree.py
Labels: enhancement, GUI, Python

#3585 CI(windows): Set number of cores for compilation
  .github/workflows/osgeo4w.yml
Labels: CI

#3595 r.semantic.label: fix print raster map semantic label
  scripts/r.semantic.label/r.semantic.label.py
  scripts/r.semantic.label/testsuite/test_r_semantic_label.py
Labels: raster, Python, backport to 8.3, module, tests

#3603 windows: use Python 3.12 with updated OSGeo4W
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/crosscompile.sh
  mswindows/env.bat
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: Windows

#3598 r.sun: fix typo in docs (calculatoion -> calculation)
  raster/r.sun/r.sun.html
Labels: manual, raster, HTML, module, docs

#3599 g.mapsets: add missing declared or defined argument type
  general/g.mapsets/list.c
  general/g.mapsets/local_proto.h
Labels: C, module, general

#3602 libvector: add destructor function to the struct field_info
  include/grass/defs/vector.h
  lib/vector/Vlib/field.c
Labels: vector, C, libraries

#3606 CI: configure Coverity Scan for larger scans and artifact
  .github/workflows/coverity.yml
Labels: CI

#3601 wxGUI/wxplot: fix profile plot segmentation points position
  gui/wxpython/wxplot/profile.py
Labels: bug, GUI, Python, backport to 8.3

#3605 v.in.ogr: fix escape table column name during creating table
  vector/v.in.ogr/main.c
Labels: vector, C, module

#3591 libpython/temporal: fix t.rast.import module import input tarball file
  python/grass/temporal/stds_import.py
  temporal/t.rast.import/test.t.rast.import.relative.with.semantic.label.sh
Labels: bug, temporal, Python, backport to 8.3, libraries, module

#3612 db/drivers/mysql: set SQL ANSI_QUOTES MODE
  db/drivers/mysql/db.c
Labels: bug, C, database, backport to 8.3, module

#3620 r.horizon: address coverity scan 'Null pointer dereferences'
  raster/r.horizon/main.c
Labels: raster, C, module

#3579 r.mapcalc: add data types info to manual
  raster/r.mapcalc/r.mapcalc.html
Labels: manual, raster, HTML, module, docs

#3616 CI: revert coverity to simple submitting method, temporary disable cron
  .github/workflows/coverity.yml
Labels: CI

#3589 r.horizon: fix distance output
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: bug, raster, Python, C, module, tests

#3624 CI: reactivate Coverity workflow cron, remove artifact upload
  .github/workflows/coverity.yml
Labels: CI

#3626 CI: improve Coverity build log
  .github/workflows/coverity.yml
Labels: CI

#3628 GUI: Don't try to load metadata from uncompiled modules and raise an error for menu data
  gui/wxpython/core/toolboxes.py
Labels: GUI, Python

#3632 v.db.dropcolumn: fix enclosing column name with SQL standard double quotes
  scripts/v.db.dropcolumn/v.db.dropcolumn.py
Labels: bug, vector, Python, backport to 8.3, module

#3631 v.db.renamecolumn: fix enclosing column name with SQL standard double quotes
  scripts/v.db.renamecolumn/v.db.renamecolumn.py
Labels: bug, vector, Python, backport to 8.3, module

#3633 v.db.addcolumn: fix enclosing column name with SQL standard double quotes
  python/grass/script/testsuite/test_names.py
  scripts/v.db.addcolumn/v.db.addcolumn.py
Labels: bug, vector, Python, backport to 8.3, libraries, module, tests

#3635 db/drivers/odbc: set ODBC MySQL DB backend SQL ANSI_QUOTES MODE
  db/drivers/odbc/db.c
Labels: bug, C, database, backport to 8.3, module

#3637 db/drivers/odbc: catch and handle return value from setting MySQL SQL ANSI mode
  db/drivers/odbc/db.c
Labels: enhancement, C, database, backport to 8.3, module

#3638 db/drivers/mysql: print debug info for setting MySQL ANSI SQL mode
  db/drivers/mysql/db.c
Labels: enhancement, C, database, backport to 8.3, module

#3647 Define (read|write)_png only #ifdef HAVE_PNG_H
  lib/pngdriver/pngdriver.h
Labels: C, libraries

#3641 gmath: Include only one header for FFTW
  lib/gmath/fft.c
Labels: C, libraries

#3651 libgis: Rename ap_copy to aq for G_aprintf
  lib/gis/aprintf.c
Labels: C, libraries

#3643 g.gui.tplot manual: specify size option units
  gui/wxpython/tplot/g.gui.tplot.py
Labels: GUI, Python

#3649 g.mkfontcap: Replace -o with --overwrite; Add a renamed flag warning
  binaryInstall.src
  general/g.mkfontcap/main.c
  lib/driver/font2.c
  lib/gis/renamed_options
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/osgeo4w/postinstall.bat
Labels: Windows, C, libraries, module, general

#3654 CI: manual backports (8.3)
  .github/workflows/build_centos.sh
  .github/workflows/centos.yml
  .github/workflows/yum.txt
  README.md
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/crosscompile.sh
  mswindows/env.bat
  mswindows/osgeo4w/build_osgeo4w.sh
Labels: CI

#3374 temporal: update raster map metadata from file DB when overwrite is true
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/register.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/testsuite/test_register_function.py
Labels: bug, Python, backport to 8.3, libraries, tests

#3544 Suggested Security Policy
  SECURITY.md
Labels: docs

#3663 contributing: add code of conduct
  CODE_OF_CONDUCT.md
  README.md
Labels: docs

#3073 v.vol.rst: Update parameter names in the example
  vector/v.vol.rst/v.vol.rst.html
Labels: vector, HTML, backport to 8.3, module, docs

#3670 init: renaming location to project for grass.py init script
  lib/init/grass.html
  lib/init/grass.py
Labels: Python, HTML, libraries, docs

#3674 grass.script: Remove copy-pasted code from tests
  python/grass/script/tests/grass_script_core_location_test.py
Labels: Python, libraries

#3656 checks: fix some yamllint and markdownlint errors
  .github/actions/create-upload-suggestions/action.yml
  .github/labeler.yml
  doc/development/submitting/general.md
Labels: CI, docs

#3017 wxGUI: Fix scrolling the layertree to the right when adding items
  gui/wxpython/lmgr/layertree.py
Labels: bug, GUI, Python

#3665 doc: another round of location to project renaming
  general/g.mapset/main.c
  general/g.mapsets/main.c
  general/g.proj/create.c
  general/g.region/printwindow.c
  misc/m.measure/main.c
  raster/r.carve/main.c
  raster/r.external/window.c
  raster/r.gwflow/main.c
  raster/r.in.lidar/projection.c
  raster/r.in.pdal/projection.c
  raster/r.param.scale/main.c
  raster/r.profile/main.c
  raster/r.report/header.c
  raster/r.report/r.report.html
  raster/r.solute.transport/main.c
  raster/r.sun/main.c
  raster/r.sunhours/main.c
  raster/r.sunmask/g_solposition.c
  raster/r.topidx/main.c
  vector/v.in.lidar/projection.c
  vector/v.in.ogr/v.in.ogr.html
  vector/v.in.pdal/projection.c
  vector/v.net.alloc/main.c
  vector/v.net.allpairs/main.c
  vector/v.net.centrality/main.c
  vector/v.net.distance/main.c
  vector/v.net.iso/main.c
  vector/v.net.path/main.c
  vector/v.net.salesman/main.c
  vector/v.net.spanningtree/main.c
  vector/v.net.steiner/main.c
  vector/v.out.postgis/create.c
  vector/v.rectify/env.c
  vector/v.rectify/main.c
  vector/v.rectify/target.c
Labels: vector, raster, C, HTML, module, docs, general, misc

#3675 python: remove more six crumbs
  gui/wxpython/gmodeler/panels.py
  python/grass/pygrass/modules/interface/testsuite/test_modules.py
Labels: GUI, Python, libraries, tests

#3629 pytest: Enhance logging output with colors and summary
  .github/workflows/pytest.yml
Labels: CI

#3678 docs: fix security.md linting errors
  SECURITY.md
Labels: docs

#3677 checks: add configuration files for yamllint and markdownlint
  .markdownlint.yml
  .pre-commit-config.yaml
  .yamllint
Labels: CI

#3233 g.gui.example: fix broken module
  doc/gui/wxpython/example/README
  doc/gui/wxpython/example/dialogs.py
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/toolbars.py
Labels: bug, GUI, Python, backport to 8.3, docs
