Repository OSGeo/grass, pull requests merged in 2024-01, with the labels that each got.

#3316 Modernize Python syntax, resolves Python 3.12 `\.` Syntax warning
  display/d.text/test.py
  doc/gui/wxpython/example/frame.py
  gui/wxpython/animation/frame.py
  gui/wxpython/core/globalvar.py
  gui/wxpython/core/layerlist.py
  gui/wxpython/core/render.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/simplelmgr.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/iscatt/iscatt_core.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapwin/decorations.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/web_services/cap_interface.py
  lib/init/grass.py
  man/parser_standard_options.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/modules/testsuite/test_import_isolation.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/script/vector.py
  python/grass/temporal/datetime_math.py
  scripts/r.in.wms/wms_cap_parsers.py
  scripts/r.in.wms/wms_drv.py
  scripts/v.rast.stats/v.rast.stats.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute_parallel.py
Labels: GUI, temporal, Python, libraries, module, docs

#3324 python: Remove Shortening messages in pygrass messages
  python/grass/pygrass/messages/__init__.py
Labels: Python, libraries

#3283 v.out.ogr: fix append+overwrite mode
  vector/v.out.ogr/main.c
Labels: bug, vector, C, backport to 8.3

#3325 Use integer port argument with mysql_real_connect
  db/drivers/mysql/db.c
Labels: C, database, module

#3320 CI: Add a verify-success reusable workflow to use for required checks
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/ubuntu.yml
  .github/workflows/verify-success.yml
Labels: CI

#2642 cdhc lib: add statlib cdh fortran code to lib docs
  lib/cdhc/doc/chd_statlib.md
Labels: manual, libraries, Markdown

#3305 wxGUI/history: fix execute r/r3.mapcalc module command
  gui/wxpython/core/utils.py
  gui/wxpython/history/browser.py
Labels: bug, GUI, Python

#3309 wxGUI/history: add SearchCtrl widget with the ability to search the history tree
  gui/wxpython/history/browser.py
Labels: enhancement, GUI, Python

#3315 wxGUI/mapdisp: save/load Map Display used output img size for session
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/mapdisp/frame.py
Labels: enhancement, GUI, Python

#3333 r.contour: remove broken test
  .github/workflows/macos_gunittest.cfg
  .gunittest.cfg
  python/grass/docs/src/gunittest_running_tests.rst
  raster/r.contour/testsuite/testrc.py
Labels: CI, raster, Python, libraries, module

#3028 lib/external: Add parson library for JSON
  Makefile
  grasslib.dox
  include/Make/Grass.make
  include/Make/Install.make
  lib/README
  lib/external/Makefile
  lib/external/README.license
  lib/external/README.md
  lib/external/parson/LICENSE
  lib/external/parson/Makefile
  lib/external/parson/README.md
  lib/external/parson/parson.c
  lib/external/parson/parson.h
Labels: C, libraries, Markdown

#3298 r.horizon: fix computation in test_low_res()
  raster/r.horizon/main.c
Labels: bug, raster, C, backport to 8.3, errata, module

#3332 Update super-linter.yml to use super-linter/super-linter
  .github/workflows/super-linter.yml
  doc/infrastructure.md
  macosx/ReadMe.md
Labels: macOS, CI, docs, Markdown

#3335 checks: fix pre-commit errors
  .github/workflows/verify-success.yml
  imagery/i.evapo.time/i.evapo.time.html
  lib/cdhc/doc/chd_statlib.md
  raster/r.walk/r.walk.html
Labels: CI, raster, HTML, libraries, module, Markdown

#3338 docs: add openssf Scorecard and Best Practices Badge to README.md
  README.md
Labels: manual, Markdown

#3339 r.in.gdal: fix and enable test
  .github/workflows/macos_gunittest.cfg
  .gunittest.cfg
  raster/r.in.gdal/testsuite/test_r_in_gdal.py
Labels: CI, raster, Python, module

#3323 Replace use of Variable Length Arrays in C code
  .github/workflows/macos_install.sh
  .github/workflows/ubuntu.yml
  imagery/i.landsat.acca/algorithm.c
  lib/gis/strings.c
  lib/imagery/iscatt_core.c
  raster/r.fill.stats/main.c
  raster/r.mapcalc/map.c
Labels: CI, raster, C, libraries, module

#2189 i.svm: Add libsvm-based image classification
  configure
  configure.ac
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/xml/toolboxes.xml
  imagery/Makefile
  imagery/i.signatures/main.c
  imagery/i.signatures/testsuite/test_i_signatures.py
  imagery/i.svm.predict/Makefile
  imagery/i.svm.predict/i.svm.predict.html
  imagery/i.svm.predict/main.c
  imagery/i.svm.predict/testsuite/test_i_svm_predict.py
  imagery/i.svm.train/Makefile
  imagery/i.svm.train/fill.c
  imagery/i.svm.train/fill.h
  imagery/i.svm.train/i.svm.train.html
  imagery/i.svm.train/main.c
  imagery/i.svm.train/testsuite/test_i_svm_train.py
  include/Make/Platform.make.in
  include/grass/config.h.in
  include/grass/imagery.h
  lib/imagery/manage_signatures.c
  lib/imagery/testsuite/test_imagery_find.py
  lib/imagery/testsuite/test_imagery_signature_management.py
Labels: enhancement, GUI, Python, C, HTML, libraries, module

#3348 lib/vector/Vlib: fix count of removed dangles
  lib/vector/Vlib/dangles.c
Labels: bug, C, backport to 8.3, libraries

#3358 r.unpack: Rename folder `test_suite` to `testsuite` to discover tests
  scripts/r.unpack/testsuite/test.r.unpack.sh
  scripts/r.unpack/testsuite/test_double.ref
  scripts/r.unpack/testsuite/test_double_uncompressed.ref
  scripts/r.unpack/testsuite/test_float.ref
  scripts/r.unpack/testsuite/test_float_uncompressed.ref
  scripts/r.unpack/testsuite/test_int.ref
  scripts/r.unpack/testsuite/test_int_uncompressed.ref
Labels: raster, module, docs

#3356 refactor: imagery library resolve cppcheck warnings
  lib/imagery/group.c
Labels: C, libraries, imagery

#3360 CI(labeler): Fix RFC exclusion from docs, adjust other globs
  .github/labeler.yml
Labels: CI, docs

#3361 CI(CodeQL): Improve run times and add concurrency groups
  .github/workflows/codeql-analysis.yml
Labels: CI

#3342 wxGUI/history: add pop-up command menu with an item for delete command from history + history tree refactoring
  gui/wxpython/core/gconsole.py
  gui/wxpython/core/giface.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/browser.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/giface.py
  python/grass/grassdb/history.py
Labels: enhancement, GUI, Python, libraries

#3368 wxGUI/preferences: fix `PreferencesDialog` class `OnSave` method
  gui/wxpython/gui_core/preferences.py
Labels: bug, GUI, Python

#3337 g.gui.gmodeler: fix relationship with history pane
  gui/wxpython/gmodeler/frame.py
Labels: bug, GUI, Python

#3357 refactor: display driver in r_raster.c fixing duplicateExpression warning
  lib/display/r_raster.c
Labels: C, libraries, display

#3370 db.execute: fix duplicated word in in docs
  db/db.execute/db.execute.html
Labels: HTML, database, module, docs

#3371 Graphical Modeler: improve GetNewShapePos()
  gui/wxpython/gmodeler/frame.py
Labels: GUI, Python

#3372 SearchModuleWidget: show module description also for first match
  gui/wxpython/gui_core/widgets.py
Labels: GUI, Python

#3350 temporal: Update STDS metadata from DB
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/metadata.py
  python/grass/temporal/temporal_granularity.py
Labels: bug, Python, libraries

#3340 python: Add extract filter for tarfile.extractall
  python/grass/temporal/stds_import.py
  python/grass/utils/download.py
  scripts/g.extension/g.extension.py
  scripts/r.unpack/r.unpack.py
  scripts/v.unpack/v.unpack.py
Labels: vector, raster, Python, libraries, module, docs, general

#3369 Graphical Modeler: add support for PyGRASS API
  gui/wxpython/core/settings.py
  gui/wxpython/gmodeler/frame.py
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/preferences.py
Labels: GUI, Python, HTML, docs

#3362 v.what.rast3: Rename test folder and fix execution of test
  vector/v.what.rast3/test_suite/random_points.txt
  vector/v.what.rast3/testsuite/data/random_points.ref
  vector/v.what.rast3/testsuite/data/random_points_db.ref
  vector/v.what.rast3/testsuite/test.v.what.rast3.sh
Labels: vector, module

#3347 lib/proj: change pipeline selection criterion
  lib/proj/do_proj.c
Labels: bug, C, backport to 8.3, libraries

#3377 python: Remove Python 2-only `-t` CLI flag in makefile
  include/Make/Python.make
Labels: Python

#3375 GUI: sync GConsole skipInterface handling with g.parser
  gui/wxpython/core/gconsole.py
Labels: bug, GUI, Python, backport to 8.3

#3366 refactor: positioning of mixed_checker addressing duplicateExpression warning
  display/d.barscale/draw_scale.c
Labels: C, module, display

#3247 i.albedo: Fix out of bounds access for albedo histogram
  imagery/i.albedo/main.c
Labels: C, errata, module, imagery

#3329 python: Replace usages of Python2-only `import __builtin__` with a Python 3 compatible equivalent
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/utils.py
  gui/wxpython/tools/build_modules_xml.py
  python/grass/gunittest/utils.py
Labels: GUI, Python, libraries, docs

#3381 CI: Downgrade pytest for pylint job to allow time to fix breaking changes in pytest 8
  .github/workflows/python-code-quality.yml
Labels: CI

#3379 CI: Split Ubuntu tests into jobs to reduce each job's execution time
  .github/workflows/test_thorough.sh
  .github/workflows/ubuntu.yml
Labels: CI

#3385 db.connect: update GRASS version defaults in docs
  db/db.connect/db.connect.html
Labels: HTML, database, module, docs

#3096 d.vect.thematic: Do not show decimal places for ints
  display/d.vect.thematic/legend.c
  display/d.vect.thematic/local_proto.h
  display/d.vect.thematic/main.c
Labels: C, module, display

#3331 python: More fixes for Python 3.12 `SyntaxWarning: invalid escape sequence`
  gui/wxpython/gmodeler/model.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/web_services/widgets.py
  python/grass/gunittest/gmodules.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
Labels: GUI, Python, libraries

#3330 grass.jupyter: add ipyleaflet backend
  .github/workflows/optional_requirements.txt
  doc/notebooks/jupyter_tutorial.ipynb
  python/grass/jupyter/interactivemap.py
Labels: CI, Python, libraries, docs
