Repository OSGeo/grass, pull requests merged in 2024-06, with the labels that each got.

#3758 r.proj: clarify -n flag use case
  raster/r.proj/main.c
Labels: raster, C, module, docs

#3742 manual: update broken URLs
  AUTHORS
  COPYING
  raster/r.carve/README
  raster/r.carve/r.carve.html
  raster/r.flow/r.flow.html
  raster/r.sim/r.sim.sediment/r.sim.sediment.html
  raster/r.terraflow/r.terraflow.html
  raster/r.watershed/front/r.watershed.html
  scripts/r.fillnulls/r.fillnulls.html
  vector/v.surf.rst/v.surf.rst.html
  vector/v.vol.rst/v.vol.rst.html
Labels: manual, vector, raster, HTML, module, docs

#3766 grass.jupyter: update r.proj call to use project instead of location
  python/grass/jupyter/utils.py
Labels: Python, libraries, notebook

#3772 doc: Rename location to project in database image within docs
  doc/grass_database.png
  doc/grass_database.svg
Labels: docs

#3765 v.db.join: handle existing columns properly
  scripts/v.db.join/testsuite/test_v_db_join.py
  scripts/v.db.join/v.db.join.py
Labels: bug, CI, vector, Python, database, module, tests

#3763 Checks: Flake8 W605 - invalid escape sequence
  .flake8
  utils/g.html2man/ggroff.py
  utils/gitlog2changelog.py
  utils/mkrest.py
Labels: GUI, vector, raster, Python, translation, libraries, module, docs, display, imagery

#3777 Fixed uninitialized variable issues in get_stp.c
  general/g.setproj/get_stp.c
Labels: C, module, general

#3743 manual: correct v.surf.rst example
  vector/v.surf.rst/v.surf.rst.html
Labels: manual, vector, HTML, module, docs

#3768 r.horizon: always include distance output in JSON output
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: raster, Python, C, module, tests

#3468 grass.jupyter: Create BaseSeriesMap to remove redundancies in SeriesMap and TimeSeriesMap
  python/.pylintrc
  python/grass/jupyter/Makefile
  python/grass/jupyter/baseseriesmap.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/jupyter/timeseriesmap.py
Labels: Python, libraries, notebook

#3789 version: Start 8.5.0dev
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
  include/VERSION
Labels: docker, CI

#3786 r.texture: update tests
  raster/r.texture/testsuite/test_texture.py
Labels: raster, Python, module, tests

#3806 i.atcorr: fix sentinel_2B parsing with create_iwave
  imagery/i.atcorr/sensors_csv/sentinel_2B_msi.csv
Labels: bug, module, imagery, backport to 8.4

#3799 CI(python): Keep tools versions updated with env vars and renovate
  .github/workflows/python-code-quality.yml
  renovate.json
  renovate.json5
Labels: CI

#3807 docker: Use debian:bookworm-slim image, with date suffix instead of debian:stable
  docker/debian/Dockerfile
Labels: docker, backport to 8.4

#3822 docker: replace --tmp-location with --tmp-project
  docker/README.md
  docker/alpine/Dockerfile
  docker/alpine/grass_tests.sh
  docker/debian/Dockerfile
  docker/testdata/test_docker_image.sh
  docker/ubuntu_wxgui/Dockerfile
  singularity/debian/singularityfile_debian
Labels: docker, backport to 8.4

#3824 contributing: Add API to check PR titles
  utils/generate_release_notes.py
Labels: Python

#3819 docker: Use only native Python API, set only necessary variables
  Dockerfile
  docker/alpine/Dockerfile
  docker/alpine/README.md
  docker/alpine/grass_tests.sh
  docker/debian/Dockerfile
  docker/debian/README.md
  docker/testdata/test_grass_session.py
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
  docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/README.md
  singularity/debian/README_debian.md
  singularity/debian/singularityfile_debian
Labels: Linux, docker, Python, docs, backport to 8.4

#3825 CI: replace --tmp-location with --tmp-project
  .github/workflows/macos.yml
  .github/workflows/print_versions.sh
  .github/workflows/test_simple.bat
  .github/workflows/test_simple.sh
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
Labels: CI, backport to 8.4

#3810 docker: Configure renovate updates for PDAL in Dockerfiles
  docker/debian/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
  renovate.json5
Labels: docker

#3795 contributing: Add more known authors to release notes
  utils/generate_release_notes.py
  utils/git_author_github_name.csv
Labels: Python

#3829 contributing: Hide bots from release notes
  utils/generate_release_notes.py
  utils/known_bot_names.txt
Labels: Python

#3830 docker: Revert failing cleaning steps in Ubuntu Dockerfile
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker, backport to 8.4

#3811 style: Avoid double calls of os.path.split
  display/d.mon/render_cmd.py
  gui/wxpython/core/render.py
Labels: GUI, Python, module, display

#3831 python(flake8): Add excluded pattern from .flake8 to .pre-commit-config.yaml
  .flake8
  .pre-commit-config.yaml
Labels: CI

#3832 wxGUI/mapswipe: fix map image flickering if position is changed by sash
  gui/wxpython/mapswipe/frame.py
Labels: bug, GUI, Python, backport to 8.4

#3833 CI: Run pre-commit on all files on pre-commit config changes
  .github/workflows/additional_checks.yml
Labels: CI

#3837 contributing: Hide bots in the GH API output
  utils/generate_release_notes.py
  utils/known_bot_names.txt
Labels: Python

#3836 packaging: Update Vagrantfile to Ubuntu 24.04
  Vagrantfile
  utils/vagrant/compile.sh
Labels: backport to 8.4

#3834 style: Apply missing pre-commit fixes
  gui/wxpython/docs/wxgui_sphinx/conf.py
  renovate.json5
Labels: GUI, Python

#3839 checks: Disable Bandit B603 check for untrusted input
  pyproject.toml
Labels: Python

#3753 temporal: add group option to get_registered_maps
  python/grass/temporal/abstract_space_time_dataset.py
Labels: enhancement, temporal, Python, libraries

#2018 wxGUI/mapwin: disable auto-rendering map completely (resize Map Display window event etc.)
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/docs/wxGUI.html
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/vdigit/preferences.py
Labels: bug, GUI, Python, HTML, docs

#3744 r.info: Add JSON output
  raster/r.info/Makefile
  raster/r.info/main.c
  raster/r.info/r.info.html
  raster/r.info/testsuite/test_r_info.py
Labels: raster, Python, C, HTML, module, docs, tests

#3845 style: use `is True` instead of `== True`
  gui/wxpython/location_wizard/wizard.py
  python/grass/docs/src/temporal_framework.rst
  utils/gitlog2changelog.py
Labels: GUI, Python, libraries, docs

#3846 CI: Remove build tests for C99, C++11, C++14
  .github/workflows/gcc.yml
Labels: CI

#3847 r.import: avoid duplicated if check
  scripts/r.import/r.import.py
Labels: raster, Python, module

#3851 docs: delete unused, outdated files
  doc/grass_gis_command_families.ods
  doc/migration_50_51.txt
  doc/parms_flags.txt
Labels: docs

#3835 grass.benchmark: Compute speedup and enable plotting speedup/efficiency
  python/grass/benchmark/app.py
  python/grass/benchmark/plots.py
  python/grass/benchmark/runners.py
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/benchmark/testsuite/test_benchmark_cli.py
Labels: Python, libraries, tests

#3850 lib/gis: modernize getl2()
  lib/gis/getl.c
Labels: C, libraries

#3852 d.linegraph: Initialize uninitialized variable for input files
  display/d.linegraph/main.c
Labels: C, module, display

#3874 lib/gis: user_config.c: Fix CWE 398
  lib/gis/user_config.c
Labels: C, libraries

#3877 CI(Titles): Validate PR titles in CI
  .github/workflows/titles.yml
Labels: CI

#3876 contributing: Refine generated release notes
  utils/generate_release_notes.py
Labels: Python

#3882 contributing: Optimize text in release procedure
  doc/howto_release.md
Labels: docs, backport to 8.4

#3866 style: Remove some unused variables
  imagery/i.segment/parse_args.c
  lib/dspf/cube_io.c
Labels: C, libraries, module, imagery

#3755 v.info: add JSON support
  lib/gis/testsuite/test_parser_json.py
  vector/v.info/Makefile
  vector/v.info/local_proto.h
  vector/v.info/main.c
  vector/v.info/parse.c
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
  vector/v.info/v.info.html
Labels: vector, raster, Python, C, HTML, libraries, module, docs, tests

#3892 lib/gis: Fix uninitialized variable issue in env.c
  lib/gis/env.c
Labels: C, libraries, module, display

#3873 lib/cdhc: Cdhc_alnfac, fix bound condition
  lib/cdhc/as177.c
Labels: C, libraries

#3891 contributing: Improve message for failing PR title check
  utils/generate_release_notes.py
  utils/release.yml
Labels: Python

#3002 CI: Switch Travis to Ubuntu 22.04 and fix non-prototype in ODBC
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
  db/drivers/odbc/describe.c
  db/drivers/odbc/fetch.c
  db/drivers/odbc/listtab.c
Labels: CI, C, database, module

#3438 grass.script: Allow init to modify only specified environment
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_script_mapset_session_test.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_setup_test.py
  scripts/v.db.univar/tests/conftest.py
  scripts/v.db.univar/tests/v_db_univar_test.py
  scripts/v.dissolve/tests/conftest.py
  scripts/v.dissolve/tests/v_dissolve_aggregate_test.py
  scripts/v.dissolve/tests/v_dissolve_geometry_test.py
  scripts/v.dissolve/tests/v_dissolve_layers_test.py
  scripts/v.dissolve/tests/v_dissolve_test.py
  temporal/t.rast.list/tests/conftest.py
  temporal/t.rast.list/tests/t_rast_list_test.py
  vector/v.fill.holes/tests/conftest.py
  vector/v.fill.holes/tests/v_fill_holes_test.py
Labels: vector, temporal, Python, libraries, module

#3879 CI(pytest): Run tests marked need_solo_run separately
  .github/workflows/pytest.yml
  pyproject.toml
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Labels: CI, Python, libraries

#3865 wxGUI/gmodeler: fix conflicting flags in 'Create relation' dialog
  gui/wxpython/gmodeler/dialogs.py
Labels: bug, GUI, Python, backport to 8.4

#3881 wxGUI/gmodeler: fix adding data from menu
  gui/wxpython/gmodeler/panels.py
Labels: bug, GUI, Python, backport to 8.4

#3880 grass.jupyter: Add LayerControl to InteractiveMap by default
  doc/notebooks/jupyter_example.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
  python/grass/jupyter/interactivemap.py
Labels: Python, libraries, docs, notebook

#3907 r.in.pdal: use 1 based return numbers in LAS info output
  raster/r.in.pdal/info.cpp
Labels: raster, C++, module, backport to 8.4

#3875 contributing: move GitHub workflow docs into separate file
  CONTRIBUTING.md
  doc/development/github_guide.md
Labels: docs, backport to 8.4

#3910 doc: help_loc_structure -> help_project_structure
  doc/help_loc_structure.odg
  doc/help_project_structure.odg
  grasslib.dox
  lib/init/Makefile
  lib/init/help_loc_struct.png
  lib/init/help_project_structure.png
  lib/loc_struct.png
Labels: libraries, docs

#3902 v.external: delete duplicated layer requirement definition
  vector/v.external/args.c
Labels: vector, C, module

#3904 CI: Cancel in progress jobs for other workflows
  .github/workflows/clang-format-check.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/label.yml
  .github/workflows/titles.yml
Labels: CI

#3618 libvector/neta: fix memory leaks
  lib/vector/neta/articulation_point.c
  lib/vector/neta/timetables.c
  lib/vector/neta/utils.c
Labels: vector, C, libraries

#3857 r.texture: support parallel computing by OpenMP
  raster/r.texture/Makefile
  raster/r.texture/benchmark/benchmark_rtexture.py
  raster/r.texture/benchmark/benchmark_rtexture_window.py
  raster/r.texture/execute.c
  raster/r.texture/execute.h
  raster/r.texture/main.c
  raster/r.texture/r.texture.html
  raster/r.texture/r_texture_mapsize_efficiency.png
  raster/r.texture/r_texture_mapsize_time.png
  raster/r.texture/r_texture_window_efficiency.png
  raster/r.texture/r_texture_window_time.png
  raster/r.texture/testsuite/test_rtexture.py
  raster/r.texture/testsuite/test_rtexture_parallel.py
Labels: raster, Python, C, HTML, module, docs, tests

#3694 grass.app: Refactor PATH setup in grass init script and grass.script.setup
  lib/init/grass.py
  mswindows/env.bat
  python/grass/app/Makefile
  python/grass/app/runtime.py
  python/grass/script/setup.py
Labels: windows, Python, libraries

#3878 d.linegraph: Fix null pointer issue in qsort call
  display/d.linegraph/main.c
Labels: C, module, display

#3590 v.surf.rst: Cross-validation OpenMP support
  lib/rst/interp_float/interpf.h
  lib/rst/interp_float/point2d.c
  lib/rst/interp_float/point2d_parallel.c
  lib/rst/interp_float/ressegm2d.c
  lib/rst/interp_float/segmen2d.c
  lib/rst/interp_float/segmen2d_parallel.c
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst.py
  vector/v.surf.rst/benchmark/benchmark_v_surf_rst_cv.py
  vector/v.surf.rst/main.c
  vector/v.surf.rst/testsuite/test_vsurfrst.py
  vector/v.surf.rst/v.surf.rst.html
  vector/v.surf.rst/vsurfrst_benchmark.png
  vector/v.surf.rst/vsurfrst_cv_benchmark.png
Labels: vector, raster, Python, C, HTML, libraries, module, docs, tests

#3922 d.legend.vect: Fix dead store warnings in draw.c
  display/d.legend.vect/draw.c
Labels: C, module, display

#3920 wxGUI: update menu creation explanations
  gui/wxpython/Makefile
  gui/wxpython/README
  gui/wxpython/README.md
Labels: GUI, manual, docs

#3915 CI(super-linter): Specify linter rules path to pick up configuration files
  .github/workflows/pytest.yml
  .github/workflows/super-linter.yml
  .travis.yml
Labels: CI

#3918 d.linegraph: Fix dead store warning in main.c
  display/d.linegraph/main.c
Labels: C, module, display

#3925 CI: add nix to the list of allowed commit prefixes
  utils/release.yml
Labels: CI

#3924 packaging: improve nix development environment
  flake.nix
Labels: linux

#3916 CI(pre-commit): Enable markdownlint fixes
  .markdownlint.yml
  .pre-commit-config.yaml
  vector/v.surf.rst/v.surf.rst.html
Labels: CI, vector, HTML, module, docs

#3906 CI: add nix package build test
  .github/workflows/test-nix.yml
  flake.nix
  package.nix
Labels: CI

#3905 CI: Initial code coverage configuration with Codecov
  .github/workflows/pytest.yml
  .gitignore
  Makefile
  codecov.yml
Labels: CI

#3888 r.horizon: change JSON format
  raster/r.horizon/main.c
  raster/r.horizon/testsuite/test_r_horizon.py
Labels: blocker, raster, Python, C, module, tests, backport to 8.4

#3923 d.histogram: Initialize range_dmin and range_dmax to fix uninitialize value warnings in bar.c
  display/d.histogram/bar.c
Labels: C, module, display

#3926 Checks: fix flake8 E741 in gui/wxpython directory
  .flake8
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/lmgr/giface.py
  gui/wxpython/rlisetup/frame.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/wxdisplay.py
  gui/wxpython/web_services/widgets.py
Labels: GUI, Python

#3927 d.histogram: Fix dead store warnings in bar.c
  display/d.histogram/bar.c
Labels: C, module, display
