Repository OSGeo/grass, pull requests merged in 2025-03, with the labels that each got.

#5256 docs: fix typos in man/ directory
  man/build.py
  man/build_rest.py
  man/mkdocs/mkdocs.yml
Labels: Python, docs

#5257 temporal: fix typos
  temporal/t.rast.accdetect/t.rast.accdetect.py
  temporal/t.rast.algebra/t.rast.algebra.py
  temporal/t.rast.contour/t.rast.contour.py
  temporal/t.rast.list/t.rast.list.html
  temporal/t.rast.list/t.rast.list.md
  temporal/t.rast.to.rast3/t.rast.to.rast3.md
  temporal/t.rast.to.vect/t.rast.to.vect.py
  temporal/t.rast3d.algebra/t.rast3d.algebra.py
  temporal/t.register/t.register.html
  temporal/t.register/t.register.md
  temporal/t.select/t.select.py
  temporal/t.vect.algebra/t.vect.algebra.py
Labels: temporal, Python, HTML, module, docs, markdown

#5223 cmake: improve GEOS package detection
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/find_scripts/FindGEOS.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/vector/CMakeLists.txt
  vector/CMakeLists.txt
Labels: CI, vector, libraries, module, general, CMake

#5258 db: fix typos
  db/databaseintro.html
  db/databaseintro.md
  db/db.columns/db.columns.html
  db/db.columns/db.columns.md
  db/db.describe/db.describe.html
  db/db.describe/db.describe.md
  db/db.tables/db.tables.html
  db/db.tables/db.tables.md
Labels: HTML, database, module, docs, markdown

#5262 gui: fix typos
  gui/wxpython/core/utils.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/gui_core/simplelmgr.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/page.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/photo2image/g.gui.photo2image.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/rlisetup/g.gui.rlisetup.html
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/startup/locdownload.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  gui/wxpython/xml/grass-gxw.dtd
Labels: GUI, Python, HTML, docs, markdown

#5235 docs: Replace table by sections for standard parser options
  man/build_md.py
  man/parser_standard_options.py
Labels: Python, docs

#5247 build: Fix basic gallery build issues for Markdown
  man/build_manual_gallery.py
Labels: Python, docs

#4707 r.cross: added testsuite for r.cross tool
  raster/r.cross/testsuite/test_cross.py
Labels: raster, Python, module, tests

#5222 i.landsat.toar: Fix string not null terminated issue
  imagery/i.landsat.toar/landsat_met.c
Labels: C, module, imagery

#5278 grass.gunittest: Allow floating point for `--min-success` argument
  python/grass/gunittest/main.py
  python/grass/gunittest/reporters.py
Labels: Python, libraries

#5263 cmake: use imported GDAL target and clean up dependencies
  .github/workflows/cmake.yml
  cmake/find_scripts/FindGDAL.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  display/CMakeLists.txt
  general/CMakeLists.txt
  general/manage/lister/CMakeLists.txt
  lib/CMakeLists.txt
  lib/proj/CMakeLists.txt
  lib/rst/CMakeLists.txt
  lib/vector/CMakeLists.txt
  lib/vector/diglib/CMakeLists.txt
  ps/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.sim/CMakeLists.txt
  raster3d/r3.flow/CMakeLists.txt
  vector/CMakeLists.txt
  vector/v.lrs/CMakeLists.txt
Labels: CI, vector, raster, database, libraries, module, general, display, raster3d, CMake

#5279 cmake: use imported PNG::PNG target
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
  raster/CMakeLists.txt
Labels: raster, libraries, module, general, CMake

#5240 lib/parser: Separate Markdown code from reStructuredText
  lib/gis/parser_md.c
  lib/gis/parser_rest.c
Labels: C, libraries

#5198 r.basins.fill: Fix Broken Tests and Preserve Test Dataset Integrity
  raster/r.basins.fill/testsuite/test_r_basins_fill.py
  raster/r.basins.fill/testsuite/testrbf.py
Labels: raster, Python, module, tests

#5299 cmake: use imported PostgreSQL target
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/find_scripts/FindPostgreSQL.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
  lib/rst/CMakeLists.txt
  lib/vector/CMakeLists.txt
  lib/vector/diglib/CMakeLists.txt
  vector/CMakeLists.txt
Labels: CI, vector, database, libraries, module, CMake

#5260 v.colors: Fix Resource Leak issue in write_rgb.c
  vector/v.colors/write_rgb.c
Labels: vector, C, module

#5274 v.surf.idw: Fix Resource Leak issue in read_sites.c
  vector/v.surf.idw/read_sites.c
Labels: vector, C, module

#5213 docs: Added GRASS social account links and icons to footer
  man/mkdocs/mkdocs.yml
Labels: docs

#5298 wxGUI/gmodeler: fix setToolBar failing on macOS
  gui/wxpython/gmodeler/toolbars.py
Labels: bug, GUI, Python, backport to 8.4

#5230 docs: Added site_author, social card bgcolor, and improved nav controls mkdocs configuration
  man/mkdocs/mkdocs.yml
Labels: docs

#5307 style: fix header uniformity with the rest of the codebase
  display/d.legend/main.c
  imagery/i.svm.train/fill.c
  imagery/i.svm.train/fill.h
  mswindows/external/README.license
  raster/r.in.lidar/filters.c
  raster/r.in.lidar/filters.h
  raster/r.in.lidar/info.c
  raster/r.in.lidar/local_proto.h
  raster/r.in.lidar/main.c
  raster/r.in.lidar/point_binning.c
  raster/r.in.lidar/point_binning.h
  raster/r.in.lidar/projection.c
  raster/r.in.lidar/support.c
  raster/r.in.pdal/bin_update.c
  raster/r.in.pdal/bin_write.c
  raster/r.in.pdal/bin_write.h
  raster/r.in.pdal/filters.c
  raster/r.in.pdal/filters.h
  raster/r.in.pdal/info.cpp
  raster/r.in.pdal/info.h
  raster/r.in.pdal/point_binning.c
  raster/r.in.pdal/point_binning.h
  raster/r.in.pdal/projection.c
  raster/r.in.pdal/string_list.c
  raster/r.in.pdal/string_list.h
  raster/r.in.xyz/local_proto.h
  raster/r.in.xyz/main.c
  raster/r.in.xyz/support.c
  raster/r.sun/main.c
  raster3d/r3.in.lidar/filters.c
  raster3d/r3.in.lidar/filters.h
  raster3d/r3.in.lidar/info.c
  raster3d/r3.in.lidar/info.h
  raster3d/r3.in.lidar/main.c
  raster3d/r3.in.lidar/projection.c
  raster3d/r3.in.lidar/projection.h
  scripts/v.in.lines/v.in.lines.py
  utils/module_synopsis.sh
  vector/v.in.lidar/attributes.c
  vector/v.in.lidar/filters.c
  vector/v.in.lidar/filters.h
  vector/v.in.lidar/info.c
  vector/v.in.lidar/projection.c
  vector/v.in.lidar/vector_mask.c
  vector/v.in.pdal/filters.c
  vector/v.in.pdal/filters.h
  vector/v.in.pdal/projection.c
Labels: windows, vector, raster, Python, C, C++, module, display, imagery, raster3d

#5305 cmake: use imported Iconv target with CMake's FindIconv
  cmake/find_scripts/FindIconv.cmake
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
Labels: libraries, CMake

#5275 v.net: Fix Resource Leak Issue in report.c
  vector/v.net/report.c
Labels: vector, C, module

#5311 cmake: use of imported SQLite target, drop custom FindSQLite
  cmake/find_scripts/FindSQLite.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  general/CMakeLists.txt
  include/config.h.cmake.in
Labels: database, module, general, CMake

#5312 cmake: use of imported ODBC target
  .github/workflows/cmake.yml
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  include/config.h.cmake.in
Labels: CI, database, module, CMake

#5315 docs: Fix r.mask Markdown links
  raster/rasterintro.md
Labels: raster, module, docs, markdown

#5317 tests: Ignore gunittest.main.test() when collecting with pytest
  python/grass/gunittest/main.py
Labels: Python, libraries

#5277 docs: Added mkdocs feature content.tabs.link
  man/mkdocs/mkdocs.yml
Labels: docs

#5324 CI: Fetch all Git history for building docs
  .github/workflows/documentation.yml
Labels: CI

#5319 docs: Link to addons repo for addons
  utils/mkmarkdown.py
Labels: Python

#5320 docs: Use YAML list for keywords in front matter
  gui/wxpython/timeline/g.gui.timeline.py
  gui/wxpython/tplot/g.gui.tplot.py
  lib/gis/parser_md.c
  man/build_keywords.py
  man/mkdocs/tags.md
Labels: GUI, Python, C, libraries, docs, markdown

#5306 docs: Add Sphinx-based Python doc to the user doc
  .github/workflows/documentation.yml
  python/grass/docs/_static/grass_logo.svg
  python/grass/docs/_templates/layout.html.template
Labels: CI, libraries

#5214 r.null: added test cases the module
  raster/r.null/testsuite/test_r_null.py
Labels: raster, Python, module, tests

#5207 docs: MkDocs index and nav redesign
  man/Makefile
  man/build.py
  man/build_index.py
  man/build_md.py
  man/mkdocs/docs/command_line_intro.md
  man/mkdocs/docs/development_intro.md
  man/mkdocs/docs/interfaces_overview.md
  man/mkdocs/docs/jupyter_intro.md
  man/mkdocs/docs/python_intro.md
  man/mkdocs/grassdocs.css
  man/mkdocs/index.md
  man/mkdocs/mkdocs.yml
Labels: Python, CSS, docs, markdown

#5333 CI: Remove Sphinx build from Python QC
  .github/workflows/python-code-quality.yml
Labels: CI

#5329 style: Fix SIM115 linting errors using context managers for file operationsadding context managers in `scripts/`
  pyproject.toml
  scripts/i.spectral/i.spectral.py
  scripts/r.fillnulls/r.fillnulls.py
  scripts/r.tileset/r.tileset.py
  scripts/wxpyimgview/wxpyimgview_gui.py
Labels: raster, Python, module, imagery

#5328 display: fix typos
  display/d.histogram/bar.c
  display/d.histogram/get_stats.c
  display/d.histogram/pie.c
  display/d.labels/d.labels.html
  display/d.labels/d.labels.md
  display/d.legend/get_stats.c
  display/d.vect/d.vect.html
  display/d.vect/d.vect.md
  display/displaydrivers.html
  display/displaydrivers.md
Labels: C, HTML, module, docs, markdown, display

#5276 d.vect: Fix resource Leak Issue in shape.c
  display/d.vect/shape.c
Labels: C, module, display

#5330 doc: add missing newline between generated synopsis and description heading
  utils/mkmarkdown.py
Labels: Python

#5349 db.univar: Use python sort fallback on Windows
  scripts/conftest.py
  scripts/db.univar/db.univar.py
  scripts/v.db.univar/tests/conftest.py
Labels: vector, Python, database, module, tests

#5343 v.what: Fix test failures from trailing space after map name
  .github/workflows/macos_gunittest.cfg
  .github/workflows/osgeo4w_gunittest.cfg
  .gunittest.cfg
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/what.c
Labels: windows, macOS, CI, vector, Python, C, module, tests

#5339 g.download.project: Fix string formatting error when download already exists
  scripts/g.download.project/g.download.project.py
Labels: Python, module, general

#5269 cmake: increase required version to 3.22
  .github/workflows/cmake.yml
  CMakeLists.txt
Labels: CI, CMake

#5297 cmake: fix Native Language Support (NLS) support
  .github/workflows/cmake.yml
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
  locale/CMakeLists.txt
Labels: CI, translation, libraries, CMake

#5353 cmake: remove custom FindPostgreSQL with CMake 3.22+
  cmake/find_scripts/FindPostgreSQL.cmake
Labels: CMake

#5313 cmake: use of imported Freetype target
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
  vector/CMakeLists.txt
Labels: vector, libraries, module, general, CMake

#5362 lib/ogsf: fix typos
  lib/ogsf/gk.c
  lib/ogsf/gp2.c
  lib/ogsf/gs2.c
  lib/ogsf/gs3.c
  lib/ogsf/gsd_objs.c
  lib/ogsf/gsd_prim.c
  lib/ogsf/gsd_surf.c
  lib/ogsf/gsd_wire.c
  lib/ogsf/gvl.c
  lib/ogsf/gvld.c
Labels: C, libraries

#5340 v.build: added tests for v.build module
  vector/v.build/testsuite/v.build_test.py
Labels: vector, Python, module, tests

#5318 docs: Use keywords property in MkDocs, not separate tags
  lib/gis/parser_md.c
  man/mkdocs/mkdocs.yml
Labels: GUI, Python, C, libraries, docs, markdown

#5310 docs: Build Markdown addon index using core index tooling
  .github/workflows/documentation.yml
  man/Makefile
  man/build_full_index.py
  man/build_md.py
Labels: CI, Python, docs

#5364 CI: update cachix public key for Nix
  flake.nix
Labels: CI, nix

#5366 wxGUI: Fix SIM115 by using context managers for file operations in mapdisp
  gui/wxpython/mapdisp/main.py
  pyproject.toml
Labels: GUI, Python

#5367 i.pansharpen: Fix SIM115 warning by using context manager for file operations
  pyproject.toml
  scripts/i.pansharpen/i.pansharpen.py
Labels: Python, module, imagery

#5370 python: `gs.message` doesn't support an empty string
  scripts/db.dropcolumn/db.dropcolumn.py
  scripts/db.droptable/db.droptable.py
  scripts/i.in.spotvgt/i.in.spotvgt.py
Labels: Python, database, module, imagery

#5368 Translations update from OSGeo Weblate
  locale/po/grasslibs_ar.po
  locale/po/grassmods_ar.po
Labels: translation

#5374 doc: fix missing images in md files
  gui/wxpython/tplot/g.gui.tplot.md
  raster/r.in.lidar/r.in.lidar.md
Labels: GUI, raster, module, docs, markdown

#5352 cmake: use of imported Cairo target
  CMakeLists.txt
  cmake/find_scripts/FindCairo.cmake
  cmake/find_scripts/FindFontConfig.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Labels: libraries, module, general, CMake

#5377 cmake: use of imported TIFF target
  cmake/modules/CheckDependentLibraries.cmake
  lib/CMakeLists.txt
Labels: libraries, CMake

#5270 i.landsat.acca: add test cases
  imagery/i.landsat.acca/testsuite/test_i_landsat_acca.py
Labels: Python, module, imagery, tests

#5369 gui: fix typos
  gui/wxpython/core/render.py
  gui/wxpython/docs/wxgui_sphinx/conf.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/xml/grass-interface.dtd
Labels: GUI, Python

#5332 docs: Tell MkDocs about pages linked from other pages
  man/mkdocs/mkdocs.yml
Labels: docs

#5378 pythonlib: Add missing docstring summary lines to fix D402 errors
  python/grass/gunittest/checkers.py
Labels: Python, libraries

#5055 docker: Fixing CFLAG for configuration on Apple ARM M1/2/3
  Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker, info needed

#5356 cmake: use of imported X11 and OpenGL targets
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Labels: libraries, module, general, CMake

#5273 d.vect.thematic: Fix Resource Leak issue in plot1.c
  display/d.vect.thematic/plot1.c
Labels: C, module, display

#5301 r.in.gdal: Fix Resource Leak Issue in main.c
  raster/r.in.gdal/main.c
  raster/r.in.gdal/proj.c
Labels: raster, C, module

#5372 lib/vector/Vlib: Fix Resource Leak Issue in array.c
  lib/vector/Vlib/array.c
Labels: vector, C, libraries

#5376 cmake: add custom FindCBLAS FindLAPACKE
  cmake/find_scripts/FindBLAS.cmake
  cmake/find_scripts/FindCBLAS.cmake
  cmake/find_scripts/FindLAPACK.cmake
  cmake/find_scripts/FindLAPACKE.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/Configure.cmake
  include/config.h.cmake.in
  lib/CMakeLists.txt
Labels: libraries, CMake

#5371 i.group: fix resource leak issue in main.c
  imagery/i.group/main.c
Labels: C, module, imagery

#5379 v.voronoi: Fix resource leak issue in skeleton.c
  vector/v.voronoi/skeleton.c
Labels: vector, C, module

#5380 lib/gis: Fix Resource Leak issue in datum.c
  lib/gis/datum.c
Labels: C, libraries

#5354 cmake: use of imported Threads target
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
  raster/r.mapcalc/CMakeLists.txt
Labels: raster, libraries, module, CMake

#5360 v.category: add JSON support
  vector/CMakeLists.txt
  vector/v.category/Makefile
  vector/v.category/main.c
  vector/v.category/testsuite/test_v_category.py
  vector/v.category/v.category.html
  vector/v.category/v.category.md
Labels: vector, Python, C, HTML, module, docs, markdown, tests, CMake

#5388 Translations update from OSGeo Weblate
  locale/po/grassmods_fr.po
  locale/po/grassmods_vi.po
Labels: translation

#5384 cmake: use of imported PDAL target
  cmake/modules/CheckDependentLibraries.cmake
  raster/CMakeLists.txt
  vector/CMakeLists.txt
Labels: vector, raster, module, CMake

#5373 r.sim: complete removal of global variables and waterglobs.h
  raster/r.sim/CMakeLists.txt
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/Makefile
  raster/r.sim/simlib/erod.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/observation_points.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/random.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/utils.c
  raster/r.sim/simlib/waterglobs.h
Labels: raster, C, module, CMake

#5350 i.cluster: Add test file
  imagery/i.cluster/testsuite/test_i_cluster.py
Labels: Python, module, imagery, tests

#5382 v.build: fixed test file name
  vector/v.build/testsuite/test_v_build.py
Labels: vector, Python, module, tests

#5394 cmake: use of imported BZip2 target
  .github/workflows/cmake.yml
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
Labels: CI, libraries, CMake

#5395 v.category: fix uninitialised value "format"
  vector/v.category/main.c
Labels: vector, C, module

#5392 r.covar: added test cases for the module
  raster/r.covar/tests/test_r_covar.py
Labels: raster, Python, module, tests

#5264 i.ifft: Add Test Suite
  imagery/i.ifft/testsuite/test_i_ifft.py
Labels: Python, module, imagery, tests

#5406 wxGUI: Fix SIM115: Improve temporary file handling in modules component
  gui/wxpython/modules/colorrules.py
  pyproject.toml
Labels: GUI, Python

#5217 lib/gis: fix potential integer overflow issues
  lib/gis/compress.c
  lib/gis/copy_dir.c
Labels: C, libraries

#5216 lib/gis: fix potential buffer overflow issues
  lib/gis/color_str.c
  lib/gis/commas.c
  lib/gis/env.c
  lib/gis/file_name.c
  lib/gis/get_ellipse.c
  lib/gis/get_window.c
  lib/gis/parser.c
  lib/gis/parser_help.c
Labels: C, libraries

#5397 r.out.ascii: Fix Resource Leak Issue in formspecific.c
  raster/r.out.ascii/formspecific.c
Labels: raster, C, module

#5400 r.viewshed: Fix Resource Leak Issue in grass.cpp
  raster/r.viewshed/grass.cpp
Labels: raster, C++, module

#5410 lib/ogsf: Fix Resouce Leak issue in gs3.c
  lib/ogsf/gs3.c
Labels: C, libraries

#5363 lib/gis: fix typos
  lib/gis/area.c
  lib/gis/datum.table
  lib/gis/distance.c
  lib/gis/env.c
  lib/gis/gislib.dox
  lib/gis/parser_wps.c
  lib/gis/timestamp.c
  lib/gis/wind_overlap.c
Labels: C, libraries, docs

#5414 lib/vector/Vlib: Fix Resource Leak issue in header_finfo.c
  lib/vector/Vlib/header_finfo.c
Labels: vector, C, libraries

#5415 lib/vector/Vlib: Fix Resource Leak issue in close.c
  lib/vector/Vlib/close.c
Labels: vector, C, libraries

#5396 r.fill.dir: Fix uninitialized pointer
  raster/r.fill.dir/ppupdate.c
Labels: raster, C, module

#5403 style: Fixed noqa warnings inline with recent ruff update
  python/grass/gunittest/checkers.py
Labels: Python, libraries

#5412 cmake: fix proper installation of demolocation
  CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  demolocation/CMakeLists.txt
  lib/init/CMakeLists.txt
Labels: libraries, CMake

#5411 cmake: fix gui files installation
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/build_gui_in_subdir.cmake
  gui/CMakeLists.txt
  gui/wxpython/CMakeLists.txt
Labels: GUI, CMake

#5418 cmake: fix ctypesgen's generation of GRASS API
  cmake/ctypesgen.cmake
  lib/init/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
Labels: libraries, CMake

#5346 docs: fix typos
  doc/development/github_guide.md
  doc/examples/notebooks/hydrology.ipynb
  doc/examples/python/m.distance.py
  doc/examples/vector/TODO
  doc/howto_release.md
  doc/vector/TODO
Labels: Python, docs, markdown, notebook

#5420 cmake: remove OpenDWG related unused code
  CMakeLists.txt
  vector/CMakeLists.txt
Labels: vector, module, CMake

#5331 docs: Added sphinx-sitemap generation to python and updated workflow
  .github/workflows/documentation.yml
  python/grass/docs/conf.py
Labels: CI, Python, libraries

#5426 CI: add '-ffp-contract=off' compiler flag to test runners
  .github/workflows/macos_install.sh
  .github/workflows/ubuntu.yml
  raster/r.texture/testsuite/test_rtexture.py
  raster/r.texture/testsuite/test_rtexture_parallel.py
Labels: macOS, CI, raster, Python, module, tests

#5423 lib/vector: fix typos
  lib/vector/Vlib/buffer2.c
  lib/vector/Vlib/close.c
  lib/vector/Vlib/e_intersect.c
  lib/vector/Vlib/intersect2.c
  lib/vector/Vlib/net_build.c
  lib/vector/dglib/BUGS
  lib/vector/dglib/dglib.dox
  lib/vector/dglib/examples/README
  lib/vector/dglib/graph.h
  lib/vector/dglib/sp-template.c
  lib/vector/dglib/type.h
  lib/vector/neta/utils.c
  lib/vector/rtree/rect.c
  lib/vector/vectorlib_faq.dox
  lib/vector/vectorlib_topology.dox
  lib/vector/vedit/delete.c
Labels: vector, C, libraries, docs

#5386 cmake: Consider source path with underscores
  locale/CMakeLists.txt
Labels: translation, CMake

#5385 cmake: Fix locale build
  locale/CMakeLists.txt
Labels: translation, CMake

#5325 grass.jupyter: importing display function from IPython.display
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
  python/grass/jupyter/testsuite/map3d_test.py
  python/grass/jupyter/testsuite/map_test.py
Labels: Python, libraries, tests, notebook

#5427 docs: Remove old footer links from MkDocs site
  man/mkdocs/overrides/partials/footer.html
Labels: HTML, docs

#5451 docs: Add contributing doc to main doc
  doc/Makefile
  doc/development/Makefile
  doc/development/investigating_history.md
  man/mkdocs/docs/development_intro.md
  utils/mkmarkdown.py
Labels: Python, docs, markdown

#5355 docs: Merge MkDocs and Sphinx sitemaps into single manual sitemap
  .github/workflows/documentation.yml
  utils/merge_sitemaps.py
Labels: CI, Python

#5446 docs: Replace keywords index by MkDocs tags
  .github/workflows/documentation.yml
  man/Makefile
  man/build_keywords.py
  man/build_topics.py
  man/mkdocs/keywords.md
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/fragments/tags/default/listing.html
Labels: CI, Python, HTML, docs, markdown

#5450 d.barscale: Fix uninitialized Variable in draw_scale.c
  display/d.barscale/draw_scale.c
Labels: C, module, display

#5455 r3.out.vtk: Fix Resource Leak Issue in writeVTKData.c
  raster3d/r3.out.vtk/writeVTKData.c
Labels: C, module, raster3d

#5447 docs: Unify tool index wording
  man/build.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_full_index.py
  man/build_md.py
  man/mkdocs/index.md
  man/mkdocs/mkdocs.yml
Labels: Python, docs, markdown

#5453 doc: enable PDAL in binder and fix and unify init calls
  binder/postBuild
  binder/requirements.txt
  doc/examples/notebooks/hydrology.ipynb
  doc/examples/notebooks/jupyter_example.ipynb
  doc/examples/notebooks/jupyter_tutorial.ipynb
  doc/examples/notebooks/parallelization_tutorial.ipynb
  doc/examples/notebooks/scripting_example.ipynb
  doc/examples/notebooks/solar_potential.ipynb
  doc/examples/notebooks/temporal.ipynb
  doc/examples/notebooks/viewshed_analysis.ipynb
Labels: CI, docs, notebook

#5466 wxGUI: Fix PTH208: Use pathlib in rlisetup
  gui/wxpython/rlisetup/frame.py
  pyproject.toml
Labels: GUI, Python

#5459 docs: Fix basic graphical index issues in Markdown
  man/build_class_graphical.py
  man/build_graphical_index.py
  man/build_md.py
Labels: Python, docs

#5424 vector: fix typos
  vector/CMakeLists.txt
  vector/v.db.select/v.db.select.html
  vector/v.db.select/v.db.select.md
  vector/v.distance/v.distance.html
  vector/v.distance/v.distance.md
  vector/v.edit/main.c
  vector/v.external.out/v.external.out.html
  vector/v.external.out/v.external.out.md
  vector/v.extract/main.c
  vector/v.fill.holes/tests/conftest.py
  vector/v.generalize/displacement.c
  vector/v.generalize/point.h
  vector/v.generalize/smoothing.c
  vector/v.in.ascii/main.c
  vector/v.in.db/v.in.db.html
  vector/v.in.ogr/main.c
  vector/v.label.sa/annealing.c
  vector/v.label.sa/labels.h
  vector/v.lrs/MAIL
  vector/v.lrs/v.lrs.create/main.c
  vector/v.net.visibility/visibility.c
  vector/v.out.dxf/write_dxf.c
  vector/v.outlier/v.outlier.html
  vector/v.outlier/v.outlier.md
  vector/v.profile/main.c
  vector/v.profile/testsuite/test_v_profile.py
  vector/v.surf.bspline/v.surf.bspline.html
  vector/v.surf.bspline/v.surf.bspline.md
  vector/v.surf.rst/DESCRIPTION
  vector/v.timestamp/test_suite/test.v.timestamp.sh
  vector/v.univar/testsuite/test_v_univar.py
  vector/v.vol.rst/user3.c
  vector/v.vol.rst/v.vol.rst.html
  vector/v.vol.rst/v.vol.rst.md
Labels: vector, Python, C, HTML, module, docs, markdown, tests, CMake

#5472 docs: Separate topics from keywords by 2nd tags plugin
  man/build_topics.py
  man/mkdocs/mkdocs.yml
Labels: Python, docs

#5409 style: Fix C2801 ruff warnings post update
  pyproject.toml
Labels: GUI, Python

#5464 wxGUI: Fix PTH208: Use pathlib for directory operations in psmap module
  gui/wxpython/psmap/dialogs.py
  pyproject.toml
Labels: GUI, Python

#5436 i.topo.corr: Add test file
  imagery/i.topo.corr/testsuite/test_i_topo_corr.py
Labels: Python, module, imagery, tests

#5413 i.smap: add test file
  imagery/i.smap/testsuite/test_i_smap.py
Labels: Python, module, imagery, tests

#5476 docker: add package to docker image to be able to run gui
  docker/ubuntu_wxgui/Dockerfile
Labels: docker, backport to 8.4

#5481 docker: fix various syntax warnings
  Dockerfile
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu_wxgui/Dockerfile
Labels: docker

#5480 init: Rename often shadowed internal helper function `f()` to `fw()`
  lib/init/grass.py
Labels: Python, libraries

#5478 init: Apply isort to imports
  lib/init/grass.py
Labels: Python, libraries

#5387 gui: add README.md and LICENSE.TXT for icons
  gui/icons/LICENSE.TXT
  gui/icons/README.md
Labels: GUI, backport to 7.8, docs, markdown, backport to 8.4
