Repository OSGeo/grass, pull requests merged in 2025-07, with the labels that each got.

#5964 v.lrs.segment: Fix Resource Leak Issue in main.c
  vector/v.lrs/v.lrs.segment/main.c
Labels: vector, C, module

#5999 lib/vector/Vlib: Fix Resource Leak Issue in simple_features.c
  lib/vector/Vlib/simple_features.c
Labels: vector, C, libraries

#6004 i.eb.hsebal01: fix manual pixel handling
  imagery/i.eb.hsebal01/main.c
Labels: C, module, imagery

#5904 r.out.ppm: Fix buffer issues in main.c
  raster/r.out.ppm/main.c
Labels: raster, C, module

#6007 r.stats.quantile: Add JSON support
  raster/CMakeLists.txt
  raster/r.stats.quantile/Makefile
  raster/r.stats.quantile/main.c
  raster/r.stats.quantile/r.stats.quantile.md
  raster/r.stats.quantile/testsuite/test_r_stats_quantile.py
Labels: raster, Python, C, module, docs, markdown, tests, CMake

#6011 r.kappa: Fix unchecked return value from library in stats.c
  raster/r.kappa/stats.c
Labels: raster, C, module

#6013 lib/pngdriver: Fix unchecked return value in read_ppm.c
  lib/pngdriver/read_ppm.c
Labels: C, libraries

#5996 db.drivers/dbf: Fix uninitialized scalar variable
  db/drivers/dbf/dbfexe.c
  db/drivers/dbf/table.c
Labels: C, database, module

#5939 r3.univar: Bring r3.univar implementation closer to r.univar
  lib/raster/cats.c
  raster/r.univar/globals.h
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
Labels: raster, C, libraries, module

#6020 lib: Add new SRTM_percent color table (backport of #4608)
  lib/gis/colors.desc
  lib/gis/colors/srtm_percent
Labels: libraries

#6027 r.volume: Add test file
  raster/r.volume/testsuite/test_r_volume.py
Labels: raster, Python, module, tests

#6016 wxGUI: vnet: Fix SIM115: Use context manager for file operations in vnet_data.py
  gui/wxpython/vnet/vnet_data.py
  pyproject.toml
Labels: GUI, Python

#6022 grass.script.vector_db_select: use v.db.select CSV output for safer parsing
  python/grass/script/vector.py
Labels: bug, Python, libraries

#5998 g.findfile: use element aliases
  general/g.findfile/main.c
  general/g.findfile/tests/test_g_findfile.py
  python/grass/script/core.py
Labels: Python, C, libraries, module, general, tests

#6026 wxGUI: wxplot: Fix SIM115: Use context manager for file operations in profile.py
  gui/wxpython/wxplot/profile.py
Labels: GUI, Python

#5933 build: refactor grass.py in preparation for FHS
  CMakeLists.txt
  cmake/modules/GRASSInstallDirs.cmake
  cmake/modules/copy_python_files_in_subdir.cmake
  include/Make/Install.make
  lib/init/CMakeLists.txt
  lib/init/Makefile
  lib/init/grass.py
  python/grass/CMakeLists.txt
  python/grass/app/Makefile
  python/grass/app/resource_paths.py
  python/grass/app/runtime.py
Labels: Python, libraries, CMake

#5967 v.label.sa: Fix Resource Leak issue
  vector/v.label.sa/font.c
  vector/v.label.sa/labels.c
Labels: vector, C, module

#6043 lib/vector/Vlib: Fix Resource Leak Issue in read.c
  lib/vector/Vlib/read.c
Labels: vector, C, libraries

#6036 r.volume: Add JSON support
  raster/CMakeLists.txt
  raster/r.volume/Makefile
  raster/r.volume/local_proto.h
  raster/r.volume/main.c
  raster/r.volume/r.volume.md
  raster/r.volume/testsuite/test_r_volume.py
Labels: gsoc, raster, Python, C, module, docs, markdown, tests, CMake

#6046 i.colors.enhance: add test file
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
Labels: Python, module, imagery, tests

#6045 g.ppmtopng: Fix unchecked return value in main.c
  general/g.ppmtopng/main.c
Labels: C, module, general

#6052 db.connect: Add test file
  db/db.connect/testsuite/test_db_connect.py
Labels: Python, database, module, tests

#6050 v.build.polylines: Added test for merging and category handling
  vector/v.build.polylines/tests/test_v_build_polylines.py
Labels: vector, Python, module, tests

#6034 doc: Remove URL param from standard options doc generator
  man/parser_standard_options.py
Labels: Python, docs

#6070 CQ: Replace crlf check with validation against an .editorconfig file
  .editorconfig
  .github/workflows/.editorconfig
  .github/workflows/additional_checks.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: CI

#6066 r.regression.multi: Add test file
  raster/r.regression.multi/testsuite/test_rregression_multi.py
Labels: raster, Python, module, tests

#6053 m.measure: Add JSON support
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  lib/external/parson/test/test_gjson_lib.h
  lib/external/parson/test/test_parson_wrapper.c
  misc/CMakeLists.txt
  misc/m.measure/Makefile
  misc/m.measure/m.measure.md
  misc/m.measure/main.c
  misc/m.measure/testsuite/test_m_measure.py
Labels: Python, C, libraries, module, docs, markdown, tests, misc, CMake

#6068 r.volume: fix -p flag behavior
  raster/r.volume/main.c
  raster/r.volume/r.volume.md
Labels: raster, C, module, docs, markdown

#6074 i.tasscap: add test file
  scripts/i.tasscap/testsuite/test_i_tasscap.py
Labels: Python, module, imagery, tests

#6042 db.columns: Add JSON support
  db/CMakeLists.txt
  db/db.columns/Makefile
  db/db.columns/db.columns.md
  db/db.columns/main.c
  db/db.columns/testsuite/test_dbcolumns.py
Labels: gsoc, Python, C, database, module, docs, markdown, tests, CMake

#6075 r.regression.multi: Add JSON support
  raster/CMakeLists.txt
  raster/r.regression.multi/Makefile
  raster/r.regression.multi/main.c
  raster/r.regression.multi/r.regression.multi.md
  raster/r.regression.multi/testsuite/test_rregression_multi.py
Labels: raster, Python, C, module, docs, markdown, tests, CMake

#6018 v.univar: harmonize vector univariate stats API and JSON
  scripts/db.univar/db.univar.md
  scripts/db.univar/db.univar.py
  scripts/v.db.univar/v.db.univar.md
  scripts/v.db.univar/v.db.univar.py
  vector/v.univar/main.c
Labels: vector, Python, C, database, module, docs, markdown

#6095 CQ: Trim one trailing whitespace in python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/lex.py
Labels: Python, libraries

#6087 r.mapcalc: remove static variables from mode and median to fix parallelization
  lib/calc/xmedian.c
  lib/calc/xmode.c
  lib/calc/xnmedian.c
  lib/calc/xnmode.c
  raster/r.mapcalc/testsuite/test_median_mode.py
Labels: raster, Python, C, libraries, module, tests

#6063 lib/pngdriver: Fix Resource Leak Issue in graph_set.c
  lib/pngdriver/graph_set.c
Labels: C, libraries

#6092 CI(docs): Generate Programmer's Manual with Doxygen in CI
  .github/workflows/documentation.yml
Labels: CI

#6101 grass.app: Use None as default value, hide os.environ
  python/grass/app/runtime.py
Labels: Python, libraries

#5915 lib/vector/Vlib: Fix Resource Leak Issue in dbcolumns.c
  lib/vector/Vlib/dbcolumns.c
Labels: vector, C, libraries

#6107 r.fill.dir: Fix Copy into Buffer Size issues in main.c
  raster/r.fill.dir/main.c
Labels: raster, C, module

#6091 g.findfile: Add JSON support
  general/CMakeLists.txt
  general/g.findfile/Makefile
  general/g.findfile/g.findfile.md
  general/g.findfile/main.c
  general/g.findfile/tests/test_g_findfile.py
  python/grass/script/core.py
Labels: Python, C, libraries, module, docs, markdown, general, tests, CMake

#5948 i.cca: fix indexing, buffer size issues and matrix computation
  imagery/i.cca/main.c
  imagery/i.cca/stats.c
  imagery/i.cca/testsuite/test_i_cca.py
  imagery/i.cca/transform.c
Labels: Python, C, module, imagery, tests

#6071 v.class: Added test cases
  vector/v.class/tests/test_v_class.py
Labels: vector, Python, module, tests

#6117 r3.cross.rast: add test file
  raster3d/r3.cross.rast/testsuite/test_r3_cross_rast.py
Labels: Python, module, tests, raster3d

#6123 CI: Fix labeler permissions to create labels
  .github/workflows/label.yml
Labels: CI

#5742 r.mapcalc: Support parallel computing by OpenMP
  raster/r.mapcalc/CMakeLists.txt
  raster/r.mapcalc/Makefile
  raster/r.mapcalc/benchmark/benchmark_rmapcalc.py
  raster/r.mapcalc/evaluate.c
  raster/r.mapcalc/expression.h
  raster/r.mapcalc/globals.h
  raster/r.mapcalc/main.c
  raster/r.mapcalc/map.c
  raster/r.mapcalc/map3.c
  raster/r.mapcalc/mapcalc.h
  raster/r.mapcalc/r.mapcalc.md
  raster/r.mapcalc/r_mapcalc_benchmark_time.png
  raster/r.mapcalc/testsuite/test_nmedian_bug_3296.py
  raster/r.mapcalc/testsuite/test_r_mapcalc_parallel.py
  raster/r.mapcalc/xarea.c
  raster/r.mapcalc/xcoor.c
  raster/r.mapcalc/xcoor3.c
  raster/r.mapcalc/xrowcol.c
Labels: raster, Python, C, module, docs, markdown, tests, CMake

#6125 grass.gunittest: Fix typo in function `TestCase.assertVectorsNoAreaDifference()` for `_compute_vector_xor`
  python/grass/gunittest/case.py
Labels: Python, libraries

#6015 grass.tools: Add Tools API to generated tools doc
  lib/gis/parser_local_proto.h
  lib/gis/parser_md.c
  lib/gis/parser_md_python.c
Labels: manual, C, libraries, docs

#6129 docs: Fix Doxygen warnings due to invalid docstring syntax or missing tags (part 2)
  db/drivers/ogr/describe.c
  lib/db/dbmi_client/select.c
  lib/gis/make_loc.c
  lib/gis/open_misc.c
  lib/gmath/la.c
  lib/gpde/n_gwflow.c
  lib/gpde/n_les_assemble.c
  lib/imagery/group.c
  lib/imagery/iscatt_core.c
  lib/imagery/iscatt_structs.c
  lib/imagery/manage_signatures.c
  lib/imagery/sig.c
  lib/imagery/sigset.c
  lib/nviz/map_obj.c
  lib/nviz/render.c
  lib/ogsf/gk.c
  lib/ogsf/gk2.c
  lib/ogsf/gp2.c
  lib/ogsf/gs.c
  lib/ogsf/gs2.c
  lib/ogsf/gs_bm.c
  lib/ogsf/gs_util.c
  lib/ogsf/gsd_cplane.c
  lib/ogsf/gsd_objs.c
  lib/ogsf/gsx.c
  lib/ogsf/gv2.c
  lib/ogsf/gv3.c
  lib/ogsf/gvl.c
  lib/ogsf/gvl2.c
  lib/ogsf/gvl_calc.c
  lib/ogsf/gvl_file.c
  lib/proj/get_proj.c
  lib/raster/histogram.c
  lib/raster/quant.c
  lib/raster/quant_rw.c
  lib/raster3d/history.c
  lib/raster3d/mask.c
  lib/raster3d/open2.c
  lib/rst/interp_float/func2d.c
  lib/vector/Vlib/geos_to_wktb.c
  lib/vector/Vlib/open.c
  lib/vector/Vlib/read_nat.c
  lib/vector/Vlib/simple_features.c
  lib/vector/Vlib/write_nat.c
  lib/vector/diglib/plus_line.c
  lib/vector/diglib/struct_alloc.c
  lib/vector/neta/spanningtree.c
  lib/vector/neta/timetables.c
  lib/vector/vedit/move.c
Labels: vector, raster, C, database, libraries, module, imagery, raster3d

#6143 grass.tools: Rename tool name parameter
  python/grass/tools/session_tools.py
Labels: Python, libraries

#6141 r3.gwflow: add test file
  raster3d/r3.gwflow/testsuite/test_r3_gwflow.py
Labels: Python, module, tests, raster3d

#6127 CI(docs): Enable bzlib, openmp, pthread, and readline support in build for doxygen docs
  .github/workflows/documentation.yml
Labels: CI

#6111 doc: Replace grass.script by grass.tools
  doc/interfaces_overview.md
  doc/jupyter_intro.md
  doc/python_intro.md
  python/grass/docs/conf.py
  python/grass/docs/src/index.rst
Labels: Python, libraries, docs, markdown
