Repository OSGeo/grass, pull requests merged in 2025-09, with the labels that each got.

#6294 style: Enable PLW1514 and fix issues in gunittest files
  pyproject.toml
  python/grass/gunittest/invoker.py
  python/grass/gunittest/main.py
  python/grass/gunittest/multireport.py
  python/grass/gunittest/reporters.py
  python/grass/gunittest/utils.py
Labels: Python, libraries

#6252 v.what: Update JSON output format
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  lib/external/parson/test/test_parson_wrapper.c
  vector/CMakeLists.txt
  vector/v.what/Makefile
  vector/v.what/main.c
  vector/v.what/testsuite/test_v_what_output.py
  vector/v.what/testsuite/test_vwhat_layers.py
  vector/v.what/testsuite/test_vwhat_ncspm.py
  vector/v.what/v.what.md
  vector/v.what/what.c
  vector/v.what/what.h
Labels: vector, Python, C, libraries, module, docs, markdown, tests, CMake

#6276 ctypesgen: add MSVC compiler support to ctypesgen parser
  python/libgrass_interface_generator/ctypesgen/parser/pplexer.py
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Labels: windows, Python, libraries

#6222 v.external.out: Fix Resource Leak Issue in list.c
  vector/v.external.out/list.c
Labels: vector, C, module

#6304 docs: fix testing default value in parser
  lib/gis/parser_md_cli.c
  lib/gis/parser_md_python.c
Labels: bug, C, libraries

#6274 lib/gpde: Fix Resource Leak Issue in n_les_assemble.c
  lib/gpde/n_les_assemble.c
Labels: C, libraries

#6279 r.li.daemon: Fix Dereference before null check issue in list.c
  raster/r.li/r.li.daemon/list.c
Labels: raster, C, module

#6306 v.what: Fix label for -j with deprecated
  vector/v.what/main.c
Labels: vector, C, module

#6277 r.out.mpeg: Fix unchecked return value from library
  raster/r.out.mpeg/main.c
  raster/r.out.mpeg/write.c
Labels: raster, C, module

#5878 grass.tools: Add NumPy arrays IO to Tools
  lib/gis/parser_md_python.c
  python/grass/benchmark/runners.py
  python/grass/tools/benchmark/benchmark_grass_tools_numpy.py
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_numpy_test.py
Labels: enhancement, Python, C, libraries, tests

#6206 d.histogram: Fix Copy Buffer Size issue
  display/d.histogram/bar.c
Labels: C, module, display

#6303 v.out.ogr: fix fast method with no attributes
  vector/v.out.ogr/export_areas_fast.c
  vector/v.out.ogr/testsuite/test_v_out_ogr.py
Labels: vector, Python, C, module, tests

#6260 lib/vector: remove writing trailing spaces in ASCII format
  lib/vector/Vlib/ascii.c
  python/grass/gunittest/case.py
  python/grass/gunittest/testsuite/test_assertions_vect.py
Labels: bug, vector, Python, C, libraries, tests

#6328 v.out.ogr: free allocated line_cats structure
  vector/v.out.ogr/export_areas_fast.c
Labels: vector, C, module

#6314 grass.jupyter: Use grass.tools for running and attributes in Map
  python/grass/jupyter/map.py
  python/grass/jupyter/tests/conftest.py
  python/grass/jupyter/tests/grass_jupyter_map_numpy_test.py
  python/grass/jupyter/tests/grass_jupyter_map_test.py
  python/grass/jupyter/testsuite/map_test.py
  python/grass/jupyter/utils.py
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
Labels: Python, libraries, tests, notebook

#6311 grass.tools: add __iter__ to result object to streamline reading into pandas dataframe
  python/grass/tools/support.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Labels: Python, libraries, tests

#6371 ctypesgen: Add /Zc:preprocessor flag for MSVC compiler in ctypesgen preprocessor
  python/libgrass_interface_generator/ctypesgen/parser/preprocessor.py
Labels: Python, libraries

#6289 Windows: Add Jupyter dependencies to GRASS daily builds
  mswindows/osgeo4w/setup.hint.tmpl
Labels: windows

#6374 CMake: Add -Imsvc for ctypesgen
  python/libgrass_interface_generator/CMakeLists.txt
Labels: libraries, CMake

#6387 wxGUI/main_window: fix displaying save workspace dialog before close workspace action
  gui/wxpython/main_window/frame.py
Labels: bug, GUI, Python

#6359 r.contour: Fix Resource Leak Issue in cont.c
  raster/r.contour/cont.c
Labels: raster, C, module

#6343 lib/vector/Vlib: Fix Unchecked return value from library in snap.c
  lib/vector/Vlib/snap.c
Labels: vector, C, libraries

#6336 r.gwflow: Fix Dereference before Null Check issue in main.c
  raster/r.gwflow/main.c
Labels: raster, C, module

#6147 r.geomorphon: Fix Uninitialized Variable Issue in pattern.c
  raster/r.geomorphon/pattern.c
Labels: raster, C, module

#6397 v.surf.idw: improve user messages
  vector/v.surf.idw/main.c
  vector/v.surf.idw/read_sites.c
Labels: enhancement, vector, C, module

#6346 r.pack: Replace traceback by error message for output issues
  scripts/conftest.py
  scripts/r.pack/r.pack.py
  scripts/r.pack/tests/r_pack_test.py
Labels: raster, Python, module, tests

#6385 r.distance: Fix Resource Leak Issue in report.c
  raster/r.distance/report.c
Labels: raster, C, module

#6330 lib: Fix Copy into fixed buffer size issues in table.c
  lib/db/dbmi_client/table.c
Labels: C, database, libraries

#6360 v.segment: Fix Resource Leak Issue in main.c
  vector/v.segment/main.c
Labels: vector, C, module

#6351 lib/vector/Vlib: Fix Resource Leak issue
  lib/vector/Vlib/cats.c
Labels: vector, C, libraries

#6404 CI: minimalistic flake8 backport to re-enable pre-commit and CI
  .flake8
  .pre-commit-config.yaml
  raster/r.geomorphon/r.geomorphon.html
Labels: CI, raster, HTML, module, docs

#6409 doc: missing import in jupyter doc
  doc/jupyter_intro.md
Labels: docs, markdown

#6358 r.fill.dir: Fix Resource Leak Issue in dopolys.c and filldir.c
  raster/r.fill.dir/dopolys.c
  raster/r.fill.dir/filldir.c
Labels: raster, C, module

#6354 lib/nviz: Fix Resource Leak issue in nviz.c
  lib/nviz/nviz.c
Labels: C, libraries

#6423 v.extract: Fix Resource Leak Issue in extract.c
  vector/v.extract/extract.c
Labels: vector, C, module

#6406 v.overlay: preserve SQL type text
  vector/v.overlay/main.c
Labels: bug, vector, C, module, backport to 8.4

#6202 db.drivers: Fix Resource Leak Issue in execute.c
  db/drivers/ogr/execute.c
Labels: C, database, module

#6407 g.region: Output CRS info in JSON
  general/g.region/printwindow.c
  general/g.region/tests/g_region_crs_test.py
  general/g.region/testsuite/test_g_region.py
  lib/external/parson/gjson.c
  lib/external/parson/gjson.h
  scripts/r.pack/r.pack.py
  scripts/r.pack/tests/r_pack_test.py
Labels: raster, Python, C, libraries, module, general, tests

#6392 doc: new documentation of projects and mapsets
  doc/Makefile
  doc/create_new_project_gui.png
  doc/grass_projects.md
  doc/project.png
  doc/project.svg
  gui/wxpython/datacatalog/infomanager.py
  lib/init/helptext.md
  man/mkdocs/index.md
  man/mkdocs/mkdocs.yml
Labels: GUI, Python, libraries, docs, markdown
