Repository OSGeo/grass, pull requests merged in 2025-08, with the labels that each got.

#6150 r.distance: Update existing test cases
  raster/r.distance/testsuite/test_distance.py
Labels: raster, Python, module, tests

#6161 wxGUI/dbmgr: calculate column statistics for SQL filtered or interactively selected rows
  gui/wxpython/dbmgr/base.py
Labels: enhancement, GUI, Python

#6165 wxGUI/dbmgr: fix Edit selected record dialog date column type TextCtrl widget validator/hint
  gui/wxpython/dbmgr/dialogs.py
Labels: bug, GUI, Python, backport to 8.4

#6189 Translations update from OSGeo Weblate
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Labels: translation

#6102 lib/imagery: Fix Resource Leak Issue in iscatt_core.c
  lib/imagery/iscatt_core.c
Labels: C, libraries, imagery

#4499 i.smap: fix possible pole error with log in extract function
  imagery/i.smap/model.c
Labels: C, module, imagery

#6193 wxGUI: fix URL of gismentors.zip data file
  gui/wxpython/startup/locdownload.py
Labels: GUI, Python, backport to 8.4

#6173 lib/vector/Vlib: Fix Resource Leak Issue in dangles.c
  lib/vector/Vlib/dangles.c
Labels: vector, C, libraries

#6174 lib/vector/Vlib: Fix Uninitialized Variable issue in buffer2.c
  lib/vector/Vlib/buffer2.c
Labels: vector, C, libraries

#6196 grass.gunittest: Solve ResourceWarning in gs.parser() coming from sys.stdout
  python/grass/script/core.py
Labels: Python, libraries

#6199 grass.script.core: Use context manager for Popen call in call() function
  python/grass/script/core.py
Labels: Python, libraries

#6205 v.class: Add more test cases and fix out-of-bounds bug
  vector/v.class/main.c
  vector/v.class/tests/test_v_class.py
  vector/v.class/v.class.md
Labels: vector, Python, C, module, docs, markdown, tests

#6148 grass.tools: Use Tools in v.dissolve
  scripts/v.dissolve/v.dissolve.py
Labels: vector, Python, module

#6198 grass.gunittest: Use context manager for Popen calls in gunittest
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/reporters.py
  python/grass/script/core.py
Labels: Python, libraries

#6194 grass.gunittest: Remove Python2-only `-tt` interpreter option
  python/grass/gunittest/invoker.py
  python/grass/gunittest/multirunner.py
Labels: Python, libraries

#6145 r.profile: Add CSV support
  raster/r.profile/local_proto.h
  raster/r.profile/main.c
  raster/r.profile/read_rast.c
  raster/r.profile/testsuite/test_profile_ncspm.py
Labels: raster, Python, C, module, tests

#6200 grass.gunittest: Sync with unittest from Python 3.9
  python/grass/gunittest/Makefile
  python/grass/gunittest/case.py
  python/grass/gunittest/main.py
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
  python/grass/gunittest/utils.py
Labels: Python, libraries

#6105 v.colors: Add tests
  vector/v.colors/tests/test_v_colors.py
Labels: vector, Python, module, tests

#6237 r.mapcalc: Fix OpenMP C3015 error in evaluate.c on MSVC
  raster/r.mapcalc/evaluate.c
Labels: windows, raster, C, module

#6132 v.category: Use CSV format instead of shell format
  vector/v.category/main.c
  vector/v.category/testsuite/test_v_category.py
Labels: vector, Python, C, module, tests

#6207 v.surf.bspline: Fix Uninitialized Variable Issue in main.c
  vector/v.surf.bspline/main.c
Labels: vector, C, module

#6244 v.edit: Clarify cats and layer use, add tests
  vector/conftest.py
  vector/v.edit/tests/v_edit_test.py
  vector/v.edit/v.edit.md
Labels: vector, Python, module, docs, markdown, tests

#6209 v.lrs: Fix Resource Leak Issue in lrs.c
  vector/v.lrs/lib/lrs.c
Labels: vector, C, module

#6203 lib/gis: Fix Uninitialized Variable Issue in error.c
  lib/gis/error.c
Labels: C, libraries

#6168 r3.gwflow: fix segmentation fault
  raster3d/r3.gwflow/main.c
Labels: C, module, raster3d

#6243 v.category: return json array for layers option
  vector/v.category/main.c
  vector/v.category/testsuite/test_v_category.py
Labels: vector, Python, C, module, tests

#6240 v.colors: fix colors returning to default when using another mapset
  lib/vector/Vlib/color_read.c
Labels: vector, C, libraries

#6264 doc: Use CRS instead of SRS
  raster/r.external/proj.c
  raster/r.in.gdal/proj.c
  scripts/r.in.wms/wms_base.py
  vector/v.external/proj.c
  vector/v.in.ogr/proj.c
Labels: vector, raster, Python, C, module

#6256 grass.gunittest: Inherit more from unittest classes
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
Labels: Python, libraries

#6265 gui: fix editing categories in vdigit
  gui/wxpython/vdigit/dialogs.py
Labels: bug, GUI, Python

#6268 grass.script: add Activate and Deactivate methods to RegionManager and MaskManager
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_mask_test.py
  python/grass/script/tests/grass_script_raster_region_test.py
Labels: Python, libraries, tests

#6275 grass.exceptions: make CalledModuleError pickleable for multiprocessing
  python/grass/exceptions/__init__.py
Labels: Python, libraries

#6292 CI: Do not persist credentials on checkout when not needed
  .github/workflows/additional_checks.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverity.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/gcc.yml
  .github/workflows/macos.yml
  .github/workflows/macos_distribute_app.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/periodic_update.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/super-linter.yml
  .github/workflows/test-nix.yml
  .github/workflows/titles.yml
  .github/workflows/ubuntu.yml
Labels: windows, macOS, CI, nix
