Repository OSGeo/grass, pull requests merged in 2025-04, with the labels that each got.

#5463 wxGUI: Fix SIM115: Use context managers for file operations in photo2image
  gui/wxpython/photo2image/ip2i_manager.py
  pyproject.toml
Labels: GUI, Python

#5303 v.in.ogr: Fix Resource Leak issue in proj.c
  vector/v.in.ogr/proj.c
Labels: vector, C, module

#5448 v.external: Fix Resource Leak Issue in proj.c
  vector/v.external/proj.c
Labels: vector, C, module

#5449 r.external: Fix Resource Leak issue in proj.c
  raster/r.external/proj.c
Labels: raster, C, module

#5398 lib/raster: Fix Resource Leak issue in cats.c
  lib/raster/cats.c
  lib/raster/color_rule.c
  lib/raster/format.c
Labels: raster, C, libraries

#5407 lib/raster: Fix Resource Leak Issue in range.c
  lib/raster/range.c
Labels: raster, C, libraries

#5419 g.proj: Add JSON support
  general/CMakeLists.txt
  general/g.proj/Makefile
  general/g.proj/g.proj.md
  general/g.proj/local_proto.h
  general/g.proj/main.c
  general/g.proj/output.c
  general/g.proj/testsuite/test_g_proj.py
Labels: Python, C, module, docs, markdown, general, tests, CMake

#5452 doc: Improve jupyter notebook documentation
  doc/Makefile
  doc/jupyter_3d_map.png
  doc/jupyter_get_started.md
  doc/jupyter_interactive_map.png
  doc/jupyter_intro.md
  doc/jupyter_intro_images.ipynb
  doc/jupyter_map.png
  doc/jupyter_series_map.png
  doc/jupyter_timeseries_map.png
  man/Makefile
  man/mkdocs/docs/jupyter_intro.md
  man/mkdocs/mkdocs.yml
Labels: docs, markdown, notebook

#5461 wxGUI: Fix PTH208 use pathlib Path instead of os module
  gui/wxpython/icons/grass_icons.py
  pyproject.toml
Labels: GUI, Python

#5471 docs: Use GRASS, tools, and no generic headers
  man/Makefile
  man/build.py
  man/build_class.py
  man/build_class_graphical.py
  man/build_full_index.py
  man/build_graphical_index.py
  man/build_index.py
  man/build_keywords.py
  man/build_manual_gallery.py
  man/build_md.py
  man/build_topics.py
  man/grassdocs.css
  man/sphinx/conf.py
Labels: Python, CSS, docs

#5484 g.remove: improve user message to contain more details
  general/g.remove/main.c
Labels: manual, C, module, general

#5465 wxGUI: Fix SIM115: Use context manager for file operations in psmap module
  gui/wxpython/psmap/instructions.py
  pyproject.toml
Labels: GUI, Python

#5457 doc: update markdown file
  imagery/i.signatures/i.signatures.md
Labels: module, docs, markdown, imagery

#5402 i.albedo: Add test file
  imagery/i.albedo/testsuite/test_i_albedo.py
Labels: Python, module, imagery, tests

#5493 CQ: remove misused gisprompt options
  imagery/i.aster.toar/main.c
  imagery/i.eb.hsebal01/main.c
  temporal/t.rast.accdetect/t.rast.accdetect.py
  temporal/t.rast.accumulate/t.rast.accumulate.py
  temporal/t.rast.aggregate.ds/t.rast.aggregate.ds.py
  temporal/t.rast.aggregate/t.rast.aggregate.py
  temporal/t.rast.extract/t.rast.extract.py
  temporal/t.rast.gapfill/t.rast.gapfill.py
  temporal/t.rast.import/t.rast.import.py
  temporal/t.rast.neighbors/t.rast.neighbors.py
  temporal/t.rast3d.mapcalc/t.rast3d.mapcalc.py
  temporal/t.vect.extract/t.vect.extract.py
  vector/v.label.sa/main.c
Labels: vector, temporal, Python, C, module, imagery

#5488 d.histogram: Fix Uninitialized Variable in pie.c
  display/d.histogram/pie.c
Labels: C, module, display

#5499 Translations update from OSGeo Weblate
  locale/po/grassmods_it.po
  locale/po/grasswxpy_it.po
Labels: translation

#5438 r.out.ascii: added test cases for the module
  raster/r.out.ascii/tests/test_r_out_ascii.py
Labels: raster, Python, module, tests

#5495 lib/vector/Vlib: Fix Resource Leak Issue in box.c
  lib/vector/Vlib/box.c
Labels: vector, C, libraries

#5422 r.fill.dir: avoid null pointer dereferences
  raster/r.fill.dir/ppupdate.c
Labels: raster, C, module

#5462 wxGUI: Fix PTH208/SIM115: Use Path.iterdir and context managers in image2target
  gui/wxpython/image2target/ii2t_manager.py
  pyproject.toml
Labels: GUI, Python

#5505 r.series: Say pipe in addition to showing the symbol
  raster/r.series/main.c
Labels: raster, C, module

#5503 r.slope.aspect: Use parser function to specify required parameters
  raster/r.slope.aspect/main.c
Labels: raster, C, module

#5482 init: Add typing annotations where appropriate
  lib/init/grass.py
Labels: Python, libraries

#5496 r.out.vtk: Fix Resource Leak Issue in writeascii.c
  raster/r.out.vtk/writeascii.c
Labels: raster, C, module

#5512 db.drivers: Fix Resource Leak Issue in select.c
  db/drivers/sqlite/select.c
Labels: C, database, module

#5510 CI: Run pre-commit in CI when config files or workflows change
  .github/workflows/additional_checks.yml
  mswindows/external/rbatch/el.js
Labels: windows, CI, JavaScript

#5533 g.search.modules: style: Fix SIM115: Use context manager for file operations
  pyproject.toml
  scripts/g.search.modules/g.search.modules.py
Labels: Python, module, general

#5536 db.univar: Fix SIM115: Use context managers for file operations
  pyproject.toml
  scripts/db.univar/db.univar.py
Labels: Python, database, module

#5535 g.extension: Fix PTH208: Replace os.listdir with pathlib in testsuite
  pyproject.toml
  scripts/g.extension/testsuite/test_addons_modules.py
Labels: Python, module, general, tests

#5537 db.in.ogr: Fix SIM115: Use context managers for file operations
  pyproject.toml
  scripts/db.in.ogr/db.in.ogr.py
Labels: Python, database, module

#5525 docs: Use Documentation instead of Reference Manual
  .github/workflows/documentation.yml
  doc/grass_database.md
  doc/projectionintro.md
  gui/wxpython/docs/wxgui_sphinx/conf.py
  lib/init/helptext.md
  man/Makefile
  man/build_graphical_index.py
  man/build_md.py
  man/build_topics.py
  mswindows/GRASS-Installer.nsi.tmpl
  python/grass/docs/conf.py
Labels: windows, GUI, CI, Python, libraries, docs, markdown

#5526 doc: improve python intro
  doc/Makefile
  doc/interfaces_overview.md
  doc/jupyter_intro.md
  doc/python_intro.md
  man/Makefile
Labels: docs, markdown

#5528 docs: Added NSF funding to docs footer
  man/Makefile
  man/mkdocs/overrides/partials/copyright.html
Labels: HTML, docs

#5504 r.what.color: Use standard option for raster input
  raster/r.what.color/main.c
Labels: raster, C, module

#5483 i.aster.toar: add test file
  imagery/i.aster.toar/testsuite/test_i_aster_toar.py
Labels: Python, module, imagery, tests

#5552 i.smap: bug fix
  imagery/i.smap/testsuite/test_i_smap.py
Labels: Python, module, imagery, tests

#5544 CI(pytest): Refactor common pytest arguments to files
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_ci.txt
  .github/workflows/pytest_args_cov.txt
  .github/workflows/pytest_args_not_parallel.txt
  .github/workflows/pytest_args_parallel.txt
Labels: windows, macOS, CI

#5554 wxGUI: use context manager for file append in writeData() (SIM115)
  gui/wxpython/tools/update_menudata.py
  pyproject.toml
Labels: GUI, Python

#5556 lib/imagery: use context manager for file writes in tests (SIM115)
  lib/imagery/testsuite/test_imagery_signature_management.py
  pyproject.toml
Labels: Python, libraries, imagery, tests

#5555 wxGUI: use context manager for deleting file content in _setRevertCapFiles (SIM115)
  gui/wxpython/web_services/dialogs.py
  pyproject.toml
Labels: GUI, Python

#5515 v.info: Fix Resource Leak Issues
  vector/v.info/level1.c
  vector/v.info/print.c
Labels: vector, C, module

#5517 r.to.vect: Fix uninitialized variable issue in points.c
  raster/r.to.vect/points.c
Labels: raster, C, module

#5545 style: Fix raise-without-from-inside-except (B904) for pygrass Module
  python/grass/pygrass/modules/interface/module.py
Labels: Python, libraries

#5548 tests: Import CalledModuleError from grass.exceptions in test_names.py
  python/grass/script/testsuite/test_names.py
Labels: Python, libraries, tests

#5541 tests: Fix collection errors when importing tests have side effects
  python/grass/script/testsuite/test_script_raster.py
  raster/r.his/testsuite/test_r_his.py
  scripts/r.blend/testsuite/test_r_blend_quoting.py
  scripts/r.grow/testsuite/test_r_grow_quoting.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  temporal/t.rast.export/testsuite/test_rast_export.py
Labels: raster, temporal, Python, libraries, module, tests

#5560 man: Use context manager when opening image file
  man/build_manual_gallery.py
Labels: Python, docs

#5516 i.target: Add test file
  imagery/i.target/testsuite/test_i_target.py
Labels: Python, module, imagery, tests

#5551 i.evapo.pt: add test file
  imagery/i.evapo.pt/testsuite/test_i_evapo_pt.py
Labels: Python, module, imagery, tests

#5539 vector: Adding test cases for the module V.delaunay
  vector/v.delaunay/testsuite/v_delaunay_test.py
Labels: vector, Python, module, tests

#5563 i.evapo.time: Add test file
  imagery/i.evapo.time/testsuite/test_i_evapo_time.py
Labels: Python, module, imagery, tests

#5567 i.eb.eta: add test file
  imagery/i.eb.eta/testsuite/test_i_eb_eta.py
Labels: Python, module, imagery, tests

#5437 i.rgb.his: add test file
  imagery/i.rgb.his/testsuite/test_i_rgb_his.py
Labels: Python, module, imagery, tests

#5566 i.aster.toar: Fix Uninitialized Variable in gain_aster.c
  imagery/i.aster.toar/gain_aster.c
Labels: C, module, imagery

#5546 tests: Load "msvcrt" instead of "c" ctypes library on Windows
  imagery/i.maxlik/testsuite/test_i_maxlik.py
  lib/gis/testsuite/test_gis_lib_getl.py
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
Labels: Python, libraries, module, imagery, tests

#5564 r3.mkdspf: Fix copy into fixed buffer size issue in r3_find.c
  raster3d/r3.mkdspf/r3_find.c
Labels: C, module, raster3d

#5576 r.watershed: Fix Resource Leak issue in cseg_open.c
  raster/r.watershed/seg/cseg_open.c
Labels: raster, C, module

#5513 d.mon: Fix Resource Leak Issues
  display/d.mon/list.c
  display/d.mon/select.c
  display/d.mon/start.c
  display/d.mon/stop.c
Labels: C, module, display

#5529 lib/arraystats: re-enable "Discont" algorithm
  display/d.vect.thematic/main.c
  include/grass/defs/arraystats.h
  lib/arraystats/basic.c
  lib/arraystats/class.c
  vector/v.class/main.c
Labels: vector, C, libraries, module, display

#5581 grass.script: Reveal the failed type passed to decode
  python/grass/script/utils.py
Labels: Python, libraries

#5583 r.sim: fix division by zero
  raster/r.sim/simlib/hydro.c
Labels: raster, C, module

#5477 i.landsat.toar: Add test file
  imagery/i.landsat.toar/testsuite/test_i_landsat_toar.py
Labels: Python, module, imagery, tests

#5589 r.sim: remove nulls from the tests
  raster/r.sim/r.sim.sediment/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_erdep.pack
  raster/r.sim/r.sim.sediment/testsuite/data/reference_sedflux.pack
  raster/r.sim/r.sim.sediment/testsuite/test_r_sim_sediment.py
  raster/r.sim/r.sim.water/testsuite/data/depth_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/depth_default.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_complex.pack
  raster/r.sim/r.sim.water/testsuite/data/discharge_default.pack
  raster/r.sim/r.sim.water/testsuite/test_r_sim_water.py
Labels: raster, Python, module, tests

#5588 r.sim: more accurate estimation of iterations with null cells in region
  raster/r.sim/simlib/input.c
Labels: raster, C, module

#5591 grass.script: Add locking to init
  python/grass/app/data.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Labels: Python, libraries, tests

#5603 wxGUI/gconsole: avoid infinite GUI-in-GUI loops when running python scripts with no required params
  gui/wxpython/core/gconsole.py
Labels: GUI, Python

#5601 r.plane: remove misused gisprompt option
  scripts/r.plane/r.plane.py
Labels: bug, raster, Python, module, backport to 8.4

#5602 r.li: fix resource leak issues
  raster/r.li/r.li.cwed/cwed.c
  raster/r.li/r.li.daemon/avl.c
  raster/r.li/r.li.daemon/avlID.c
  raster/r.li/r.li.daemon/daemon.c
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.dominance/dominance.c
  raster/r.li/r.li.edgedensity/edgedensity.c
  raster/r.li/r.li.mpa/mpa.c
  raster/r.li/r.li.mps/mps.c
  raster/r.li/r.li.padcv/padcv.c
  raster/r.li/r.li.padrange/padrange.c
  raster/r.li/r.li.padsd/padsd.c
  raster/r.li/r.li.patchdensity/main.c
  raster/r.li/r.li.patchnum/main.c
  raster/r.li/r.li.pielou/pielou.c
  raster/r.li/r.li.renyi/renyi.c
  raster/r.li/r.li.richness/richness.c
  raster/r.li/r.li.shannon/shannon.c
  raster/r.li/r.li.shape/main.c
  raster/r.li/r.li.simpson/simpson.c
Labels: raster, C, module

#5590 grass.app: Add internal CLI with argparse subcommands
  python/grass/app/Makefile
  python/grass/app/__main__.py
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Labels: Python, libraries, tests

#5600 i.evapo.mh: fix radiation conversion factor
  imagery/i.evapo.mh/mh_eto.c
  imagery/i.evapo.mh/mh_original.c
  imagery/i.evapo.mh/mh_samani.c
Labels: C, module, imagery, backport to 8.4

#5605 r.li: only close files that are opened
  raster/r.li/r.li.daemon/worker.c
  raster/r.li/r.li.edgedensity/edgedensity.c
Labels: raster, C, module
