Repository OSGeo/grass, pull requests merged in 2025-02, with the labels that each got.

#5023 style: Use `ruff format` instead of `black .` for improved user experience
  .flake8
  .github/workflows/python-code-quality.yml
  .pre-commit-config.yaml
  general/g.version/tests/g_version_test.py
  gui/wxpython/core/settings.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/nviz/workspace.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/timeline/frame.py
  imagery/i.atcorr/create_iwave.py
  lib/init/grass.py
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_script_mapset_session_test.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/raster/category.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  raster/r.coin/tests/test_coin.py
  raster/r.colors.out/tests/r3_colors_out_test.py
  raster/r.colors.out/tests/r_colors_out_test.py
  scripts/g.extension/testsuite/test_addons_modules.py
  scripts/r.fillnulls/r.fillnulls.py
  scripts/r.pack/r.pack.py
  scripts/r.tileset/testsuite/test_r_tileset.py
  scripts/v.dissolve/tests/v_dissolve_aggregate_test.py
  scripts/v.dissolve/tests/v_dissolve_layers_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
  vector/v.colors.out/tests/v_colors_out_test.py
Labels: GUI, CI, vector, raster, temporal, Python, libraries, module, general, imagery, tests, notebook

#5028 v.to.3d: Fix Resource Leak issue in trans3.c
  vector/v.to.3d/trans3.c
Labels: vector, C, module

#5029 r.resamp.stats: Fix Resource Leak issue in main.c
  raster/r.resamp.stats/main.c
Labels: raster, C, module

#5018 python: Partial reverts to still have empty lists in certain situations, solve #5013
  gui/wxpython/gui_core/forms.py
  python/grass/grassdb/checks.py
Labels: GUI, Python, libraries

#4916 gui: Early exit from functions or loops
  gui/wxpython/animation/dialogs.py
  gui/wxpython/animation/nviztask.py
  gui/wxpython/animation/provider.py
  gui/wxpython/animation/utils.py
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/render.py
  gui/wxpython/core/toolboxes.py
  gui/wxpython/core/utils.py
  gui/wxpython/dbmgr/vinfo.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/location_wizard/dialogs.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/modules/import_export.py
  gui/wxpython/nviz/animation.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/nviz/wxnviz.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/psmap/utils.py
  gui/wxpython/rlisetup/sampling_frame.py
  gui/wxpython/startup/guiutils.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/dialogs.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/vdigit/wxdisplay.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  gui/wxpython/vnet/vnet_utils.py
  gui/wxpython/vnet/widgets.py
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/profile.py
Labels: GUI, Python

#4960 lib/vector/Vlib: Fix Resource Leak issue in open_ogr.c
  lib/vector/Vlib/open_ogr.c
Labels: vector, C, libraries

#5032 lib/nviz: Fix Resource Leak issue in exag.c
  lib/nviz/exag.c
Labels: C, libraries

#5033 d.vect.chart: Fix Resource Leak issue in plot.c
  display/d.vect.chart/plot.c
Labels: C, module, display

#5037 r.sim: fix turning off parallelization with mask on
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
Labels: raster, C, module, backport to 8.4

#5034 doc: Reword text to be less verbose in r.geomorphon
  raster/r.geomorphon/r.geomorphon.html
Labels: raster, HTML, module, docs

#5045 wxGUI: Update 'ScriptError' to be correctly imported from `grass.exceptions`
  gui/wxpython/animation/data.py
  gui/wxpython/animation/dialogs.py
  gui/wxpython/dbmgr/vinfo.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/vselect.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/psmap/utils.py
Labels: GUI, Python

#5041 manual: multi-tools lack short descriptions
  general/g.setproj/g.setproj.html
  raster/r.li/r.li.html
  vector/v.lrs/lrs.html
Labels: manual, vector, raster, HTML, module, docs, general, backport to 8.4

#5051 utils: Fixed ruff errors in utils/
  pyproject.toml
  utils/generate_release_notes.py
  utils/gitlog2changelog.py
  utils/thumbnails.py
Labels: Python

#5046 wxGUI: Fixed ruff error `PTH208` in datacatalog/
  gui/wxpython/datacatalog/catalog.py
  pyproject.toml
Labels: GUI, Python

#5052 r.sim: properly fix turning off parallelization with mask on
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
Labels: bug, raster, C, module

#5038 lib/vector/Vlib: Fix Resource Leak issue in net_build.c
  lib/vector/Vlib/net_build.c
Labels: vector, C, libraries

#5053 doc: fix various issues in html pages in preparation for markdown
  imagery/i.gensigset/i.gensigset.html
  imagery/i.landsat.toar/i.landsat.toar.html
  imagery/i.ortho.photo/i.ortho.init/i.ortho.init.html
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.html
  imagery/i.pca/i.pca.html
  raster/r.clump/r.clump.html
  raster/r.covar/r.covar.html
  raster/r.fill.stats/r.fill.stats.html
  raster/r.in.xyz/r.in.xyz.html
  raster/r.mapcalc/r.mapcalc.html
  scripts/g.download.project/g.download.project.html
  vector/v.decimate/v.decimate.html
  vector/v.lidar.correction/v.lidar.correction.html
  vector/v.lidar.edgedetection/v.lidar.edgedetection.html
  vector/v.lidar.growing/v.lidar.growing.html
  vector/vectorintro.html
  visualization/ximgview/ximgview.html
Labels: vector, raster, HTML, module, docs, general, imagery

#5059 doc: Remove extra space
  raster/r.geomorphon/r.geomorphon.html
Labels: raster, HTML, module, docs

#5056 doc: Hide only general and misc keywords in index
  man/build_keywords.py
Labels: Python, docs

#5060 doc: Fix parson lib test first keyword
  lib/external/parson/test/test_main.c
Labels: C, libraries

#5039 r.describe: initialize some variables
  raster/r.describe/describe.c
  raster/r.describe/dumplist.c
  raster/r.describe/local_proto.h
  raster/r.describe/main.c
Labels: raster, C, module

#5043 v.distance: initialize variable; remove unused variables
  vector/v.distance/distance.c
  vector/v.distance/local_proto.h
  vector/v.distance/main.c
  vector/v.distance/print.c
Labels: vector, C, module

#5042 g.proj: fix resource leaks
  general/g.proj/datumtrans.c
  general/g.proj/input.c
  general/g.proj/output.c
Labels: C, module, general

#5040 v.to.3d: initialize some variables
  vector/v.to.3d/trans3.c
Labels: vector, C, module

#5073 style: Ruff rules maintenance
  pyproject.toml
Labels: Python

#5074 CI: Run ruff format with file fixes for PR suggestions
  .github/workflows/python-code-quality.yml
Labels: CI

#5076 lib/raster: Fix Resource Leak issue in quant_io.c
  lib/raster/quant_io.c
Labels: raster, C, libraries

#4962 i.biomass: added test file for i.biomass module
  imagery/i.biomass/testsuite/test_i_biomass.py
Labels: Python, module, imagery, tests

#5031 style: Fix missing-f-string-syntax (RUF027)
  pyproject.toml
  python/grass/gunittest/checkers.py
  scripts/db.dropcolumn/db.dropcolumn.py
  scripts/r.rgb/r.rgb.py
  scripts/v.db.dropcolumn/v.db.dropcolumn.py
  scripts/v.in.wfs/v.in.wfs.py
Labels: vector, raster, Python, database, libraries, module

#5078 lib/vector/Vlib: Fix Resource leak issue in remove_areas.c
  lib/vector/Vlib/remove_areas.c
Labels: vector, C, libraries

#5077 raster/r.statistics: Fix Resource Leak issue in o_sdev.c , o_skew.c , o_var.c , o_kurt.c
  raster/r.statistics/o_kurt.c
  raster/r.statistics/o_sdev.c
  raster/r.statistics/o_skew.c
  raster/r.statistics/o_var.c
Labels: raster, C, module

#5044 r.sim: cleanup of global variables
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/erod.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/waterglobs.h
Labels: raster, C, module

#5048 doc: Enable Markdown doc compilation
  display/d.barscale/Makefile
  display/d.graph/Makefile
  display/d.northarrow/Makefile
  doc/Makefile
  gui/icons/Makefile
  gui/wxpython/docs/Makefile
  gui/wxpython/gmodeler/Makefile
  include/Make/DB.make
  include/Make/GuiScript.make
  include/Make/Html.make
  include/Make/Multi.make
  man/Makefile
  man/build_class_graphical.py
  man/build_graphical_index.py
  man/build_topics.py
  raster/Makefile
  raster/r.colors/Makefile
  scripts/g.extension/g.extension.py
  utils/mkdocs.py
  utils/thumbnails.py
Labels: GUI, raster, Python, module, docs, general, display

#4063 Translations update from OSGeo Weblate
  locale/po/grasslibs_fr.po
  locale/po/grassmods_fr.po
  locale/po/grasswxpy_fr.po
Labels: translation

#5089 docs: Added command to serve mkdocs locally
  man/Makefile
Labels: docs

#5095 docs: fix code snippet languages
  display/displaydrivers.md
  general/g.findfile/g.findfile.md
  general/g.parser/g.parser.md
  general/g.version/g.version.md
  lib/init/grass.md
  raster/r.category/r.category.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.info/r.info.md
  raster/r.mask.status/r.mask.status.md
  raster/r.object.geometry/r.object.geometry.md
  raster/r.profile/r.profile.md
  raster/r.report/r.report.md
  raster/r.solute.transport/r.solute.transport.md
  raster/r.sun/r.sun.md
  raster/r.univar/r.univar.md
  scripts/i.band.library/i.band.library.md
  temporal/t.rast.list/t.rast.list.md
  vector/v.db.select/v.db.select.md
  vector/v.distance/v.distance.md
  vector/v.info/v.info.md
  vector/v.univar/v.univar.md
Labels: vector, raster, temporal, libraries, module, docs, general, display, imagery

#5099 ci: Remove Travis-CI
  .dockerignore
  .github/labeler.yml
  .travis.yml
  .travis/linux.before_install.sh
  .travis/linux.install.sh
  .travis/linux.script.sh
  README.md
  doc/infrastructure.md
  python/grass/docs/src/gunittest_testing.rst
Labels: docker, CI, libraries, docs

#5100 docs: fix building markdown documentation
  general/g.region/g.region.md
  gui/wxpython/docs/wxGUI.iscatt.md
  imagery/i.gensigset/i.gensigset.md
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.surf.idw/r.surf.idw.md
  vector/v.label.sa/v.label.sa.md
  vector/v.random/v.random.md
Labels: GUI, vector, raster, module, docs, general, imagery

#5102 build: fix g.extension test
  utils/mkdocs.py
Labels: Python

#5094 docs: fix markdown image syntax in imagery, display, misc, ps tools and scripts
  display/d.geodesic/d.geodesic.md
  display/d.grid/d.grid.md
  display/d.histogram/d.histogram.md
  display/d.legend/d.legend.md
  display/d.mon/d.mon.md
  display/d.rast.num/d.rast.num.md
  display/d.rast/d.rast.md
  display/d.rgb/d.rgb.md
  display/d.vect.thematic/d.vect.thematic.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.md
  imagery/imageryintro.md
  misc/m.measure/m.measure.md
  ps/ps.map/ps.map.md
  scripts/d.correlate/d.correlate.md
  scripts/d.rast.edit/d.rast.edit.md
  scripts/i.pansharpen/i.pansharpen.md
  scripts/i.tasscap/i.tasscap.md
  scripts/r.blend/r.blend.md
  scripts/r.colors.stddev/r.colors.stddev.md
  scripts/r.drain/r.drain.md
  scripts/r.plane/r.plane.md
  scripts/v.centroids/v.centroids.md
  scripts/v.clip/v.clip.md
Labels: vector, raster, module, docs, display, imagery, misc

#5098 doc: Redefine r.mapcalc build deps for color table thumbnails
  raster/Makefile
  raster/r.colors/Makefile
Labels: bug, raster, module, docs

#5108 docker: pin gdal-grass version to 1.0.3; add cmake dep
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker, backport to 8.4

#5097 r.sim: fix newly reported coverity scan issues
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/input.c
Labels: raster, C, module

#5086 docs: fix markdown documentation of GUI tools
  gui/wxpython/animation/g.gui.animation.md
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/dbmgr/g.gui.dbmgr.md
  gui/wxpython/docs/wxGUI.iscatt.md
  gui/wxpython/docs/wxGUI.md
  gui/wxpython/docs/wxGUI.modules.md
  gui/wxpython/docs/wxGUI.nviz.md
  gui/wxpython/docs/wxGUI.toolboxes.md
  gui/wxpython/docs/wxGUI.vnet.md
  gui/wxpython/gcp/g.gui.gcp.md
  gui/wxpython/gmodeler/g.gui.gmodeler.md
  gui/wxpython/iclass/g.gui.iclass.md
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/mapswipe/g.gui.mapswipe.md
  gui/wxpython/photo2image/g.gui.photo2image.md
  gui/wxpython/psmap/g.gui.psmap.md
  gui/wxpython/rdigit/g.gui.rdigit.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/timeline/g.gui.timeline.md
  gui/wxpython/tplot/g.gui.tplot.md
  gui/wxpython/vdigit/g.gui.vdigit.md
Labels: GUI, docs

#5092 docs: fix markdown image syntax in raster tools
  raster/r.carve/r.carve.md
  raster/r.clump/r.clump.md
  raster/r.contour/r.contour.md
  raster/r.drain/r.drain.md
  raster/r.fill.stats/r.fill.stats.md
  raster/r.geomorphon/r.geomorphon.md
  raster/r.horizon/r.horizon.md
  raster/r.mfilter/r.mfilter.md
  raster/r.neighbors/r.neighbors.md
  raster/r.param.scale/r.param.scale.md
  raster/r.patch/r.patch.md
  raster/r.path/r.path.md
  raster/r.random.surface/r.random.surface.md
  raster/r.relief/r.relief.md
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.resamp.interp/r.resamp.interp.md
  raster/r.resamp.stats/r.resamp.stats.md
  raster/r.series/r.series.md
  raster/r.sim/r.sim.water/r.sim.water.md
  raster/r.slope.aspect/r.slope.aspect.md
  raster/r.stats.zonal/r.stats.zonal.md
  raster/r.surf.gauss/r.surf.gauss.md
  raster/r.surf.random/r.surf.random.md
  raster/r.terraflow/r.terraflow.md
  raster/r.texture/r.texture.md
  raster/r.topidx/r.topidx.md
  raster/r.univar/r.univar.md
  raster/r.viewshed/r.viewshed.md
  raster/r.volume/r.volume.md
  raster/r.walk/r.walk.md
  raster/r.watershed/front/r.watershed.md
Labels: raster, module, docs

#5093 docs: fix markdown image syntax in vector tools
  vector/v.buffer/v.buffer.md
  vector/v.fill.holes/v.fill.holes.md
  vector/v.generalize/v.generalize.md
  vector/v.kernel/v.kernel.md
  vector/v.net.alloc/v.net.alloc.md
  vector/v.net.distance/v.net.distance.md
  vector/v.net.iso/v.net.iso.md
  vector/v.net.path/v.net.path.md
  vector/v.net.salesman/v.net.salesman.md
  vector/v.net.steiner/v.net.steiner.md
  vector/v.overlay/v.overlay.md
  vector/v.perturb/v.perturb.md
  vector/v.random/v.random.md
  vector/v.surf.rst/v.surf.rst.md
  vector/v.to.rast/v.to.rast.md
Labels: vector, module, docs

#5066 GUI: prepare for markdown documentation
  gui/wxpython/gui_core/ghelp.py
Labels: GUI, Python

#5110 g.manual: use new markdown docs
  scripts/g.manual/g.manual.py
Labels: Python, module, general

#5109 lib/vector/Vlib: fix segfault introduced with #5038
  lib/vector/Vlib/net_build.c
Labels: bug, vector, C, libraries

#5026 r.fillnulls: Modified tests for r.fillnulls module
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
Labels: raster, Python, module, tests

#5111 docker: Fix git clone path in Dockerfile for gdal-grass
  docker/alpine/Dockerfile
Labels: docker, backport to 8.4

#5063 style: Fix SIM115: Simplify if statement in t.list and PTH201 in v.fill.holes
  pyproject.toml
  temporal/t.list/t.list.py
  vector/v.fill.holes/examples.ipynb
Labels: vector, temporal, Python, module, notebook

#5096 docs: Organized mkdocs file and nav
  man/mkdocs/mkdocs.yml
Labels: docs

#5115 docker: build gdal-grass with grass in working condition
  docker/alpine/Dockerfile
  docker/alpine/grass_tests.sh
Labels: docker

#3821 docker: Enable cache for Docker builds
  .github/workflows/docker.yml
Labels: CI

#5117 docker: move gdal-grass driver build stage after grass build relocation
  docker/alpine/Dockerfile
  docker/alpine/grass_tests.sh
Labels: docker

#5116 docs: fix markdown linting issues heading-increment and no-duplicate-heading
  .markdownlint.yml
  display/d.mon/d.mon.md
  imagery/i.ortho.photo/i.ortho.rectify/i.ortho.rectify.md
  imagery/i.vi/i.vi.md
  raster/r.regression.multi/r.regression.multi.md
  raster3d/r3.in.ascii/r3.in.ascii.md
  scripts/v.dissolve/v.dissolve.md
  temporal/t.rast.algebra/t.rast.algebra.md
  vector/v.clean/v.clean.md
  vector/v.label/v.label.md
  vector/v.net.iso/v.net.iso.md
  vector/v.outlier/v.outlier.md
  vector/v.transform/v.transform.md
Labels: vector, raster, temporal, module, docs, display, imagery, raster3d

#5126 CI: Fix Docker caching with GitHub Actions
  .github/workflows/docker.yml
Labels: CI

#5123 docker: gdal-grass autoconf workaround (G84)
  Dockerfile
  docker/alpine/Dockerfile
  docker/ubuntu/Dockerfile
Labels: docker, CI

#5112 lib/vector/Vlib: free allocated field_info and dbColumn objects (net_build.c)
  lib/vector/Vlib/net_build.c
Labels: vector, C, libraries

#5128 CI(Docker): Docker workflow improvements
  .github/workflows/docker.yml
Labels: CI

#5118 CI: add macOS app bundle distribution workflow
  .github/workflows/macos_distribute_app.yml
Labels: macOS, CI

#5137 docker: hardcode versioned GISBASE path on Alpine
  docker/alpine/Dockerfile
Labels: docker, backport to 8.4

#5136 gui(web_services): Fix not all arguments converted during string formatting
  gui/wxpython/web_services/dialogs.py
Labels: GUI, Python

#5062 style: Fixed context opening error in wxGUI/dbmgr
  gui/wxpython/dbmgr/base.py
  pyproject.toml
Labels: GUI, Python

#5120 docs: fixing no-inline-html liniting error, part 1
  display/d.graph/d.graph.md
  display/d.rhumbline/d.rhumbline.md
  display/d.text/d.text.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.cluster/i.cluster.md
  raster/r.buffer/r.buffer.md
  raster/r.cost/r.cost.md
  raster/r.grow.distance/r.grow.distance.md
  raster/r.gwflow/r.gwflow.md
  raster/r.lake/r.lake.md
  raster/r.li/r.li.cwed/r.li.cwed.md
  raster/r.slope.aspect/r.slope.aspect.md
  raster/r.stream.extract/r.stream.extract.md
  raster/r.terraflow/r.terraflow.md
  raster/r.texture/r.texture.md
  raster/r.to.rast3/r.to.rast3.md
  raster/r.to.rast3elev/r.to.rast3elev.md
  raster/r.walk/r.walk.md
  raster/r.water.outlet/r.water.outlet.md
  raster/r.watershed/front/r.watershed.md
  raster3d/r3.cross.rast/r3.cross.rast.md
  raster3d/r3.in.ascii/r3.in.ascii.md
  raster3d/r3.out.ascii/r3.out.ascii.md
  raster3d/r3.to.rast/r3.to.rast.md
  raster3d/raster3dintro.md
  scripts/i.spectral/i.spectral.md
  scripts/r.in.wms/r.in.wms.md
  scripts/r.mapcalc.simple/r.mapcalc.simple.md
  scripts/r.reclass.area/r.reclass.area.md
  vector/v.buffer/v.buffer.md
  vector/v.clean/v.clean.md
  vector/v.delaunay/v.delaunay.md
  vector/v.hull/v.hull.md
  vector/v.label/v.label.md
  vector/v.random/v.random.md
  vector/v.surf.rst/v.surf.rst.md
  vector/v.to.rast3/v.to.rast3.md
  vector/v.voronoi/v.voronoi.md
Labels: vector, raster, libraries, module, docs, display, imagery, raster3d

#5141 g.extension: fix installing addons, broke after markdown docs transition
  scripts/g.extension/g.extension.py
Labels: bug, Python, module, general

#5114 docs: mkdocs edit and view on github
  man/Makefile
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/actions.html
  man/mkdocs/scripts/hook_list_scripts.py
Labels: Python, HTML, docs

#5140 docs: fix no-emphasis-as-heading in markdown files
  .markdownlint.yml
  general/g.proj/g.proj.md
  general/g.setproj/g.setproj.md
  gui/wxpython/docs/wxGUI.md
  gui/wxpython/docs/wxGUI.nviz.md
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  imagery/i.atcorr/i.atcorr.md
  imagery/imageryintro.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.mfilter/r.mfilter.md
  raster/r.neighbors/r.neighbors.md
  raster/r.out.vtk/r.out.vtk.md
  raster/r.proj/r.proj.md
  raster/r.series/r.series.md
  scripts/g.extension/testsuite/data/sample_modules/r.plus.example/r.plus.example.md
  temporal/t.rast.algebra/t.rast.algebra.md
  vector/v.clean/v.clean.md
  vector/v.proj/v.proj.md
Labels: GUI, vector, raster, temporal, module, docs, general, imagery, tests

#5138 r.in.srtm: Fixed SIM115, FURB103, FLY002 by adding context manager, f-strings
  pyproject.toml
  scripts/r.in.srtm/r.in.srtm.py
Labels: raster, Python, module

#5147 docs: fix missed MD051/link-fragments
  raster/r.cost/r.cost.md
  raster/r.walk/r.walk.md
  vector/v.label/v.label.md
Labels: vector, raster, module, docs

#5148 docs: fix no-inline-html (span tag only)
  general/g.region/g.region.md
  imagery/i.gensig/i.gensig.md
  imagery/i.gensigset/i.gensigset.md
  ps/ps.map/ps.map.md
  raster/r.li/r.li.dominance/r.li.dominance.md
  raster/r.li/r.li.edgedensity/r.li.edgedensity.md
  raster/r.li/r.li.mpa/r.li.mpa.md
  raster/r.li/r.li.padcv/r.li.padcv.md
  raster/r.li/r.li.padrange/r.li.padrange.md
  raster/r.li/r.li.padsd/r.li.padsd.md
  raster/r.li/r.li.renyi/r.li.renyi.md
  raster/r.li/r.li.shannon/r.li.shannon.md
  raster/r.li/r.li.simpson/r.li.simpson.md
Labels: raster, module, docs, general, imagery

#5149 docs: fix remaining no-inline-html
  .markdownlint.yml
  display/d.rast.arrow/d.rast.arrow.md
  imagery/i.atcorr/i.atcorr.md
  imagery/i.rectify/i.rectify.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.in.xyz/r.in.xyz.md
  raster/r.series.accumulate/r.series.accumulate.md
  raster/r.sim/r.sim.sediment/r.sim.sediment.md
  raster/r.stream.extract/r.stream.extract.md
  raster/r.terraflow/r.terraflow.md
  raster/r.viewshed/r.viewshed.md
  raster/r.watershed/front/r.watershed.md
  vector/v.rectify/v.rectify.md
  vector/v.to.db/v.to.db.md
Labels: vector, raster, module, docs, display, imagery

#5154 docs: fix no-alt-text
  .markdownlint.yml
  display/d.rast.arrow/d.rast.arrow.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/gui/wxpython/example/g.gui.example.md
  general/g.mapsets/g.mapsets.md
  imagery/i.maxlik/i.maxlik.md
  imagery/i.segment/i.segment.md
  ps/ps.map/ps.map.md
  raster/r.horizon/r.horizon.md
  raster/r.in.lidar/r.in.lidar.md
  raster/r.in.pdal/r.in.pdal.md
  raster/r.li/r.li.padcv/r.li.padcv.md
  raster3d/r3.flow/r3.flow.md
  raster3d/r3.in.lidar/r3.in.lidar.md
  scripts/d.to.rast/d.to.rast.md
  scripts/r.rgb/r.rgb.md
  scripts/v.dissolve/v.dissolve.md
  vector/v.buffer/v.buffer.md
  vector/v.cluster/v.cluster.md
  vector/v.decimate/v.decimate.md
  vector/v.lidar.edgedetection/v.lidar.edgedetection.md
  vector/v.mkgrid/v.mkgrid.md
  vector/v.net.visibility/v.net.visibility.md
  vector/v.qcount/v.qcount.md
  vector/v.segment/v.segment.md
  vector/v.vect.stats/v.vect.stats.md
Labels: vector, raster, module, docs, general, display, imagery, raster3d

#5119 docs: Updating mkdocs styling
  man/Makefile
  man/favicon.ico
  man/grass_logo.svg
  man/mkdocs/grassdocs.css
  man/mkdocs/mkdocs.yml
Labels: CSS, docs

#5134 style: SIM115 / FURB103: Replace explicit file open/close with Path.write_text()
  gui/wxpython/gmodeler/panels.py
  pyproject.toml
Labels: GUI, Python

#5087 temporal: Fix FLY002: String-join inefficiencies in temporal/t.register tests
  temporal/t.register/testsuite/test_t_register_raster.py
  temporal/t.register/testsuite/test_t_register_raster_different_local.py
  temporal/t.register/testsuite/test_t_register_raster_file.py
  temporal/t.register/testsuite/test_t_register_raster_mapmetadata.py
Labels: temporal, Python, module, tests

#5169 docs: Use meta page info from HTML in Markdown
  db/databaseintro.md
  db/drivers/dbf/grass-dbf.md
  db/drivers/mysql/grass-mesql.md
  db/drivers/mysql/grass-mysql.md
  db/drivers/odbc/grass-odbc.md
  db/drivers/ogr/grass-ogr.md
  db/drivers/postgres/grass-pg.md
  db/drivers/sqlite/grass-sqlite.md
  display/displaydrivers.md
  doc/examples/gui/wxpython/g.gui.example.md
  doc/grass_database.md
  doc/gui/wxpython/example/g.gui.example.md
  doc/projectionintro.md
  general/g.parser/g.parser.md
  gui/wxguiintro.md
  gui/wxpython/animation/g.gui.animation.md
  gui/wxpython/datacatalog/g.gui.datacatalog.md
  gui/wxpython/dbmgr/g.gui.dbmgr.md
  gui/wxpython/docs/wxGUI.components.md
  gui/wxpython/docs/wxGUI.iscatt.md
  gui/wxpython/docs/wxGUI.md
  gui/wxpython/docs/wxGUI.modules.md
  gui/wxpython/docs/wxGUI.nviz.md
  gui/wxpython/docs/wxGUI.toolboxes.md
  gui/wxpython/docs/wxGUI.vnet.md
  gui/wxpython/gcp/g.gui.gcp.md
  gui/wxpython/gmodeler/g.gui.gmodeler.md
  gui/wxpython/iclass/g.gui.iclass.md
  gui/wxpython/image2target/g.gui.image2target.md
  gui/wxpython/mapswipe/g.gui.mapswipe.md
  gui/wxpython/photo2image/g.gui.photo2image.md
  gui/wxpython/psmap/g.gui.psmap.md
  gui/wxpython/rdigit/g.gui.rdigit.md
  gui/wxpython/rlisetup/g.gui.rlisetup.md
  gui/wxpython/timeline/g.gui.timeline.md
  gui/wxpython/tplot/g.gui.tplot.md
  gui/wxpython/vdigit/g.gui.vdigit.md
  imagery/imageryintro.md
  lib/cairodriver/cairodriver.md
  lib/db/sqlp/sql.md
  lib/htmldriver/htmldriver.md
  lib/init/grass.md
  lib/init/helptext.md
  lib/init/variables.md
  lib/pngdriver/pngdriver.md
  lib/psdriver/psdriver.md
  lib/vector/vectorascii.md
  raster/r.li/r.li.daemon/r.li.daemon.md
  raster/r.li/r.li.md
  raster/rasterintro.md
  raster3d/raster3dintro.md
  temporal/temporalintro.md
  utils/mkmarkdown.py
  vector/v.lrs/lrs.md
  vector/vectorintro.md
Labels: GUI, vector, raster, temporal, Python, database, libraries, module, docs, general, display, imagery, raster3d

#5171 lib/init: remove old database image
  lib/init/grass_database.png
Labels: libraries, docs

#5176 docs: fix missing image in imageryintro.md
  lib/imagery/Makefile
Labels: libraries, imagery

#5159 lib/gis: add support for PCRE
  configure
  configure.ac
  include/grass/config.h.in
  lib/gis/ls_filter.c
Labels: C, libraries

#5185 CI: Run verify-success jobs on macOS
  .github/workflows/verify-success.yml
Labels: CI

#5167 wxGUI: Fix PGH004: Add specific rule code F401 to noqa comment
  gui/wxpython/psmap/utils.py
  pyproject.toml
Labels: GUI, Python

#5105 temporal: SIM115: Use context manager for file I/O in t.rast
  pyproject.toml
  temporal/t.rast.colors/t.rast.colors.py
  temporal/t.rast.series/t.rast.series.py
Labels: temporal, Python, module

#5082 style: Fixed ruff formatting errors in wxGUI/gcp
  gui/wxpython/gcp/manager.py
  pyproject.toml
Labels: GUI, Python

#5186 CI: use SQLite <3.49.0 on macOS (G84)
  .github/workflows/macos_dependencies.txt
Labels: CI

#5190 CI(CMake): Do not cancel in progress jobs when not in PRs
  .github/workflows/cmake.yml
Labels: CI

#5196 CI: use SQLite <3.49.0 on macOS
  macos/files/conda-requirements-dev-arm64.txt
Labels: macOS

#5172 temporal: SIM 115: Use context managers for file operations in `t.rast.*`
  pyproject.toml
  temporal/t.rast.colors/t.rast.colors.py
  temporal/t.rast.series/t.rast.series.py
Labels: temporal, Python, module

#5195 checks: Add CMake/conda/macOS titles prefixes and labels, and allow revert PR titles
  .github/labeler.yml
  utils/release.yml
Labels: CI

#5152 CI: Add workflow to build mkdocs in GHA
  .github/workflows/documentation.yml
Labels: CI, docs

#4977 lib/ogsf: Fix Resource Leak issue in gp3.c
  lib/ogsf/gp3.c
Labels: C, libraries

#5129 v.extract: Fix Resource Leak Issue in extract.c
  vector/v.extract/extract.c
Labels: vector, C, module

#5130 r.watershed/seg: Fix Resource Leak Issue in do_cum.c
  raster/r.watershed/seg/do_cum.c
Labels: raster, C, module

#5133 lib/vector/Vlib: Fix Resource Leak Issue in cindex.c
  lib/vector/Vlib/cindex.c
Labels: vector, C, libraries

#5143 r.surf.idw: Fix Resource Leak Issue in main.c
  raster/r.surf.idw/main.c
Labels: raster, C, module

#5194 Windows: Wrapper header files for MSVC
  include/config.h.cmake.in
  msvc/dirent.h
  msvc/fcntl.h
  msvc/stdio.h
  msvc/stdlib.h
  msvc/string.h
  msvc/strings.h
  msvc/sys/stat.h
  msvc/unistd.h
Labels: windows, raster, C, module, CMake

#5201 Windows: Merge msvc/open.c and msvc/creat.c into msvc/fcntl.c
  lib/gis/CMakeLists.txt
  msvc/creat.c
  msvc/fcntl.c
Labels: windows, C, libraries, CMake

#5165 docs: fix remaining issues with html dictionary tag replacement
  display/d.font/d.font.md
  display/d.legend/d.legend.md
  general/g.gisenv/g.gisenv.md
  general/g.proj/g.proj.md
  general/g.region/g.region.md
  imagery/i.cca/i.cca.md
  imagery/i.gensigset/i.gensigset.md
  imagery/i.smap/i.smap.md
  lib/init/helptext.md
  misc/m.cogo/m.cogo.md
  raster/r.category/r.category.md
  raster/r.colors/r.colors.md
  raster/r.cross/r.cross.md
  raster/r.in.gdal/r.in.gdal.md
  raster/r.out.ascii/r.out.ascii.md
  raster/r.patch/r.patch.md
  raster/r.reclass/r.reclass.md
  raster/r.region/r.region.md
  raster/r.spreadpath/r.spreadpath.md
  raster/r.surf.contour/r.surf.contour.md
  raster/r.transect/r.transect.md
  vector/v.overlay/v.overlay.md
Labels: vector, raster, libraries, module, docs, general, display, imagery, misc

#5151 vector/v.vol.rst: Fix Resource Leak Issue
  vector/v.vol.rst/user1.c
  vector/v.vol.rst/user2.c
Labels: vector, C, module

#5168 docs: Add mkdocs social meta tags
  man/mkdocs/mkdocs.yml
  man/mkdocs/requirements.txt
Labels: docs

#5101 build: Remove BLAS and LAPACK from config
  .github/workflows/build_ubuntu-22.04_without_x.sh
Labels: CI

#5199 pytest: use correct type of quotes for conda's SQLite 3.49.0+ (SQLITE_DQS=0)
  macos/files/conda-requirements-dev-arm64.txt
  temporal/t.unregister/testsuite/test_unregister.py
  vector/v.db.select/testsuite/test_v_db_select_json_csv.py
Labels: bug, macOS, vector, temporal, Python, module, tests, backport to 8.4

#5132 lib/manage: Fix Resource Leak Issue in do_copy.c
  lib/manage/do_copy.c
Labels: C, libraries

#5144 v.overlay: Fix Resource Leak Issue in line_area.c
  vector/v.overlay/area_area.c
  vector/v.overlay/line_area.c
Labels: vector, C, module

#5177 build: Allow separate build of Markdown and HTML keywords
  .github/workflows/documentation.yml
  man/build_keywords.py
Labels: CI, Python, docs

#5175 docs: Add support for addon keywords to Markdown
  man/build_keywords.py
  utils/mkmarkdown.py
Labels: Python, docs

#5146 wxGUI: Fix SIM115: Use context managers for file operations in gui_core
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/goutput.py
  gui/wxpython/gui_core/widgets.py
  pyproject.toml
Labels: GUI, Python

#5174 docs: fix line-length
  .markdownlint.yml
  db/drivers/postgres/grass-pg.md
  general/g.proj/g.proj.md
  general/g.region/g.region.md
  imagery/i.gensig/i.gensig.md
  imagery/i.gensigset/i.gensigset.md
  imagery/i.maxlik/i.maxlik.md
  imagery/i.segment/i.segment.md
  lib/init/grass.md
  ps/ps.map/ps.map.md
  raster/r.cost/r.cost.md
  raster/r.terraflow/r.terraflow.md
  scripts/r.fillnulls/r.fillnulls.md
  scripts/v.db.reconnect.all/v.db.reconnect.all.md
  vector/v.clean/v.clean.md
  vector/v.label/v.label.md
  vector/v.qcount/v.qcount.md
  vector/v.segment/v.segment.md
  vector/v.to.rast3/v.to.rast3.md
  vector/v.vect.stats/v.vect.stats.md
Labels: vector, raster, database, libraries, module, docs, markdown, general, imagery

#5211 cmake: build 'r.mask.status'
  raster/CMakeLists.txt
Labels: raster, module, CMake

#5205 lib/ogsf: free linked list of geopoint objects in gp3.c
  lib/ogsf/gp3.c
Labels: bug, C, libraries

#5203 r.kappa: Copy into fix buffer size issue
  raster/r.kappa/main.c
  raster/r.kappa/stats.c
Labels: raster, C, module

#5079 m.nviz.image: Fix Resource Leak issue
  misc/m.nviz.image/surface.c
  misc/m.nviz.image/vector.c
  misc/m.nviz.image/volume.c
Labels: C, module, misc

#5209 CI: Install Python deps with pip in doc workflow
  .github/workflows/documentation.yml
Labels: CI

#5153 docs: Added material mkdocs tags plugin
  lib/gis/parser_rest_md.c
  man/Makefile
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/footer.html
  man/mkdocs/tags.md
Labels: C, HTML, libraries, docs, markdown

#5164 docs: Update mkdocs edit on github to work with addons
  man/mkdocs/mkdocs.yml
  man/mkdocs/overrides/partials/actions.html
  man/mkdocs/scripts/hook_list_scripts.py
Labels: Python, HTML, docs

#5204 wxGUI: Fix Unchecked return value in main.c
  visualization/ximgview/main.c
Labels: C

#5200 gui: Fix SIM115 and FLY002 linting issues in iclass frame module
  gui/wxpython/iclass/frame.py
  pyproject.toml
Labels: GUI, Python

#5202 r.sim: move global variables to structures
  raster/r.sim/r.sim.sediment/main.c
  raster/r.sim/r.sim.water/main.c
  raster/r.sim/simlib/hydro.c
  raster/r.sim/simlib/input.c
  raster/r.sim/simlib/observation_points.c
  raster/r.sim/simlib/output.c
  raster/r.sim/simlib/simlib.h
  raster/r.sim/simlib/waterglobs.h
Labels: raster, C, module

#2392 raster: Read raster for mask from env variable
  doc/development/style_guide.md
  doc/examples/notebooks/parallelization_tutorial.ipynb
  lib/init/variables.html
  lib/init/variables.md
  lib/raster/auto_mask.c
  lib/raster/get_row.c
  lib/raster/mask_info.c
  lib/raster/maskfd.c
  lib/raster/open.c
  lib/raster/rasterlib.dox
  lib/raster/set_window.c
  python/grass/script/__init__.py
  python/grass/script/raster.py
  python/grass/script/tests/conftest.py
  python/grass/script/tests/grass_script_raster_mask_test.py
  raster/r.mapcalc/testsuite/const_map_test.sh
  raster/r.mask.status/tests/r_mask_status_test.py
  raster/rasterintro.html
  raster/rasterintro.md
  scripts/r.fillnulls/r.fillnulls.py
  scripts/r.in.wms/wms_base.py
  scripts/r.mask/r.mask.html
  scripts/r.mask/r.mask.md
  scripts/r.mask/r.mask.py
  testsuite/raster_md5test.sh
Labels: enhancement, raster, Python, C, HTML, libraries, module, docs, markdown, tests, notebook, CMake

#5030 style: Fix implicit-return-value (RET502) & unnecessary-return-none (RET501)
  gui/wxpython/animation/nviztask.py
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/giface.py
  gui/wxpython/core/settings.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/nviz/mapwindow.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/vdigit/toolbars.py
  gui/wxpython/vdigit/wxdisplay.py
  gui/wxpython/vnet/widgets.py
  gui/wxpython/web_services/dialogs.py
  gui/wxpython/wxplot/base.py
  pyproject.toml
  python/grass/pygrass/raster/category.py
  python/grass/temporal/aggregation.py
  scripts/g.extension/g.extension.py
  scripts/r.in.wms/r.in.wms.py
  scripts/r.in.wms/wms_base.py
Labels: GUI, raster, Python, libraries, module, general

#5135 v.hull: Add the test cases
  vector/v.hull/testsuite/test_v_hull.py
Labels: vector, raster, Python, HTML, module, docs, tests

#5085 r.random.surface: added test file for r.random.surface module
  raster/r.random.surface/testsuite/test_r_random_surface.py
Labels: raster, Python, module, tests

#5220 docs: Removed trailing slash from mkdocs github edit and view urls for addons
  man/mkdocs/scripts/hook_list_scripts.py
Labels: Python, docs

#5219 contributing: Update style guide for Markdown doc
  doc/development/style_guide.md
Labels: docs, markdown

#5127 i.emissivity: added test file for i.emissivity module
  imagery/i.emissivity/testsuite/test_i_emissivity.py
Labels: Python, module, imagery, tests

#5218 r.topmodel: Handle CRLF and empty lines properly
  raster/r.topmodel/file_io.c
Labels: bug, raster, C, module

#5225 CI(macOS): only run 'macOS distribute app' on OSGeo repo
  .github/workflows/macos_distribute_app.yml
Labels: macOS, CI

#5224 lib/gis: fix source typo
  lib/gis/units.c
Labels: C, libraries, backport to 8.4

#5232 cmake: add missing include paths to ctypesgen
  cmake/ctypesgen.cmake
  gui/wxpython/CMakeLists.txt
  lib/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
Labels: GUI, libraries, CMake

#5236 docs: Add proxy settings to Markdown build
  utils/mkdocs.py
  utils/mkhtml.py
  utils/mkmarkdown.py
Labels: Python
