Repository OSGeo/grass, pull requests merged in 2025-10, with the labels that each got.

#6426 lib/gis: Fix Dereference after NULL check issue in parser_wps.c
  lib/gis/parser_wps.c
Labels: C, libraries

#6428 lib/raster: always pass stack-based buffers
  include/grass/defs/raster.h
  lib/raster/mask_info.c
  lib/raster/reclass.c
Labels: raster, C, libraries

#6435 r3.out.ascii/r3.out.v5d: Adjust for GCC-17
  raster3d/r3.out.ascii/main.c
  raster3d/r3.out.v5d/main.c
Labels: bug, C, module, raster3d

#6415 grass.script: Add pack to create_project
  lib/init/grass.py
  python/grass/app/cli.py
  python/grass/app/tests/conftest.py
  python/grass/app/tests/grass_app_cli_test.py
  python/grass/grassdb/create.py
  python/grass/grassdb/tests/conftest.py
  python/grass/grassdb/tests/grass_grassdb_create_from_pack_test.py
  python/grass/grassdb/tests/grass_grassdb_create_xy.py
  python/grass/script/core.py
  python/grass/script/tests/conftest.py
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_create_project_pack_test.py
Labels: Python, libraries, tests

#5604 d.labels: Fix uninitialized variable issue in do_labels.c
  display/d.labels/do_labels.c
Labels: C, module, display

#6438 r.kappa,r.reclass,r.report: address resource leaks
  raster/r.kappa/mask.c
  raster/r.reclass/reclass.c
  raster/r.report/header.c
  raster/r.report/maskinfo.c
  raster/r.report/prt_json.c
Labels: raster, C, module

#6410 docker: Update Ubuntu to 24.04
  Dockerfile
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
Labels: docker, docs, markdown

#6442 init: Enable subcommands for the main grass command
  lib/init/grass.py
Labels: Python, libraries

#6464 CI: Use released libtre, not libtre-git
  .github/workflows/osgeo4w.yml
Labels: windows, CI

#6309 GUI: fix hiding input/output fields from import dialogs on Windows
  python/grass/script/task.py
Labels: bug, windows, Python, libraries

#6369 GUI: add functions for disabling processing events about mapset content changes in datacatalog
  gui/wxpython/datacatalog/tree.py
Labels: GUI, Python

#6437 grass.app: Move lock to mapset subcommand
  python/grass/app/cli.py
  python/grass/app/tests/grass_app_cli_test.py
Labels: Python, libraries, tests

#5877 grass.tools: Add raster pack files IO to Tools
  python/grass/app/tests/grass_app_cli_run_pack_test.py
  python/grass/tools/Makefile
  python/grass/tools/importexport.py
  python/grass/tools/session_tools.py
  python/grass/tools/support.py
  python/grass/tools/tests/conftest.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
Labels: enhancement, Python, libraries, tests

#6170 r.out.gdal: Skip nodata and range checks if export is forced
  raster/r.out.gdal/main.c
  raster/r.out.gdal/r.out.gdal.html
  raster/r.out.gdal/r.out.gdal.md
  raster/r.out.gdal/tests/test_r_out_gdal.py
Labels: raster, Python, C, HTML, module, docs, markdown, tests
