Repository OSGeo/grass, pull requests merged in 2025-06, with the labels that each got.

#5797 docs: Fix reStructuredText admonitions syntax (notes, warnings, error boxes)
  gui/wxpython/nviz/wxnviz.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
  python/grass/script/utils.py
  python/grass/temporal/core.py
Labels: GUI, Python, libraries

#5810 g.mapset: Add JSON support
  general/CMakeLists.txt
  general/g.mapset/Makefile
  general/g.mapset/g.mapset.md
  general/g.mapset/main.c
  general/g.mapset/tests/conftest.py
  general/g.mapset/tests/g_mapset_test.py
Labels: gsoc, Python, C, module, docs, markdown, general, tests, CMake

#5812 docs: Fix docstring syntax for return values
  python/grass/jupyter/utils.py
  python/grass/script/db.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
Labels: Python, libraries, notebook

#5628 grass.script: new RegionManager context manager
  doc/development/style_guide.md
  doc/examples/notebooks/parallelization_tutorial.ipynb
  python/grass/script/__init__.py
  python/grass/script/raster.py
  python/grass/script/tests/grass_script_raster_region_test.py
Labels: Python, libraries, docs, markdown, tests, notebook

#5820 docs: Convert docstrings to use note and warning admonitions
  python/grass/gunittest/case.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/segment.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/script/db.py
  python/grass/temporal/c_libraries_interface.py
  scripts/g.extension/g.extension.py
Labels: Python, libraries, module, general

#5819 docs: Adapt docstrings of pydispatch.saferef for good-looking Sphinx rendering
  python/grass/pydispatch/saferef.py
Labels: Python, libraries

#5825 Translations update from OSGeo Weblate
  locale/po/grasslibs_sv.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_sv.po
Labels: translation

#5829 Translations update from OSGeo Weblate
  locale/po/grasslibs_sv.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_sv.po
Labels: translation

#5836 docs: Render todo boxes, other code blocks formatting and label syntax
  doc/python_intro.md
  python/grass/docs/conf.py
  python/grass/docs/src/temporal_framework.rst
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
Labels: Python, libraries, docs, markdown

#5842 r.info: Update test file
  raster/r.info/main.c
  raster/r.info/testsuite/test_r_info.py
Labels: raster, Python, C, module, tests

#5817 doc: be more explicit about 2D vs 3D region resolution
  general/g.region/g.region.md
  raster3d/raster3dintro.md
Labels: module, docs, markdown, general, raster3d

#5717 grass.script: Always use env for shutil.which
  python/grass/script/core.py
Labels: Python, libraries

#5862 docs: Adjust more code-blocks syntax and inside example sections in docstrings
  python/grass/exceptions/__init__.py
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/script/core.py
  python/grass/script/db.py
  python/grass/script/imagery.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/setup.py
  python/grass/script/utils.py
  python/grass/script/vector.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/spatio_temporal_relationships.py
Labels: Python, libraries, notebook

#5855 doc: Generate zero, not type in Python examples
  lib/gis/parser_md_python.c
Labels: enhancement, C, libraries

#5833 i.ortho.elev: add test file
  imagery/i.ortho.photo/i.ortho.elev/testsuite/test_i_ortho_elev.py
Labels: Python, module, imagery, tests

#5861 docs: Configure intersphinx to reference Python's and NumPy's docs
  python/grass/app/data.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/setup.py
Labels: Python, libraries

#5869 docs: Various docstring fixes related to parameter markup
  gui/wxpython/iscatt/dialogs.py
  python/grass/grassdb/history.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/utils.py
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/stds_export.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
Labels: GUI, Python, libraries, notebook

#5868 docs: Use more crossrefs in grass.script.core
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Labels: Python, libraries

#5845 docs: Add format to example even when not required
  lib/gis/parser_md_python.c
Labels: C, libraries

#5876 d.vect: Fix typo in documentation example
  display/d.vect/d.vect.html
  display/d.vect/d.vect.md
Labels: HTML, module, docs, markdown, display

#5873 docs: Add "see also" boxes with cross-refs in grass.script.core docstrings
  python/grass/script/core.py
Labels: Python, libraries

#5847 g.mapset, g.mapsets: Specify stability of the outputs
  general/g.mapset/g.mapset.md
  general/g.mapset/main.c
  general/g.mapset/tests/g_mapset_test.py
  general/g.mapsets/g.mapsets.md
  general/g.mapsets/main.c
  general/g.mapsets/tests/g_mapsets_list_format_test.py
Labels: Python, C, module, docs, markdown, general, tests

#5781 Revert "CI: Temporarily disable jobs for optimizing CI time during sprint"
  .github/workflows/gcc.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Labels: CI

#5872 docs: Format raised exceptions docstrings and cross-references
  python/grass/app/data.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/main.py
  python/grass/jupyter/setup.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/temporal_algebra.py
Labels: Python, libraries, notebook

#5838 Translations update from OSGeo Weblate
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_sv.po
  locale/po/grassmods_fr.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_fr.po
  locale/po/grasswxpy_sv.po
Labels: translation

#5859 r.info: Improve interface
  raster/r.info/main.c
  raster/r.info/r.info.md
  raster/r.info/testsuite/test_r_info.py
Labels: raster, Python, C, module, docs, markdown, tests

#5885 grass.script: KeyValue raise AttributeError when expected
  python/grass/script/tests/utils_test.py
  python/grass/script/utils.py
Labels: Python, libraries, tests

#5896 Translations update from OSGeo Weblate
  locale/po/grasslibs_de.po
  locale/po/grasslibs_es.po
  locale/po/grasslibs_fr.po
  locale/po/grasslibs_it.po
  locale/po/grasslibs_ko.po
  locale/po/grasslibs_lv.po
  locale/po/grasslibs_pt_BR.po
  locale/po/grasslibs_ru.po
  locale/po/grasslibs_sv.po
  locale/po/grasswxpy_cs.po
  locale/po/grasswxpy_de.po
  locale/po/grasswxpy_lv.po
  locale/po/grasswxpy_pl.po
Labels: translation

#5898 v.distance: Update JSON format
  vector/v.distance/main.c
  vector/v.distance/print.c
  vector/v.distance/testsuite/test_v_distance.py
  vector/v.distance/v.distance.md
Labels: vector, Python, C, module, docs, markdown, tests

#5850 i.ortho.init: add test file
  imagery/i.ortho.photo/i.ortho.init/testsuite/test_i_ortho_init.py
Labels: Python, module, imagery, tests

#5870 i.group: Add JSON support
  imagery/CMakeLists.txt
  imagery/i.group/Makefile
  imagery/i.group/i.group.md
  imagery/i.group/main.c
  imagery/i.group/testsuite/test_i_group.py
Labels: Python, C, module, docs, markdown, imagery, tests, CMake

#5900 r.stats: fix uninitialised window value
  raster/r.stats/raw_stats.c
Labels: raster, C, module

#5849 grass.script: Fallback to print when g.message fails
  python/grass/script/core.py
Labels: enhancement, Python, libraries

#5903 i.gensigset: add test file
  imagery/i.gensigset/testsuite/test_i_gensigset.py
Labels: Python, module, imagery, tests

#5786 doc: Add NumFOCUS to README
  .github/FUNDING.yml
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
  README.md
Labels: CI, docs, markdown

#5906 g.list: Add test file
  general/g.list/tests/conftest.py
  general/g.list/tests/g_list_test.py
Labels: Python, module, general, tests

#5918 grass.script: Do not change dir to create XY project
  python/grass/script/core.py
Labels: Python, libraries

#5844 v.info: Improve how parameters are handled
  lib/gis/testsuite/test_parser_json.py
  vector/v.info/local_proto.h
  vector/v.info/main.c
  vector/v.info/parse.c
  vector/v.info/print.c
  vector/v.info/testsuite/test_vinfo.py
  vector/v.info/v.info.md
Labels: vector, Python, C, libraries, module, docs, markdown, tests

#5920 grass.script: Pass env to debug_level
  general/g.list/tests/conftest.py
  python/grass/script/core.py
Labels: Python, libraries, module, general, tests

#5905 docs: Improved styling of search suggestion and added search sharing
  man/mkdocs/mkdocs.yml
Labels: CSS, docs

#5928 Translations update from OSGeo Weblate
  locale/po/grasslibs_sv.po
  locale/po/grassmods_sv.po
  locale/po/grasswxpy_sv.po
Labels: translation

#5611 v.select: Fix Resource Leak Issues
  vector/v.select/copy_tabs.c
  vector/v.select/select.c
Labels: vector, C, module

#5941 cmake: Add r.smooth.edgepreserve module to CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.smooth.edgepreserve/Makefile
Labels: raster, module, CMake

#5871 i.eb.netrad: add test file
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
Labels: Python, module, imagery, tests

#5946 v.to.db: Update JSON format
  vector/v.to.db/report.c
  vector/v.to.db/testsuite/test_v_to_db.py
  vector/v.to.db/v.to.db.md
Labels: vector, Python, C, module, docs, markdown, tests

#5937 g.access: Replace sentences constructed by parts with whole sentences
  general/g.access/exp_perms.c
Labels: C, translation, module, general

#5606 lib/vector/Vlib: Fix Resource Leak Issue in ascii.c
  lib/vector/Vlib/ascii.c
Labels: vector, C, libraries

#5608 v.vol.rst: Fix Uninitialized Variables
  vector/v.vol.rst/user1.c
  vector/v.vol.rst/user3.c
Labels: vector, C, module

#5577 gui: update logo
  doc/examples/gui/wxpython/frame.py
  gui/icons/grass-128x128.png
  gui/icons/grass-16x16.png
  gui/icons/grass-192x192.png
  gui/icons/grass-22x22.png
  gui/icons/grass-24x24.png
  gui/icons/grass-32x32.png
  gui/icons/grass-36x36.png
  gui/icons/grass-40x40.png
  gui/icons/grass-42x42.png
  gui/icons/grass-48x48.png
  gui/icons/grass-64x64.png
  gui/icons/grass-72x72.png
  gui/icons/grass-80x80.png
  gui/icons/grass-8x8.png
  gui/icons/grass-96x96.png
  gui/icons/grass.desktop
  gui/icons/grass.ico
  gui/icons/grass.svg
  gui/icons/grass_cmd.ico
  gui/icons/grass_dialog.ico
  gui/icons/grass_map.ico
  gui/icons/grass_msys.ico
  gui/icons/grass_nviz.ico
  gui/icons/grass_osgeo.ico
  gui/icons/grass_sql.ico
  gui/icons/grass_web.ico
  gui/icons/wingrass.ico
  gui/icons/x86_64/grass.ico
  gui/icons/x86_64/grass_osgeo.ico
  gui/images/grass_form.png
  gui/images/splash_screen.png
  gui/images/splash_screen.svg
  gui/wxpython/animation/frame.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/dbmgr/manager.py
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/nviz/preferences.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
  mswindows/Installer-Files/Install_GRASS.ico
  mswindows/Installer-Files/Uninstall_GRASS.ico
  mswindows/Installer-Files/Uninstall_GRASS.svg
  mswindows/grass.ico
  mswindows/osgeo4w/postinstall.bat
Labels: windows, GUI, Python, docs

#5955 tests: Fix tests after changing g.region json
  python/grass/script/tests/grass_script_run_command_test.py
Labels: CI, Python, libraries, tests

#5919 i.rectify: add test file
  imagery/i.rectify/testsuite/test_i_rectify.py
Labels: Python, module, imagery, tests

#5962 r.profile: Update JSON format
  raster/r.profile/local_proto.h
  raster/r.profile/main.c
  raster/r.profile/r.profile.md
  raster/r.profile/read_rast.c
  raster/r.profile/rprofile_plot.png
  raster/r.profile/testsuite/test_profile_ncspm.py
Labels: raster, Python, C, module, docs, markdown, tests

#5886 i.eb.soilheatflux: add test file
  imagery/i.eb.soilheatflux/testsuite/test_i_eb_soilheatflux.py
Labels: Python, module, imagery, tests

#5963 doc: json examples for r.describe and r/r3/v.colors.out
  raster/r.colors.out/r.colors.out.md
  raster/r.colors.out/r3.colors.out.md
  raster/r.describe/r.describe.md
  vector/v.colors.out/v.colors.out.md
Labels: vector, raster, module, docs, markdown

#5969 tests: Use more env for session isolation
  general/g.mapset/tests/conftest.py
  general/g.mapset/tests/g_mapset_test.py
  general/g.mapsets/tests/conftest.py
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_core_get_commands.py
Labels: Python, libraries, module, general, tests

#5966 r.univar: Add shell and CSV format
  imagery/i.eb.eta/testsuite/test_i_eb_eta.py
  imagery/i.eb.netrad/testsuite/test_i_eb_netrad.py
  imagery/i.evapo.mh/testsuite/test_i_evapo_mh.py
  imagery/i.evapo.pm/testsuite/test_i_evapo_pm.py
  imagery/i.evapo.pt/testsuite/test_i_evapo_pt.py
  imagery/i.evapo.time/testsuite/test_i_evapo_time.py
  raster/r.univar/globals.h
  raster/r.univar/r.univar.md
  raster/r.univar/r.univar_main.c
  raster/r.univar/r3.univar_main.c
  raster/r.univar/stats.c
  raster/r.univar/testsuite/test_r_univar.py
Labels: raster, Python, C, module, docs, markdown, imagery, tests

#5971 grass.script: Remove PATH modification, fix GUI scripts in get_commands
  python/grass/script/core.py
  python/grass/script/tests/grass_script_core_get_commands_test.py
Labels: conflicts/needs rebase, Python, libraries, tests

#5976 r.mapcalc: fixed flag typo
  raster/r.mapcalc/r.mapcalc.html
  raster/r.mapcalc/r.mapcalc.md
Labels: raster, HTML, module, docs, markdown

#4500 i.gensigset: fix possible pole and divide by zero errors in regroup
  imagery/i.gensigset/subcluster.c
Labels: C, module, imagery

#5956 r.smooth.edgepreserve: Fix OpenMP parallel for form for MSVC build
  raster/r.smooth.edgepreserve/pm.c
Labels: raster, C, module

#5991 MSVC: Fix comment in msvc/fcntl.h
  msvc/fcntl.h
Labels: windows

#5979 docs: Converted mapcalc operators, functions, and data types references to tables
  raster/r.mapcalc/r.mapcalc.md
  raster/r.mapcalc/r3.mapcalc.md
Labels: raster, module, docs, markdown

#5990 r.regression.line: Add test file
  raster/r.regression.line/testsuite/test_rregression_line.py
Labels: raster, Python, module, tests

#5860 docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
  python/grass/docs/_templates/layout.html
Labels: HTML, libraries, docs
